<div class="tab-container">
  <div class="form-group" [ngStyle]="{'visibility': filterVisibility}">
    <select [(ngModel)]="selectedPeriod" class="form-control" id="sel1">
      <option *ngFor='let periodOption of periodList' [value]='periodOption.key'>{{periodOption.value}}</option>
    </select>
  </div>
  <tabset>
    <tab heading="Instructions" (select)="showFilter('visible')">
      <div class="no-gutters">
        <app-instructions [instructions]=instructions [selectedPeriodLabel]=selectedPeriodLabel></app-instructions>
      </div>
    </tab>
    <tab heading="Pipeline" (select)="showFilter('hidden')">
      <div class="no-gutters">
        <app-pipeline [pipelineList]=pipelineList></app-pipeline>
      </div>
    </tab>
    <tab heading="Exchanges" (select)="showFilter('visible')">
      <div class="no-gutters">
        <app-exchanges [exchanges]=exchanges [selectedPeriodLabel]=selectedPeriodLabel></app-exchanges>
      </div>
    </tab>
  </tabset>
</div>
<!--
  <div class="card-body">
   <div class="wizard">
     <a [routerLink]="['instructions']" [queryParams] = "{period: selectedPeriod}" >Instruction</a>
     <a [routerLink]="['pipeline']" [queryParams] = "{period: selectedPeriod}" >Pipeline</a>
     <a [routerLink]="['exchanges']" [queryParams] = "{period: selectedPeriod}" >Exchanges</a>
   </div>
   <router-outlet></router-outlet>
  </div>
  <a [routerLink]="['/diary']">Diary</a> -->