<div class="tab-content-container">
  <form [formGroup]="leaderboardForm">
    <div class="form-group" [ngStyle]="{'visibility': filterVisibility}">
      <select class="custom-select" formControlName="period">
        <option *ngFor='let item of periods | keyvalue:keepOriginalOrder' [value]='item.key'>{{item.value}}</option>
      </select>
    </div>
  </form>
  <app-leaderboard-tabs [tabs]="columns" [active]="active" [managedOrFees]="managedOrFees" [data]="data"
    (tabChange)=" getSelectedTab($event)"></app-leaderboard-tabs>
</div>
