<div class="title">
  <h2>Lettings management</h2>
  <span class="checkbox checkbox--rtl" *ngIf="closedCounter">
    <span>
      <input type="checkbox" [(ngModel)]="isClosedIncluded" (change)="getLettingsManagements()" id="includeClosedLettingManagements">
      <label for="includeClosedLettingManagements">Hide closed letting managements</label>
    </span>
  </span>
</div>

<div class="table" *ngIf="managements$ | async as managements">
  <app-redacted-table *ngIf="!managements || !managements?.length" message="No lettings managements"></app-redacted-table>

  <table class="table--mobile table--rowHover">
    <thead *ngIf="managements && managements?.length">
      <tr>
        <th>Status</th>
        <th>Address</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Prop. Man.</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of managements">
        <td data-title="Status">
          <span class="cell-content">
            <span class="pill" [ngClass]="item?.isActive ? 'badge-success' : 'badge-primary'" [innerHTML]="item?.status | bracketsNewLine"></span>
          </span>
        </td>
        <td data-title="Address">
          <span class="cell-content">
            {{item?.propertyAddress}}
          </span>
        </td>
        <td data-title="Start date">
          <span class="cell-content">
            {{(item?.managedStartDate | date: 'dd/MM/yyyy') || "-"}}
          </span>
        </td>
        <td data-title="End date">
          <span class="cell-content">
            {{(item?.managedEndDate | date: 'dd/MM/yyyy') || "-"}}
          </span>
        </td>
        <td data-title="Prop. Man.">
          <span class="cell-content">
            {{item?.propertyManager}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
