<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div class="row page-title">
    <div class="col">
      <h4 class="m-0">Company centre</h4>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-light mr-2 d-none" [ngClass]="{'d-sm-inline': isChangeSearchVisible}" (click)="scrollElIntoView('search-form')">Change Search</button>
      <a class="btn btn-light" [routerLink]="['detail', 0 , 'edit' ]" [queryParams]="{isNewCompany: true}"><i
          class="fas fa-plus mr-2"></i> Company</a>
    </div>
  </div>
  <form class="mb-3 search-form" [formGroup]="companyFinderForm" (ngSubmit)="companiesResults(true)">
    <div class="row">
      <div class="col">
        <div class="input-group">
          <input type="search" class="form-control" formControlName="companyName" placeholder="Company Name"
            aria-label="Company Name" (keyup)="onKeyup($event)" [ngbTypeahead]="suggestions" [focusFirst]="false"
            (selectItem)="selectedSuggestion($event)">
          <div class="input-group-append">
            <button class="btn btn-secondary">Search</button>
          </div>
        </div>
        <!-- <button class="btn btn-link px-0" type="button" id="button-advanced" (click)="advSearchCollapsed = !advSearchCollapsed"
        [attr.aria-expanded]="!advSearchCollapsed" aria-controls="advSearch">Advanced search</button> -->
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="advSearch" [collapse]="!advSearchCollapsed">
          <div class="row">
            <div class="col-md-auto pr-0">
              Must be one of:
            </div>
            <!-- TODO: Change to populate from list -->
            <div class="col">
              <div class="form-group form-check">
                <div class="row">
                  <div class="custom-control custom-checkbox col-6 col-md-auto">
                    <input type="checkbox" class="custom-control-input" id="advLandlord">
                    <label class="custom-control-label small" for="advLandlord">Company</label>
                  </div>
                  <div class="custom-control custom-checkbox col-6 col-md-auto">
                    <input type="checkbox" class="custom-control-input" id="advTenant">
                    <label class="custom-control-label small" for="advTenant">Other Agent</label>
                  </div>
                  <div class="custom-control custom-checkbox col-6 col-md-auto">
                    <input type="checkbox" class="custom-control-input" id="advVendor">
                    <label class="custom-control-label small" for="advVendor">Relocation Agent</label>
                  </div>
                  <div class="custom-control custom-checkbox col-6 col-md-auto">
                    <input type="checkbox" class="custom-control-input" id="advBuyer">
                    <label class="custom-control-label small" for="advBuyer">Property Developer</label>
                  </div>
                  <div class="custom-control custom-checkbox col-6 col-md-auto">
                    <input type="checkbox" class="custom-control-input" id="advBuyer">
                    <label class="custom-control-label small" for="advBuyer">Tradesman</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="text-center" *ngIf="isHintVisible">
    <i class="far fa-smile-wink"></i> Type at least <strong>3 characters</strong> to get results
  </div>
  <app-company-list *ngIf="!isHintVisible" [companies]='companies' [pageNumber]="page"
    [searchTerm]='searchTerm' [bottomReached]="bottomReached"></app-company-list>
  <div class="text-center text-danger" *ngIf="isMessageVisible && !isHintVisible && page === 1">
    <i class="far fa-sad-tear"></i> No results for '<strong>{{companyFinderForm.value.companyName || ' '}}</strong>'
  </div>
</div>
