<h2>Sales applicant</h2>
<div class="no-gutters">
  <div class="row">
    <div class="col">
      <app-contactgroup-details-people></app-contactgroup-details-people>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h6>Searches</h6>
      <div class="no-gutters">
        <div class="row">
          <div class="col-5 col-md-2">
            <p>Budget: £820,000</p>
          </div>
          <div class="col-5 col-md-1">
            <p>Beds: 1</p>
          </div>
          <div class="col-11 col-md-3">
            <p>Area: Chelsea, Kensington</p>
          </div>
          <div class="col-5 col-md-1">
            <p>House</p>
          </div>
          <div class="col-6 col-md-2">
            <p>On hold Chase 21/11/2019</p>
          </div>
          <div class="col-3 col-md-1">
            <button class="btn btn-sm btn-primary">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h6>Viewings</h6>
      <app-viewings-contact></app-viewings-contact>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h6>Matched properties</h6>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h6>Notes</h6>
      <app-contact-notes></app-contact-notes>
    </div>
  </div>
</div>