/***** Cards *****/
.card                                           { margin-bottom:1px; width:100%; background-color:#FFF; border-radius:5px; box-shadow:0px 0px 0px 1px #CED1DB; -webkit-box-shadow:0px 0px 0px 1px #CED1DB; position:relative; }
.card+*                                         { margin-top:30px; }
.card p                                         { position:relative; }

.card__header                                   { padding:20px 20px 0; font-size:14px; font-weight:bold; color:#0A1A4A; display:flex; }
.card__header+*                                 { margin-top:16px; padding:0 20px 20px; }

.card__body                                     { padding:20px; }

.card__footer                                   { padding:20px; }

.card > div:first-child                         { padding-bottom:0; }
.card > div:last-child                          { padding-top:0; }
.card > div:only-child                          { padding:20px; }

/***** Tables *****/
.table                                          { overflow:auto; overflow-y:hidden; width:100%; -webkit-overflow-scrolling:touch; position:relative; }

table                                           { width:100%; overflow:visible; text-align:left; display:table; border:none; border-collapse:collapse; border-spacing:0; }
table, caption, tbody, thead, tr, th, td        { text-align:left; }
caption, thead                                  { font-weight:bold; text-align:left; }
tr                                              { padding:3px; padding:0; }
tr+tr                                           { margin-top:10px; border-top:1px solid #CED1DB; }
th, td                                          { padding:10px; min-width:40px; border:none; vertical-align:top; position:relative; top:0; left:0; }
td:empty                                        { display:none; visibility:hidden; }

.table--rowHover thead tr:hover,
.table--stripes thead tr:nth-child(odd)         { background-color:transparent; }
.table--rowHover tr:hover,
.table--stripes tr:nth-child(odd)               { background-color:#F2FBFE; }

.table--mobile table, 
.table--mobile tr, 
.table--mobile td                               { display:block; border:none; }
.table--mobile thead                            { padding:5px 10px; background-color:#FFF; border:none; border-bottom:2px solid #CED1DB; font-weight:bold; display:none; }
.table--mobile tr                               { border-radius:3px; }
.table--mobile tr:nth-child(odd)                { background-color:#E7E8EE; }
.table--mobile tr:nth-child(odd) td             { border-color:#FFF; }
.table--mobile td                               { margin:0; display:block; }
.table--mobile td+td                            { border-top:1px solid #CED1DB; }
.table--mobile td[data-title]:before            { padding:0 10px 0 0; content:attr(data-title) ":\00A0"; color:#26343E; display:inline-block; width:30%; font-weight:bold; overflow:hidden; }
.table--mobile td .cell-content                 { display:inline-block; width:68%; vertical-align:top; overflow:hidden; }

/***** Icons Setup *****/
.icon                                           { height:16px; width:16px; display:inline-block; fill:currentColor; vertical-align:middle; position:relative; top:-1px; }

/***** Icons location *****/
.icon--onLeft                                   { margin-right:6px; }
.icon--onRight                                  { margin-left:6px; }

/***** Icons Sizes *****/
.icon--xl                                       { height:36px; width:36px; }
.icon--l                                        { height:26px; width:26px; }
.icon--m                                        { height:16px; width:16px; }
.icon--s                                        { height:10px; width:10px; top:-2px; }
.icon--s.icon--onLeft                           { margin-right:5px; }
.icon--s.icon--onRight                          { margin-left:5px; }

.overlay                                        { display:flex; width:100%; height:100%; align-items:center; justify-content:center; position:absolute; top:0; left:0; z-index:6; }
.overlay .card                                  { width:400px; background-color:#0A1A4A; color:#FFFFFF; box-shadow:none; }
.txt--redacted                                  { font-family:'redacted'; font-size:18px; line-height:18px; }

/***********************************************
Tablet - This applies from 768px onwards
***********************************************/
@media (min-width:768px) {
    table                                         { font-size:inherit; }
  
    .table--mobile table                          { display:table; }
    .table--mobile tbody, 
    .table--mobile thead                          { display:table-row-group; }
    .table--mobile tr                             { display:table-row; }
    .table--mobile tr+*                           { border-top:1px solid #EEE; }
    .table--mobile tr:nth-child(odd)              { background-color:transparent; }
    .table--mobile tr:nth-child(odd) td           { border:none; }
    .table--mobile tr:nth-child(odd)+tr           { margin-top:0; border-top:1px solid #EEE; }
  
    .table--mobile td                             { display:table-cell; }
    .table--mobile td+td                          { border-top:none; }
    .table--mobile td+td[data-title]:before, 
    .table--mobile th+td[data-title]:before,
    .table--mobile td[data-title]:before          { display:none; }
  
    .table--rowHover thead tr:hover,
    .table--stripes thead tr:nth-child(odd)       { background-color:transparent; }
    .table--rowHover tr:hover,
    .table--stripes tr:nth-child(odd)             { background-color:#F2FBFE; }

    .table--mobile td .cell-content               { width:auto; }
  }