<h2>Offers</h2>

<div class="list-group list-group-flush">
  <ng-container *ngIf="offers$|async as offers">
    <div class="table" *ngIf="!offers || !offers?.length">
      <div class="overlay">
        <div class="card">
          <div class="card__body"><i class="far fa-sad-tear"></i> No offers</div>
        </div>
      </div>
      <table class="table--mobile table--rowHover txt--redacted">
        <thead>
          <tr>
            <th>Address</th>
            <th>Type</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Received</th>
            <th>Neg</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-title="Address">
              <span class="cell-content">221b Baker St, Marylebone, London NW1 6XE</span>
            </td>
            <td data-title="Type">
              <span class="cell-content">occupy flexitarian</span>
            </td>
            <td data-title="Status">
              <span class="cell-content">cornhole pitchfork cronut</span>
            </td>
            <td data-title="Amount">
              <span class="cell-content">lo-fi vaporware</span>
            </td>
            <td data-title="Received">
              <span class="cell-content">chambray ethical</span>
            </td>
            <td data-title="Neg">
              <span class="cell-content">Listicle disrupt</span>
            </td>
          </tr>
          <tr class="hide--mobile">
            <td data-title="Address">
              <span class="cell-content">Bushwick etsy pug</span>
            </td>
            <td data-title="Type">
              <span class="cell-content">occupy flexitarian</span>
            </td>
            <td data-title="Status">
              <span class="cell-content">cornhole pitchfork cronut</span>
            </td>
            <td data-title="Amount">
              <span class="cell-content">lo-fi vaporware</span>
            </td>
            <td data-title="Received">
              <span class="cell-content">chambray ethical</span>
            </td>
            <td data-title="Neg">
              <span class="cell-content">Listicle disrupt</span>
            </td>
          </tr>
          <tr class="hide--mobile">
            <td data-title="Address">
              <span class="cell-content">Bushwick etsy pug</span>
            </td>
            <td data-title="Type">
              <span class="cell-content">occupy flexitarian</span>
            </td>
            <td data-title="Status">
              <span class="cell-content">cornhole pitchfork cronut</span>
            </td>
            <td data-title="Amount">
              <span class="cell-content">lo-fi vaporware</span>
            </td>
            <td data-title="Received">
              <span class="cell-content">chambray ethical</span>
            </td>
            <td data-title="Neg">
              <span class="cell-content">Listicle disrupt</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="list-group-item" *ngIf="closedCounter">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" [(ngModel)]="isClosedIncluded" (change)="getOffers()" class="custom-control-input" id="includeClosedOffers">
        <label class="custom-control-label small" for="includeClosedOffers">Include closed offers</label>
      </div>
    </div>
    <div class="list-group-item list-header d-none d-sm-block d-xl-none" *ngIf="offers && offers?.length">
      <div class="row">
        <div class="col-sm"><strong>Address</strong></div>
        <div class="col-sm"><strong>Type</strong></div>
        <div class="col-sm"><strong>Status</strong></div>
        <div class="col-sm"><strong>Amount</strong></div>
        <div class="col-sm"><strong>Received</strong></div>
        <div class="col-sm"><strong>Neg</strong></div>
      </div>
    </div>
    <div class="list-group-item list-group-item-action" *ngFor="let offer of offers">
      <div class="row">
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Address</dt>
            <dd class="col">{{offer?.propertyAddress}}</dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Type</dt>
            <dd class="col">{{offer?.type}}</dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Status</dt>
            <dd class="col" *ngIf="offer.isActive"><span class="badge badge-pill badge-success" >{{offer?.status}}</span></dd>
            <dd class="col" *ngIf="!offer.isActive"><span class="badge badge-pill badge-primary" >{{offer?.status}}</span></dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Amount</dt>
            <dd class="col monospace">{{offer?.amount | currency:'GBP':'symbol':'1.0-0'}}</dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Received</dt>
            <dd class="col monospace">{{offer?.offerReceivedDate| date: 'dd/MM/yyyy'}}</dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Neg</dt>
            <dd class="col">{{offer?.staffMember}}</dd>
          </dl>
        </div>
      </div>
    </div>
  </ng-container>
</div>
