<div class="list-group list-group-flush">
  <ng-container *ngIf="offers$|async as offers">
    <div class="list-group-item text-center text-danger" *ngIf="!offers || !offers?.length">
      <i class="far fa-sad-tear"></i> No offers
    </div>
    <div class="list-group-item" *ngIf="closedCounter">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" [(ngModel)]="isClosedIncluded" (change)="getOffers()" class="custom-control-input" id="includeClosedOffers">
        <label class="custom-control-label small" for="includeClosedOffers">Include closed offers</label>
      </div>
    </div>
    <div class="list-group-item list-header d-none d-sm-block d-xl-none" *ngIf="offers && offers?.length">
      <div class="row">
        <div class="col-sm"><strong>Address</strong></div>
        <div class="col-sm"><strong>Type</strong></div>
        <div class="col-sm"><strong>Status</strong></div>
        <div class="col-sm"><strong>Amount</strong></div>
        <div class="col-sm"><strong>Received</strong></div>
        <div class="col-sm"><strong>Neg</strong></div>
      </div>
    </div>
    <div class="list-group-item list-group-item-action" *ngFor="let offer of offers">
      <div class="row">
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Address</dt>
            <dd class="col">{{offer?.propertyAddress}}</dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Type</dt>
            <dd class="col">{{offer?.type}}</dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Status</dt>
            <dd class="col" *ngIf="offer.isActive"><span class="badge badge-pill badge-success" >{{offer?.status}}</span></dd>
            <dd class="col" *ngIf="!offer.isActive"><span class="badge badge-pill badge-primary" >{{offer?.status}}</span></dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Amount</dt>
            <dd class="col monospace">{{offer?.amount | currency:'GBP':'symbol':'1.0-0'}}</dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Received</dt>
            <dd class="col monospace">{{offer?.offerReceivedDate| date: 'dd/MM/yyyy'}}</dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Neg</dt>
            <dd class="col">{{offer?.staffMember}}</dd>
          </dl>
        </div>
      </div>
    </div>
  </ng-container>
</div>
