<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div class="row page-title">
    <div class="col">
      <h4 class="mb-0">Searches</h4>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary"><i class="fas fa-plus mr-2"></i> Search</button>
    </div>
  </div>
  <div class="list-group">
    <div class="list-group-item list-header d-none d-sm-block">
      <div class="row">
        <div class="col-sm"><strong>Request</strong></div>
        <div class="col-sm"><strong>Areas</strong></div>
        <div class="col-sm"><strong>Neg.</strong></div>
      </div>
    </div>
    <a routerLink="/applicant-view-sale" class="list-group-item list-group-item-action">
      <div class="row">
        <div class="col-sm">
          <dl class="row">
            <dt class="col-4 d-sm-none">Request</dt>
            <dd class="col">Sales £750,000 2 Beds</dd>
          </dl>
        </div>
        <div class="col-sm">
          <dl class="row">
            <dt class="col-4 d-sm-none">Areas</dt>
            <dd class="col">Chelsea, Kensington</dd>
          </dl>
        </div>
        <div class="col-sm">
          <dl class="row">
            <dt class="col-4 d-sm-none">Neg.</dt>
            <dd class="col">Chiara Tassia, Dave Newport</dd>
          </dl>
        </div>
      </div>
    </a>
    <a routerLink="/applicant-view-letting" class="list-group-item list-group-item-action">
      <div class="row">
        <div class="col-sm">
          <dl class="row">
            <dt class="col-4 d-sm-none">Request</dt>
            <dd class="col">Long Let £1000 2 Beds</dd>
          </dl>
        </div>
        <div class="col-sm">
          <dl class="row">
            <dt class="col-4 d-sm-none">Areas</dt>
            <dd class="col">Chelsea, Kensington</dd>
          </dl>
        </div>
        <div class="col-sm">
          <dl class="row">
            <dt class="col-4 d-sm-none">Neg.</dt>
            <dd class="col">Jemma Graham</dd>
          </dl>
        </div>
      </div>
    </a>
  </div>
</div>