<header class="header">
  <ol class="header-title">
    <li>
      <ng-container *ngIf="headerLabel; else labelFromRoute">{{ headerLabel }}</ng-container>
      <ng-template #labelFromRoute>
        {{ navTitle }}
        <span class="flex-1"></span>
        <ng-container *ngIf="showMenuEditItem && filteredItems">
          <app-menu [menuItems]="filteredItems"></app-menu>
        </ng-container>
      </ng-template>
    </li>
  </ol>

  <app-profile class="header-navigation"></app-profile>
</header>
