<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div class="row page-title">
    <div class="col">
      <h4 class="mb-0">Instructions</h4>
    </div>
  </div>
  <div class="list-group">
      <div class="list-group-item list-header d-none d-sm-block">
        <div class="row">
          <div class="col-sm"><strong>Instruction Date</strong></div>
          <div class="col-sm"><strong>Type</strong></div>
          <div class="col-sm"><strong>Status</strong></div>
          <div class="col-sm"><strong>Amount</strong></div>
          <div class="col-sm"><strong>Owner</strong></div>
          <div class="col-sm"><strong>Lister</strong></div>
        </div>
      </div>
    <div *ngIf="instructions$|async as instructions">
        <div class="list-group-item list-group-item-action" *ngFor="let instruction of instructions" >
          <div class="row">
            <div class="col-sm">
              <dl class="row">
                <dt class="col-4 d-sm-none">Instruction Date</dt>
                <dd class="col"><a href="#">{{instruction.instuctionDate| date: 'd/MM/yyyy'}}</a></dd>
              </dl>
            </div>
            <div class="col-sm">
              <dl class="row">
                <dt class="col-4 d-sm-none">Type</dt>
                <dd class="col">{{instruction.type}}</dd>
              </dl>
            </div>
            <div class="col-sm">
              <dl class="row">
                <dt class="col-4 d-sm-none">Status</dt>
                <dd class="col">{{instruction.statusId}}</dd>
              </dl>
            </div>
            <div class="col-sm">
              <dl class="row">
                <dt class="col-4 d-sm-none">Amount</dt>
                <dd class="col">{{instruction.amount | currency: "GBP"}}</dd>
              </dl>
            </div>
            <div class="col-sm">
              <dl class="row">
                <dt class="col-4 d-sm-none">Owner</dt>
                <dd class="col">{{instruction.ownerAddressee}}</dd>
              </dl>
            </div>
            <div class="col-sm">
              <dl class="row">
                <dt class="col-4 d-sm-none">Lister</dt>
                <dd class="col">{{instruction.staffMember}}</dd>
              </dl>
            </div>
          </div>
        </div>
    </div>
    </div>
</div>
