<div class="list-group list-group-flush">
  <div class="list-group-item list-header d-none d-sm-block d-xl-none">
    <div class="row">
      <div class="col-sm"><strong>Instructed</strong></div>
      <div class="col-sm"><strong>Type</strong></div>
      <div class="col-sm"><strong>Status</strong></div>
      <div class="col-sm"><strong>Price</strong></div>
      <div class="col-sm" *ngIf="isShortLet"><strong>Short Let Rent</strong></div>
      <div class="col-sm"><strong>Owner</strong></div>
      <div class="col-sm"><strong>Agency</strong></div>
      <div class="col-sm"><strong>Lister</strong></div>
    </div>
  </div>
  <ng-container *ngIf="instructions$|async as instructions">
    <div class="list-group-item text-center text-danger" *ngIf="!instructions || !instructions?.length">
      <i class="far fa-sad-tear"></i> No instructions
    </div>
    <div class="list-group-item list-group-item-action" *ngFor="let instruction of instructions">
      <div class="row">
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Instructed</dt>
            <dd class="col">{{instruction?.instructionDate| date: 'd/MM/yyyy'}}</dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Type</dt>
            <dd class="col">{{instruction?.type}}</dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Status</dt>
            <dd class="col" *ngIf="instruction.isActive"><span class="badge badge-pill badge-success" >{{instruction?.status}}</span></dd>
            <dd class="col" *ngIf="!instruction.isActive"><span class="badge badge-pill badge-primary" >{{instruction?.status}}</span></dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Price</dt>
            <dd class="col">{{instruction?.amount | number: '1.0-0'}}</dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12" *ngIf="isShortLet">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Short Let Rent</dt>
            <ng-container *ngIf="instruction.shortLetAmount > 0; else noAmount">
              <dd class="col">{{instruction?.shortLetAmount | number: '1.0-0'}}</dd>
            </ng-container>
            <ng-template #noAmount>
              <dd class="col"></dd>
            </ng-template>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Owner</dt>
            <dd class="col"><a
                [routerLink]="['/contact-centre/detail/0/people/', instruction.ownerId]">{{instruction?.ownerAddressee}}</a>
            </dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Agency</dt>
            <dd class="col">{{instruction?.agencyType}}</dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Lister</dt>
            <dd class="col">{{instruction?.staffMember}}</dd>
          </dl>
        </div>
      </div>
    </div>
  </ng-container>
</div>
