<h2>23 Prince of Wales Crescent, London, SW6 4BD</h2>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab" aria-controls="main" aria-selected="true">Main</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" id="checklist-tab" data-toggle="tab" href="#checklist" role="tab" aria-controls="checklist" aria-selected="true">Checklist</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">History</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="features-tab" data-toggle="tab" href="#features" role="tab" aria-controls="features" aria-selected="false">Features</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="money-tab" data-toggle="tab" href="#money" role="tab" aria-controls="commission" aria-selected="false">Money</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="media-tab" data-toggle="tab" href="#media" role="tab" aria-controls="media" aria-selected="false">Media</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="workorders-tab" data-toggle="tab" href="#workorders" role="tab" aria-controls="workorders" aria-selected="false">Work orders</a>
  </li>
  <li class="nav-item">
    <div class="dropdown">
      <a class="nav-link dropdown-toggle" role="tab" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="home">Edit</a>
        <a class="dropdown-item" routerLink="home">Match applicants</a>
        <a class="dropdown-item" routerLink="home">Create a viewng</a>
        <a class="dropdown-item" routerLink="home">Make an offer</a>
        <a class="dropdown-item" routerLink="home">Email landlord</a>
        <a class="dropdown-item" routerLink="home">Add notes</a>
        <a class="dropdown-item" routerLink="home">Add files</a>
        <a class="dropdown-item" routerLink="home">Add work order</a>
        <a class="dropdown-item" routerLink="home">Add quick bill</a>
        <a class="dropdown-item" routerLink="home">Start new letting process</a>
      </div>
    </div>

  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
    <div class="no-gutters">
      <div class="row">
        <div class="col-sm">
          <div class="no-gutters">
            <div class="row">
              <div class="col">
                <h6>Main</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Status:</p>
              </div>
              <div class="col">
                <p>INST Sole</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Long let:</p>
              </div>
              <div class="col">
                <p>£600 pw £2500 pm</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Short let:</p>
              </div>
              <div class="col">
                <p>£800 pw £3350 pm</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Instructed:</p>
              </div>
              <div class="col">
                <p>14/11/2018</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Available:</p>
              </div>
              <div class="col">
                <p>02/01/2019</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Lister:</p>
              </div>
              <div class="col">
                <p>Henny Irwin</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Landlord:</p>
              </div>
              <div class="col">
                <p>
                  <span class="routerLink btn-link" routerLink="/contact-centre">John Smith</span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Admin contact:</p>
              </div>
              <div class="col">
                <p>
                  <span class="routerLink btn-link" routerLink="/contact-centre">Ali Ahmed</span> (POA, cc landlord)</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Booked by:</p>
              </div>
              <div class="col">
                <p>Alex Turnbull on 25/11/2018</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Origin:</p>
              </div>
              <div class="col">
                <p>0% Offer</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Managed by:</p>
              </div>
              <div class="col">
                <p>Landlord</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="no-gutters">
            <div class="row">
              <div class="col">
                <h6>Viewing Info</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Arrangements:</p>
              </div>
              <div class="col">
                <p>By appointment only</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Keys:</p>
              </div>
              <div class="col">
                <p>CS-57B-L-5983</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Alarm:</p>
              </div>
              <div class="col">
                <p>Yes Code: 8550</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Contact:</p>
              </div>
              <div class="col">
                <p>
                  <a href="/contact-centre">John Smith</a>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Commments:</p>
              </div>
              <div class="col">
                <p>Book via John Dillon, very tricky tenants</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Occupied:</p>
              </div>
              <div class="col">
                <p>Yes</p>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col-8-lg">
          <app-property-marketing></app-property-marketing>
        </div>
        <div class="col-sm">
          <app-property-notes></app-property-notes>
        </div>
      </div>
    </div>
    <app-mini-map-and-photos></app-mini-map-and-photos>
  </div>
  <div class="tab-pane fade" id="features" role="tabpanel" aria-labelledby="features-tab">
    <app-property-features></app-property-features>
  </div>
  <div class="tab-pane fade" id="checklist" role="tabpanel" aria-labelledby="checklist-tab">
      <app-property-checklist-letting></app-property-checklist-letting>
    </div>
    <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
    <app-property-history></app-property-history>
  </div>
  <div class="tab-pane fade" id="media" role="tabpanel" aria-labelledby="media-tab">
    <app-property-media></app-property-media>
  </div>
  <div class="tab-pane fade" id="money" role="tabpanel" aria-labelledby="money-tab">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h6>Commission</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-4">

        </div>
        <div class="col">
          <p>Initial</p>
        </div>
        <div class="col">
          <p>Renewal</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p>Short let inc Mgmt:</p>
        </div>
        <div class="col">
          <p>26%</p>
        </div>
        <div class="col">
          <p>26%</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p>Long let:</p>
        </div>
        <div class="col">
          <p>10%</p>
        </div>
        <div class="col">
          <p>10%</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p>Management:</p>
        </div>
        <div class="col">
          <p>6%</p>
        </div>
        <div class="col">
          <p>6%</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p>Agreement (Landlord):</p>
        </div>
        <div class="col">
          <p>£300</p>
        </div>
        <div class="col">
          <p>£150</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p>Agreement (Tenant):</p>

        </div>
        <div class="col">
          <p>£300</p>
        </div>
        <div class="col">
          <p>£150</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p>Tds:</p>
        </div>
        <div class="col">
          <p>£30</p>
        </div>
        <div class="col">

        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6>Banking</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p>Bank:</p>
        </div>
        <div class="col">
          <p>Barclays</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p>Branch:</p>
        </div>
        <div class="col">
          <p>14 The Broadway, Haywards Heath, W Sussex, RH16 3TF</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p>A/c name:</p>
        </div>
        <div class="col">
          <p>Mr J &amp; Mrs S Smith</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p>A/c number:</p>
        </div>
        <div class="col">
          <p>80025159</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p>Sort code:</p>
        </div>
        <div class="col">
          <p>11-05-98</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p>Percentage:</p>
        </div>
        <div class="col">
          <p>100%</p>
        </div>
      </div>

    </div>
  </div>
  <div class="tab-pane fade" id="workorders" role="tabpanel" aria-labelledby="workorders-tab">
    wo
  </div>


</div>