<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div class="row page-title">
    <div class="col">
      <h4 class="m-0">Leads register</h4>
    </div>
  </div>
  <form action="" class="mb-3">

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="type">Type</label>
          <select class="form-control form-control-sm" id="type">
            <option></option>
            <option>Valuation</option>
            <option>Professional valuation</option>
            <option>Refurbishment</option>
            <option>Insurance</option>
            <option>Remortage</option>
            <option>Wealth check</option>
          </select>
        </div>
      </div>
      <div class="col">
        <label for="chaser">Owner</label>
        <select class="form-control form-control-sm" id="chaser">
          <option></option>
          <option>Alex Turnbull</option>
        </select>
      </div>
      <div class="col">
        <label for="dateFrom">Date From</label>
        <input type="text" id="dateFrom" placeholder="dd/mm/yyyy" class="form-control form-control-sm"
          [bsConfig]="{showWeekNumbers:false}" bsDatepicker>
      </div>
      <div class="col">
        <label for="dateTo">Date To</label>
        <input type="text" id="dateTo" placeholder="dd/mm/yyyy" class="form-control form-control-sm"
          [bsConfig]="{showWeekNumbers:false}" bsDatepicker>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="colsedInclusive">
          <label class="custom-control-label" for="colsedInclusive">Include closed leads</label>
        </div>
      </div>
    </div>
  </form>
  <div class="list-group mb-3">
    <a routerLink="edit" class="list-group-item list-group-item-action">
      <div class="row">
        <div class="col">
          <span class="badge badge-pill badge-info">Type</span>
        </div>
        <div class="col">
          Lead Name Surname
        </div>
        <div class="col">
          mm:hh, dd/mm/yyyy
        </div>
        <div class="col text-muted">
          Owner Name Surname
        </div>
      </div>
    </a>
  </div>
</div>