<!-- <app-breadcrumb></app-breadcrumb> -->
<div class="container">
  <div class="row page-title">
    <div class="col">
      <!-- <h5>Leads register</h5> -->
    </div>
    <div class="col-auto">
      <div class="btn-group" dropdown placement="bottom right">
        <button id="actionsToggle" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
          aria-controls="actionsList">
          Actions <span class="caret"></span>
        </button>
        <ul id="actionsList" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
          aria-labelledby="actionsToggle">
          <li role="menuitem">
            <a class="dropdown-item" href (click)="assignLeads()">
              <i class="fas fa-arrow-right fa-fw"></i><i class="fas fa-user fa-fw"></i> Assign
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <form action="" class="mb-3 p-0">

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="type">Type</label>
          <select class="form-control form-control-sm" id="type">
            <option></option>
            <option>Valuation</option>
            <option>Professional valuation</option>
            <option>Refurbishment</option>
            <option>Insurance</option>
            <option>Remortage</option>
            <option>Wealth check</option>
          </select>
        </div>
      </div>
      <div class="col">
        <label for="chaser">Owner</label>
        <select class="form-control form-control-sm" id="chaser">
          <option></option>
          <option>Alex Turnbull</option>
        </select>
      </div>
      <div class="col">
        <label for="dateFrom">Date From</label>
        <input type="text" id="dateFrom" placeholder="dd/mm/yyyy" class="form-control form-control-sm"
          [bsConfig]="{showWeekNumbers:false}" bsDatepicker>
      </div>
      <div class="col">
        <label for="dateTo">Date To</label>
        <input type="text" id="dateTo" placeholder="dd/mm/yyyy" class="form-control form-control-sm"
          [bsConfig]="{showWeekNumbers:false}" bsDatepicker>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="colsedInclusive">
          <label class="custom-control-label" for="colsedInclusive">Include closed leads</label>
        </div>
      </div>
    </div>
  </form>
  <form action="">
    <h5 *ngIf="areLeadsAssignable">Select to assign</h5>
    <div class="list-group mb-3">
      <a [routerLink]="areLeadsAssignable ? null : ['edit']" (click)="selectLead()"
        class="list-group-item list-group-item-action">
        <div class="row">
          <div class="col-auto" *ngIf="areLeadsAssignable">
            <div class="custom-control custom-checkbox" (click)="$event.stopPropagation()">
              <input type="checkbox" class="custom-control-input" id="assign">
              <label class="custom-control-label" for="assign"><span class="sr-only">Assign</span></label>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <span class="badge badge-pill badge-info">Type</span>
              </div>
              <div class="col">
                Lead Name Surname
              </div>
              <div class="col">
                mm:hh, dd/mm/yyyy
              </div>
              <div class="col text-muted">
                Owner Name Surname
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="form-actions" *ngIf="areLeadsAssignable">
      <div class="container px-lg-4">
        <div class="row justify-content-end w-100 no-gutters">
          <div class="col-sm-10 d-flex">
            <button (click)="areLeadsAssignable = false" type="button" class="btn btn-light mr-2">Cancel</button>
            <button type="submit" class="btn btn-secondary">Assign</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>