<app-breadcrumb></app-breadcrumb>
<div class="container">
  <h4 class="page-title">Edit Contact</h4>
  <div class="text-center" *ngIf="!personDetails">
    <i class="fas fa-spinner fa-pulse d-inline-block"></i> Loading details ...
  </div>
  <form *ngIf="personDetails" [formGroup]="personForm" (ngSubmit)="savePerson()">
    <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label col-form-label-sm">Title</label>
      <div class="col-sm-3">
        <select class="custom-select custom-select-sm" id="title" name="title" formControlName="titleSelected">
          <option selected *ngFor="let title of titles | keyvalue:keepOriginalOrder" [value]=title.key>{{title.value}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label col-form-label-sm">First Name</label>
      <div class="col-sm-10">
        <input type="text" id="name" class="form-control form-control-sm" formControlName="firstName" [ngClass]="{'is-invalid':errorsMessage?.firstName}" >
        <span class="invalid-feedback">{{errorsMessage?.firstName}}</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="middleName" class="col-sm-2 col-form-label col-form-label-sm">Middle Name</label>
      <div class="col-sm-10">
        <input type="text" id="middleName" class="form-control form-control-sm" formControlName="middleName" [ngClass]="{'is-invalid':errorsMessage?.middleName}" >
        <span class="invalid-feedback">{{errorsMessage?.middleName}}</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="lastName" class="col-sm-2 col-form-label col-form-label-sm">Last Name</label>
      <div class="col-sm-10">
        <input type="text" id="lastName" class="form-control form-control-sm" formControlName="lastName" [ngClass]="{'is-invalid':errorsMessage?.lastName}" >
        <span class="invalid-feedback">{{errorsMessage?.lastName}}</span>
      </div>
    </div>
    <div formGroupName="address" class="form-group row">
        <label for="country" class="col-sm-2 col-form-label col-form-label-sm">Country</label>
        <div class="col-sm-3">
          <select class="custom-select custom-select-sm" id="country" formControlName="countryId">
            <option selected *ngFor="let country of countries " [value]=country.id>{{country.value}}</option>
          </select>
        </div>
     </div>
     <div class="form-group row" *ngIf="showFullAddress">
        <label for="fullAddress" class="col-sm-2 col-form-label col-form-label-sm"></label>
        <div class="col-sm-10">
          <input type="text" id="fullAddress" class="form-control form-control-sm"  placeholder="Search address" formControlName="fullAddress">
        </div>
      </div>
   <div formGroupName="address">
      <div class="form-group row">
          <label for="property" class="col-sm-2 col-form-label col-form-label-sm">Address</label>
          <div class="col-sm-10">
            <!-- <button class="btn btn-sm btn-link px-0" type="button" id="manAddressBtn"
              (click)="isManAddressCollapsed = !isManAddressCollapsed" [attr.aria-expanded]="!isManAddressCollapsed"
              aria-controls="collapseBasic">Enter address manually</button> -->
            <div >
              <div class="form-group">
                <label class="small" for="adressline1">Address line 1</label>
                <input type="text" class="form-control form-control-sm" id="addressline1"
                  placeholder="Address line 1" formControlName="address1">
              </div>
              <div class="form-group">
                <label class="small" for="adressline2">Address line 2</label>
                <input type="text" class="form-control form-control-sm" id="addressline2"
                  placeholder="Address line 2"  formControlName="address2">
              </div>
              <div class="form-group">
                <label class="small" for="adressline3">Address line 3</label>
                <input type="text" class="form-control form-control-sm" id="addressline3"
                  placeholder="Address line 3" formControlName="address3">
              </div>
              <div class="form-group">
                <label class="small" for="adressline4">Address line 4</label>
                <input type="text" class="form-control form-control-sm" id="addressline4"
                  placeholder="Address line 4" formControlName="address4">
              </div>
              <div class="form-group">
                <label class="small" for="adressline5">Address line 5</label>
                <input type="text" class="form-control form-control-sm" id="addressline5"
                  placeholder="Address line 5" formControlName="address5">
              </div>
              <div class="form-group">
                <label class="small" for="town">Town</label>
                <input type="text" class="form-control form-control-sm" id="town" placeholder="Town"  formControlName="town">
              </div>
              <div class="form-group">
                <label class="small" for="outcode">Postcode</label>
                <div class="input-group">
                  <input type="text" class="form-control form-control-sm" maxlength="4" id="outcode"
                    placeholder="Outcode" formControlName="outCode">
                  <input type="text" class="form-control form-control-sm" maxlength="3" id="incode"
                    placeholder="Incode" formControlName="inCode">
                </div>
              </div>
            </div>
          </div>
      </div>
   </div>
   <div formArrayName="emailAddresses" *ngFor="let emailAddress of emailAddresses.controls; let i = index; first as isFirst">
      <div [formGroupName]="i">
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label col-form-label-sm">Email {{i + 1}}</label>
          <div class="col-sm-10">
              <div class="input-group input-group-sm">
                <input type="text" [placeholder]="!isFirst ? '(optional)' : ''" class="form-control" formControlName="email" (keyup)="addEmailItem(i)">
                <div class="input-group-append">
                  <label class="btn btn-light" btnCheckbox formControlName="isPrimaryWebEmail" tabindex="0"
                    role="button"><i class="fa-star mr-1" [ngClass]="personForm.controls.emailAddresses.controls[i].controls.isPrimaryWebEmail.value ? 'fas' : 'far'"></i>Fav</label>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
   <div formArrayName="phoneNumbers" *ngFor="let phoneNumber of phoneNumbers.controls; let i = index; first as isFirst;">
      <div [formGroupName]="i">
        <div class="form-group row">
          <label for="phone" class="col-sm-2 col-form-label col-form-label-sm">Phone {{i + 1}}</label>
          <div class="col-sm-10">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" [placeholder]="!isFirst ? '(optional)' : ''" formControlName="number" (keyup)="addPhoneNumberItem(i)">
              <select class="custom-select" formControlName="typeId">
                <option *ngFor="let telephoneType of telephoneTypes | keyvalue:keepOriginalOrder" [value] = telephoneType.key>{{telephoneType.value}} </option>
              </select>
              <div class="input-group-append">
                <label class="btn btn-light" btnCheckbox formControlName="isPreferred" tabindex="0"
                  role="button"><i class="fa-star mr-1" [ngClass]="personForm.controls.phoneNumbers.controls[i].controls.isPreferred.value ? 'fas' : 'far'"></i>Fav</label>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>
   <div formGroupName="contactBy">
     <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm">Contact by</label>
        <div class="col-sm-10">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="examplecheckboxs" id="examplecheckboxs1"
              value="option1" formControlName="email">
            <label class="custom-control-label" for="examplecheckboxs1">
              Email
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="examplecheckboxs" id="examplecheckboxs3"
              value="option3" formControlName="phone">
            <label class="custom-control-label" for="examplecheckboxs3">
              Phone
            </label>
          </div>
        </div>
      </div>
   </div>
  <div formGroupName="marketingPreferences">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm">Marketing</label>
        <div class="col-sm-10">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="quarterly" id="quarterly" value="option1" checked formControlName="marketBulletin">
            <label class="custom-control-label" for="quarterly">
              Quarterly Market Bulletin
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="events" id="events" value="option1" checked formControlName="events">
            <label class="custom-control-label" for="events">
              Landlord & Investor Events
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="newHomes" id="newHomes" value="option1" checked formControlName="newHomes">
            <label class="custom-control-label" for="newHomes">
              New Home and Investments
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="specialOffers" id="specialOffers" value="option1"
                formControlName="offersSurveys">
            <label class="custom-control-label" for="specialOffers">
              Special Offers and Surveys
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="occasional" id="occasional" value="option1" checked formControlName="general">
            <label class="custom-control-label" for="occasional">
              Other Occasional Marketing
            </label>
          </div>
        </div>
      </div>
  </div>
    <div class="form-group row">
      <label for="amlDate" class="col-sm-2 col-form-label col-form-label-sm">AML Completed</label>
      <div class="col-sm-3">
          <input type="text" id="amlDate" placeholder="dd/mm/yyyy" class="form-control form-control-sm" formControlName="amlCompletedDate"
          [bsConfig]="{showWeekNumbers:false}" bsDatepicker>
      </div>
    </div>

    <div class="form-actions">
      <div class="container px-lg-4">
        <div class="row justify-content-end w-100 no-gutters">
          <div class="col-sm-10 d-flex">
            <button (click)="cancel()" type="button" class="btn btn-light mr-2">Cancel</button>
            <button type="submit" class="btn btn-secondary" >Edit Contact</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
