<app-breadcrumb *ngIf="!basicPerson"></app-breadcrumb>
<div class="container" [ngClass]="{'p-0': basicPerson}">
  <div class="page-title sticky-top" [ngClass]="{'pt-3': basicPerson}">
    <h4 *ngIf="!basicPerson">Edit Person</h4>
    <app-score-badge [bar]="true" [person]="personForm.value"></app-score-badge>
  </div>
  <div class="text-center" *ngIf="!personDetails && !basicPerson">
    <i class="fas fa-spinner fa-pulse d-inline-block"></i> Loading details ...
  </div>
  <form *ngIf="personDetails || basicPerson" [formGroup]="personForm" (ngSubmit)="savePerson()" (keydown.enter)="$event.preventDefault()">
    <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label col-form-label-sm">Title</label>
      <div class="col-sm-3">
        <select class="custom-select custom-select-sm" id="title" name="title" formControlName="titleId">
          <option selected *ngFor="let title of titles | keyvalue:keepOriginalOrder" [value]=title.key>{{title.value}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label col-form-label-sm">First Name</label>
      <div class="col-sm-10">
        <input type="text" id="name" class="form-control form-control-sm" formControlName="firstName" [ngClass]="{'is-invalid':formErrors.firstName}" >
        <span class="invalid-feedback">{{formErrors.firstName}}</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="middleName" class="col-sm-2 col-form-label col-form-label-sm">Middle Name</label>
      <div class="col-sm-10">
        <input type="text" id="middleName" class="form-control form-control-sm" formControlName="middleName" [ngClass]="{'is-invalid':formErrors.middleName}" >
        <span class="invalid-feedback">{{formErrors.middleName}}</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="lastName" class="col-sm-2 col-form-label col-form-label-sm">Last Name</label>
      <div class="col-sm-10">
        <input type="text" id="lastName" class="form-control form-control-sm" formControlName="lastName" [ngClass]="{'is-invalid':formErrors?.lastName}" autocomplete="false">
        <span class="invalid-feedback">{{formErrors?.lastName}}</span>
      </div>
    </div>
    <div formGroupName="address" class="form-group row">
        <label for="country" class="col-sm-2 col-form-label col-form-label-sm">Country</label>
        <div class="col-sm-3">
          <select class="custom-select custom-select-sm" id="country" formControlName="countryId">
            <option selected *ngFor="let country of countries " [value]=country.id>{{country.value}}</option>
          </select>
        </div>
     </div>
     <div class="form-group row" >
        <label for="property" class="col-sm-2 col-form-label col-form-label-sm">
          Address
        </label>
        <div class="col-sm-10">
          <div class="input-group input-group-sm">
            <input type="text" id="fullAddress" class="form-control"  placeholder="Search address"
              [ngClass]="{'border border-warning': !personForm.controls.address.controls.addressLines.value && !enterAddressManually}"
              formControlName="fullAddress" (keyup.enter)="$event.stopPropagation(); searchAddress()">
            <div class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="searchAddress()">Search</button>
            </div>
            <small class="form-text w-100" *ngIf="!personForm.controls.address.controls.addressLines.value && !enterAddressManually"><i class="fas fa-smile-wink mr-2 text-warning"></i><span class="text-muted">Complete to increase your score</span></small>
          </div>
          <ng-container *ngIf="foundAddress && !retrievedAddresses">
            <h5 class="mt-3">Select Address</h5>
            <div class="list-group small">
              <div class="list-group-item" *ngIf="backToAddressesList" (click)="findAddress(searchTermBK, '')">
                <button type="button" class="btn btn-sm btn-link p-0"><i class="fas fa-chevron-left mr-2"></i> Back</button>
              </div>
              <ng-container *ngIf="foundAddress?.Items?.length; else noAddress">
                <ng-container *ngIf="!isLoadingAddressVisible">
                  <ng-container  *ngFor="let address of foundAddress?.Items; last as isLast">
                    <div class="list-group-item list-group-item-action" (click)="address?.Action ? findAddress(searchTermBK, address?.Id) : retrieveAddress(address?.Id)" *ngIf="!address?.Error">
                      <div class="row align-items-center">
                        <div class="col">
                          {{address?.Text}}, {{address?.Description}}
                        </div>
                        <div class="col-auto">
                          <button type="button" class="btn btn-sm btn-link">{{address?.Action || 'Select'}}</button>
                        </div>
                      </div>
                    </div>
                    <div class="list-group-item" *ngIf="address?.Error || isLast">
                      No Address Found? Try again or <a href (click)="enterAddress($event)">enter it manually</a>.
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-template #noAddress>
                <div class="list-group-item">
                  No Address Found. Try again or <a href (click)="enterAddress($event)">enter it manually</a>.
                </div>
              </ng-template>
              <ng-container *ngIf="isLoadingAddressVisible">
                <div class="list-group-item">
                  <i class="fas fa-spinner fa-pulse d-inline-block"></i> Loading addresses ...
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
     </div>
   <div formGroupName="address">
      <div class="form-group row justify-content-end">
          <!-- <label for="property" class="col-sm-2 col-form-label col-form-label-sm">
            Address
          </label> -->
          <div class="col-sm-10">
            <div class="form-group" *ngIf="personForm.controls.address.controls.addressLines.value || enterAddressManually">
              <label class="small" for="postcode">Address Lines</label>
              <textarea type="textarea" class="form-control form-control-sm" formControlName="addressLines" id="addressLines"
              (keydown.enter)="$event.stopPropagation()" rows="5"  cols="10" maxlength="500" [ngClass]="{'border border-warning': !personForm.controls.address.controls.addressLines.value && enterAddressManually}"></textarea>
              <small class="form-text" *ngIf="!personForm.controls.address.controls.addressLines.value && enterAddressManually"><i class="fas fa-smile-wink mr-2 text-warning"></i><span class="text-muted">Complete to increase your score</span></small>
            </div>
            <div class="form-group" *ngIf="showPostCode">
              <label class="small" for="postcode">Postcode</label>
              <div class="input-group">
                <input type="text" class="form-control form-control-sm"  id="postcode" formControlName="postCode"
                [ngClass]="{'is-invalid': formErrors.postCode, 'border border-warning': !personForm.controls.address.controls.postCode.value}">
                  <span class="invalid-feedback">{{formErrors.postCode}}</span>
                  <small class="form-text w-100" *ngIf="!personForm.controls.address.controls.postCode.value"><i class="fas fa-smile-wink mr-2 text-warning"></i><span class="text-muted">Complete to increase your score</span></small>
              </div>
            </div>
          </div>
      </div>
   </div>
   <div class="row justify-content-end" *ngIf="isContactErrorVisible" id="contact-error">
     <div class="col-sm-10">
        <div class="alert alert-danger">Please enter an email OR a phone number</div>
     </div>
   </div>
   <div class="row justify-content-end">
     <div class="col-auto mr-2 d-none d-sm-block mb-1"><small>Pref</small></div>
   </div>
   <div formArrayName="emailAddresses" *ngFor="let emailAddress of emailAddresses.controls; let i = index; first as isFirst">
      <div [formGroupName]="i">
        <div class="form-group row justify-content-end">
          <label [for]="'email' + i" class="col col-sm-2 col-form-label col-form-label-sm" [ngClass]="{'sr-only': !isFirst}">Email</label>
          <div class="col-auto d-sm-none mr-2" *ngIf="isFirst"><small>Pref</small></div>
          <div class="col-sm-10">
              <div class="input-group input-group-sm">
                <input type="text" [id]="'email' + i" [placeholder]="!isFirst ? 'Additional Email' : ''" class="form-control" formControlName="email"
                (keyup)="addEmailItem(i)"  (blur)="isValid($event, !!personForm.controls.emailAddresses.controls[i].controls.email.errors)"
                [ngClass]="{'border border-warning': !personForm.controls.emailAddresses.controls[0].controls.email.value && isFirst}">
                <div class="input-group-append">
                  <label class="btn btn-light" btnCheckbox formControlName="isPreferred" tabindex="0" (click)="togglePreferences(i, emailAddresses)"
                    role="button"  [class.active]="personForm.value.emailAddresses[i].isPreferred"><i class="fa-star" [ngClass]="!!personForm.value.emailAddresses[i].isPreferred ? 'fas' : 'far'"></i></label>
                </div>
                <span class="invalid-feedback">
                  <span *ngIf="!!personForm.controls.emailAddresses.controls[i].controls.email.errors">
                    Please enter a valid email address.
                  </span>
                </span>
                <small class="form-text w-100" *ngIf="!personForm.controls.emailAddresses.controls[0].controls.email.value && isFirst"><i class="fas fa-smile-wink mr-2 text-warning"></i><span class="text-muted">Complete to increase your score</span></small>
              </div>
          </div>
        </div>
      </div>
    </div>
   <div class="row justify-content-end">
      <div class="col-auto mr-2 d-none d-sm-block mb-1"><small>Pref</small></div>
    </div>
   <div formArrayName="phoneNumbers" *ngFor="let phoneNumber of phoneNumbers.controls; let i = index; first as isFirst;">
      <div [formGroupName]="i">
        <div class="form-group row justify-content-end">
          <label [for]="'phone' + i" class="col col-sm-2 col-form-label col-form-label-sm" [ngClass]="{'sr-only': !isFirst}">Phone</label>
          <div class="col-auto d-sm-none mr-2" *ngIf="isFirst"><small>Pref</small></div>
          <div class="col-sm-10">
            <div class="input-group input-group-sm">
              <input type="text" [id]="'phone' + i" class="form-control" [placeholder]="!isFirst ? 'Additional phone' : ''" formControlName="number" (keyup)="addPhoneNumberItem(i)"
              (blur)="isValid($event, !!personForm.controls.phoneNumbers.controls[i].controls.number.errors)"
              [ngClass]="{'border border-warning': !personForm.controls.phoneNumbers.controls[0].controls.number.value && isFirst}">
              <select class="custom-select" formControlName="typeId">
                <option *ngFor="let telephoneType of telephoneTypes | keyvalue:keepOriginalOrder" [value] = telephoneType.key>{{telephoneType.value}} </option>
              </select>
              <div class="input-group-append order-sm-2">
                <label class="btn btn-light" btnCheckbox tabindex="0"
                  role="button">SMS</label>
                <label class="btn btn-light" btnCheckbox formControlName="isPreferred" tabindex="0" (click)="togglePreferences(i, phoneNumbers)"
                  role="button" [class.active]="personForm.value.phoneNumbers[i].isPreferred"><i class="fa-star" [ngClass]="personForm.value.phoneNumbers[i].isPreferred ? 'fas' : 'far'"></i></label>
              </div>
              <input type="text" class="form-control order-sm-1" placeholder="Comments" formControlName="comments">
                <div class="invalid-feedback order-sm-3">
                  <div *ngIf="personForm.controls.phoneNumbers.controls[i].controls.number.errors?.pattern">
                    Please enter a telephone number.
                  </div>
                  <div *ngIf="personForm.controls.phoneNumbers.controls[i].controls.number.errors?.minlength">
                      Telephone number must be at least 7 characters.
                  </div>
                  <div *ngIf="personForm.controls.phoneNumbers.controls[i].controls.number.errors?.maxlength">
                    Telephone number must be less than 16 characters.
                  </div>
                </div>
              <small class="form-text w-100 order-sm-4" *ngIf="!personForm.controls.phoneNumbers.controls[0].controls.number.value && isFirst"><i class="fas fa-smile-wink mr-2 text-warning"></i><span class="text-muted">Complete to increase your score</span></small>
            </div>
          </div>
        </div>
      </div>
   </div>
   <div formGroupName="contactBy">
     <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm">Contact by</label>
        <div class="col-sm-10">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="examplecheckboxs" id="examplecheckboxs1"
              value="option1" formControlName="email">
            <label class="custom-control-label" for="examplecheckboxs1">
              Email
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="examplecheckboxs" id="examplecheckboxs3"
              value="option3" formControlName="phone">
            <label class="custom-control-label" for="examplecheckboxs3">
              Phone
            </label>
          </div>
        </div>
      </div>
   </div>
  <div formGroupName="marketingPreferences">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm">Marketing</label>
        <div class="col-sm-10">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="marketBulletin" id="quarterly"   formControlName="marketBulletin">
            <label class="custom-control-label" for="quarterly">
              Quarterly Market Bulletin
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="events" id="events"   formControlName="events">
            <label class="custom-control-label" for="events">
              Landlord & Investor Events
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="newHomes" id="newHomes"  formControlName="newHomes">
            <label class="custom-control-label" for="newHomes">
              New Home and Investments
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="offersSurveys" id="offersSurveys"
                formControlName="offersSurveys">
            <label class="custom-control-label" for="offersSurveys">
              Special Offers and Surveys
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="general" id="occasional" formControlName="general">
            <label class="custom-control-label" for="occasional">
              Other Occasional Marketing
            </label>
          </div>
        </div>
      </div>
  </div>
    <div class="form-group row">
      <label for="amlDate" class="col-sm-2 col-form-label col-form-label-sm">AML Completed</label>
      <div class="col-sm-3">
          <input type="text" id="amlDate" placeholder="dd/mm/yyyy" class="form-control form-control-sm" formControlName="amlCompletedDate"
          [bsConfig]="{showWeekNumbers:false}" bsDatepicker>
      </div>
    </div>

    <div class="form-actions" [ngClass]="{'px-0': basicPerson}">
      <div class="container px-lg-4">
        <div class="row justify-content-end w-100 no-gutters">
          <div class="col-sm-10 d-flex">
            <button (click)="cancel()" type="button" class="btn btn-light mr-2">Cancel</button>
            <button type="submit" class="btn btn-secondary" [tooltip]="!personForm.valid ? errorMessage : ''" placement="top" [attr.disabled]="isSubmitting && !errorMessage ? '' : null"><i class="fas fa-spinner fa-pulse d-inline-block mr-2" *ngIf="isSubmitting && !errorMessage"></i><ng-container *ngIf="!basicPerson; else addPersonLabel">Save</ng-container><ng-template #addPersonLabel>Create</ng-template></button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
