<app-breadcrumb [title]="personDetails?.personId" *ngIf="!basicPerson"></app-breadcrumb>
<div class="container" [ngClass]="{'p-0': basicPerson}">
  <div class="page-title sticky-top" [ngClass]="{'pt-3': basicPerson}">
    <h4 *ngIf="!basicPerson">Edit Person</h4>
    <app-score-badge [bar]="true" [person]="personForm?.value"></app-score-badge>
  </div>
  <div class="text-center" *ngIf="!personDetails && !basicPerson">
    <i class="fas fa-spinner fa-pulse d-inline-block"></i> Loading details ...
  </div>
  <form *ngIf="personDetails || basicPerson" [formGroup]="personForm" (ngSubmit)="savePerson()" (keydown.enter)="$event.preventDefault()" autocompleteOff>
    <div class="form-group row" [hidden]="basicPerson">
      <label for="warningStatus" class="col-sm-2 col-form-label col-form-label-sm">Warning</label>
      <div class="col-sm-3">
        <select class="custom-select custom-select-sm" id="warningStatus" name="warningStatus" formControlName="warningStatusId" >
          <option selected *ngFor="let warning of warnings | keyvalue:keepOriginalOrder" [value]=warning.value.id [attr.disabled]="(!isWarningsEnabled) ? '' : null">{{warning.value.value}}</option>
        </select>
        <input type="text" class="form-control form-control-sm mt-2" [ngClass]="{'is-invalid': formErrors.warningStatusComment || personForm.errors?.warningStatusRequired}" formControlName="warningStatusComment" placeholder="Comment ..." *ngIf="isWarningCommentVisible">
        <div class="invalid-feedback">{{formErrors.warningStatusComment}}</div>
        <div class="invalid-feedback" *ngIf="personForm.errors?.warningStatusRequired">Please enter a Comment</div>
      </div>
      <div class="col col-form-label col-form-label-sm text-left text-danger" *ngIf="!isWarningsEnabled">
        You don't have the permission to change the warning.
      </div>
    </div>
    <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label col-form-label-sm">Title</label>
      <div class="col-sm-3">
        <select class="custom-select custom-select-sm" id="title" name="title" formControlName="titleId" [ngClass]="{'is-invalid':formErrors.titleId}">
          <option *ngFor="let title of titles | keyvalue:keepOriginalOrder" [value]=title.key>{{title.value}}</option>
        </select>
        <span class="invalid-feedback">{{formErrors.titleId}}</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label col-form-label-sm">First Name</label>
      <div class="col-sm-10">
        <input type="text" id="name" class="form-control form-control-sm" formControlName="firstName" [ngClass]="{'is-invalid':formErrors.firstName}" >
        <span class="invalid-feedback">{{formErrors.firstName}}</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="middleName" class="col-sm-2 col-form-label col-form-label-sm">Middle Name</label>
      <div class="col-sm-10">
        <input type="text" id="middleName" class="form-control form-control-sm" formControlName="middleName" [ngClass]="{'is-invalid':formErrors.middleName}" >
        <span class="invalid-feedback">{{formErrors.middleName}}</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="lastName" class="col-sm-2 col-form-label col-form-label-sm">Last Name</label>
      <div class="col-sm-10">
        <input type="text" id="lastName" class="form-control form-control-sm" formControlName="lastName" [ngClass]="{'is-invalid':formErrors?.lastName}" autocomplete="false">
        <span class="invalid-feedback">{{formErrors?.lastName}}</span>
      </div>
    </div>
   <app-address [personDetails]="personDetails || basicPerson" (addressDetails)="getAddress($event)"></app-address>
   <div class="row justify-content-end" *ngIf="personForm.errors?.emailOrPhone" id="contact-error">
     <div class="col-sm-10">
        <div class="alert alert-danger">Please enter an email OR a phone number</div>
     </div>
   </div>
   <div class="row justify-content-end">
     <div class="col-auto mr-2 d-none d-sm-block mb-1"><small>Pref</small></div>
   </div>
   <div formArrayName="emailAddresses" *ngFor="let emailAddress of emailAddresses.controls; let i = index; first as isFirst">
      <div [formGroupName]="i">
        <div class="form-group row justify-content-end">
          <label [for]="'email' + i" class="col col-sm-2 col-form-label col-form-label-sm" [ngClass]="{'sr-only': !isFirst}">Email</label>
          <div class="col-auto d-sm-none mr-2" *ngIf="isFirst"><small>Pref</small></div>
          <div class="col-sm-10">
              <div class="input-group input-group-sm">
                <input type="text" [id]="'email' + i" [placeholder]="!isFirst ? 'Additional Email' : ''" class="form-control" formControlName="email"
                (keyup)="addRemoveEmailItem(i, false)" (blur)="addRemoveEmailItem(i, true)"
                [ngClass]="{'border border-warning': !personForm.controls.emailAddresses.controls[0].controls.email.value && isFirst && !personForm.errors?.emailOrPhone,
                            'is-invalid': isValid('email', i)
                            || personForm.errors?.emailOrPhone}">
                <div class="input-group-append">
                  <label class="btn btn-light" btnCheckbox formControlName="isPreferred" tabindex="0" (click)="togglePreferences(i, emailAddresses)"
                    role="button"  [class.active]="personForm.value.emailAddresses[i].isPreferred"><i class="fa-star" [ngClass]="!!personForm.value.emailAddresses[i].isPreferred ? 'fas' : 'far'"></i></label>
                </div>
                <span class="invalid-feedback">
                  <span *ngIf="personForm.controls.emailAddresses.controls[i].controls.email.value && !!personForm.controls.emailAddresses.controls[i].controls.email.errors">
                    Please enter a valid email address.
                  </span>
                </span>
                <small class="form-text w-100" *ngIf="!personForm.controls.emailAddresses.controls[0].controls.email.value && isFirst"><i class="fas fa-smile-wink mr-2 text-warning"></i><span class="text-muted">Complete to increase your score</span></small>
              </div>
          </div>
        </div>
      </div>
    </div>
   <div class="row justify-content-end">
      <div class="col-auto mr-2 d-none d-sm-block mb-1"><small>Pref</small></div>
    </div>
   <div formArrayName="phoneNumbers" *ngFor="let phoneNumber of phoneNumbers.controls; let i = index; first as isFirst;">
      <div [formGroupName]="i">
        <div class="form-group row justify-content-end">
          <label [for]="'phone' + i" class="col col-sm-2 col-form-label col-form-label-sm" [ngClass]="{'sr-only': !isFirst}">Phone</label>
          <div class="col-auto d-sm-none mr-2" *ngIf="isFirst"><small>Pref</small></div>
          <div class="col-sm-10">
            <div class="input-group input-group-sm">
              <input type="text" [id]="'phone' + i" class="form-control" [placeholder]="!isFirst ? 'Additional phone' : ''" formControlName="number" (keyup)="addRemovePhoneNumberItem(i, false)" (blur)="addRemovePhoneNumberItem(i, true)"
              [ngClass]="{'border border-warning': !personForm.controls.phoneNumbers.controls[0].controls.number.value && isFirst && !personForm.errors?.emailOrPhone,
                        'is-invalid': isValid('number', i)
                        || personForm.errors?.emailOrPhone || personForm.controls.phoneNumbers.controls[i].errors?.mismatch}">
              <select class="custom-select" formControlName="typeId" [ngClass]="{'is-invalid': personForm.controls.phoneNumbers.controls[i].errors?.mismatch}">
                <option *ngFor="let telephoneType of telephoneTypes | keyvalue:keepOriginalOrder" [value] = telephoneType.key >{{telephoneType.value}} </option>
              </select>
              <div class="input-group-append order-sm-2">
                <label class="btn btn-light" btnCheckbox formControlName="sendSMS" tabindex="0"
                  role="button" [hidden]="true" [ngClass]="{'font-weight-bold': personForm.value.phoneNumbers[i].sendSMS}" [style.visibility]="!sharedService.isUKMobile(personForm.value.phoneNumbers[i].number) ? 'hidden' : 'visible'">SMS</label>
                <label class="btn btn-light" btnCheckbox formControlName="isPreferred" tabindex="0" (click)="togglePreferences(i, phoneNumbers)"
                  role="button" [class.active]="personForm.value.phoneNumbers[i].isPreferred"><i class="fa-star" [ngClass]="personForm.value.phoneNumbers[i].isPreferred ? 'fas' : 'far'"></i></label>
              </div>
              <input type="text" class="form-control order-sm-1" placeholder="Comments" formControlName="comments">
                <div class="invalid-feedback order-sm-3">
                  <div *ngIf="personForm.controls.phoneNumbers.controls[i].controls.number.errors?.invalidPhoneNumber">
                    {{validationMessages.telephone.invalidPhoneNumber}}
                  </div>
                  <div *ngIf="personForm.controls.phoneNumbers.controls[i].controls.number.errors?.international">
                    {{validationMessages.telephone.international}}
                  </div>
                  <div *ngIf="personForm.controls.phoneNumbers.controls[i].errors?.mismatch">
                    Telephone number doesn't match the type
                  </div>
                </div>
              <small class="form-text w-100 order-sm-4" *ngIf="!personForm.controls.phoneNumbers.controls[0].controls.number.value && isFirst"><i class="fas fa-smile-wink mr-2 text-warning"></i><span class="text-muted">Complete to increase your score</span></small>
            </div>
          </div>
        </div>
      </div>
   </div>
   <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">Contact by</label>
    <div class="col-sm-10">
      <div class="custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="contactByEmail" formControlName="contactByEmail">
        <label class="custom-control-label" for="examplecheckboxs1">
          Email
        </label>
      </div>
      <div class="custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="contactByPhone" formControlName="contactByPhone">
        <label class="custom-control-label" for="examplecheckboxs3">
          Phone
        </label>
      </div>
    </div>
  </div>
  <div formGroupName="marketingPreferences">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm">Marketing</label>
        <div class="col-sm-10">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="marketBulletin" id="quarterly"   formControlName="marketBulletin">
            <label class="custom-control-label" for="quarterly">
              Quarterly Market Bulletin
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="events" id="events"   formControlName="events">
            <label class="custom-control-label" for="events">
              Landlord & Investor Events
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="newHomes" id="newHomes"  formControlName="newHomes">
            <label class="custom-control-label" for="newHomes">
              New Home and Investments
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="offersSurveys" id="offersSurveys"
                formControlName="offersSurveys">
            <label class="custom-control-label" for="offersSurveys">
              Special Offers and Surveys
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="general" id="occasional" formControlName="general">
            <label class="custom-control-label" for="occasional">
              Other Occasional Marketing
            </label>
          </div>
        </div>
      </div>
  </div>
    <div class="form-group row">
      <label for="amlDate" class="col-sm-2 col-form-label col-form-label-sm">AML Completed</label>
      <div class="col-sm-3">
        <div class="input-group input-group-sm">
            <input type="text" id="amlDate" placeholder="dd/mm/yyyy" class="form-control fake-readonly" formControlName="amlCompletedDate"
            [bsConfig]="{showWeekNumbers:false, dateInputFormat: 'DD/MM/YYYY', maxDate:todaysDate}" bsDatepicker readonly>
            <div class="input-group-append" *ngIf="personForm.value.amlCompletedDate">
              <button type="button" class="btn btn-primary" aria-label="clear AML" (click)="clearControlValue(personForm.get('amlCompletedDate'))">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
        </div>
      </div>
    </div>
    <div class="form-actions" [ngClass]="{'px-0': basicPerson}">
      <div class="container px-lg-4">
        <div class="row justify-content-end w-100 no-gutters">
          <div class="col-sm-10 d-flex">
            <button (click)="cancel()" type="button" class="btn btn-light mr-2">Cancel</button>
            <button type="submit" class="btn btn-secondary" [tooltip]="!personForm.valid ? errorMessage?.displayMessage : ''" placement="top" [attr.disabled]="isSubmitting ? '' : null"><i class="fas fa-spinner fa-pulse d-inline-block mr-2" *ngIf="isSubmitting"></i><ng-container *ngIf="!basicPerson; else addPersonLabel">Save</ng-container><ng-template #addPersonLabel>Create</ng-template></button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
