<div class="list-group">
    <div class="list-group-item mb-4"
      [ngClass]="{'list-group-item-danger': personDetails?.warning && personDetails?.warning?.id !== 1}"
      *ngIf="personDetails">
      <div class="text-right">
        <div class="row">
          <div class="col-auto">
            <app-score-badge [person]="personDetails"></app-score-badge> <span class="badge badge-pill badge-danger"
              *ngIf="personDetails?.warning && personDetails?.warning?.id !== 1">{{personDetails?.warningStatusComment || personDetails?.warning?.value}}</span>
          </div>
          <div class="col text-right">
            <a routerLink (click)="navigate()"><i class="fas fa-edit"></i> Edit</a>
          </div>
        </div>
      </div>
      <div class="row mb-1" *ngIf="personDetails?.personNotes?.length">
        <div class="col-12">
          <div class="alert alert-danger small mb-2 mr-2 d-inline-block"
            *ngFor="let importantNote of personDetails?.personNotes">
            {{importantNote.text}}
          </div>
        </div>
      </div>
      <div class="row" *ngIf="personDetails">
        <div class="col-12">
          <p class="mb-2">
            <strong>{{personDetails.addressee}}</strong>
          </p>
        </div>
        <div class="col-sm-4">
          <div class="mb-2">
            <pre>{{personDetails.address | formatAddress}}</pre><span class="text-danger"
              *ngIf="!(personDetails.address | formatAddress)">No address</span></div>
        </div>
        <div class="col-12 col-sm-3 col-xl-4">
          <p class="mb-2 text-danger"
            *ngIf="!personDetails.phoneNumbers.length || !personDetails.phoneNumbers[0].number">No
            phone</p>
          <ng-container *ngFor="let phoneNumber of personDetails.phoneNumbers">
            <p class="mb-2" *ngIf="phoneNumber.number">
              <app-telephone [person]="personDetails" [number]="phoneNumber.number"
                [warning]="personDetails?.warningStatusComment || personDetails?.warning?.value">
              </app-telephone>
            </p>
          </ng-container>
        </div>
        <div class="col-sm-5 col-xl-4">
          <p class="mb-2 text-danger"
            *ngIf="!personDetails.emailAddresses.length || !personDetails.emailAddresses[0].email">
            No
            email</p>
          <ng-container *ngFor="let emailAddresses of personDetails.emailAddresses">
            <p class="mb-2 text-truncate" *ngIf="emailAddresses.email"><a class="mobile-btn"
                href="mailto:{{emailAddresses.email}}">{{emailAddresses.email}}</a></p>
          </ng-container>
        </div>
        <div class="col-12">
          <hr class="my-1">
        </div>
        <div class="col-12">
          <div class="row align-items-center">
            <div class="col">
              <button type="button" class="btn btn-link px-0" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Marketing Prefs <span
                  class="badge badge-pill badge-primary">
                  {{personDetails.marketingPreferences?.count || 0}} </span>
              </button>
            </div>
          </div>
          <div id="collapseBasic" [collapse]="!isCollapsed">
            <ul>
              <li *ngIf="personDetails.marketingPreferences?.marketBulletin">Quarterly bulletin</li>
              <li *ngIf="personDetails.marketingPreferences?.general">Special offers</li>
              <li *ngIf="personDetails.marketingPreferences?.events">Landlord/investor events</li>
              <li *ngIf="personDetails.marketingPreferences?.newHomes">New homes/investments</li>
              <li *ngIf="personDetails.marketingPreferences?.general">Other occasional marketing</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
