<div class="table">
  <table class="table--mobile table--rowHover">
    <thead>
      <tr>
        <th>Company Name</th>
        <th colspan="2">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies; let i = index;" (click)="navigateToDetails(company?.companyId)">
        <td>
          <span class="cell-content">
            <a class="d-xl-none" [routerLink]="['detail',  company?.companyId ]">{{company.companyName}}</a>
          </span>
        </td>
        <td>
          <span class="cell-content">
            {{company?.companyAddress | formatAddress}}
            <span class="txt--negative" *ngIf="!(company?.companyAddress | formatAddress)">No address</span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>