<div class="list-group">
  <div *ngIf="companies" class="search-results" infiniteScroll [infiniteScrollDistance]="5"
    [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="20" [immediateCheck]="true" [alwaysCallback]="true"
    (scrolled)="onScrollDown()">
  </div>
  <a [routerLink]="['detail', company.companyId ]" class="list-group-item list-group-item-action v-o-h-container"
    *ngFor="let company of companies; let i = index;">
    <div class="row mb-1">
      <div class="col text-right">
        <a class="v-o-h" [routerLink]="['detail',  company.companyId, 'edit' ]"><i class="fas fa-edit"></i> Edit</a>
        <a class="d-xl-none" [routerLink]="['detail',  company.companyId ]">View <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <div class="mb-1">
          <strong>{{company.companyName}}</strong>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="mb-1">
          <pre>{{company.companyAddress | formatAddress}}</pre><span class="text-danger"
            *ngIf="!(company.companyAddress | formatAddress)">No address</span>
        </div>
      </div>
      <div class="col-12 text-right">
        <small class="text-muted">CO-{{company.companyId}}</small>
      </div>
    </div>
  </a>
</div>
