<div class="table">
  <table class="table--mobile table--rowHover">
    <thead>
      <tr>
        <th>Company Name</th>
        <th colspan="2">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies; let i = index;">
        <td>
          <span class="cell-content">
            <a class="d-xl-none" [routerLink]="['detail',  company.companyId ]">{{company.companyName}}</a>
          </span>
        </td>
        <td>
          <span class="cell-content">
            {{company.companyAddress | formatAddress}}
            <span class="txt--negative" *ngIf="!(company.companyAddress | formatAddress)">No address</span>
          </span>
        </td>
        <td class="txt--right">
          <a class="dropdown-item" [routerLink]="['detail',  company.companyId, 'edit' ]">
            <svg _ngcontent-fnv-c238="" aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon"><polygon _ngcontent-fnv-c238="" points="42.7 6.7 57.3 21.3 64 14.5 49.7 0 "></polygon><path _ngcontent-fnv-c238="" d="M40.3 9.6l-38 38L0 64l16.9-2 38-37.9L40.3 9.6zM4 59.9l1.9-11.7 9.8 9.8L4 59.9z"></path></svg>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- <div class="list-group">
  <div *ngIf="companies" class="search-results" infiniteScroll [infiniteScrollDistance]="5"
    [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="20" [immediateCheck]="true" [alwaysCallback]="true">
  </div>
  <a [routerLink]="['detail', company.companyId ]" class="list-group-item list-group-item-action v-o-h-container"
    *ngFor="let company of companies; let i = index;">
    <div class="row mb-1">
      <div class="col text-right">
        <a class="v-o-h" [routerLink]="['detail',  company.companyId, 'edit' ]"><i class="fas fa-edit"></i> Edit</a>
        <a class="d-xl-none" [routerLink]="['detail',  company.companyId ]">View <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <div class="mb-1">
          <strong>{{company.companyName}}</strong>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="mb-1">
          <pre>{{company.companyAddress | formatAddress}}</pre><span class="text-danger"
            *ngIf="!(company.companyAddress | formatAddress)">No address</span>
        </div>
      </div>
    </div>
  </a>
</div> -->
