<app-breadcrumb [title]="'PR-'+(propertyDetails?.propertyId || '')"></app-breadcrumb>
<div class="container">
  <div class="page-title sticky-top">
    <h4>
      <ng-container *ngIf="propertyDetails else newProperty ">Edit</ng-container> Property
      <ng-template #newProperty>Add</ng-template>
    </h4>
  </div>
  <div class="text-center" *ngIf="!propertyDetails && !isNewProperty">
    <i class="fas fa-spinner fa-pulse d-inline-block"></i> Loading details ...
  </div>
  <form *ngIf="propertyDetails || isNewProperty" [formGroup]="propertyForm" (ngSubmit)="saveProperty()"
    (keydown.enter)="$event.preventDefault()" autocompleteOff>
    <app-address [propertyDetails]="propertyDetails" [addressError]="formErrors.address" [isNewProperty]="isNewProperty"
      (addressDetails)="getAddress($event)"></app-address>
    <div class="row justify-content-end">
      <div class="col-sm-10">
        <input type="hidden" id="address" class="form-control" formControlName="address">
      </div>
    </div>
    <app-property-duplicate-checker [propertyAddress]="propertyAddress" [propertyId]="propertyDetails?.propertyId" (selectedProperty)="getSelectedProperty($event)"
      (fullMatchFound)="checkPropertyMatches($event)"></app-property-duplicate-checker>
    <div class="form-group row">
      <label for="propertyTypeId" class="col-sm-2 col-form-label col-form-label-sm">Property Type</label>
      <div class="col-sm-3">
        <select class="custom-select custom-select-sm" id="propertyTypeId" name="propertyTypeId"
          formControlName="propertyTypeId" (change)="onSelectType($event.target.value) "
          [ngClass]="{'is-invalid':formErrors.propertyTypeId}">
          <option selected *ngFor="let propertyType of propertyTypes " [value]=propertyType.id>{{propertyType.value}}
          </option>
        </select>
        <span class="invalid-feedback">{{formErrors?.propertyTypeId}}</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="propertyTypeId" class="col-sm-2 col-form-label col-form-label-sm">Property Style</label>
      <div class="col-sm-3">
        <select class="custom-select custom-select-sm" id="propertyStyleId" name="propertyStyleId"
          formControlName="propertyStyleId" [ngClass]="{'is-invalid':formErrors.propertyStyleId}">
          <option selected *ngFor="let propertyStyle of selectedStyles " [value]=propertyStyle.id>
            {{propertyStyle.value}}</option>
        </select>
        <span class="invalid-feedback">{{formErrors?.propertyStyleId}}</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="region" class="col-sm-2 col-form-label col-form-label-sm">Region</label>
      <div class="col-sm-3">
        <select class="custom-select custom-select-sm" id="region" name="region" formControlName="regionId"
          (change)="onSelectRegion($event.target.value)" [ngClass]="{'is-invalid':formErrors.regionId}">
          <option selected *ngFor="let region of regions " [value]=region.id>{{region.value}}</option>
        </select>
        <span class="invalid-feedback">{{formErrors?.regionId}}</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="area" class="col-sm-2 col-form-label col-form-label-sm">Area</label>
      <div class="col-sm-3">
        <select class="custom-select custom-select-sm" id="area" name="area" formControlName="areaId"
          (change)="onSelectArea($event.target.value)" [ngClass]="{'is-invalid':formErrors.areaId}">
          <option selected *ngFor="let area of selectedAreas " [value]=area.id>{{area.value}}</option>
        </select>
        <span class="invalid-feedback">{{formErrors?.areaId}}</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="subArea" class="col-sm-2 col-form-label col-form-label-sm">Sub-Area</label>
      <div class="col-sm-3">
        <select class="custom-select custom-select-sm" id="subArea" name="subArea" formControlName="subAreaId"
          [ngClass]="{'is-invalid':formErrors.subAreaId}">
          <option selected *ngFor="let subArea of selectedSubAreas " [value]=subArea.id>{{subArea.value}}</option>
        </select>
        <span class="invalid-feedback">{{formErrors?.subAreaId}}</span>
      </div>
    </div>
    <app-signer label="Last known owner" [createdSigner]="createdSigner" [existingSigner]="lastKnownOwner"
      (selectedSigner)="getSelectedOwner($event)" (newSigner)="createNewSigner($event)">
    </app-signer>
    <div class="form-actions">
      <div class="container px-lg-4">
        <div class="row justify-content-end w-100 no-gutters">
          <div class="col-sm-10 d-flex">
            <button (click)="cancel()" type="button" class="btn btn-light mr-2">Cancel</button>
            <button type="submit" class="btn btn-secondary"
              [tooltip]="!propertyForm.valid ? errorMessage?.displayMessage : ''" placement="top"
              [attr.disabled]="isSubmitting ? '' : null"><i class="fas fa-spinner fa-pulse d-inline-block mr-2"
                *ngIf="isSubmitting"></i>Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
