<div class="w-full p-4 border-0 rounded-sm border-grey-100">
  <div class="flex flex-row">
    <div>
      <div class="flex flex-row">
        <span class="h-6 text-white pill" [ngClass]="pillClass">
          {{ pillLabel }}
        </span>
        <span class="h-6 text-white bg-info pill" *ngIf="entity.isUBO">UBO</span>
      </div>
      <p class="mt-2 text-lg font-medium tracking-normal">{{ entity.name }}</p>
      <p class="mt-0 font-medium tracking-normal text-gray-500 text-md" *ngIf="entity.position">
        {{ entity.position }}
      </p>
      <p class="w-full mt-1 text-gray-500 txt--small" >
        <svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon icon--s icon--onLeft">
          <path
            d="M56 24c0 17.5-20.3 38-21.2 38.8C34 63.6 33 64 32 64c-1 0-2-0.4-2.8-1.2C28.3 62 8 41.5 8 24 8 10.8 18.8 0 32 0S56 10.8 56 24zM32 36c6.6 0 12-5.4 12-12 0-6.6-5.4-12-12-12s-12 5.4-12 12C20 30.6 25.4 36 32 36z"
          />
        </svg>
        <span *ngIf="!entity.address">Address goes here...</span>
        {{ entity.address }}
      </p>
    </div>
    <ng-template #menuTrigger></ng-template>
    <span class="flex-1"></span>
    <button *ngIf="hasMenuBtn && !isFrozen" class="w-10 h-10 rounded-full hover:shadow-md" (click)="menu.toggle($event)">
      <svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon">
        <ellipse class="st0" cx="32" cy="10.5" rx="5.9" ry="6" />
        <ellipse class="st0" cx="32" cy="32" rx="5.9" ry="6" />
        <ellipse class="st0" cx="32" cy="53.5" rx="5.9" ry="6" />
      </svg>
    </button>
    <p-menu [appendTo]="'body'" #menu [popup]="true" [model]="items"></p-menu>
  </div>

  <p class="mt-3 mb-2 font-medium">Documents</p>
  <div class="flex flex-col md:flex-row gap-x-2 gap-y-2 w-100" *ngIf="!entity.companyId">
    <div class="w-100 md:w-1/2">
      <app-document-info
        [label]="entity.documents.idDoc.label"
        [documentType]="entity.documents.idDoc.documentType"
        [name]="entity.name"
        [files]="entity.documents.idDoc.files"
        [isFrozen]="isFrozen"
        [isMultiple]="'false'"
        (onFileUploaded)="onFileUploaded.emit({ entity: entity, ev: $event })"
        (deleteFile)="onFileDeleted.emit({ entity: entity, ev: $event })"
      ></app-document-info>
    </div>
    <div class="w-100 md:w-1/2">
      <app-document-info
        [label]="entity.documents.proofOfAddressDoc.label"
        [isMultiple]="'false'"
        [name]="entity.name"
        [documentType]="entity.documents.proofOfAddressDoc.documentType"
        [files]="entity.documents.proofOfAddressDoc.files"
        [isFrozen]="isFrozen"
        (onFileUploaded)="onFileUploaded.emit({ entity: entity, ev: $event })"
        (deleteFile)="onFileDeleted.emit({ entity: entity, ev: $event })"
      ></app-document-info>
    </div>
  </div>
  <div class="flex flex-col mt-2 md:flex-row gap-x-2 gap-y-2 w-100">
    <div class="w-100 md:w-1/2" *ngIf="!entity.companyId">
      <app-document-info
        [label]="entity.documents.reportDocs.label"
        [isMultiple]="'false'"
        [documentType]="entity.documents.reportDocs.documentType"
        [files]="entity.documents.reportDocs.files"
        [name]="entity.name"
        [isFrozen]="isFrozen"
        (onFileUploaded)="onFileUploaded.emit({ entity: entity, ev: $event })"
        (deleteFile)="onFileDeleted.emit({ entity: entity, ev: $event })"
      ></app-document-info>
    </div>
    <div class="w-100" [ngClass]=" entity.companyId ? 'flex-1':'md:w-1/2' ">
      <app-document-info
        [label]="entity.documents.additionalDocs.label"
        [documentType]="entity.documents.additionalDocs.documentType"
        [files]="entity.documents.additionalDocs.files"
        [name]="entity.name"
        [isFrozen]="isFrozen"
        (onFileUploaded)="onFileUploaded.emit({ entity: entity, ev: $event })"
        (deleteFile)="onFileDeleted.emit({ entity: entity, ev: $event })"
      ></app-document-info>
    </div>
  </div>
  <div class="p-2" *ngIf="entity.personDateAmlCompleted">
    <i class="text-gray-200 fa text-md fa-check"></i>
    <span class="ml-2 text-sm text-gray-200">
      Passed: {{ moment(entity.personDateAmlCompleted).format('Do MMM YYYY') }}
    </span>
  </div>

  <p-dialog
    header="Edit Contact"
    [(visible)]="dialogs.showEditDialog"
    [modal]="true"
    [draggable]="false"
    class="modal--small"
  >
    <form [formGroup]="contactForm">
      <fieldset class="p-2 form-control">
        <label for="name">Name:</label>
        <input id="name" class="px-2" type="text" formControlName="name" [ngModel]="entity.name" />
      </fieldset>
      <fieldset class="p-2 form-control">
        <label for="position">Position:</label>
        <input id="name" class="px-2" type="text" formControlName="position" [ngModel]="entity.position" />
      </fieldset>
      <fieldset class="p-2 form-control">
        <label for="address">Address:</label>
        <input id="name" class="px-2" type="text" formControlName="address" [ngModel]="entity.address" />
      </fieldset>
    </form>
    <div class="flex flex-row -mb-3">
      <span class="flex-1"></span>
      <button (click)="dialogs.showEditDialog = false" type="button" class="btn btn--ghost">Cancel</button>
      <button type="submit" class="ml-2 btn btn--positive" (click)="updateEntity()">Save</button>
    </div>
  </p-dialog>

  <p-dialog header="Remove Contact" [(visible)]="dialogs.showRemoveDialog" [modal]="true" [draggable]="false">
    <div class="p-4">
      <p>
        Remove
        <span class="font-medium">{{ entity.name }}</span>
        from this valuation?
      </p>
    </div>
    <div class="flex flex-row mt-4 -mb-1">
      <span class="flex-1"></span>
      <button (click)="dialogs.showRemoveDialog = false" type="button" class="btn btn--ghost">Cancel</button>
      <button class="ml-2 btn btn--positive" (click)="confirmDelete()">Delete</button>
    </div>
  </p-dialog>
</div>
