<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div class="row page-title">
    <div class="col">
      <h4 class="mb-0">Sales/Lettings</h4>
    </div>
  </div>
  <div class="list-group">
      <div class="list-group-item list-header d-none d-sm-block">
        <div class="row">
          <div class="col-sm"><strong>Vendor</strong></div>
          <div class="col-sm"><strong>Status</strong></div>
          <div class="col-sm"><strong>Date</strong></div>
          <div class="col-sm"><strong>Price/Rent</strong></div>
          <div class="col-sm"><strong>Agency</strong></div>
          <div class="col-sm"><strong>Type</strong></div>
        </div>
      </div>
      <a href="#" class="list-group-item list-group-item-action">
        <div class="row">
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Vendor</dt>
              <dd class="col"><a href="#">John Smith</a></dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Status</dt>
              <dd class="col">U/O</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Date</dt>
              <dd class="col">14/05/18</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Price/Rent</dt>
              <dd class="col">£820,000</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Agency</dt>
              <dd class="col">Sole</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Type</dt>
              <dd class="col">Sales</dd>
            </dl>
          </div>
        </div>
      </a>
    </div>
</div>