<form [formGroup]="addressForm" (keydown.enter)="$event.preventDefault()" autocompleteOff>
  <div class="form-group row" *ngIf="!(propertyDetails || isNewProperty)">
    <div class="col-sm-3 offset-sm-2">
      <label for="country" class="small">Country</label>
      <select class="custom-select custom-select-sm" id="country" formControlName="countryId">
        <option selected *ngFor="let country of countries " [ngValue]=country.id>{{country.value}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3 offset-sm-2">
      <label for="property" class="small">
        Find Address <span class="text-muted">(Postcode)</span>
      </label>
      <div class="input-group input-group-sm">
        <input type="search" id="fullAddress" class="form-control" placeholder=""
          [ngClass]="{'border border-warning': personDetails && !addressLines.value && !enterAddressManually, 'is-invalid':addressError}"
          formControlName="fullAddress" (keyup.enter)="$event.stopPropagation(); searchAddress()">
          <div class="input-group-append">
            <button type="button" class="btn btn-secondary" (click)="searchAddress()">Search</button>
          </div>
          <span class="invalid-feedback w-100">{{addressError}}</span>
        <small class="form-text w-100" *ngIf="personDetails && !addressLines.value && !enterAddressManually"><i
            class="fas fa-smile-wink mr-2 text-warning"></i><span class="text-muted">Complete to increase your
            score</span></small>
      </div>
      <div class="off-canvas" [hidden]="!foundAddress" (click)="hideOffCanvas()">
        <div class="off-canvas-content right slide-in-right" (click)="$event.stopPropagation()" #offCanvasContent>
          <h4 class="page-title text-left pt-3">
            Address lookup
            <button type="button" class="close mr-2" aria-label="Close" (click)="hideOffCanvas()">
              <span aria-hidden="true">&times;</span>
            </button>
          </h4>
          <app-subnav>
            <div class="list-group-item" *ngIf="backToAddressesList" (click)="findAddress(searchTermBK, '')">
              <button type="button" class="btn btn-link p-0"><i class="fas fa-arrow-left mr-2"></i> Back</button>
            </div>
            <ng-container *ngIf="foundAddress?.Items?.length; else noAddress">
              <app-subnav-item *ngFor="let address of foundAddress?.Items"
                (click)="address?.Action ? findAddress(searchTermBK, address?.Id) : retrieveAddress(address?.Id)">
                <div *ngIf="!address?.Error">{{address?.Text}}, {{address?.Description}}</div>
              </app-subnav-item>
              <div class="list-group-item list-group-item-action text-center py-4"
                (click)="enterAddress($event)">
                <a href (click)="$event.preventDefault()"><i class="fas fa-plus mr-2"></i> Enter Manually</a>
              </div>
            </ng-container>
            <ng-template #noAddress>
              <div class="list-group-item text-center text-danger">
                No Address Found.
              </div>
              <div class="list-group-item list-group-item-action text-center py-4" (click)="enterAddress($event)">
                <a href (click)="$event.preventDefault()"><i class="fas fa-plus mr-2"></i> New Address</a>
              </div>
            </ng-template>
          </app-subnav>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="propertyDetails || addressLines.value || enterAddressManually">
    <div class="form-group row">
      <div class="offset-sm-2" [ngClass]="propertyDetails || isNewProperty ? 'col-sm-10' : 'col-sm-8 col-xl-6'">
        <div class="form-group" *ngIf="!(propertyDetails || isNewProperty)">
          <label class="small" for="postcode">Address Lines</label>
          <textarea type="textarea" class="form-control form-control-sm" formControlName="addressLines" id="addressLines"
            (keydown.enter)="$event.stopPropagation()" rows="5" cols="10" maxlength="500"
            [ngClass]="{'border border-warning': personDetails && !addressLines.value && enterAddressManually}"></textarea>
          <small class="form-text" *ngIf="personDetails && !addressLines.value && enterAddressManually"><i
              class="fas fa-smile-wink mr-2 text-warning"></i><span class="text-muted">Complete to increase your
              score</span></small>
        </div>
        <ng-container *ngIf="propertyDetails || isNewProperty">
          <div class="row">
            <div class="form-group col-6 col-sm-2">
              <label class="small" for="postcode">Flat Number</label>
              <input type="text" class="form-control form-control-sm" formControlName="flatNumber" id="flatNumber" />
            </div>
            <div class="form-group col-6 col-sm-2">
              <label class="small" for="postcode">House Number</label>
              <input type="text" class="form-control form-control-sm" formControlName="houseNumber" id="houseNumber" />
            </div>
            <div class="form-group col-sm-8">
              <label class="small" for="postcode">Building Name</label>
              <input type="text" class="form-control form-control-sm" formControlName="houseBuildingName" id="houseBuildingName" />
            </div>
            <div class="form-group col-sm-8 col-xl-6">
              <label class="small" for="postcode">Street</label>
              <input type="text" class="form-control form-control-sm" formControlName="streetName" id="streetName" />
            </div>
            <div class="form-group col-sm-8 col-xl-6">
              <label class="small" for="postcode">Address Line 2</label>
              <input type="text" class="form-control form-control-sm" formControlName="addressLine2" id="addressLine2" />
            </div>
            <div class="form-group col-sm-12">
              <label class="small" for="postcode">Town</label>
              <input type="text" class="form-control form-control-sm" formControlName="town" id="town" />
            </div>
          </div>
        </ng-container>
        <div class="form-group" *ngIf="showPostCode || propertyDetails">
          <label class="small" for="postcode">Postcode</label>
          <div class="input-group">
            <input type="text" class="form-control form-control-sm" id="postcode" formControlName="postCode"
              [ngClass]="{'border border-warning': personDetails && !postCode.value}">
            <!-- <span class="invalid-feedback">{{formErrors.postCode}}</span> -->
            <small class="form-text w-100" *ngIf="personDetails && !postCode.value"><i
                class="fas fa-smile-wink mr-2 text-warning"></i><span class="text-muted">Complete to increase your
                score</span></small>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  </form>
