<svg aria-hidden="true" width="7.8" height="15.6" viewBox="0 0 7.8 15.6" class="icon icon--timeline">
  <polygon class="fill" points="7.8 0 0 7.8 7.8 15.6 " />
  <polygon class="outline" points="7.8 14.1 1.4 7.8 7.8 1.4 7.8 0 0 7.8 7.8 15.6 " />
</svg>
<div class="card">
  <div class="card__header">
    Add Note
  </div>
  <div class="card__body">
    <form [formGroup]="noteForm">
      <fieldset [ngClass]="{'invalid': showErrorMessage}">
        <textarea #note class="form-control" name="note" id="note" cols="30" rows="5"
          placeholder="Please give as much detail as possible."
          formControlName="text" [attr.disabled]="isDisabled ? true : null"></textarea>
        <p class="message message--negative">Note is required</p>
      </fieldset>

      <fieldset>
        <span class="checkbox checkbox--inline">
          <span>
            <input type="checkbox" id="important" formControlName="isImportant">
            <label for="important">Set as important</label>
          </span>
          <span>
            <input type="checkbox" id="topPinned" formControlName="isPinned">
            <label for="topPinned">Pin to top</label>
          </span>
        </span>
      </fieldset>
    </form>
  </div>
</div>