<ng-container >
  <div class="title">
    <h2>Home helpers</h2>
    <span class="checkbox checkbox--rtl" *ngIf="closedCounter">
      <span>
        <input type="checkbox" [(ngModel)]="isClosedIncluded" (change)="getHomeHelpers()" id="includeClosedHomeHelpers">
        <label for="includeClosedHomeHelpers">Hide closed home helpers</label>
      </span>
    </span>
  </div>

  <div class="table" *ngIf="homeHelpers$ | async as homeHelpers">
    <app-redacted-table *ngIf="!homeHelpers || !homeHelpers?.length" message="No home helpers"></app-redacted-table>

    <table class="table--mobile table--rowHover">
      <thead *ngIf="homeHelpers && homeHelpers?.length">
        <tr>
          <th>Address</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Status</th>
          <th>Prop. Man.</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of homeHelpers">
          <td data-title="Address">
            <span class="cell-content">
              {{item?.propertyAddress}}
            </span>
          </td>
          <td data-title="Start date">
            <span class="cell-content">
              {{(item?.managedStartDate | date: 'dd/MM/yyyy') || "-"}}
            </span>
          </td>
          <td data-title="End date">
            <span class="cell-content">
              {{(item?.managedEndDate | date: 'dd/MM/yyyy') || "-"}}
            </span>
          </td>
          <td data-title="Status">
            <span class="cell-content">
              <span class="badge badge-pill" [ngClass]="item?.isActive ? 'badge-success' : 'badge-primary'" [innerHTML]="item?.status | bracketsNewLine"></span>
            </span>
          </td>
          <td data-title="Prop. Man.">
            <span class="cell-content">
              {{item?.propertyManager}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<!-- <div class="list-group list-group-flush">
  <ng-container *ngIf="homeHelpers$ | async as homeHelpers">
    <div class="list-group-item text-center text-danger" *ngIf="!homeHelpers || !homeHelpers?.length">
      <i class="far fa-sad-tear"></i> No home helpers
    </div>
    <div class="list-group-item" *ngIf="closedCounter">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" [(ngModel)]="isClosedIncluded" (change)="getHomeHelpers()" class="custom-control-input" id="includeClosedHomeHelpers">
        <label class="custom-control-label small" for="includeClosedHomeHelpers">Include closed home helpers</label>
      </div>
    </div>
    <div class="list-group-item list-header d-none d-sm-block d-xl-none" *ngIf="homeHelpers && homeHelpers?.length">
      <div class="row">
        <div class="col-sm-3"><strong>Address</strong></div>
        <div class="col-sm"><strong>Start date</strong></div>
        <div class="col-sm"><strong>End date</strong></div>
        <div class="col-sm"><strong>Status</strong></div>
        <div class="col-sm"><strong>Prop. Man.</strong></div>
      </div>
    </div>
    <div class="list-group-item list-group-item-action" *ngFor="let item of homeHelpers">
      <div class="row">
        <div class="col-sm-3 col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Address</dt>
            <dd class="col">{{item?.propertyAddress}}</dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Start date</dt>
            <dd class="col monospace">{{(item?.managedStartDate | date: 'dd/MM/yyyy') || "-"}}</dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">End date</dt>
            <dd class="col monospace">{{(item?.managedEndDate | date: 'dd/MM/yyyy') || "-"}}</dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Status</dt>
            <dd class="col">
                <span class="badge badge-pill" [ngClass]="item?.isActive ? 'badge-success' : 'badge-primary'" [innerHTML]="item?.status | bracketsNewLine"></span>
            </dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Manager</dt>
            <dd class="col">{{item?.propertyManager}}</dd>
          </dl>
        </div>
      </div>
    </div>
  </ng-container>
</div> -->
