<form [formGroup]="leadTypeFinderForm">
  <fieldset [ngClass]="{'invalid': isRequired}">
    <label for="leadTypeId">Type</label>
    <ng-container *ngIf="isMultiSelect;else dropDown">
      <p-multiSelect [options]="leadTypes" [maxSelectedLabels]="1" formControlName="leadTypeIds" optionLabel="value" optionValue="id"
         placeholder="Select Type(s)" (onChange)="onLeadIdsSelected($event)"></p-multiSelect>
    </ng-container>

    <ng-template #dropDown>
      <p-dropdown [options]="leadTypes" formControlName="leadTypeId" optionLabel="value" optionValue="id"
        [showClear]="!readOnly" placeholder="Select Type" [filter]="true" filterBy="value" [readonly]="readOnly"
        (onChange)="onLeadTypeIdChange($event)" [ngClass]="{'no-style': readOnly}" data-cy="leadType">
      </p-dropdown>
    </ng-template>
    <p class="message message--negative">Lead type is required</p>
  </fieldset>
</form>
