<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div class="row page-title">
    <div class="col">
      <h4 class="m-0">Contact centre</h4>
    </div>
    <div class="col-auto">
      <a class="btn btn-primary" [routerLink]="['detail/0/people', 0]"  [queryParams]="{isNewContactGroup: true}" ><i class="fas fa-plus mr-2"></i> Contact Group</a>
    </div>
  </div>
  <form class="mb-3" [formGroup]="contactFinderForm" (ngSubmit)="contactGroupsResults()">
    <div class="row">
      <div class="col">
        <div class="input-group">
          <input type="search" class="form-control" formControlName="searchTerm" placeholder="Name, email, phone or postcode"
          aria-label="Search criteria" (keyup)="onKeyup($event)">
          <div class="input-group-append">
            <button class="btn btn-secondary">Search</button>
          </div>
        </div>
        <!-- <button class="btn btn-link px-0" type="button" id="button-advanced" (click)="advSearchCollapsed = !advSearchCollapsed"
        [attr.aria-expanded]="!advSearchCollapsed" aria-controls="advSearch">Advanced search</button> -->
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="advSearch" [collapse]="!advSearchCollapsed">
          <div class="row">
            <div class="col-md-auto pr-0">
              Must be one of:
            </div>
            <div class="col">
              <div class="form-group form-check">
                <div class="row">
                  <div class="custom-control custom-checkbox col-6 col-md-auto">
                    <input type="checkbox" class="custom-control-input" id="advLandlord">
                    <label class="custom-control-label" for="advLandlord">Landlord</label>
                  </div>
                  <div class="custom-control custom-checkbox col-6 col-md-auto">
                    <input type="checkbox" class="custom-control-input" id="advTenant">
                    <label class="custom-control-label" for="advTenant">Tenant</label>
                  </div>
                  <div class="custom-control custom-checkbox col-6 col-md-auto">
                    <input type="checkbox" class="custom-control-input" id="advVendor">
                    <label class="custom-control-label" for="advVendor">Vendor</label>
                  </div>
                  <div class="custom-control custom-checkbox col-6 col-md-auto">
                    <input type="checkbox" class="custom-control-input" id="advBuyer">
                    <label class="custom-control-label" for="advBuyer">Buyer</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="text-center" *ngIf="isLoading && !isHintVisible">
    <i class="fas fa-spinner fa-pulse d-inline-block"></i> Loading results ...
  </div>
  <ng-container *ngIf="isMessageVisible && !isLoading && !isHintVisible">
      <div class="text-center text-danger">
        <i class="far fa-sad-tear"></i> No results for '<strong>{{contactFinderForm.value.searchTerm || ' '}}</strong>'
      </div>  
      <div class="mt-3 text-left" *ngIf="differentSearchSuggestions?.length > 1">
        <div class="mb-2" *ngFor="let sug of differentSearchSuggestions">
          <a routerLink="./" [queryParams]="{searchTerm: sug}">
            Search for <b>"{{sug}}"</b>
          </a>
        </div>
      </div>
    </ng-container>
  <div class="text-center" *ngIf="isHintVisible">
      <i class="far fa-smile-wink"></i> Type at least <strong>3 characters</strong> to get results
  </div>
  <app-contactgroups-list [originalContactGroups]='contactGroups' [pageNumber]="page" [searchTerm]='contactFinderForm.value.searchTerm' *ngIf="!isLoading && !isHintVisible">
  </app-contactgroups-list>
</div>
