<div class="row">
  <div class="row__item row__item--aside">
    <div class="card">
      <div class="card__header"><svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon icon--onLeft"><path d="M45.6 36.9c1.9-3.6 3.2-7.8 3.2-12.4C48.8 11.1 37.8 0 24.4 0S0 11.1 0 24.5 11 49 24.4 49c4.5 0 8.8-1 12.3-3.3L54.9 64l9.1-8.5L45.6 36.9zM24.5 40.8c-9.1 0-16.2-7.2-16.2-16.3S15.4 8.2 24.5 8.2s16.2 7.2 16.2 16.3C40.7 33.6 33.6 40.8 24.5 40.8z"/></svg>Search contacts</div>
      <div class="card__body">
        <form [formGroup]="contactFinderForm" (ngSubmit)="contactGroupsResults(true)">
          <fieldset>
            <label for="">Name, email, phone or postcode</label>
            <input type="search" formControlName="searchTerm" placeholder="Name, email, phone or postcode" aria-label="Search criteria" (keyup)="onKeyup($event)" [ngbTypeahead]="suggestions" [focusFirst]="false" (selectItem)="selectedSuggestion($event)">
          </fieldset>

          <fieldset>
            <button class="btn btn--info">Search</button>
          </fieldset>
          
          <div id="advSearch" [collapse]="!advSearchCollapsed">
            <div class="row">
              <div class="col-md-auto pr-0">
                Must be one of:
              </div>
              <div class="col">
                <div class="form-group form-check">
                  <div class="row">
                    <div class="custom-control custom-checkbox col-6 col-md-auto">
                      <input type="checkbox" class="custom-control-input" id="advLandlord">
                      <label class="custom-control-label small" for="advLandlord">Landlord</label>
                    </div>
                    <div class="custom-control custom-checkbox col-6 col-md-auto">
                      <input type="checkbox" class="custom-control-input" id="advTenant">
                      <label class="custom-control-label small" for="advTenant">Tenant</label>
                    </div>
                    <div class="custom-control custom-checkbox col-6 col-md-auto">
                      <input type="checkbox" class="custom-control-input" id="advVendor">
                      <label class="custom-control-label small" for="advVendor">Vendor</label>
                    </div>
                    <div class="custom-control custom-checkbox col-6 col-md-auto">
                      <input type="checkbox" class="custom-control-input" id="advBuyer">
                      <label class="custom-control-label small" for="advBuyer">Buyer</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
    
        <div class="text-center" *ngIf="isHintVisible">
          <i class="far fa-smile-wink"></i> Type at least <strong>3 characters</strong> to get results
        </div>
      </div>
    </div>
  </div>


  <div class="row__item">
    <div class="title">
      <h2>Contact centre</h2>
      <a class="btn btn--positive" [routerLink]="['detail/0/people', 0]"  [queryParams]="{isNewContactGroup: true}" ><svg _ngcontent-sbe-c166="" aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon icon--s icon--onLeft"><path _ngcontent-sbe-c166="" d="M60 35.9H4c-2.2 0-4-1.8-4-4v0c0-2.2 1.8-4 4-4h56c2.2 0 4 1.8 4 4v0C64 34.1 62.2 35.9 60 35.9z"></path><path _ngcontent-sbe-c166="" d="M28 59.9v-56c0-2.2 1.8-4 4-4h0c2.2 0 4 1.8 4 4v56c0 2.2-1.8 4-4 4h0C29.8 63.9 28 62.2 28 59.9z" class="plus-vertical"></path></svg>Contact Group</a>
    </div>
    
    <!-- <app-breadcrumb></app-breadcrumb> -->
    <app-contactgroups-list [originalContactGroups]='contactGroups' [pageNumber]="page" [searchTerm]='contactFinderForm.value.searchTerm' [bottomReached]="bottomReached" *ngIf="!isHintVisible"></app-contactgroups-list>
  
    <ng-container *ngIf="isMessageVisible && !isHintVisible && page === 1">
      <div class="text-center text-danger">
        <i class="far fa-sad-tear"></i> No results for '<strong>{{contactFinderForm.value.searchTerm || ' '}}</strong>'
      </div>
      <div class="mt-3 text-left" *ngIf="differentSearchSuggestions?.length > 1">
        <div class="mb-2" *ngFor="let sug of differentSearchSuggestions">
          <a routerLink="./" [queryParams]="{searchTerm: sug}">
            Search for <b>"{{sug}}"</b>
          </a>
        </div>
      </div>
    </ng-container>
  </div>


<!-- <div class="container main">
  <div class="row page-title">
    <div class="col">
      <h4 class="m-0">Contact centre</h4>
    </div>
    <div class="col-auto">
      <a class="btn btn-light" [routerLink]="['detail/0/people', 0]"  [queryParams]="{isNewContactGroup: true}" ><i class="fas fa-plus mr-2"></i> Contact Group</a>
    </div>
  </div>
  <form class="mb-3 search-form" [formGroup]="contactFinderForm" (ngSubmit)="contactGroupsResults(true)">
    <div class="row">
      <div class="col">
        <div class="input-group">
          <input type="search" class="form-control" formControlName="searchTerm" placeholder="Name, email, phone or postcode"
          aria-label="Search criteria" (keyup)="onKeyup($event)" [ngbTypeahead]="suggestions" [focusFirst]="false" (selectItem)="selectedSuggestion($event)">
          <div class="input-group-append">
            <button class="btn btn-secondary">Search</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="advSearch" [collapse]="!advSearchCollapsed">
          <div class="row">
            <div class="col-md-auto pr-0">
              Must be one of:
            </div>
            <div class="col">
              <div class="form-group form-check">
                <div class="row">
                  <div class="custom-control custom-checkbox col-6 col-md-auto">
                    <input type="checkbox" class="custom-control-input" id="advLandlord">
                    <label class="custom-control-label small" for="advLandlord">Landlord</label>
                  </div>
                  <div class="custom-control custom-checkbox col-6 col-md-auto">
                    <input type="checkbox" class="custom-control-input" id="advTenant">
                    <label class="custom-control-label small" for="advTenant">Tenant</label>
                  </div>
                  <div class="custom-control custom-checkbox col-6 col-md-auto">
                    <input type="checkbox" class="custom-control-input" id="advVendor">
                    <label class="custom-control-label small" for="advVendor">Vendor</label>
                  </div>
                  <div class="custom-control custom-checkbox col-6 col-md-auto">
                    <input type="checkbox" class="custom-control-input" id="advBuyer">
                    <label class="custom-control-label small" for="advBuyer">Buyer</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  
  <div class="text-center" *ngIf="isHintVisible">
      <i class="far fa-smile-wink"></i> Type at least <strong>3 characters</strong> to get results
  </div>
  <app-contactgroups-list [originalContactGroups]='contactGroups' [pageNumber]="page" [searchTerm]='contactFinderForm.value.searchTerm' [bottomReached]="bottomReached" *ngIf="!isHintVisible">
  </app-contactgroups-list>
  <ng-container *ngIf="isMessageVisible && !isHintVisible && page === 1">
      <div class="text-center text-danger">
        <i class="far fa-sad-tear"></i> No results for '<strong>{{contactFinderForm.value.searchTerm || ' '}}</strong>'
      </div>  
      <div class="mt-3 text-left" *ngIf="differentSearchSuggestions?.length > 1">
        <div class="mb-2" *ngFor="let sug of differentSearchSuggestions">
          <a routerLink="./" [queryParams]="{searchTerm: sug}">
            Search for <b>"{{sug}}"</b>
          </a>
        </div>
      </div>
    </ng-container>
</div> -->
