<div class="text-center" *ngIf="instructions && !instructions.length; else results">
  <i class="fas fa-spinner fa-pulse d-inline-block"></i> Loading results ...
</div>
<div class="text-center" *ngIf="!originalInstructions">
    <i class="far fa-sad-tear"></i> No Instructions {{selectedPeriodLabel}}
</div>
<ng-template #results>
  <div *ngIf="originalInstructions"
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  [immediateCheck]="true"
  (scrolled)="onScrollDown()"
  (scrolledUp)="onScrollUp()">
    <table class="table">
      <tbody>
        <tr *ngFor="let instruction of instructions; let i = index;">
          <th scope="row" class="font-weight-normal">{{i + 1}}<span class="d-sm-none">. {{instruction?.fullName}}</span>
          </th>
          <td class="d-none d-sm-table-cell">{{instruction?.fullName}}</td>
          <td class="font-weight-bold">{{instruction.totalCount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
<!-- <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScrollDown()"
      (scrolledUp)="onScrollUp()"
></div> -->
