<div class="border-0 border-grey-100 w-full">
  <div class="ml-1 p-0 w-full" *ngIf="message">
    <app-messages [message]="message"></app-messages>
  </div>

  <div class="w-full flex flex-col lg:flex-row lg:flex-wrap px-0">
    <div
      *ngFor="let person of people; let i = index; let even = even"
      class="w-full lg:w-1/2"
      [ngClass]="[even ? 'lg:border-r' : '', (i == 0 || i == 1) && people.length > 2 ? 'lg:border-b' : '']"
    >
      <app-compliance-card
        [person]="person"
        [hasMenuBtn]="companyOrContact == 'company'"
        [isFrozen]="isFrozen"
        (fileUploaded)="fileWasUploaded.emit($event)"
        (fileDeleted)="fileWasDeleted.emit($event)"
        (toggleIsUBO)="toggleIsUBO.emit($event)"
        (removeContact)="removeContact.emit($event)"
        (saveContact)="saveContact.emit($event)"
      ></app-compliance-card>
    </div>
  </div>

  <div
    class="px-2 md:px-4 w-full flex flex-col md:flex-row gap-x-4 justify-center my-10"
    *ngIf="companyOrContact == 'company'"
  >
    <app-big-button [label]="'Add Associated Company'" (onClick)="openDialog('showCompanyDialog')"></app-big-button>
    <app-big-button [label]="'Add Contact'" (onClick)="openDialog('showContactDialog')"></app-big-button>
  </div>

  <div class="border-t border-gray-300 flex flex-row pt-4 items-center mt-8">
    <a href="https://www.smartsearchsecure.com" target="_blank" class="text-blue-500" *ngIf="checkType === 'AML'">
      <i class="fa fa-link"></i>
      <span class="underline ml-2">SmartSearch website</span>
    </a>
    <span class="flex-1"></span>
    <button class="btn btn--secondary mr-4" *ngIf="isFrozen" (click)="dialogs.showRefreshDocumentstDialog = true">
      Refresh Documents
    </button>
    <button
      class="btn btn--positive"
      [disabled]="!checksAreValid || isFrozen"
      (click)="passComplianceChecks.emit($event)"
    >
      {{ checkType === 'AML' ? 'Pass AML' : 'Pass KYC' }}
    </button>
  </div>
</div>

<!-- Contact Finder Modal -->
<p-dialog
  header="Find Person"
  [(visible)]="dialogs.showContactDialog"
  [modal]="true"
  [draggable]="false"
  class="modal--medium modal--hasFooter"
>
  <!-- <app-person-duplicate-checker 
    [contactGroupDetails]="contactGroupDetails" 
    [searchTerm]="searchTerm"
    (addedPersonDetails)="getAddedPersonDetails($event)" 
    (selectedPerson)="getSelectedPerson($event)"
    (creatingNewPerson)="createNewPerson()">
  </app-person-duplicate-checker> -->
</p-dialog>

<!-- Company Finder Modal -->
<p-dialog
  header="Find Company"
  [(visible)]="dialogs.showCompanyDialog"
  [modal]="true"
  [draggable]="false"
  class="modal--medium modal--hasFooter"
>
  <app-company-finder
    [canCreateNewCompany]="true"
    (companyName)="getCompanyName($event)"
    (selectedCompanyDetails)="selectCompany($event)"
    (isManualEntry)="setManualEntryFlag()"
  ></app-company-finder>
</p-dialog>

<p-dialog
  header="Refresh Documents"
  [(visible)]="dialogs.showRefreshDocumentstDialog"
  [modal]="true"
  [draggable]="false"
  [appendTo]="'body'"
>
  <div class="p-4">
    <h1>Refresh documents for this valuation?</h1>
    <p>Documents associated with this valuation will be deleted.</p>
  </div>
  <div class="flex flex-row mt-4 -mb-1">
    <span class="flex-1"></span>
    <button (click)="dialogs.showRefreshDocumentstDialog = false" type="button" class="btn btn--ghost">Cancel</button>
    <button
      class="ml-2 btn btn--positive"
      (click)="refreshDocuments.emit($event); dialogs.showRefreshDocumentstDialog = false"
    >
      Confirm
    </button>
  </div>
</p-dialog>
