<form [formGroup]="officeFinderForm">
  <fieldset class="mb-3" [ngClass]="{'invalid': isRequired}">
    <label for="office">Office</label>
    <ng-container *ngIf="isMultiSelect;else dropDown">
      <p-multiSelect #multiSelect [options]="offices" [maxSelectedLabels]="1" formControlName="officeIds"
        optionLabel="name" optionValue="officeId" placeholder="Select Office(s)"
        (onChange)="onOfficeIdsSelected($event)"></p-multiSelect>
    </ng-container>

    <ng-template #dropDown>
      <p-dropdown [options]="offices" formControlName="officeId" optionLabel="name" optionValue="officeId"
        [showClear]="!readOnly" placeholder="Select Office" [filter]="true" filterBy="name" [readonly]="readOnly"
        (onChange)="onOfficeChange($event)" [ngClass]="{'no-style': readOnly}" data-cy="office">
      </p-dropdown>
    </ng-template>
    <p class="message message--negative">Office is required</p>
  </fieldset>
</form>