<ng-container>
    <form class="pb-0" [formGroup]="signerFinderForm" autocompleteOff>
      <div class="row">
        <ng-container *ngIf="!label; else givenLabel "><label for="searchTerm" class="col-sm-2 col-form-label col-form-label-sm">Signers</label></ng-container>
        <ng-template #givenLabel><label for="searchTerm" class="col-sm-2 col-form-label col-form-label-sm">{{label}}</label></ng-template>
        <div class="col-sm-10">
          <div class="form-group">
            <div (click)="initSearch()">
              <input #searchTermInput type="search" id="searchTerm" class="form-control form-control-sm fake-readonly" formControlName="searchTerm"
                (keydown.enter)="$event.preventDefault();" [attr.readonly]="selectedSignerDetails ? '' : null">
            </div>
          </div>
          <ng-container *ngIf="signers && !selectedSignerDetails && signerFinderForm.value.searchTerm">
            <h5>Quick Finder</h5>
            <div class="list-group small mb-3">
              <ng-container *ngIf="!isLoading">
                <ng-container *ngFor="let signer of signers">
                  <div class="list-group-item list-group-item-action" (click)="selectSigner(signer.contactGroupId)">
                    <div class="row align-items-center">
                      <div class="col">
                        <span [innerHTML]="signer.contactNames | highlight : signerFinderForm.value.searchTerm"></span>
                        <ng-container *ngIf="signer?.companyName">
                          <span class="badge badge-pill badge-info ml-2">{{signer?.companyName}}</span>
                        </ng-container>
                      </div>
                      <div class="col-auto">
                        <button class="btn btn-block btn-sm btn-link">Select</button>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <div class="list-group-item text-center" *ngIf="!signers?.length && !isLoading">
                No signers found
              </div>
              <div class="list-group-item text-center" *ngIf="isLoading">
                <i class="fas fa-spinner fa-pulse d-inline-block"></i> Loading results ...
              </div>
              <a [routerLink]="['/contact-centre/detail/0/people', 0]" [queryParams]="{isNewContactGroup: true, isSigner: true}" class="list-group-item list-group-item-action text-center py-4">
                <span class="btn-link">
                  <i class="fas fa-plus mr-2"></i> New Contact Group
                </span>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
    </form>
</ng-container>
