<ng-container>
    <form class="pb-3" [formGroup]="signerFinderForm">
      <div class="row">
        <label for="searchTerm" class="col-sm-2 col-form-label col-form-label-sm">Signers</label>
        <div class="col-sm-10">
          <div class="form-group">
            <input type="text" id="searchTerm" class="form-control form-control-sm" formControlName="searchTerm" (keydown.enter)="$event.preventDefault();">
          </div>
          <ng-container *ngIf="signers">
            <h5>Quick Finder</h5>
            <div class="list-group small mb-3">
              <ng-container *ngFor="let signer of signers">
                <ng-container *ngIf="!signer?.contactNames; else contactGroup">
                  <div class="list-group-item list-group-item-action">
                    <div class="row align-items-center">
                      <div class="col">
                        No contact people
                      </div>
                      <!-- <div class="col-auto">
                        <button class="btn btn-block btn-sm btn-link">Select</button>
                      </div> -->
                    </div>
                  </div>
                </ng-container>
                <ng-template #contactGroup>
                  <div class="list-group-item list-group-item-action" (click)="selectSigner(signer.contactGroupId)">
                    <div class="row align-items-center">
                      <div class="col">
                        {{signer.contactNames}}
                        <ng-container *ngIf="signer?.companyName">
                          <span class="badge badge-pill badge-info ml-2">{{signer?.companyName}}</span>
                        </ng-container>
                      </div>
                      <div class="col-auto">
                        <button class="btn btn-block btn-sm btn-link">Select</button>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
      <!-- <div class="row justify-content-end">
        <label class="col-sm-2 col-form-label col-form-label-sm">Type</label>
        <div class="col-sm-10">
          <div class="row">
            <div class="form-group col-sm-auto">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="solicitor">
                <label class="custom-control-label" for="solicitor">Solicitor</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="invClerk">
                <label class="custom-control-label" for="invClerk">Inventory Clerk</label>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </form>
</ng-container>
