<div class="border-0 border-grey-100 w-full">

  <div class="ml-1 p-0 w-100 md:w-1/2" (click)="complianceService.setToInvalid()">
    <app-messages
      [message]="message">
    </app-messages>
  </div>
  
  <div class="w-full flex flex-col lg:flex-row lg:flex-wrap px-0">
    <div *ngFor="let contact of contacts; let i = index; let even = even;" 
      class="w-full lg:w-1/2 border-gray-300" 
      [ngClass]="[even ? 'lg:border-r':'', i == 0 || i == 1 ? 'lg:border-b':'']">
      <app-contact-compliance-card
        [contact]="contact"
        [hasMenuBtn]="companyOrContact == 'company'">
      </app-contact-compliance-card>
    </div>
  </div>

  <div class="px-2 md:px-4 w-full flex flex-col md:flex-row gap-x-4 justify-center my-10" 
    *ngIf="companyOrContact == 'company'">
    <app-big-button 
      [label]="'Add Associated Company'" 
      (onClick)="openDialog('showCompanyDialog')">
    </app-big-button>
    <app-big-button 
      [label]="'Add Contact'" 
      (onClick)="openDialog('showContactDialog')">
    </app-big-button>
  </div>

  <div class="border-t border-gray-300 flex flex-row py-2 px-2 items-center mt-8">
    <a href="" class="text-blue-500">
      <i class="fa fa-link"></i>
      <span class="underline">
        SmartSearch website
      </span>
    </a>
    <span class="flex-1"></span>
    <button class="btn btn--positive" [disabled]="complianceService.complianceIsInvalid$ | async" (click)="passAML.emit($event)">{{checkType == 'AML' ? 'Pass AML' : 'Pass KYC'}}</button>
  </div>
</div>

<!-- Contact Finder Modal -->
<p-dialog header="Find Person" 
  [(visible)]="dialogs.showContactDialog" 
  [modal]="true" 
  [draggable]="false"
  class="modal--medium modal--hasFooter">
  <!-- <app-person-duplicate-checker 
    [contactGroupDetails]="contactGroupDetails" 
    [searchTerm]="searchTerm"
    (addedPersonDetails)="getAddedPersonDetails($event)" 
    (selectedPerson)="getSelectedPerson($event)"
    (creatingNewPerson)="createNewPerson()">
  </app-person-duplicate-checker> -->
</p-dialog>

<!-- Company Finder Modal -->
<p-dialog header="Find Company" 
  [(visible)]="dialogs.showCompanyDialog" 
  [modal]="true" 
  [draggable]="false"
  class="modal--medium modal--hasFooter">
  <!-- <app-company-finder 
    [existingCompany]="companyDetails" 
    [canCreateNewCompany]="true" 
    (companyName)="getCompanyName($event)"
    (selectedCompanyDetails)="selectCompany($event)" 
    (isManualEntry)="setManualEntryFlag()">
  </app-company-finder> -->
</p-dialog>

