<div class="row justify-content-center">
  <div class="col col-5 text-center bg-primary p-4 m-1">
    <p>Valuations</p>
    <h6>7</h6>
    <p>This month</p>
  </div>
  <div class="col col-5 text-center bg-primary p-4 m-1">
    <p>Instructions</p>
    <h6>4</h6>
    <p>This month</p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col col-5 text-center bg-primary p-3 m-1">
    <p>Business Development</p>
    <h6>200</h6>
    <p>Tickets</p>
  </div>
  <div class="col col-5 text-center bg-primary p-4 m-1">
    <p>All Instructions</p>
    <h6>25</h6>
    <p></p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col col-5 text-center bg-primary p-4 m-1">
    <p>Exchanges</p>
    <h6>£103 k</h6>
    <p>This month</p>
  </div>
  <div class="col col-5 text-center bg-primary p-4 m-1">
    <p>Pipeline</p>
    <h6>£140 k</h6>
    <p></p>
  </div>
</div>
