<div *ngIf="myDashboard">
  <div class="row justify-content-center">
    <div class="col col-5 text-center bg-primary p-4 m-1">
      <h6>Valuations</h6>
      <h5>{{ myDashboard.valuations?.periodCount || 0 }}</h5>
      <p>{{ period }}</p>
    </div>
    <div class="col col-5 text-center bg-primary p-4 m-1">
      <h6>Instructions</h6>
      <h5>{{ myDashboard.instructions.periodCount }}</h5>
      <p>{{ period }}</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col col-5 text-center bg-primary p-3 m-1">
      <h6>Business Development</h6>
      <h5>{{ myDashboard.businessDevelopment.totalCount }}</h5>
      <p>Tickets</p>
    </div>
    <div class="col col-5 text-center bg-primary p-4 m-1">
      <h6>All Instructions</h6>
      <h5>{{ myDashboard.instructions.totalCount }}</h5>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col col-5 text-center bg-primary p-4 m-1">
      <h6>Exchanges</h6>
      <h5>
        {{
          myDashboard.exchanges.periodFees
            | rounding
            | currency: "GBP"
            | truncating
        }}
      </h5>
      <p>{{ period }}</p>
    </div>
    <div class="col col-5 text-center bg-primary p-4 m-1">
      <h6>Pipeline</h6>
      <h5>
        {{
          myDashboard.pipeline.totalFees
            | rounding
            | currency: "GBP"
            | truncating
        }}
      </h5>
      <p></p>
    </div>
  </div>
</div>
