<div class="w-full border-0 border-grey-100">
  <div class="w-full p-0 ml-1" *ngIf="message">
    <app-messages [message]="message"></app-messages>
  </div>

  <div class="flex flex-col w-full px-0 lg:flex-row lg:flex-wrap">
    <ng-template #loading>Loading...</ng-template>
    <div *ngFor="let entity of entities; let i = index; let even = even" class="w-full lg:w-1/2"
      [ngClass]="[even ? 'lg:border-r' : '', (i == 0 || i == 1) && entities.length > 2 ? 'lg:border-b' : '']">
      <app-compliance-card [entity]="entity" [isFrozen]="isFrozen" [hasMenuBtn]="companyOrContact === 'company'"
        (onFileUploaded)="onFileWasUploaded.emit($event)" (onFileDeleted)="onFileWasDeleted.emit($event)"
        (onToggleIsUBO)="onToggleIsUBO.emit($event)" (onRemoveEntity)="onRemoveEntity.emit($event)"
        (onUpdateEntity)="onUpdateEntity.emit($event)" (afterFileOperation)="afterFileOperation.emit(true)">
      </app-compliance-card>
    </div>
  </div>

  <div class="flex flex-col justify-center w-full px-2 my-10 md:px-4 md:flex-row gap-x-4"
    *ngIf="companyOrContact === 'company' && !isFrozen">
    <app-big-button [label]="'Add Associated Company'" (onClick)="openDialog('showCompanyDialog')"></app-big-button>
    <app-big-button [label]="'Add Contact'" (onClick)="openDialog('showContactDialog')"></app-big-button>
  </div>

  <div class="flex flex-row items-center pt-4 mt-8 border-t border-gray-300">
    <a href="https://www.smartsearchsecure.com" target="_blank" class="text-blue-500" *ngIf="checkType === 'AML'">
      <i class="fa fa-link"></i>
      <span class="ml-2 underline">SmartSearch website</span>
    </a>
    <span class="flex-1"></span>
    <button class="mr-4 btn btn--ghost" *ngIf="isFrozen" [disabled]="isInstructed" (click)="dialogs.showRefreshDocumentstDialog = true">
      Refresh Documents
    </button>
    <button class="btn btn--positive" [disabled]="!checksAreValid || isFrozen"
      (click)="onPassComplianceChecks.emit($event)">
      {{ checkType === 'AML' ? 'Pass AML' : 'Pass KYC' }}
    </button>
  </div>
</div>

<!-- Contact Finder Modal -->
<p-dialog header="Find Person" [(visible)]="dialogs.showContactDialog" [modal]="true" [draggable]="false"
  class="modal--medium modal--hasFooter">
  <app-contact-search [contactGroupDetails]="contactGroupDetails" [searchTerm]="searchTerm"
    [potentialDuplicatePeople]="potentialDuplicatePeople" [isCreateNewPersonVisible]="true"
    [existingIds]="existingContactIds$ | async" (addedPersonDetails)="getAddedPersonDetails($event)"
    (selectedPerson)="addSelectedContact($event)" (findPotentialDuplicatePerson)="onQueryDuplicates.emit($event)"
    (onCreateNewPerson)="onCreateNewPerson.emit($event)"></app-contact-search>
</p-dialog>

<!-- Company Finder Modal -->
<p-dialog header="Find Company" [(visible)]="dialogs.showCompanyDialog" [modal]="true" [draggable]="false"
  class="modal--medium modal--hasFooter">
  <app-company-finder [canCreateNewCompany]="true" [existingIds]="existingCompanyIds$ | async"
    (companyName)="getCompanyName($event)" (selectedCompanyDetails)="addSelectedCompany($event)"
    (onManualEntry)="onCreateNewCompany.emit($event)"></app-company-finder>
</p-dialog>

<p-dialog header="Refresh Documents" appendTo="body" [(visible)]="dialogs.showRefreshDocumentstDialog" [modal]="true"
  [draggable]="false">
  <div class="p-4">
    <p class="text-lg">Refresh documents for this valuation?</p>
    <p>Documents associated with this valuation will be deleted.</p>
  </div>
  <div class="flex flex-row mt-4 -mb-1">
    <span class="flex-1"></span>
    <button (click)="dialogs.showRefreshDocumentstDialog = false" type="button" class="btn btn--ghost">Cancel</button>
    <button class="ml-2 btn btn--positive"
      (click)="onRefreshDocuments.emit(); dialogs.showRefreshDocumentstDialog = false">
      Confirm
    </button>
  </div>
</p-dialog>