<h2>23 Prince of Wales Crescent, London, SW6 4BD</h2>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab" aria-controls="main" aria-selected="true">Main</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">History</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="features-tab" data-toggle="tab" href="#features" role="tab" aria-controls="features" aria-selected="false">Features</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="media-tab" data-toggle="tab" href="#media" role="tab" aria-controls="media" aria-selected="false">Media</a>
  </li>
  <li class="nav-item">
    <div class="dropdown">
      <a class="nav-link dropdown-toggle" role="tab" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="home">Edit</a>
        <a class="dropdown-item" routerLink="home">Match applicants</a>
        <a class="dropdown-item" routerLink="home">Create a viewng</a>
        <a class="dropdown-item" routerLink="home">Make an offer</a>
        <a class="dropdown-item" routerLink="home">Email vendor</a>
        <a class="dropdown-item" routerLink="home">Add notes</a>
        <a class="dropdown-item" routerLink="home">Add files</a>
        <a class="dropdown-item" routerLink="home">Start new sales process</a>
      </div>
    </div>

  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
    <div class="no-gutters">
      <div class="row">
        <div class="col-sm">
          <div class="no-gutters">
            <div class="row">
              <div class="col">
                <h6>Main</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Status:</p>
              </div>
              <div class="col">
                <p>INST Sole</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Price:</p>
              </div>
              <div class="col">
                <p>£820,000</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Instructed:</p>
              </div>
              <div class="col">
                <p>14/11/2018</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Lister:</p>
              </div>
              <div class="col">
                <p>Ed McCulloch</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Vendor:</p>
              </div>
              <div class="col">
                <p>
                  <span class="routerLink btn-link" routerLink="/contact-centre">John Smith</span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Admin contact:</p>
              </div>
              <div class="col">
                <p>
                  <span class="routerLink btn-link" routerLink="/contact-centre">Ali Ahmed</span> (POA, cc landlord)</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Booked by:</p>
              </div>
              <div class="col">
                <p>Alex Turnbull on 25/11/2018</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Origin:</p>
              </div>
              <div class="col">
                <p>0% Offer</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Commission:</p>
              </div>
              <div class="col">
                <p>2%</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="no-gutters">
            <div class="row">
              <div class="col">
                <h6>Viewing Info</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Arrangements:</p>
              </div>
              <div class="col">
                <p>By appointment only</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Keys:</p>
              </div>
              <div class="col">
                <p>CS-57B-L-5983</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Alarm:</p>
              </div>
              <div class="col">
                <p>Yes Code: 8550</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Contact:</p>
              </div>
              <div class="col">
                <p>
                  <a href="/contact-centre">John Smith</a>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Commments:</p>
              </div>
              <div class="col">
                <p>Book via John Dillon, very tricky tenants</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Occupied:</p>
              </div>
              <div class="col">
                <p>Yes</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="no-gutters">
            <div class="row">
              <div class="col">
                <h6>Tenure</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Tenure:</p>
              </div>
              <div class="col">
                <p>Leasehold</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Lease expiry:</p>
              </div>
              <div class="col">
                <p>24/06/2056</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Extension cost:</p>
              </div>
              <div class="col">
                <p>420,000</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Ground rent:</p>
              </div>
              <div class="col">
                <p>£75.00</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Service charge:</p>
              </div>
              <div class="col">
                <p>£500</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Sinking fund:</p>
              </div>
              <div class="col">
                <p>£500</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8-lg">
          <app-property-marketing></app-property-marketing>
        </div>
        <div class="col-sm">
          <app-property-notes></app-property-notes>
        </div>
      </div>
    </div>
    <app-mini-map-and-photos></app-mini-map-and-photos>
  </div>
  <div class="tab-pane fade" id="features" role="tabpanel" aria-labelledby="features-tab">
    <app-property-features></app-property-features>
  </div>
  <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
    <app-property-history></app-property-history>
  </div>
  <div class="tab-pane fade" id="media" role="tabpanel" aria-labelledby="media-tab">
    <app-property-media></app-property-media>
  </div>
</div>