<div class="no-gutters">
  <div class="row">
    <div class="col">
      <h6>Notes</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-4 alert-info">
      <p>Ed McCulloch
        <br>14/11/2018</p>
    </div>
    <div class="col alert-info">
      <p>2 parking spaces 70 &amp;78. Annual cost £2,938.28</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <p>Michelle Merritt
        <br>14/11/2018</p>
    </div>
    <div class="col">
      <p>Hi Gareth, Hope you are well. In terms of sales – we had a viewing on Saturday, the buyer thought the property was
        in a great location, however it was his first day viewing and wanted to see other properties to compare to. So we
        will keep in touch with him and try and get him back in to view. We are also speaking with 3 buyers currently who
        we are trying to line up viewings for (finding out the dates when they will be in London to view). In terms of the
        market and number of buyers around prior to Xmas, it is advisable to still be marketing and viewing throughout, it
        is misconception that it goes quiet in Dec (some agents may, but we have the mindset at D&amp;G to not take our foot
        of the pedal) – D&amp;G as a company in December last year put a large number of properties under offer (even some on
        Xmas Eve) and had our best month for the year in terms of under offer and exchanges. There are buyers out there and
        they want to buy all the way up to Xmas and secure a deal befor</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <p>Michelle Merritt
        <br>14/11/2018</p>
    </div>
    <div class="col">
      <p>BDD Reminder set to 01/12/2018</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <p>Michelle Merritt
        <br>14/11/2018</p>
    </div>
    <div class="col">
      <p>Keys were detagged and given to the KCS office to tag</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <p>Michelle Merritt
        <br>14/10/2018</p>
    </div>
    <div class="col">
      <p>BDD Reminder set to 01/11/2018</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <p>Michelle Merritt
        <br>14/09/2018</p>
    </div>
    <div class="col">
      <p>SW talked to him about property - £1m if no timeframe but £900K if wanting to sell by Xmas. He is keen to get moving
        and will go Multi with M&amp;P. Sent over T&amp;C's and prop questionaire to fill out. Keys at M&amp;P. need to get
        our own.</p>
    </div>
  </div>
</div>
