@import "../../../style/bootstrap-overrides";

@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

form {
    padding-bottom: spacer(5);

    .form-actions {
        @include fixed-bottom('xl');
    }

}

.type-col {
    @include media-breakpoint-up('sm'){
        border-left: 1px solid $border-color;
    }
}

.new-person {
    background: rgba(theme-color('info'), .2);
}

.results-chip {
    position: sticky;
    bottom: - spacer(3);
    background: rgba(color("white"), .7);
    z-index: 50;
    padding: spacer(2) 0 spacer(3);

    @include media-breakpoint-up(sm){
        display: none;
    }
}