<app-breadcrumb></app-breadcrumb>
<div class="container">
  <h4 class="page-title">Contact group</h4>
  <div class="alert alert-info" *ngIf="contactGroupDetails?.contactPeople && (contactGroupDetails?.contactPeople.length !== initialContactGroupLength)">
    There are pending changes on the people list. Save to make them effective.
  </div>
  <div class="alert alert-warning" *ngIf="isSwitchTypeMsgVisible">
    <ng-container *ngIf="contactGroupDetailsForm.controls.contactType.value === 1; else switchToMulti">
      You can't have less than <b>2</b> people in an <b>Multi/Sharer</b> contact group. We have switched to
      <b>Individual/Joint</b>.
    </ng-container>
    <ng-template #switchToMulti>
      You can't have more than <b>2</b> people in an <b>Individual/Joint</b> contact group. We have switched to
      <b>Multi/Sharer</b>.
    </ng-template>
  </div>
  <div class="alert alert-warning" *ngIf="contactGroupDetails?.referenceCount">
    Transaction history present. You can't add or remove people from this Contact Group.<br>If you want to add or remove a person, <a href="#">create a new Contact Group</a>
  </div>
  <div class="alert alert-danger" *ngIf="contactGroupDetails?.contactPeople && !contactGroupDetails?.contactPeople.length">
    You must add at least <b>1</b> person in the contact group.
  </div>
  <form action="">
    <h5>People</h5>
    <div class="list-group mb-3">
      <div class="list-group-item" *ngIf="!contactGroupDetails?.contactPeople || !firstContactGroupPerson">
        <div class="text-center">
          <i class="fas fa-spinner fa-pulse d-inline-block"></i> Loading contacts ...
        </div>
      </div>
      <div class="list-group-item"
        *ngFor="let person of contactGroupDetails?.contactPeople ; index as i" [ngClass]="{'new-person': person.isNewPerson}">
        <div class="row">
          <div class="col-auto">
            <app-score-badge [person]="person"></app-score-badge>
            <span class="badge badge-pill badge-info mb-2" *ngIf="contactGroupDetails?.contactType !== 4">Main Person</span>
          </div>
          <div class="col text-right" *ngIf="!person.isNewPerson; else removeSelectedPerson">
            <div dropdown placement="bottom right">
              <a class="dropdown-toggle" href [id]="'button' + i" dropdownToggle
                (click)="$event.stopPropagation(); false" [attr.aria-controls]="'dropdown' + i">Actions <span
                  class="caret"></span></a>
              <ul [id]="'dropdown' + i" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                [attr.aria-labelledby]="'button' + i">
                <li role="menuitem"><a class="dropdown-item" (click)="$event.stopPropagation();"
                    [routerLink]="['../../edit']" [queryParams]="{groupPersonId: person.personId }"><i
                      class="fas fa-edit"></i> Edit</a></li>
                <li role="menuitem"><a class="dropdown-item" (click)="$event.stopPropagation();"
                  [routerLink]="person.isNewPerson ? null : ['../../../../detail', person?.personId ]">
                  <i class="fas fa-address-card"></i> View</a></li>
                <li role="menuitem">
                  <a class="dropdown-item" href="#"><i class="fas fa-user-shield"></i> Set Main Person</a>
                </li>
                <li role="menuitem"><a class="dropdown-item" href (click)="removePerson(person.personId, true)" *ngIf="!contactGroupDetails?.referenceCount"><i
                      class="fas fa-user-times"></i> Remove</a></li>
              </ul>
            </div>
          </div>
          <ng-template #removeSelectedPerson>
            <div class="col text-right">
              <a href (click)="removePerson(person.personId, false)"><i class="fas fa-user-times"></i> Remove</a>
            </div>
          </ng-template>
          <div class="col-12 mb-2">
            <strong>{{person?.firstName}} {{person?.lastName}}</strong>&nbsp;
            <ng-container *ngIf="contactGroupDetails?.contactType === 4">&nbsp;
              <span class="badge badge-pill badge-info">{{contactGroupDetails?.companyName}}</span>
            </ng-container>
            <!-- <i class="fas fa-phone"></i>&nbsp;

            <i class="fas fa-envelope"></i>&nbsp;

            <span class="badge badge-success">AML Valid</span> -->
          </div>
          <div class="col-sm-4 mb-2"><pre>{{person?.address | formatAddress}}</pre><span class="text-danger"
              *ngIf="!(person.address | formatAddress)">No address</span></div>
          <div class="col-sm-3 col-xl-4">
            <div class="row">
              <div class="col-6 telephone">
                <p class="mb-2 text-danger" *ngIf="!person.phoneNumbers.length || !person.phoneNumbers[0].number">No phone</p>
                <ng-container *ngFor="let phoneNumber of person?.phoneNumbers">
                  <p class="mb-2" *ngIf="phoneNumber?.number"><a (click)="$event.stopPropagation()"
                    href="tel:{{phoneNumber.number}}">{{phoneNumber?.number}}</a><br />{{phoneNumber?.telephoneId}}</p>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-xl-4">
            <p class="mb-2 text-danger" *ngIf="!person.emailAddresses.length || !person.emailAddresses[0].email">No email</p>
            <ng-container *ngFor="let emailAddress of person?.emailAddresses">
              <p class="mb-2" *ngIf="emailAddress?.email"><a (click)="$event.stopPropagation()"
                  href="mailto:{{emailAddress.email}}">{{emailAddress?.email}}</a></p>
            </ng-container>
          </div>
          <div class="col-12">
            <hr class="my-1">
          </div>
          <div class="col-12">
            <a href class="btn btn-link px-0" (click)="showHideMarkPrefs($event, i)"
              [attr.aria-expanded]="!isCollapsed[i]" [attr.aria-controls]="'collapseMark' + i">Marketing Prefs <span
                class="badge badge-pill badge-primary">{{person.marketingPreferences?.count || 0}}</span>
            </a>
            <div [id]="'collapseMark' + i" [collapse]="!isCollapsed[i]">
              <ul>
                <li *ngIf="person.marketingPreferences?.marketBulletin">Quarterly bulletin</li>
                <li *ngIf="person.marketingPreferences?.general">Special offers</li>
                <li *ngIf="person.marketingPreferences?.events">Landlord/investor events</li>
                <li *ngIf="person.marketingPreferences?.newHomes">New homes/investments</li>
                <li *ngIf="person.marketingPreferences?.general">Other occasional marketing</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group-item text-center" *ngIf="isLoadingNewPersonVisible">
        <i class="fas fa-spinner fa-pulse d-inline-block"></i> Loading person details ...
      </div>
      <!-- <ng-container *ngTemplateOutlet="selectedPersonDetails" ></ng-container> -->
      <a href (click)="showHideOffCanvas($event)" class="list-group-item list-group-item-action text-center py-4"
        *ngIf="contactGroupDetails?.contactPeople.length < 8 && !contactGroupDetails?.referenceCount">
        <span class="btn-link">
          <i class="fas fa-user-plus"></i> Add Person
        </span>
      </a>
      <div class="list-group-item list-group-item-warning text-center" *ngIf="!(contactGroupDetails?.contactPeople.length < 8)">
        You can add max 8 People per contact group.
      </div>
    </div>
    <h5>Details</h5>
    <form [formGroup]="contactGroupDetailsForm" class="pb-3">
      <div class="form-group row">
        <label for="salutation" class="col-sm-2 col-form-label col-form-label-sm">Salutation</label>
        <div class="col-sm-10">
          <input type="text" id="salutation" class="form-control form-control-sm" formControlName="salutation">
        </div>
      </div>
      <div class="form-group row">
        <label for="addressee" class="col-sm-2 col-form-label col-form-label-sm">Addressee</label>
        <div class="col-sm-10">
          <input type="text" id="addressee" class="form-control form-control-sm" formControlName="addressee">
        </div>
      </div>
      <div class="form-group row">
        <label for="comments" class="col-sm-2 col-form-label col-form-label-sm">Comments</label>
        <div class="col-sm-10">
          <textarea id="comments" class="form-control form-control-sm" formControlName="comments" rows="6"></textarea>
        </div>
      </div>
      <div class="row mt-3 justify-content-end">
        <div class="col-sm-10">
          <div class="row">
            <div class="form-group col-sm-auto">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="relAgent">
                <label class="custom-control-label" for="relAgent">Is Relocation Agent</label>
              </div>
            </div>
            <div class="form-group col type-col" *ngIf="contactGroupDetails?.contactType !== 4">
              <ng-container
                *ngFor="let type of contactGroupTypes | keyvalue:keepOriginalOrder; let i = index; last as isLast">
                <div class="custom-control custom-radio custom-control-inline" *ngIf="!isLast"
                  [tooltip]="type.key === 1 ? 'Remove people to select this option' : 'Add 2 or more people to select this option'"
                  [containerClass]="isTypeDisabled(type.key) ? '' : 'd-none'" placement="auto">
                  <input type="radio" [id]="'individual' + i" name="contactType" class="custom-control-input"
                    [value]="type.key" formControlName="contactType"
                    [attr.disabled]="isTypeDisabled(type.key) || contactGroupDetails?.referenceCount ? '' : null">
                  <label class="custom-control-label" [attr.for]="'individual' + i">{{type.value}}</label>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="form-actions">
      <div class="container px-lg-4">
        <div class="row justify-content-end w-100 no-gutters">
          <div class="col-sm-10 d-flex">
            <button type="button" class="btn btn-light mr-2" (click)="cancel()">Cancel</button>
            <button type="submit" class="btn btn-secondary" (click)="saveContactGroup()" [attr.disabled]="!contactGroupDetails?.contactPeople.length || (isSubmitting && !errorMessage) ? '' : null">
              <i class="fas fa-spinner fa-pulse d-inline-block mr-2" *ngIf="isSubmitting && !errorMessage"></i>Save
            </button>
            <!-- <ng-template #warningTemplate>You can't have more than <b>2</b> people in <b>Individual/Joint</b> contact group.<br>We switched to <b>Multi/Sharer</b></ng-template>
            <button  type="submit" class="btn btn-secondary" (click)="saveContactGroup()"
              [popover]="warningTemplate"
              [isOpen]="contactGroupDetails?.contactPeople.length > 2 && contactGroupDetailsForm.controls.contactType.value === 1"
              [containerClass]="'alert alert-warning'" [outsideClick]="true" triggers="">
              Save
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="off-canvas" [hidden]="!isOffCanvasVisible" (click)="showHideOffCanvas($event)">
  <div class="off-canvas-content right slide-in-right" (click)="$event.stopPropagation()">
    <h4 class="page-title text-left pt-3" [ngClass]="{'m-0': isCreateNewPerson}">
      <ng-container *ngIf="!isCreateNewPerson; else createLabel">Find</ng-container>
      <ng-template #createLabel>New </ng-template> Person
      <button type="button" class="close mr-2" aria-label="Close" (click)="showHideOffCanvas($event)">
        <span aria-hidden="true">&times;</span>
      </button>
    </h4>
    <ng-container *ngIf="!selectedPersonId && !isCreateNewPerson; else createNewPerson">
      <form [formGroup]="personFinderForm" class="pb-3">
        <div class="form-group row">
          <label for="firstName" class="col-sm-2 col-form-label col-form-label-sm">First Name</label>
          <div class="col-sm-10">
            <input type="text" id="firstName" class="form-control form-control-sm" autofocus
              formControlName="firstName">
          </div>
        </div>
        <div class="form-group row">
          <label for="lastName" class="col-sm-2 col-form-label col-form-label-sm">Last Name</label>
          <div class="col-sm-10">
            <input type="text" id="lastName" class="form-control form-control-sm" formControlName="lastName">
          </div>
        </div>
        <div class="form-group row">
          <label for="phone" class="col-sm-2 col-form-label col-form-label-sm">Phone</label>
          <div class="col-sm-10">
            <input type="text" id="phone" class="form-control form-control-sm" formControlName="phoneNumber">
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
          <div class="col-sm-10">
            <input type="text" id="email" class="form-control form-control-sm" formControlName="emailAddress">
          </div>
        </div>
      </form>
      <div class="form-group row justify-content-end">
        <div class="col-sm-10">
          <div class="row">
            <div class="col">
              <h5>Quick Finder</h5>
            </div>
          </div>
          <div class="list-group small">
            <div class="list-group-item list-header d-none d-sm-block">
              <div class="row">
                <div class="col-sm"><strong>Full Name</strong></div>
                <div class="col-sm"><strong>Telephone</strong></div>
                <div class="col-sm-4"><strong>Email</strong></div>
                <div class="col-sm col-lg-2"></div>
              </div>
            </div>
            <div class="list-group-item list-group-item-action" *ngFor="let foundPerson of foundPeople" [ngClass]="{'disabled': checkDuplicateInContactGroup(foundPerson.personId)}">
              <div class="row align-items-end align-items-sm-center"
              (click)="selectPerson(foundPerson.personId)">
                <div class="col-sm">
                  <dl class="row">
                    <dt class="col-4 d-sm-none">Full Name</dt>
                    <dd class="col">{{foundPerson.addressee}}</dd>
                  </dl>
                </div>
                <div class="col-sm">
                  <dl class="row">
                    <dt class="col-4 d-sm-none">Telephone</dt>
                    <dd class="col">
                      <ng-container *ngFor="let phoneNumber of foundPerson?.phoneNumbers">
                        <div>{{phoneNumber}}</div>
                      </ng-container>
                    </dd>
                  </dl>
                </div>
                <div class="col-sm-4">
                  <dl class="row">
                    <dt class="col-4 d-sm-none">Email</dt>
                    <dd class="col text-truncate">
                      <ng-container *ngFor="let email of foundPerson?.emailAddresses">
                        <div class="text-truncate">{{email}}</div>
                      </ng-container>
                    </dd>
                  </dl>
                </div>
                <div class="col-sm col-lg-2 text-center">
                  <ng-container *ngIf="checkDuplicateInContactGroup(foundPerson.personId); else selectBtn">
                    <i class="fas fa-exclamation-triangle mr-1"></i> Already in this C.G.
                  </ng-container>
                  <ng-template #selectBtn>
                    <button class="btn btn-block btn-sm btn-link">Select</button>
                  </ng-template>
                </div>
              </div>
            </div>
            <div class="list-group-item text-center" *ngIf="foundPeople && !foundPeople.length">
              No Person found. <ng-container *ngIf="isCreateNewPersonVisible; else fillDetails">Create a new one with the details provided above</ng-container>
              <ng-template #fillDetails>Fill the details above to continue</ng-template>.
            </div>
            <a href class="list-group-item list-group-item-action text-center py-4" *ngIf="isCreateNewPersonVisible"
              (click)="createNewContactGroupPerson($event)">
              <span class="btn-link">
                <i class="fas fa-user-plus"></i> Create New Person
              </span>
            </a>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #createNewPerson>
      <app-contactgroups-detail-edit (editedPersonId)="showEditedPersonDetails($event)"
        (hideCanvas)="hideCanvas($event)" (backToFinder)="backToFinder($event)" *ngIf="isCreateNewPerson"
        [basicPerson]="newPerson">
      </app-contactgroups-detail-edit>
    </ng-template>
  </div>
</div>
<ng-template #selectedPersonDetails>
  <div class="list-group-item new-person" *ngIf="selectedPerson">
      <div class="row">
        <div class="col-12 mb-2">
          <strong>{{selectedPerson.firstName}} {{selectedPerson.lastName}}</strong>&nbsp;
          <ng-container *ngIf="contactGroupDetails.contactType === 4">&nbsp;
            <span class="badge badge-pill badge-info">{{contactGroupDetails?.companyName}}</span>
          </ng-container>
        </div>
        <div class="col-sm-4 mb-2">{{selectedPerson.address | formatAddress}}<span class="text-danger"
              *ngIf="!(selectedPerson.address | formatAddress)">No address</span>
        </div>
        <div class="col-sm-3 col-xl-4">
          <div class="row">
            <div class="col-6 telephone">
              <p class="mb-2 text-danger" *ngIf="!selectedPerson.phoneNumbers.length">No phone</p>
              <p class="mb-2" *ngFor="let phoneNumber of selectedPerson?.phoneNumbers"><a
                  (click)="$event.stopPropagation()"
                  href="tel:{{phoneNumber.number}}" *ngIf="phoneNumber?.number; else noPhone">{{phoneNumber?.number}}</a><ng-template #noPhone><span class="text-danger">No Phone</span></ng-template><br /></p>
            </div>
          </div>
        </div>
        <div class="col-sm-5 col-xl-4">
          <p class="mb-2 text-danger" *ngIf="!selectedPerson.emailAddresses.length">No email</p>
          <p class="mb-2" *ngFor="let emailAddress of selectedPerson?.emailAddresses"><a (click)="$event.stopPropagation()"
              href="mailto:{{emailAddress.email}}" *ngIf="emailAddress?.email; else noEmail">{{emailAddress?.email}}</a><ng-template #noEmail><span class="text-danger">No Email</span></ng-template></p>
        </div>
        <div class="col-12">
          <hr class="my-1">
        </div>
        <div class="col-12">
          <a href class="btn btn-link px-0" (click)="showHideMarkPrefs($event)" [attr.aria-expanded]="!isSelectedCollapsed"
            aria-controls="collapseSelectedMark">Marketing Prefs <span
              class="badge badge-pill badge-primary">{{selectedPerson.marketingPreferences?.count || 0}}</span>
          </a>
          <div id="collapseSelectedMark" [collapse]="!isSelectedCollapsed">
            <ul>
              <li *ngIf="selectedPerson.marketingPreferences?.marketBulletin">Quarterly bulletin</li>
              <li *ngIf="selectedPerson.marketingPreferences?.general">Special offers</li>
              <li *ngIf="selectedPerson.marketingPreferences?.events">Landlord/investor events</li>
              <li *ngIf="selectedPerson.marketingPreferences?.newHomes">New homes/investments</li>
              <li *ngIf="selectedPerson.marketingPreferences?.general">Other occasional marketing</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #firstPersonDetails>
  <div class="list-group-item new-person" *ngIf="firstContactGroupPerson">
      <div class="row">
        <div class="col-12 mb-2">
          <strong>{{selectedPerson.firstName}} {{selectedPerson.lastName}}</strong>&nbsp;
          <ng-container *ngIf="contactGroupDetails.contactType === 4">&nbsp;
            <span class="badge badge-pill badge-info">{{contactGroupDetails?.companyName}}</span>
          </ng-container>
        </div>
        <div class="col-sm-4 mb-2">{{selectedPerson.address | formatAddress}}<span class="text-danger"
              *ngIf="!(selectedPerson.address | formatAddress)">No address</span>
        </div>
        <div class="col-sm-3 col-xl-4">
          <div class="row">
            <div class="col-6 telephone">
              <p class="mb-2 text-danger" *ngIf="!selectedPerson.phoneNumbers.length">No phone</p>
              <p class="mb-2" *ngFor="let phoneNumber of selectedPerson?.phoneNumbers"><a
                  (click)="$event.stopPropagation()"
                  href="tel:{{phoneNumber.number}}" *ngIf="phoneNumber?.number; else noPhone">{{phoneNumber?.number}}</a><ng-template #noPhone><span class="text-danger">No Phone</span></ng-template><br /></p>
            </div>
          </div>
        </div>
        <div class="col-sm-5 col-xl-4">
          <p class="mb-2 text-danger" *ngIf="!selectedPerson.emailAddresses.length">No email</p>
          <p class="mb-2" *ngFor="let emailAddress of selectedPerson?.emailAddresses"><a (click)="$event.stopPropagation()"
              href="mailto:{{emailAddress.email}}" *ngIf="emailAddress?.email; else noEmail">{{emailAddress?.email}}</a><ng-template #noEmail><span class="text-danger">No Email</span></ng-template></p>
        </div>
        <div class="col-12">
          <hr class="my-1">
        </div>
        <div class="col-12">
          <a href class="btn btn-link px-0" (click)="showHideMarkPrefs($event)" [attr.aria-expanded]="!isSelectedCollapsed"
            aria-controls="collapseSelectedMark">Marketing Prefs <span
              class="badge badge-pill badge-primary">{{selectedPerson.marketingPreferences?.count || 0}}</span>
          </a>
          <div id="collapseSelectedMark" [collapse]="!isSelectedCollapsed">
            <ul>
              <li *ngIf="selectedPerson.marketingPreferences?.marketBulletin">Quarterly bulletin</li>
              <li *ngIf="selectedPerson.marketingPreferences?.general">Special offers</li>
              <li *ngIf="selectedPerson.marketingPreferences?.events">Landlord/investor events</li>
              <li *ngIf="selectedPerson.marketingPreferences?.newHomes">New homes/investments</li>
              <li *ngIf="selectedPerson.marketingPreferences?.general">Other occasional marketing</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</ng-template>
