<div class="container-fluid">
    <div class="row border-bottom">
      <div class="col alert alert-danger">
        <p>Date: 14/11/18
          <br>Owner: Alex Turnbull</p>
      </div>
      <div class="col alert alert-danger">
        <p>Do not contact, GDPR request pending</p>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col alert alert-secondary">
        <p>Date: 14/11/18
          <br>Owner: Alex Turnbull</p>
      </div>
      <div class="col alert alert-secondary">
        <p>Don't call before 5pm</p>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col">
        <p>Date: 14/11/18
          <br>Owner: Alex Turnbull</p>
      </div>
      <div class="col">
        <p>LVM</p>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col">
        <p>Date: 21/05/18
          <br>Owner: Alex Turnbull</p>
      </div>
      <div class="col">
        <p>Spoke to Mr Smith, May be later in the year</p>
      </div>
    </div>
    <div class="row  border-bottom">
      <div class="col">
        <p>Date: 14/10/18
          <br>Owner: Alex Turnbull</p>
      </div>
      <div class="col">
        <p>Wants val, considering letting</p>
      </div>
      <hr>
    </div>
    <div class="row border-bottom">
      <div class="col">
        <p>Date: 14/11/18
          <br>Owner: Henny Irwin</p>
      </div>
      <div class="col">
        <p>LVM</p>
      </div>
    </div>
  </div>
  