<h2>Applicant register</h2>
<div class="no-gutters">
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Name, email, phone or postcode" aria-label="Search criteria" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-search" data-toggle="collapse" data-target="#searchResults">
            <i class="fas fa-search"></i>
          </button>
          <button class="btn btn-outline-secondary" type="button" id="button-advanced" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="false" aria-controls="collapseOne">...</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#button-advanced">
        <div class="form-group">
          <label for="type">Office</label>
          <select class="form-control form-control-sm" id="type">
            <option></option>
            <option>Streatham</option>
            <option>Balham</option>
            <option>Battersea</option>
            <option>Battersea Park</option>
            <option>Chelsea</option>
            <option>Clapham</option>
            <option>East Putney</option>
            <option>Fulham</option>
            <option>Gloucester Road</option>
            <option>Hammersmith &amp; Shepherds Bush</option>
            <option>Kensington</option>
            <option>Notting Hill</option>
            <option>Queens Park</option>
            <option>Southfields</option>
            <option>South Kensington</option>
            <option>Westminster &amp; Pimlico</option>
            <option>West Putney</option>
          </select>
        </div>
        <div class="form-group">
          <label for="chaser">Staff</label>
          <select class="form-control form-control-sm" id="chaser">
            <option></option>
            <option>Chiara Tassia</option>
            <option>Jasper Jevons</option>
            <option>Joe Lydon</option>
            <option>Sian-Louise Tangney</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="row collapse hoverDiv" data-parent="#button-search" id="searchResults">
    <div class="col">
      <div class="no-gutters">
        <div class="row">
          <div class="col">
            <h6>Letting applicants</h6>
            <div class="no-gutters hoverDiv">
              <div class="row">
                <div class="col-3 col-md-2 col-lg-1">
                  <p>Applicant</p>
                </div>
                <div class="col-2 col-md-1">
                  <p>Budget</p>
                </div>
                <div class="col-1">
                  <p>Beds</p>
                </div>
                <div class="col-5 col-md-3">
                  <p>Area</p>
                </div>
                <div class="col d-none d-sm-block">
                  <p>Type</p>
                </div>
                <div class="col d-none d-sm-block">
                  <p>H/F</p>
                </div>
                <div class="col d-none d-sm-block">
                  <p>F/UF/PF</p>
                </div>
                <div class="col d-none d-sm-block">
                  <p>Contacted</p>
                </div>
                <div class="col d-none d-lg-block">
                  <p>Chase</p>
                </div>
                <div class="col d-none d-lg-block">
                  <p>Notes</p>
                </div>
                <div class="col d-none d-lg-block">
                  <p>Status</p>
                </div>
              </div>
              <div class="row border-bottom" routerLink="/applicant-view-letting">
                <div class="col-3 col-md-2 col-lg-1 pr-0">
                  <p>John Smith</p>
                </div>
                <div class="col-2 col-md-1">
                  <p>£500</p>
                </div>
                <div class="col-1">
                  <p>1</p>
                </div>
                <div class="col-5 col-md-3">
                  <p>Chelsea, Kensington</p>
                </div>
                <div class="col d-none d-sm-block">
                  <p>Long</p>
                </div>
                <div class="col d-none d-sm-block">
                  <p>H</p>
                </div>
                <div class="col d-none d-sm-block">
                  <p>F/PF</p>
                </div>
                <div class="col d-none d-sm-block">
                  <p>21/11/2019</p>
                </div>
                <div class="col d-none d-lg-block">
                  <p></p>
                </div>
                <div class="col d-none d-lg-block">
                  <p>!</p>
                </div>
                <div class="col d-none d-lg-block">
                  <p>Active</p>
                </div>


              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
              <h6>Sales applicants</h6>
              <div class="no-gutters">
              <div class="row">
                  <div class="col-3 col-md-2 col-lg-1">
                      <p>Applicant</p>
                    </div>
                    <div class="col-2 col-md-1">
                      <p>Budget</p>
                    </div>
                    <div class="col-1">
                      <p>Beds</p>
                    </div>
                    <div class="col-5 col-md-3">
                      <p>Area</p>
                    </div>
                    <div class="col d-none d-sm-block">
                      <p>Type</p>
                    </div>
                    <div class="col d-none d-sm-block">
                      <p>H/F</p>
                    </div>
                    <div class="col d-none d-sm-block">
                      <p>Contacted</p>
                    </div>
                    <div class="col d-none d-lg-block">
                      <p>Chase</p>
                    </div>
                    <div class="col d-none d-lg-block">
                      <p>Notes</p>
                    </div>
                    <div class="col d-none d-lg-block">
                      <p>Status</p>
                    </div>
                  </div>
              <div class="row border-bottom" routerLink="/applicant-view-letting">
                <div class="col-3 col-md-2 col-lg-1 pr-0">
                    <p>John Smith</p>
                  </div>
                  <div class="col-2 col-md-1">
                    <p>£820,000</p>
                  </div>
                  <div class="col-1">
                    <p>1</p>
                  </div>
                  <div class="col-5 col-md-3">
                    <p>Chelsea, Kensington</p>
                  </div>
                  <div class="col d-none d-sm-block">
                    <p>Long</p>
                  </div>
                  <div class="col d-none d-sm-block">
                    <p>H</p>
                  </div>
                  <div class="col d-none d-sm-block">
                    <p>21/11/2019</p>
                  </div>
                  <div class="col d-none d-lg-block">
                    <p></p>
                  </div>
                  <div class="col d-none d-lg-block">
                    <p>!</p>
                  </div>
                  <div class="col d-none d-lg-block">
                    <p>Active</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>