<div class="row ">
  <div>
    <form [formGroup]="searchForm">
      <div>
        <select class="custom-select" id="month" aria-label="Month" formControlName="searchTerm">
          <option value="current" selected>Month</option>
          <option *ngFor="let month of thisYearsMonths" [value]="month?.value">{{month?.key}}
          </option>
        </select>
      </div>
    </form>
  </div>
  <div class="flexRight">
    <button class="btn btn--info" (click)="openModal(template)">Adjust</button>
  </div>
</div>
<ng-container *ngIf="member?.points?.length; else noPoints">
  <div class="table">
    <table class="table--mobile table--rowHover">
      <thead>
        <tr>
          <!-- <th scope="col">Date</th> -->
          <th scope="col">Type</th>
          <th scope="col">Reason</th>
          <th scope="col">Points</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let point of member.points">
          <!-- <td>{{point?.dateTime|date:'dd/MM/yyyy'}}</td> -->
          <td>{{point?.type || 'Adjustment'}}</td>
          <td>{{point?.reason}}</td>
          <td><strong [ngClass]="{'txt--negative': point?.points < 0}">{{point?.points}}</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
<ng-template #noPoints>
 <fieldset class="fieldset fieldset--width-max"> <app-redacted-table message="No points"></app-redacted-table></fieldset>
</ng-template>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Adjustment</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide(); clearRecordForm()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="recordForm" autocomplete="off" (ngSubmit)="addRecord()">
      <div class="form-group">
        <label for="reason">Reason</label>
        <input type="text" id="reason" class="form-control" formControlName="reason"
          [ngClass]="{'is-invalid': formErrors?.reason}">
        <div class="invalid-feedback">{{formErrors?.reason}}</div>
      </div>
      <div class="form-group">
        <label for="points">Points</label>
        <input type="text" id="points" class="form-control" formControlName="points"
          [ngClass]="{'is-invalid': formErrors?.points}">
        <div class="invalid-feedback">{{formErrors?.points}}</div>
      </div>
      <button class="btn btn-primary btn-block mt-4" type="submit">Adjust</button>
    </form>
  </div>
</ng-template>