<div class="row ">
  <div>
    <form [formGroup]="searchForm">
      <div>
        <select class="custom-select" id="month" aria-label="Month" formControlName="searchTerm" (change)="onDateChanged()">
          <!-- <option value="current" selected>Month</option> -->
          <option *ngFor="let month of monthsYears" [value]="month?.value">{{month?.key}}
          </option>
        </select>
      </div>
    </form>
  </div>
  <div class="flexRight">
    <button class="btn btn--info" (click)="showAdjustment=true">Adjust</button>
  </div>
</div>
<ng-container *ngIf="member?.points?.length; else noPoints">
  <div class="table">
    <table class="table--mobile table--rowHover">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Type</th>
          <th scope="col">Reason</th>
          <th scope="col" class="txt--center">Points</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let point of member.points">
          <td data-title="Date">
            <span class="cell-content">{{point?.dateTime|date:'dd/MM/yyyy'}}</span>
          </td>
          <td data-title="Type">
            <span class="cell-content">{{point?.type || 'Adjustment'}}</span>
          </td>
          <td data-title="Reason">
            <span class="cell-content">{{point?.reason}}</span>
          </td>
          <td data-title="Points" class="txt--center txt--left-mobile">
            <span class="cell-content"><strong
                [ngClass]="{'txt--negative': point?.points < 0}">{{point?.points}}</strong></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
<ng-template #noPoints>
  <fieldset class="fieldset fieldset--width-max">
    <app-redacted-table [message]="message"></app-redacted-table>
  </fieldset>
</ng-template>

<p-dialog header="Adjustment" [(visible)]="showAdjustment" [modal]="true" [draggable]="false"
  class="modal--small modal--hasFooter">
  <form [formGroup]="recordForm" autocomplete="off" (ngSubmit)="addRecord()">
    <fieldset [ngClass]="{'invalid': formErrors?.reason}">
      <label for="reason">Reason</label>
      <textarea type="text" id="reason" formControlName="reason" cols="10" rows="5"></textarea>
      <p class="message message--negative">{{formErrors?.reason}}</p>
    </fieldset>
    <fieldset [ngClass]="{'invalid': formErrors?.points}">
      <label for="points">Points</label>
      <input type="text" id="points" formControlName="points">
      <p class="message message--negative">{{formErrors?.points}}</p>
    </fieldset>
    <footer class="footer footer--modal">
      <div class="btn--container">
        <button type="button" class="btn btn--ghost" (click)="cancel()">Cancel</button>
        <button class="btn btn--positive" type="submit">Adjust</button>
      </div>
    </footer>
  </form>
</p-dialog>

<!--Success Messages -->
<p-toast></p-toast>

