<app-breadcrumb></app-breadcrumb>
<div class="container">
    <div class="row page-title">
        <div class="col">
            <h4 class="m-0">Player</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8" *ngIf="memberDetails$|async as member">
            <div class="row text-center text-sm-left align-items-center mb-4" >
                <div class="col-sm-auto mb-3">
                    <img class="rounded-circle" [src]="member?.photoUrl" alt="">
                </div>
                <div class="col-sm mb-3">
                    <h5 class="mt-0">{{member?.name}}</h5>
                    <!-- <dl>
                        <dt>Position</dt>
                        <dd>1 <i class="fas fa-chevron-up fa-lg ml-2 text-success"></i></dd>
                        <dt>Points</dt>
                        <dd>1230</dd>
                    </dl> -->
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col col-sm-6">
                    <form [formGroup]="searchForm">
                        <div class="form-group">
                            <select class="custom-select" id="month" aria-label="Month" formControlName="searchTerm">
                                <option value="current" selected>Month</option>
                                <option *ngFor="let month of thisYearsMonths" [value]="month?.value">{{month?.key}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" (click)="openModal(template)">Adjust</button>
                </div>
            </div>


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Type</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let point of member.points">
                        <td>{{point?.dateTime|date:'dd/MM/yyyy'}}</td>
                        <td>{{point?.type || 'Adjustment'}}</td>
                        <td>{{point?.reason}}</td>
                        <td><span [ngClass]="{'text-danger': point?.points < 0}">{{point?.points}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Adjustment</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide(); clearRecordForm()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="recordForm" autocomplete="off" (ngSubmit)="addRecord()">
            <div class="form-group">
                <label for="reason">Reason</label>
                <input type="text" id="reason" class="form-control" formControlName="reason" [ngClass]="{'is-invalid': formErrors?.reason}">
                <div class="invalid-feedback">{{formErrors?.reason}}</div>
            </div>
            <div class="form-group">
                <label for="points">Points</label>
                <input type="text" id="points" class="form-control" formControlName="points" [ngClass]="{'is-invalid': formErrors?.points}">
                <div class="invalid-feedback">{{formErrors?.points}}</div>
            </div>
            <button class="btn btn-primary btn-block mt-4" type="submit">Adjust</button>
        </form>
    </div>
</ng-template>
