<div class="nogutter">
    <div class="row">
      <div class="col">
        <h6>Features</h6>
      </div>
    </div>
        <div class="row">
    <div class="col-auto">
      <div class="nogutter">
          <div class="row">
              <div class="col-4">
                <p>Floor area:</p>
              </div>
              <div class="col">
                <p>1016 sq ft (94 m²)</p>
              </div>
            </div>
            <div class="row">
          <div class="col-4">
            <p>Furnishing:</p>
          </div>
          <div class="col">
            <p>Furnished, Unfurnished, Part Furnished</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>Beds:</p>
          </div>
          <div class="col">
            <p>1 Single, 1 Double</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>Bathrooms:</p>
          </div>
          <div class="col">
            <p>1</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>Receptions:</p>
          </div>
          <div class="col">
            <p>1</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>Floors:</p>
          </div>
          <div class="col">
            <p>1</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>Floor:</p>
          </div>
          <div class="col">
            <p>2nd</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>Alow pets:</p>
          </div>
          <div class="col">
            <p>Yes</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>Local council:</p>
          </div>
          <div class="col">
            <p>Wandsworth</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>Council tax:</p>
          </div>
          <div class="col">
            <p>G</p>
          </div>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="nogutter">
        <div class="row">
          <div class="col-4">
            <p>Features:</p>
          </div>
          <div class="col">
            <p>Kitchen /Breakfast room, Cellar, Loft, Disabled access, Lift, Porter, Pool Gym</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>Outside:</p>
          </div>
          <div class="col">
            <p>Balcony, Roof terrace, Communal garden, Private garden</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>Parking:</p>
          </div>
          <div class="col">
            <p>Off-street, Garage, Underground</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>Type:</p>
          </div>
          <div class="col">
            <p>New build, Mansion, Ex-local authority, Conversion</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>Location:</p>
          </div>
          <div class="col">
            <p>Riverside, Parkside</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="nogutter">
        <div class="row">
          <div class="col-4">
            <p>Portals:</p>
          </div>
          <div class="col">
            <p>Zero Deposit available</p>
            <p>Furnished, Unfurnished, Part Furnished</p>
            <p>Bedrooms 1 Single, 1 Double</p>
            <p>1 Bathrooms, 1 Reception</p>
            <p>Kitchen/Breakfast room, Cellar, Loft, Disabled access, Lift, Porter, Pool Gym</p>
            <p>Balcony, Roof terrace, Communal garden, Private garden</p>
            <p>Off-street, Garage, Underground</p>
            <p>New build, Mansion, Ex-local authority, Conversion</p>
            <p>Riverside, Parkside</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
