<div class="no-gutters">
  <div class="row border-bottom">
    <div class="col-4 col-md-2">
      <p>14/10/2018 13:00</p>
    </div>
    <div class="col-7 col-md-4">
      <p>23 Prince of Wales Crescent, SW6</p>
    </div>
    <div class="col-12 col-md-6">
      <p>KEEN, WILL COME BACK TO ME mentioned £625,000</p>
    </div>
  </div>
  <div class="row border-bottom">
      <div class="col-4 col-md-2">
        <p>14/10/2018 13:00</p>
      </div>
      <div class="col-7 col-md-4">
        <p>11 Thebes Close, SW6</p>
      </div>
      <div class="col-12 col-md-6">
        <p>loved the property and location, lots of character however over budget not willing to stretch</p>
      </div>
    </div>
</div>