<div class="title">
  <h2>Valuations</h2>
  <span class="checkbox checkbox--rtl" *ngIf="closedCounter">
    <span>
      <input type="checkbox" [(ngModel)]="hidePrevious" (change)="getValuations()" class="custom-control-input" id="hidePreviousValuations">
      <label for="hidePreviousValuations">Hide previous valuations</label>
    </span>
  </span>
</div>

<div class="table" *ngIf="valuations$ | async as valuations">
  <app-redacted-table *ngIf="!valuations || !valuations?.length" message="No valuations"></app-redacted-table>

  <table class="table--mobile table--rowHover" *ngIf="valuations && valuations?.length">
    <thead>
      <tr>
        <th>Address</th>
        <th *ngIf="false">Status</th>
        <th>Sales</th>
        <th>Short Let</th>
        <th>Long Let</th>
        <th>Lister</th>
        <th>Valued</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="navigateToDetail(valuation)" *ngFor="let valuation of valuations">
        <td data-title="Address">
          <span class="cell-content">{{valuation?.property?.address |formatAddress}}</span>
        </td>
        <td data-title="Status" *ngIf="false">
          <span class="cell-content">
            <span class="pill pill--positive" *ngIf="valuation?.isActive">{{valuation?.valuationStatusLabel}}</span>
            <span class="pill" *ngIf="!valuation.isActive">{{valuation?.valuationStatusLabel}}</span>
          </span>
        </td>
        <td data-title="Sales">
          <span class="cell-content" *ngIf="valuation?.suggestedAskingPrice, else noValue">{{valuation?.suggestedAskingPrice | currency:'GBP':'symbol':'1.0-0'}}</span>
        </td>
        <td data-title="Long Let">
          <span class="cell-content" *ngIf="valuation?.suggestedAskingRentLongLet, else noValue">{{valuation?.suggestedAskingRentLongLet | currency:'GBP':'symbol':'1.0-0'}} pw</span>
        </td>
        <td data-title="Short Let">
          <span class="cell-content" *ngIf="valuation?.suggestedAskingRentShortLet, else noValue">{{valuation?.suggestedAskingRentShortLet | currency:'GBP':'symbol':'1.0-0'}} pw</span>
        </td>
        <td data-title="Valuer">
          <span class="cell-content">
            <ng-container *ngIf="valuation.salesValuer">{{valuation?.salesValuer?.fullName}}</ng-container>
            <ng-container *ngIf="valuation.salesValuer && valuation.lettingsValuer">, </ng-container>
            <ng-container *ngIf="valuation.lettingsValuer">{{valuation?.lettingsValuer?.fullName}}</ng-container>
          </span>
        </td>
        <td data-title="Valued">
          <span class="cell-content">{{(valuation?.valuationDate | date: 'dd/MM/yyyy') || '-'}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noValue>-</ng-template>