<div class="list-group list-group-flush">
  <ng-container *ngIf="valuations$ | async as valuations">
    <div class="list-group-item" *ngIf="closedCounter">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" [(ngModel)]="isClosedIncluded" (change)="getValuations()" class="custom-control-input" id="includeClosedValuations">
        <label class="custom-control-label small" for="includeClosedValuations">Include previous valuations</label>
      </div>
    </div>
    <div class="list-group-item list-header d-none d-sm-block d-xl-none">
      <div class="row">
        <div class="col-sm-3"><strong>Address</strong></div>
        <div class="col-sm"><strong>Status</strong></div>
        <div class="col-sm"><strong>Sale</strong></div>
        <div class="col-sm"><strong>Short Let</strong></div>
        <div class="col-sm"><strong>Long Let</strong></div>
        <div class="col-sm"><strong>Lister</strong></div>
        <div class="col-sm"><strong>Valued</strong></div>
      </div>
    </div>
    <div class="list-group-item text-center text-danger" *ngIf="!valuations || !valuations?.length">
      <i class="far fa-sad-tear"></i> No valuations
    </div>
    <a class="list-group-item list-group-item-action" (click)="navigateToDetail(valuation)"
      *ngFor="let valuation of valuations">
      <div class="row">
        <div class="col-sm-3 col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Address</dt>
            <dd class="col">{{valuation?.property?.address |formatAddress}}</dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Status</dt>
            <dd class="col" *ngIf="valuation?.isActive"><span
                class="badge badge-pill badge-success">{{valuation?.valuationStatusLabel}}</span></dd>
            <dd class="col" *ngIf="!valuation.isActive"><span
                class="badge badge-pill badge-primary">{{valuation?.valuationStatusLabel}}</span></dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Sale</dt>
            <dd class="col monospace">
              {{valuation?.suggestedAskingPrice | currency:'GBP':'symbol':'1.0-0' || '-'}}
            </dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Long Let</dt>
            <dd class="col monospace">
              {{valuation?.suggestedAskingRentLongLet ? (valuation?.suggestedAskingRentLongLet | currency:'GBP':'symbol':'1.0-0') + ' pw' : '-'}}
            </dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Short Let</dt>
            <dd class="col monospace">
              {{valuation?.suggestedAskingRentShortLet ?( valuation?.suggestedAskingRentShortLet | currency:'GBP':'symbol':'1.0-0') + ' pw' : '-'}}
            </dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Valuer</dt>
            <dd class="col">{{valuation?.valuer?.fullName}}</dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Valued</dt>
            <dd class="col monospace">{{(valuation?.valuationDate | date: 'dd/MM/yyyy') || '-'}}</dd>
          </dl>
        </div>
      </div>
    </a>
  </ng-container>
</div>
