<div class="title">
  <h2>Valuations</h2>
  <span class="checkbox checkbox--rtl" *ngIf="closedCounter">
    <span>
      <input type="checkbox" [(ngModel)]="isClosedIncluded" (change)="getValuations()" class="custom-control-input" id="includeClosedValuations">
      <label for="includeClosedValuations">Include previous valuations</label>
    </span>
  </span>
</div>

<div class="table" *ngIf="valuations$ | async as valuations">
  <!-- <div class="list-group-item" *ngIf="closedCounter">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" [(ngModel)]="isClosedIncluded" (change)="getValuations()" class="custom-control-input"
        id="includeClosedValuations">
      <label class="custom-control-label small" for="includeClosedValuations">Include previous valuations</label>
    </div>
  </div> -->

  <div class="list-group-item text-center text-danger" *ngIf="!valuations || !valuations?.length">
    <i class="far fa-sad-tear"></i> No valuations
  </div>

  <table class="table--mobile table--rowHover">
    <thead>
      <tr>
        <th>Address</th>
        <th>Status</th>
        <th>Sales</th>
        <th>Short Let</th>
        <th>Long Let</th>
        <th>Lister</th>
        <th>Valued</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="navigateToDetail(valuation)" *ngFor="let valuation of valuations">
        <td data-title="Address">
          <span class="cell-content">{{valuation?.property?.address |formatAddress}}</span>
        </td>
        <td data-title="Status">
          <span class="cell-content" *ngIf="valuation?.isActive"><span class="pill pill--positive">{{valuation?.valuationStatusLabel}}</span></span>
          <span class="cell-content" *ngIf="!valuation.isActive"><span class="pill">{{valuation?.valuationStatusLabel}}</span></span>
        </td>
        <td data-title="Sales">
          <span class="cell-content" *ngIf="valuation?.suggestedAskingPrice, else noValue">{{valuation?.suggestedAskingPrice | currency:'GBP':'symbol':'1.0-0'}}</span>
        </td>
        <td data-title="Long Let">
          <span class="cell-content" *ngIf="valuation?.suggestedAskingRentLongLet, else noValue">{{valuation?.suggestedAskingRentLongLet | currency:'GBP':'symbol':'1.0-0'}} pw</span>
        </td>
        <td data-title="Short Let">
          <span class="cell-content" *ngIf="valuation?.suggestedAskingRentShortLet, else noValue">{{valuation?.suggestedAskingRentShortLet | currency:'GBP':'symbol':'1.0-0'}} pw</span>
        </td>
        <td data-title="Valuer">
          <span class="cell-content" *ngIf="valuation.salesValuer">{{valuation?.salesValuer?.fullName}}<small *ngIf="valuation.salesValuer && valuation.lettingsValuer">,</small></span>
          <span class="cell-content" *ngIf="valuation.lettingsValuer">{{valuation?.lettingsValuer?.fullName}}</span>
        </td>
        <td data-title="Valued">
          <span class="cell-content">{{(valuation?.valuationDate | date: 'dd/MM/yyyy') || '-'}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noValue>-</ng-template>

<!-- <div class="list-group list-group-flush">
  <ng-container>
    
    <div class="list-group-item list-header d-none d-sm-block d-xl-none">
      <div class="row">
        <div class="col-sm-3"><strong>Address</strong></div>
        <div class="col-sm"><strong></strong></div>
        <div class="col-sm"><strong></strong></div>
        <div class="col-sm"><strong></strong></div>
        <div class="col-sm"><strong></strong></div>
        <div class="col-sm"><strong></strong></div>
        <div class="col-sm"><strong></strong></div>
      </div>
    </div>
    
    <a class="list-group-item list-group-item-action" >
      <div class="row">
        <div class="col-sm-3 col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Address</dt>
            <dd class="col"></dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block"></dt>
            <dd class="col"><span
                class="badge badge-pill badge-success"></span></dd>
            <dd class="col"><span
                class="badge badge-pill badge-primary">{{valuation?.valuationStatusLabel}}</span></dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block">Sales</dt>
            <dd class="col monospace">
              <ng-container >
                </ng-container>
            </dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block"></dt>
            <dd class="col monospace">
              <ng-container>
                </ng-container>
            </dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block"></dt>
            <dd class="col monospace">
              <ng-container>
                </ng-container>
            </dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block"></dt>
            <dd class="col" ></dd>
            <dd class="col"></dd>
          </dl>
        </div>
        <div class="col-sm col-xl-12">
          <dl class="row">
            <dt class="col-4 d-sm-none d-xl-block"></dt>
            <dd class="col monospace"></dd>
          </dl>
        </div>
      </div>
    </a>
  </ng-container>
</div> -->

