<div class="card">
  <div class="card__body">
    <ol class="list list--divider list--hover">
      <li [ngClass]="{current: item.isCurrent}" *ngFor="let item of sideNavItems;index as i">
        <a role="button" class="overall" (click)="setSideNavItem(item?.name,i); scrollTo(scrollToItem)"></a>
        {{item?.name|toPascalCase}}
        <ng-container *ngIf="summaryTotals; else loadingInfo">
          <ng-container *ngIf="isObject(summaryTotals[item?.name]); else simpleValue">
            <span *ngIf="summaryTotals[item?.name]?.active" class="pill pill--positive flexRight">
              {{summaryTotals[item?.name]?.active}} </span>
            <span *ngIf="summaryTotals[item?.name]?.inactive" class="pill flexRight">
              {{summaryTotals[item?.name]?.inactive}}</span>
          </ng-container>
          <ng-template #simpleValue>
            <span *ngIf="summaryTotals[item?.name]" class="pill pill--positive flexRight">
              {{summaryTotals[item?.name]}}</span>
          </ng-template>
        </ng-container>
        <ng-template #loadingInfo>
          <span class="badge badge-pill badge-primary"><i class="fas fa-spinner fa-pulse d-inline-block"></i></span>
        </ng-template>
      </li>
    </ol>
  </div>
</div>