<div class="flex space-x-4">
  <fieldset>
    <label for="originTypeId">Origin Type</label>
    <p-dropdown name="originTypeId" id="originTypeId" [options]="allOriginTypes" [(ngModel)]="valuation.originTypeId"
      optionLabel="value" optionValue="id" [filter]="false" data-cy="originTypeId"
      (ngModelChange)="originTypeIdChanged($event)" (onChange)="controlValues()">
    </p-dropdown>
  </fieldset>
  <fieldset class="w-32" [ngClass]="{'invalid': originIdMessage}">
    <label for="originId">Origin</label>
    <p-dropdown name="originId" id="originId" [options]="origins" [(ngModel)]="valuation.originId" optionLabel="value"
      optionValue="id" [filter]="false" data-cy="originId" (onChange)="controlValues()">
    </p-dropdown>
    <p class="message message--negative"> {{originIdMessage}}</p>
  </fieldset>
  <fieldset [ngClass]="{'invalid': bookedByErrorMessage}"
    *ngIf="valuation.originTypeId == 13 ||valuation.originTypeId == 14">
    <label for="bookedBy">Booked By</label>
    <p-dropdown name="bookedBy" id="bookedBy" placeholder="&nbsp;" [options]=" bookByOptions$ | async"
      [(ngModel)]="valuation.bookedById" optionValue="staffMemberId" [filter]="true" data-cy="bookedBy"
      optionLabel="fullName" (ngModelChange)="controlValues()" [showClear]="true">
    </p-dropdown>
    <p class="message message--negative"> {{bookedByErrorMessage}}</p>
  </fieldset>
</div>