<div class="nogutter">
    <div class="row">
      <div class="col">
        <h6>Photo's</h6>
      </div>
    </div>
    <div class="row">
        <div class="col">
        <img class="d-block w-100" src="https://dandgweb.blob.core.windows.net/dandgweb/photo_43162_6__37e95e3db8d748aab40326223603e2e2.jpg/300x154.jpg"
          alt="First slide">
      </div>
      <div class="col">
          <img class="d-block w-100" src="https://dandgweb.blob.core.windows.net/dandgweb/photo_43162_9__0b5d0c5822564cc6b7f959199442125c.jpg/300x154.jpg"
          alt="Second slide">
      </div>
      </div>
      <div class="row">
      <div class="col">
        <img class="d-block w-100" src="https://dandgweb.blob.core.windows.net/dandgweb/photo_43162_7__88a8068cb9fc479589ea2ddc170ee51e.jpg/300x154.jpg"
          alt="Third slide">
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
          <h6>Floorplan's</h6>
        </div>
      </div>
      <div class="row">
          <div class="col">
          <img class="d-block w-100" src="https://dandgweb.blob.core.windows.net/dandgweb/floorplan_43162_4__82b423eff2c0495d9534075d2164466b.jpg/Default.jpg"
            alt="First slide">
        </div>
        <div class="col">
        </div>
        </div>
        <div class="row">
            <div class="col">
              <h6>EPC's</h6>
            </div>
          </div>
          <div class="row">
              <div class="col">
              <img class="d-block w-100" src="https://dandgweb.blob.core.windows.net/eer-pictures/eer_65_73.png">
            </div>
            <div class="col">
                <img class="d-block w-100" src="https://dandgweb.blob.core.windows.net/eer-pictures/eir_64_74.png">
              </div>
            </div>
  
      </div>
