<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div class="row page-title">
    <div class="col">
      <h4 class="m-0">Valuation</h4>
    </div>
  </div>
  {{createdProperty|json}}
  <form [formGroup]="valuationForm" (ngSubmit)="saveValuation()">
    <app-property-finder label="Property" [createdProperty]="createdProperty" [existingProperty]=valuation?.property
      (selectedProperty)="getSelectedProperty($event)"></app-property-finder>
    <app-signer label="Last known owner" [createdSigner]="createdSigner" [existingSigner]="lastKnownOwner"
      (selectedSigner)="getSelectedOwner($event)" (newSigner)="createNewSigner($event)"></app-signer>
    <div class="form-group row">
      <label for="reason" class="col-sm-2 col-form-label col-form-label-sm">Why?</label>
      <div class="col-sm-10">
        <textarea class="form-control form-control-sm" name="reason" id="reason" cols="30" rows="3"
          formControlName="reason" [ngClass]="{'is-invalid': (formErrors?.reason)}"></textarea>
        <div class="invalid-feedback">{{formErrors?.reason}}</div>
      </div>
    </div>
    <div class="form-group row">
      <label for="timeFrame" class="col-sm-2 col-form-label col-form-label-sm">When?</label>
      <div class="col-sm-10">
        <textarea class="form-control form-control-sm" name="timeFrame" id="timeFrame" cols="30" rows="3"
          formControlName="timeFrame" [ngClass]="{'is-invalid': (formErrors?.timeFrame)}"></textarea>
        <div class="invalid-feedback">{{formErrors?.timeFrame}}</div>
      </div>
    </div>
    <div class="form-group row">
      <label for="marketChat" class="col-sm-2 col-form-label col-form-label-sm">Market Chat</label>
      <div class="col-sm-10">
        <textarea class="form-control form-control-sm" name="marketChat" id="marketChat" cols="30" rows="3"
          formControlName="marketChat" [ngClass]="{'is-invalid': (formErrors?.marketChat)}"></textarea>
        <div class="invalid-feedback">{{formErrors?.marketChat}}</div>
      </div>
    </div>
    <div class="form-group row">
      <label for="generalNotes" class="col-sm-2 col-form-label col-form-label-sm">Property Notes</label>
      <div class="col-sm-10">
        <textarea class="form-control form-control-sm" name="generalNotes" id="generalNotes" cols="30" rows="3"
          formControlName="generalNotes" [ngClass]="{'is-invalid': (formErrors?.generalNotes)}"></textarea>
        <div class="invalid-feedback">{{formErrors?.generalNotes}}</div>
      </div>
    </div>
    <div class="row">
      <label for="bedrooms" class="col-sm-2 col-form-label col-form-label-sm">Property Info</label>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm form-group">
            <label class="small" for="bedrooms">Bedrooms</label>
            <select class="form-control form-control-sm" name="bedrooms" id="bedrooms" formControlName="bedrooms">
              <option value="0"></option>
              <option *ngFor="let bedroom of rooms" [value]='bedroom.id'> {{bedroom.name}}</option>
            </select>
          </div>
          <div class="col-sm form-group">
            <label class="small" for="bathrooms">Bathrooms</label>
            <select class="form-control form-control-sm" name="bathrooms" id="bathrooms" formControlName="bathrooms">
              <option value="0"></option>
              <option *ngFor="let bathroom of rooms" [value]='bathroom.id'> {{bathroom.name}}</option>
            </select>
          </div>
          <div class="col-sm form-group">
            <label class="small" for="receptions">Receptions</label>
            <select class="form-control form-control-sm" name="receptions" id="receptions" formControlName="receptions">
              <option value="0"></option>
              <option *ngFor="let bathroom of rooms" [value]='bathroom.id'> {{bathroom.name}}</option>
            </select>
          </div>
          <div class="col-sm form-group">
            <label class="small" for="sqFoot">Sq. Foot</label>
            <input type="text" name="sqFoot" id="sqFoot" class="form-control form-control-sm" formControlName="sqFoot">
          </div>
          <div class="col-sm form-group">
            <label class="small" for="tenureId">Tenure</label>
            <select class="form-control form-control-sm" name="tenureId" id="tenureId" formControlName="tenureId"
              (change)="onTenureChange($event.target.value)">
              <option value="0"></option>
              <option *ngFor="let tenure of tenures" [value]='tenure.id'> {{tenure.value}}</option>
            </select>
            <div *ngIf="showLeaseExpiryDate">
              <label class="small" for="approxLeaseExpiryDate">Expiry date</label>
              <input class="form-control form-control-sm" type="text" name="approxLeaseExpiryDate"
                id="approxLeaseExpiryDate" class="form-control form-control-sm" formControlName="approxLeaseExpiryDate">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm form-group">
            <label class="small" for="outsideSpace">Outside Space</label>
            <ng-select [items]="outsideSpaces" [multiple]="true" bindLabel="value" groupBy="gender"
              [selectableGroup]="true" [closeOnSelect]="false" bindValue="id" formControlName="outsideSpace">
              <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" /> {{item.gender | uppercase}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" /> {{item.value}}
              </ng-template>
            </ng-select>
          </div>
          <div class="col-sm form-group">
            <label class="small" for="Parking">Parking</label>
            <ng-select [items]="parkings" [multiple]="true" bindLabel="value" groupBy="gender" [selectableGroup]="true"
              [closeOnSelect]="false" bindValue="id" formControlName="parking">
              <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" /> {{item.gender | uppercase}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" /> {{item.value}}
              </ng-template>
            </ng-select>
          </div>
          <div class="col-sm form-group">
            <label class="small" for="features">Features</label>
            <ng-select [items]="features" [multiple]="true" bindLabel="value" groupBy="gender" [selectableGroup]="true"
              [closeOnSelect]="false" bindValue="id" formControlName="propertyFeature">
              <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" /> {{item.gender | uppercase}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" /> {{item.value}}
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label col-form-label-sm">Attendees</label>
      <div class="col-sm-10">
        <p *ngIf="showOnlyMainStaffMember; else allMain" class="d-flex d-sm-block">
          <small class="text-left mobile-btn">{{mainStaffMember?.fullName || valuation.valuer?.fullName}}</small>
          <button class="btn btn-light btn-sm ml-2" type="button" (click)="showValuersList()"> Change main attendee
          </button>
        </p>
        <ng-template #allMain>
          <label class="small">Pick a Member</label>
          <app-subnav class="small">
            <app-subnav-item *ngFor="let staffMember of staffMembers" (click)="selectMainStaffMember(staffMember)">
              {{staffMember?.fullName}}
            </app-subnav-item>
          </app-subnav>
        </ng-template>
        <div class="off-canvas" [hidden]="!showCalendar" (click)="showCalendar = false">
          <div class="off-canvas-content right slide-in-right" (click)="$event.stopPropagation()" #offCanvasContent>
            <h4 class="page-title text-left pt-3">
              Calendar
              <button type="button" class="close mr-2" aria-label="Close" (click)="showCalendar = false">
                <span aria-hidden="true">&times;</span>
              </button>
            </h4>
            <app-calendar *ngIf="staffMemberId" [staffMemberId]="staffMemberId" [myCalendarOnly]="true"
              (selectedDate)="getSelectedDate($event)"></app-calendar>
          </div>
        </div>
        <p *ngFor="let attendee of attendees" class="d-flex d-sm-block">
          <button class="btn btn-light btn-sm mr-2" type="button" (click)="removeAttendee(attendee?.staffMemberId)"
            aria-label="remove"><span aria-hidden="true">&times;</span></button>
          <small class="text-left mobile-btn">{{attendee.fullName}}</small>
          <button class="btn btn-light btn-sm ml-2" type="button" (click)="setMain(attendee)">Set as
            main</button>
        </p>
      </div>
      <div class="col-sm-3 offset-sm-2" *ngIf="selectedDate && showOnlyMainStaffMember">
        <div class="row align-items-center no-gutters">
          <div class="col">
            <ng-select [items]="allAttendees" [hideSelected]="true" (clear)="onClear()" [clearable]="true"
              bindLabel="fullName" bindValue="staffMemberId" (change)="onStaffMemberChange($event)">
              <ng-template ng-optgroup-tmp let-item="item">
                {{item.fullName || 'Unnamed group'}}
              </ng-template>
            </ng-select>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-sm btn-light ml-2" (click)="addAttendee()">
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row" *ngIf="selectedDate || showOnlyMainStaffMember">
      <label class="col-sm-2 col-form-label col-form-label-sm">Date</label>
      <div class="col-sm-10">
        <div class="d-flex d-sm-block">
          <small
            class="text-left mobile-btn">{{(selectedDate || valuation.valuationDate) | date: 'E d MMM yyyy, hh:mm'}}</small>
          <button class="btn btn-light btn-sm ml-2" type="button" (click)="changeDate()"> Change </button>
        </div>
      </div>
    </div>
    <div class="form-group row" *ngIf="selectedDate || showOnlyMainStaffMember">
      <label for="valuationDuration" class="col-sm-2 col-form-label col-form-label-sm">Duration</label>
      <div class="col-sm-2 form-group">
        <div class="input-group input-group-sm">
          <select class="form-control single-select" name="valuationDuration" id="valuationDuration"
            formControlName="duration">
            <option value="0.5">0.5</option>
            <option value="1" selected>1</option>
          </select>
          <div class="input-group-append">
            <div class="input-group-text">
              hour
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-10 offset-sm-2">
        <div class="custom-control custom-checkbox form-control-sm py-0">
          <input type="checkbox" class="custom-control-input" id="sendInvitation" formControlName="isInvitationSent">
          <label class="custom-control-label" for="sendInvitation">Send invitation to Property Owner and
            Attendees</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="valuationDuration" class="col-sm-2 col-form-label col-form-label-sm">Values</label>
      <div class="col-sm-10">
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Sell</h5>
              <label class="small" for="sellValue">Value</label>
              <input type="text" name="sellValue" id="sellValue" class="form-control form-control-sm"
                formControlName="suggestedAskingPrice">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Long Let</h5>
              <div class="form-group">
                <label class="small" for="longLetValue">Value (per week)</label>
                <input type="text" name="longLetValue" id="longLetValue" class="form-control form-control-sm"
                  formControlName="suggestedAskingRentLongLet">
              </div>
              <label class="small" for="longLetMonthlyValue">Value (per month)</label>
              <input type="text" name="longLetMonthlyValue" id="longLetMonthlyValue"
                class="form-control form-control-sm" formControlName="suggestedAskingRentLongLetMonthly">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Short Let</h5>
              <div class="form-group">
                <label class="small" for="shortLetValue">Value (per week)</label>
                <input type="text" name="shortLetValue" id="shortLetValue" class="form-control form-control-sm"
                  formControlName="suggestedAskingRentShortLet">
              </div>
              <label class="small" for="shortLetMonthlyValue">Value (per month)</label>
              <input type="text" name="shortLetMonthlyValue" id="shortLetMonthlyValue"
                class="form-control form-control-sm" formControlName="suggestedAskingRentShortLetMonthly">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <div class="container px-lg-4">
        <div class="row justify-content-end w-100 no-gutters">
          <div class="col-sm-10 d-flex">
            <button (click)="cancel()" type="button" class="btn btn-light mr-2">Cancel</button>
            <button *ngIf="isEditable" type="submit" class="btn btn-secondary mr-2">Save</button>
            <button type="button" class="btn btn-secondary" (click)="instructionModal.show()">Instruct</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div bsModal #instructionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Confirm values and choose instruction type</h4>
        <button type="button" class="close pull-right" (click)="instructionModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <fieldset class="form-group row">
          <legend class="col-12 col-form-label text-left">Values</legend>
          <div class="col-12">
            <div class="card-deck">
              <div class="card">
                <div class="card-body">
                  <div class="custom-control custom-checkbox form-group">
                    <input type="checkbox" id="isntructSale" name="isntructSale" class="custom-control-input">
                    <label class="custom-control-label" for="isntructSale">Instruct</label>
                  </div>
                  <h5 class="card-title">Sell</h5>
                  <label class="small" for="sellValue">Value</label>
                  <input type="text" name="sellValue" id="sellValue" class="form-control form-control-sm"
                    formControlName="suggestedAskingPrice">
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="custom-control custom-checkbox form-group">
                    <input type="checkbox" id="isntructLongLet" name="isntructLongLet" class="custom-control-input">
                    <label class="custom-control-label" for="isntructLongLet">Instruct</label>
                  </div>
                  <h5 class="card-title">Long Let</h5>
                  <div class="form-group">
                    <label class="small" for="longLetValue">Value (per week)</label>
                    <input type="text" name="longLetValue" id="longLetValue" class="form-control form-control-sm"
                      formControlName="suggestedAskingRentLongLet">
                  </div>
                  <label class="small" for="longLetMonthlyValue">Value (per month)</label>
                  <input type="text" name="longLetMonthlyValue" id="longLetMonthlyValue"
                    class="form-control form-control-sm" formControlName="suggestedAskingRentLongLetMonthly">
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="custom-control custom-checkbox form-group">
                    <input type="checkbox" id="isntructShortLet" name="isntructShortLet" class="custom-control-input">
                    <label class="custom-control-label" for="isntructShortLet">Instruct</label>
                  </div>
                  <h5 class="card-title">Short Let</h5>
                  <div class="form-group">
                    <label class="small" for="shortLetValue">Value (per week)</label>
                    <input type="text" name="shortLetValue" id="shortLetValue" class="form-control form-control-sm"
                      formControlName="suggestedAskingRentShortLet">
                  </div>
                  <label class="small" for="shortLetMonthlyValue">Value (per month)</label>
                  <input type="text" name="shortLetMonthlyValue" id="shortLetMonthlyValue"
                    class="form-control form-control-sm" formControlName="suggestedAskingRentShortLetMonthly">
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="form-group">
          <legend class="col-form-label text-left">Instruction Type</legend>
          <div class="custom-control custom-radio">
            <input type="radio" id="soleAgency" name="instructionType" class="custom-control-input">
            <label class="custom-control-label" for="soleAgency">Sole Agency</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="multiAgency" name="instructionType" class="custom-control-input">
            <label class="custom-control-label" for="multiAgency">Multi Agency</label>
          </div>
        </fieldset>
        <div class="mt-4 text-center">
          <button type="button" class="btn btn-light mr-2" (click)="instructionModal.hide()">Cancel</button>
          <button type="button" class="btn btn-secondary">Instruct</button>
        </div>
      </div>
    </div>
  </div>
</div>
