// @import "../../../style/bootstrap-overrides";

// @import "../../../../node_modules/bootstrap/scss/functions";
// @import "../../../../node_modules/bootstrap/scss/variables";
// @import "../../../../node_modules/bootstrap/scss/mixins";

// form {
//     padding-bottom: spacer(5);

//     .form-actions {
//         @include fixed-bottom('xl');
//     }

// }

// .attendee-picker {
//     .btn {
//         @include border-left-radius(0);
//     }
// }

// .nav-link {
//     margin-bottom: -1px;
//     color: $link-color;

//     &.active {
//         outline: none;
//     }
// }

// .card-deck {
//     .card:first-child:last-child {
//         @include media-breakpoint-up(sm) {
//             max-width: 45%;
//         }
//     }
// }

// .modal-body {
//     .card {
//         min-height: 14rem;
//     }
// }


// i {
//   margin-left: 10px;
//   vertical-align: super;
// }

::ng-deep {
  .p-badge-info{
    margin-left: 4px;
    background-color:#F9CBDF !important
  }
  .p-badge-success{
    margin-left: 4px;
    background-color:#E0D5F3 !important
  }
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

