<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div class="row page-title">
    <div class="col">
      <h4 class="m-0">Valuation</h4>
    </div>
  </div>
  <form action="">
    [property finder]<br><br>
    <!-- <app-signer label="Last known owner" [createdSigner]="createdSigner" [existingSigner]="lastKnownOwner" [existingPerson]="lastKnownPerson"
      (selectedSigner)="getSelectedOwner($event)" (newSigner)="createNewSigner($event)"></app-signer> -->
    <app-signer label="Last known owner"
    (selectedSigner)="getSelectedOwner($event)" (newSigner)="createNewSigner($event)"></app-signer>
    <div class="form-group row">
      <label for="why" class="col-sm-2 col-form-label col-form-label-sm">Why?</label>
      <div class="col-sm-10">
        <textarea class="form-control form-control-sm" name="why" id="why" cols="30" rows="5"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="when" class="col-sm-2 col-form-label col-form-label-sm">When?</label>
      <div class="col-sm-10">
        <textarea class="form-control form-control-sm" name="when" id="when" cols="30" rows="5"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="marketChat" class="col-sm-2 col-form-label col-form-label-sm">Market Chat</label>
      <div class="col-sm-10">
        <textarea class="form-control form-control-sm" name="marketChat" id="marketChat" cols="30" rows="5"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="propertyNotes" class="col-sm-2 col-form-label col-form-label-sm">Property Notes</label>
      <div class="col-sm-10">
        <textarea class="form-control form-control-sm" name="propertyNotes" id="propertyNotes" cols="30" rows="5"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="propertyNotes" class="col-sm-2 col-form-label col-form-label-sm">Property Info</label>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm form-group">
            <label class="small" for="bedrooms">Bedrooms</label>
            <input type="text" name="bedrooms" id="bedrooms" class="form-control form-control-sm">
          </div>
          <div class="col-sm form-group">
            <label class="small" for="bathrooms">Bathrooms</label>
            <input type="text" name="bathrooms" id="bathrooms" class="form-control form-control-sm">
          </div>
          <div class="col-sm form-group">
            <label class="small" for="receptions">Receptions</label>
            <input type="text" name="receptions" id="receptions" class="form-control form-control-sm">
          </div>
          <div class="col-sm form-group">
            <label class="small" for="sqFoot">Sq. Foot</label>
            <input type="text" name="sqFoot" id="sqFoot" class="form-control form-control-sm">
          </div>
          <div class="col-sm form-group">
            <label class="small" for="lease">Lease</label>
            <input type="text" name="lease" id="lease" class="form-control form-control-sm">
          </div>
        </div>
        <div class="row">
          <div class="col-sm form-group">
            <label class="small" for="Outside">Outside</label>
            <ng-select
              [items]="people"
              [multiple]="true"
              bindLabel="name"
              groupBy="gender"
              [selectableGroup]="true"
              [closeOnSelect]="false"
              bindValue="id"
              [(ngModel)]="selectedPeople">
              <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.gender | uppercase}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}
              </ng-template>
            </ng-select>
          </div>
          <div class="col-sm form-group">
            <label class="small" for="Parking">Parking</label>
            <ng-select
              [items]="people"
              [multiple]="true"
              bindLabel="name"
              groupBy="gender"
              [selectableGroup]="true"
              [closeOnSelect]="false"
              bindValue="id"
              [(ngModel)]="selectedPeople">
              <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.gender | uppercase}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}
              </ng-template>
            </ng-select>
          </div>
          <div class="col-sm form-group">
            <label class="small" for="features">Features</label>
            <ng-select
              [items]="people"
              [multiple]="true"
              bindLabel="name"
              groupBy="gender"
              [selectableGroup]="true"
              [closeOnSelect]="false"
              bindValue="id"
              [(ngModel)]="selectedPeople">
              <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.gender | uppercase}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="propertyNotes" class="col-sm-2 col-form-label col-form-label-sm">Main Staff Member</label>
      <div class="col-sm-10">
        <label class="small">Pick a Member</label>
        <app-subnav class="small">
          <app-subnav-item *ngFor="let staffMember of staffMembers" (click)="selectStaffMember(staffMember)">
            {{staffMember?.fullName}}
          </app-subnav-item>
        </app-subnav>
        <div class="off-canvas" [hidden]="!showCalendar" (click)="showCalendar = false">
          <div class="off-canvas-content right slide-in-right" (click)="$event.stopPropagation()" #offCanvasContent>
            <h4 class="page-title text-left pt-3">
              Calendar
              <button type="button" class="close mr-2" aria-label="Close" (click)="showCalendar = false">
                <span aria-hidden="true">&times;</span>
              </button>
            </h4>
            [calendar]
          </div>
        </div>
      </div>
    </div>
  </form>
</div>