<app-breadcrumb></app-breadcrumb>
<div class="container main">
  <div class="row page-title">
    <div class="col">
      <h4 class="m-0">Valuation</h4>
    </div>
  </div>
  <form [formGroup]="valuationForm" (ngSubmit)="saveValuation()" autocompleteOff>
    <fieldset>
      <app-property-finder label="Property" [property]="property" (selectedProperty)="getSelectedProperty($event)"
        [readOnly]="!isEditable && !isNewValuation">
      </app-property-finder>
      <app-signer label="Last known owner" [createdSigner]="createdSigner" [existingSigner]="lastKnownOwner"
        (selectedSigner)="getSelectedOwner($event)" (newSigner)="createNewSigner()"
        [readOnly]="!isEditable && !isNewValuation"></app-signer>
      <div class="row">
        <div class="col-sm-8 col-xl-6 offset-sm-2">
          <label for="originId" class="small">Vendor Origin</label>
          <div class="row form-group">
            <div class="col-sm" *ngIf="isEditable || isNewValuation">
              <select class="custom-select custom-select-sm" name="originTypes" id="originTypes"
                formControlName="originType" arial-label="Origin Types" (change)="onSelectType($event.target.value)"
                [attr.disabled]="!isEditable && !isNewValuation ? true : null"
                [ngClass]="{'is-invalid': (formErrors.originType)}">
                <option selected value="0">Not Known</option>
                <option *ngFor="let type of originTypes" [value]='type.id'
                  [attr.disabled]="!type.isActive ? true: null"> {{type.value}}</option>
              </select>
              <div class="invalid-feedback">{{formErrors?.originType}}</div>
            </div>
            <ng-container *ngIf="showOriginId else originValue">
              <div class="col-sm">
                <select class="custom-select custom-select-sm" name="originId" id="originId" formControlName="originId"
                  aria-label="Origins" [attr.disabled]="!isEditable && !isNewValuation ? true : null"
                  [ngClass]="{'is-invalid': (formErrors.originId)}">
                  <option value="0">Not Known</option>
                  <option *ngFor="let origin of origins" [value]='origin.id'
                    [attr.disabled]="!origin.isActive ? true: null"> {{origin.value}}</option>
                </select>
                <div class="invalid-feedback">{{formErrors?.originId}}</div>
              </div>
            </ng-container>
            <ng-template #originValue>
              <div class="col-sm form-group" *ngIf="!isEditable && origin">
                <small class="text-left mobile-btn">{{origin}}</small>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset *ngIf="isEditable || isNewValuation
    || (!isEditable && valuationForm.get('reason').value)
    || (!isEditable && valuationForm.get('timeFrame').value)
    || (!isEditable && valuationForm.get('generalNotes').value)">
      <legend class="fieldset-title">Valuation Notes</legend>
      <div class="row">
        <div class="col-sm-8 col-xl-6 offset-sm-2">
          <div class="form-group"
            *ngIf="isEditable || isNewValuation || (!isEditable && valuationForm.get('reason').value)">
            <label for="reason" class="small">What’s the current situation?</label>
            <textarea class="form-control form-control-sm" name="reason" id="reason" cols="30" rows="3"
              formControlName="reason" [attr.disabled]="!isEditable && !isNewValuation ? true : null"
              [ngClass]="{'is-invalid': (formErrors?.reason)}"></textarea>
            <div class="invalid-feedback">{{formErrors?.reason}}</div>
          </div>
          <div class="form-group"
            *ngIf="isEditable || isNewValuation || (!isEditable && valuationForm.get('timeFrame').value)">
            <label for="timeFrame" class="small">When are you looking to market?</label>
            <textarea class="form-control form-control-sm" name="timeFrame" id="timeFrame" cols="30" rows="3"
              formControlName="timeFrame" [attr.disabled]="!isEditable && !isNewValuation ? true : null"
              [ngClass]="{'is-invalid': (formErrors?.timeFrame)}"></textarea>
            <div class="invalid-feedback">{{formErrors?.timeFrame}}</div>
          </div>
          <div class="form-group"
            *ngIf="isEditable || isNewValuation || (!isEditable && valuationForm.get('generalNotes').value)">
            <label for="generalNotes" class="small">Notes (points discussed, other property details)</label>
            <textarea class="form-control form-control-sm" name="generalNotes" id="generalNotes" cols="30" rows="3"
              formControlName="generalNotes" [attr.disabled]="!isEditable && !isNewValuation ? true : null"
              [ngClass]="{'is-invalid': (formErrors?.generalNotes)}"></textarea>
            <div class="invalid-feedback">{{formErrors?.generalNotes}}</div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend class="fieldset-title">Property Info</legend>
      <div class="row">
        <div class="col-sm-8 col-xl-6 offset-sm-2">
          <div class="row">
            <div class="col-4 form-group">
              <label class="small" for="bedrooms">Bedrooms</label>
              <input type="number" class="form-control form-control-sm" name="bedrooms" id="bedrooms"
                formControlName="bedrooms" min="0" max="99"
                [attr.disabled]="!isEditable && !isNewValuation ? true : null"
                [ngClass]="{'is-invalid': (formErrors?.bedrooms)}" />
              <div class="invalid-feedback">{{formErrors?.bedrooms}}</div>
            </div>
            <div class="col-4 form-group">
              <label class="small" for="bathrooms">Bathrooms</label>
              <input type="number" class="form-control form-control-sm" name="bathrooms" id="bathrooms"
                formControlName="bathrooms" min="0" max="99"
                [attr.disabled]="!isEditable && !isNewValuation ? true : null"
                [ngClass]="{'is-invalid': (formErrors?.bathrooms)}" />
              <div class="invalid-feedback">{{formErrors?.bathrooms}}</div>
            </div>
            <div class="col-4 form-group">
              <label class="small" for="receptions">Receptions</label>
              <input type="number" class="form-control form-control-sm" name="receptions" id="receptions"
                formControlName="receptions" min="0" max="99"
                [attr.disabled]="!isEditable && !isNewValuation ? true : null"
                [ngClass]="{'is-invalid': (formErrors?.receptions)}" />
              <div class="invalid-feedback">{{formErrors?.receptions}}</div>
            </div>
            <div class="col-sm-4 form-group">
              <label class="small" for="sqFt">Approx Sq. Foot</label>
              <input type="text" name="sqFt" id="sqFt" class="form-control form-control-sm" formControlName="sqFt"
                [attr.disabled]="!isEditable && !isNewValuation ? true : null"
                >
            </div>
            <div class="form-group col-sm-8">
              <label class="small" for="tenureId">Tenure</label>
              <div class="input-group input-group-sm">
                <select class="custom-select single-select" name="tenureId" id="tenureId" formControlName="tenureId"
                  (change)="onTenureChange($event.target.value)"
                  [attr.disabled]="!isEditable && !isNewValuation ? true : null"
                  >
                  <option value="0">Not Known</option>
                  <option *ngFor="let tenure of tenures" [value]='tenure.id'> {{tenure.value}}</option>
                </select>
                <input class="form-control" type="text" name="approxLeaseExpiryDate" *ngIf="showLeaseExpiryDate"
                  aria-label="length" placeholder="Approx Length ..." id="approxLeaseExpiryDate"
                  formControlName="approxLeaseExpiryDate" [attr.disabled]="!isEditable && !isNewValuation ? true : null"
                  >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 form-group"
              *ngIf="isEditable || isNewValuation || (!isEditable && valuationForm.get('outsideSpace').value)">
              <label class="small" for="outsideSpace">Outside Space</label>
              <ng-select [items]="outsideSpaces" [multiple]="true" bindLabel="value" groupBy="gender"
                [selectableGroup]="true" [closeOnSelect]="false" [readonly]="!isEditable && !isNewValuation"
                bindValue="id" formControlName="outsideSpace">
                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" /> {{item.gender | uppercase}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" /> {{item.value}}
                </ng-template>
              </ng-select>
            </div>
            <div class="col-sm-12 form-group"
              *ngIf="isEditable || isNewValuation || (!isEditable && valuationForm.get('parking').value)">
              <label class="small" for="Parking">Parking</label>
              <ng-select [items]="parkings" [multiple]="true" bindLabel="value" groupBy="gender"
                [selectableGroup]="true" [closeOnSelect]="false" [readonly]="!isEditable && !isNewValuation"
                bindValue="id" formControlName="parking">
                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" /> {{item.gender | uppercase}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" /> {{item.value}}
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>

      <h5 class="fieldset-title">Attendees</h5>
      <div class="row">
        <div class="col-sm-10 offset-sm-2">
          <p *ngIf="showOnlyMainStaffMember; else allMain" class="d-flex d-sm-block">
            <small class="text-left mobile-btn">{{mainStaffMember?.fullName}}</small>
            <button class="btn btn-light btn-sm ml-2" type="button" (click)="showValuersList()"
              *ngIf="isEditable || isNewValuation"> Change
            </button>
          </p>
          <ng-template #allMain>
            <ng-container *ngIf="valuers?.length">
              <label class="small">Pick a Member</label>
              <ng-container *ngFor="let valuer of valuers; last as isLast">
                <p class="d-flex d-sm-block" [ngClass]="{'mb-1': isLast}">
                  <label [attr.for]="'book'+valuer?.staffMemberId"
                    class="text-left mobile-btn small">{{valuer?.fullName}}</label>
                  <button [attr.id]="'book'+valuer?.staffMemberId" class="btn btn-light btn-sm ml-2" type="button"
                    (click)="selectMainStaffMember(valuer)" *ngIf="isEditable || isNewValuation">Book
                    availability</button>
                </p>
                <hr *ngIf="!isLast" class="d-sm-none">
              </ng-container>
              <p class="small mb-2">or</p>
            </ng-container>
          </ng-template>
          <div class="off-canvas" [hidden]="!showCalendar" (click)="closeCalendar()">
            <div class="off-canvas-content right slide-in-right" (click)="$event.stopPropagation()" #offCanvasContent>
              <p class="page-title text-left pt-3">
                {{mainStaffMember?.fullName}} Calendar
                <button type="button" class="close mr-2" aria-label="Close" (click)="closeCalendar()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </p>
              <app-calendar *ngIf="staffMemberId" [staffMemberId]="staffMemberId" [myCalendarOnly]="true"
               [isSelectingDate]="isSelectingDate" (selectedDate)="getSelectedDate($event)"></app-calendar>
            </div>
          </div>
          <ng-container *ngFor="let attendee of attendees">
            <hr class="d-sm-none">
            <p class="d-flex d-sm-block">
              <small class="text-left mobile-btn">{{attendee.fullName}}</small>
              <button class="btn btn-light btn-sm ml-2" type="button" (click)="removeAttendee(attendee?.staffMemberId)"
                aria-label="remove" *ngIf="isEditable || isNewValuation"><span
                  aria-hidden="true">&times;</span></button>
              <button class="btn btn-light btn-sm ml-2" type="button" (click)="setMain(attendee)"
                *ngIf="isEditable || isNewValuation">Set as
                main</button>
            </p>
          </ng-container>
        </div>
        <div class="col-sm-3 offset-sm-2 form-group" *ngIf="isEditable || isNewValuation">
          <div class="row align-items-center no-gutters">
            <div class="col">
              <ng-select placeholder="Select Staff Member" [items]="allAttendees" [hideSelected]="true"
                [clearable]="true" bindLabel="fullName" bindValue="staffMemberId" (change)="onStaffMemberChange($event)"
                formControlName="searchAttendeeId">
                <ng-template ng-optgroup-tmp let-item="item">
                  {{item.fullName || 'Unnamed group'}}
                </ng-template>
              </ng-select>
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-sm btn-light ml-2" (click)="addAttendee()">
                Add
              </button>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset *ngIf="selectedDate || showDateAndDuration">
      <h5 class="fieldset-title">Appointment</h5>
      <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
          <label class="small">Date</label>
          <div class="d-flex d-sm-block">
            <label for="changeDate"
              class="text-left mobile-btn small">{{(selectedDate || valuation?.valuationDate) | date: 'E d MMM yyyy, HH:mm'}}</label>
            <button id="changeDate" class="btn btn-light btn-sm ml-2" type="button" (click)="changeDate()"
              *ngIf="isEditable || isNewValuation">Change </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 offset-sm-2 form-group">
          <label for="valuationDuration" class="small">Duration</label>
          <select class="custom-select custom-select-sm single-select" name="valuationDuration" id="valuationDuration"
            formControlName="totalHours" [attr.disabled]="!isEditable && !isNewValuation ? true : null"
            >
            <option value="0.5">30 mins</option>
            <option value="0.75">45 mins</option>
            <option value="1" selected>1 hour</option>
            <option value="1.25" selected>1 hour 15 mins</option>
            <option value="1.50" selected>1 hour 30 mins</option>
            <option value="1.75" selected>1 hour 45 mins</option>
            <option value="2" selected>2 hours</option>
          </select>
        </div>
        <div class="col-sm-10 offset-sm-2" *ngIf="isEditable || isNewValuation">
          <div class="custom-control custom-checkbox form-control-sm py-0">
            <input type="checkbox" class="custom-control-input" id="sendInvitation" formControlName="isInvitationSent">
            <label class="custom-control-label small" for="sendInvitation">Send invitation to Property Owner and
              Attendees</label>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset *ngIf="areValuesVisible">
      <h5 class="fieldset-title">Values</h5>
      <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
          <div class="card-deck">
            <div class="card"
              *ngIf="isEditable || isNewValuation || (!isEditable && valuationForm.get('suggestedAskingPrice').value)">
              <div class="card-body">
                <h5 class="card-title">Sell</h5>
                <label class="small" for="sellValue">Value</label>
                <input type="text" name="sellValue" id="sellValue" class="form-control form-control-sm"
                  formControlName="suggestedAskingPrice"
                  *ngIf="!(!isEditable && !isNewValuation)"
                  >
                <div class="small" *ngIf="!isEditable && !isNewValuation">
                  <strong>{{valuationForm.get('suggestedAskingPrice').value | currency:'GBP':'symbol':'1.0-0'}}</strong>
                </div>
              </div>
            </div>
            <div class="card"
              *ngIf="isEditable || isNewValuation || (!isEditable && valuationForm.get('suggestedAskingRentLongLet').value)">
              <div class="card-body">
                <h5 class="card-title">Long Let</h5>
                <div class="form-group">
                  <label class="small" for="longLetValue">Value (per week)</label>
                  <input type="text" name="longLetValue" id="longLetValue" class="form-control form-control-sm"
                    formControlName="suggestedAskingRentLongLet"
                    *ngIf="!(!isEditable && !isNewValuation)"
                    >
                  <div class="small" *ngIf="!isEditable && !isNewValuation">
                    <strong>{{valuationForm.get('suggestedAskingRentLongLet').value | currency:'GBP':'symbol':'1.0-0'}}</strong>
                  </div>
                </div>
                <label class="small" for="longLetMonthlyValue">Value (per month)</label>
                <input type="text" name="longLetMonthlyValue" id="longLetMonthlyValue"
                  class="form-control form-control-sm" formControlName="suggestedAskingRentLongLetMonthly"
                  *ngIf="!(!isEditable && !isNewValuation)"
                  >
                <div class="small" *ngIf="!isEditable && !isNewValuation">
                  <strong>{{valuationForm.get('suggestedAskingRentLongLetMonthly').value | currency:'GBP':'symbol':'1.0-0'}}</strong>
                </div>
              </div>
            </div>
            <div class="card"
              *ngIf="isEditable || isNewValuation || (!isEditable && valuationForm.get('suggestedAskingRentShortLet').value)">
              <div class="card-body">
                <h5 class="card-title">Short Let</h5>
                <div class="form-group">
                  <label class="small" for="shortLetValue">Value (per week)</label>
                  <input type="text" name="shortLetValue" id="shortLetValue" class="form-control form-control-sm"
                    formControlName="suggestedAskingRentShortLet"
                    *ngIf="!(!isEditable && !isNewValuation)"
                    >
                  <div class="small" *ngIf="!isEditable && !isNewValuation">
                    <strong>{{valuationForm.get('suggestedAskingRentShortLet').value | currency:'GBP':'symbol':'1.0-0'}}</strong>
                  </div>
                </div>
                <label class="small" for="shortLetMonthlyValue">Value (per month)</label>
                <input type="text" name="shortLetMonthlyValue" id="shortLetMonthlyValue"
                  class="form-control form-control-sm" formControlName="suggestedAskingRentShortLetMonthly"
                  *ngIf="!(!isEditable && !isNewValuation)"
                  >
                <div class="small" *ngIf="!isEditable && !isNewValuation">
                  <strong>{{valuationForm.get('suggestedAskingRentShortLetMonthly').value | currency:'GBP':'symbol':'1.0-0'}}</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-actions">
      <div class="container">
        <div class="row justify-content-end w-100 no-gutters">
          <div class="col-sm-10 d-flex">
            <button (click)="cancel()" type="button" class="btn btn-light mr-2">Cancel</button>
            <button *ngIf="isEditable || isNewValuation" type="submit" class="btn btn-secondary mr-2">Save</button>
            <button *ngIf="canInstruct" type="button" class="btn btn-secondary"
              (click)="instructionModal.show(); startInstruction()">Instruct</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div bsModal #instructionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Confirm values and choose instruction type</h4>
        <button type="button" class="close pull-right" (click)="instructionModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="instructionForm" (ngSubmit)="saveInstruction()" autocompleteOff>
          <fieldset class="form-group row">
            <div class="col-12">
              <div class="row">
                <div class="col-sm-4 mb-4" *ngIf="instruction?.askingPrice">
                  <div class="custom-control custom-checkbox form-group" *ngIf="showInstruct">
                    <input type="checkbox" id="instructSale" name="instructSale" class="custom-control-input"
                      formControlName="instructSale" (change)="onInstructSalesChange($event.target)">
                    <label class="custom-control-label small" for="instructSale">Instruct for Sales</label>
                  </div>
                  <div class="card" [ngClass]="{'disabled': !instructionForm.get('instructSale').value}">
                    <div class="card-body">
                      <h5 class="card-title">Sell</h5>
                      <label class="small" for="sellValue">Value</label>
                      <input type="text" name="sellValue" id="sellValue" class="form-control form-control-sm"
                        formControlName="askingPrice" [ngClass]="{'is-invalid':formErrors.askingPrice}">
                      <span class="invalid-feedback">{{formErrors?.askingPrice}}</span>
                    </div>
                  </div>
                  <fieldset class="form-group mt-3" *ngIf="instructionForm.get('instructSale').value">
                    <legend class="col-form-label text-left">Sales Agency</legend>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="soleAgencySales" value="1" name="salesAgencyType" class="custom-control-input"
                        formControlName="salesAgencyType">
                      <label class="custom-control-label small" for="soleAgencySales">Sole Agency</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="multiAgencySales" value="4" name="salesAgencyType" class="custom-control-input"
                        formControlName="salesAgencyType">
                      <label class="custom-control-label small" for="multiAgencySales">Multi Agency</label>
                    </div>
                    <small *ngIf="instructionForm.get('salesAgencyType')?.errors?.required"
                      class="text-danger">{{formErrors?.salesAgencyType}}</small>
                  </fieldset>
                </div>
                <div class="col-sm-8 mb-4" *ngIf="instruction?.askingRentShortLet || instruction?.askingRentLongLet">
                  <div class="row">
                    <div class="col-12">
                      <div class="custom-control custom-checkbox form-group" *ngIf="showInstruct">
                        <input type="checkbox" id="instructLet" name="instructLet" class="custom-control-input"
                          formControlName="instructLet" (change)="onInstructLettingsChange($event.target)">
                        <label class="custom-control-label small" for="instructLet">Instruct for Lettings</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card" *ngIf="instruction?.askingRentLongLet" [ngClass]="{'disabled': !instructionForm.get('instructLet').value}">
                        <div class="card-body">
                          <h5 class="card-title">Long Let</h5>
                          <div class="form-group">
                            <label class="small" for="longLetValue">Value (per week)</label>
                            <input type="text" name="longLetValue" id="longLetValue" class="form-control form-control-sm"
                              formControlName="askingRentLongLet" [ngClass]="{'is-invalid':formErrors.askingRentLongLet}">
                            <span class="invalid-feedback">{{formErrors?.askingRentLongLet}}</span>
                          </div>
                          <label class="small" for="longLetMonthlyValue">Value (per month)</label>
                          <input type="text" name="longLetMonthlyValue" id="longLetMonthlyValue"
                            class="form-control form-control-sm" formControlName="askingRentLongLetMonthly">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card" [ngClass]="{'disabled': !instructionForm.get('instructLet').value}">
                        <div class="card-body">
                          <h5 class="card-title">Short Let</h5>
                          <div class="form-group">
                            <label class="small" for="shortLetValue">Value (per week)</label>
                            <input type="text" name="shortLetValue" id="shortLetValue" class="form-control form-control-sm"
                              formControlName="askingRentShortLet" [ngClass]="{'is-invalid':formErrors.askingRentShortLet}">
                            <span class="invalid-feedback">{{formErrors?.askingRentShortLet}}</span>
                          </div>
                          <label class="small" for="shortLetMonthlyValue">Value (per month)</label>
                          <input type="text" name="shortLetMonthlyValue" id="shortLetMonthlyValue"
                            class="form-control form-control-sm" formControlName="askingRentShortLetMonthly">
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <fieldset class="form-group mt-3" *ngIf="instructionForm.get('instructLet').value">
                        <legend class="col-form-label text-left">Lettings Agency</legend>
                        <div class="custom-control custom-radio">
                          <input type="radio" id="soleAgencyLettings" value="1" name="lettingsAgencyType" class="custom-control-input"
                            formControlName="lettingsAgencyType">
                          <label class="custom-control-label small" for="soleAgencyLettings">Sole Agency</label>
                        </div>
                        <div class="custom-control custom-radio">
                          <input type="radio" id="multiAgencyLettings" value="2" name="lettingsAgencyType" class="custom-control-input"
                            formControlName="lettingsAgencyType">
                          <label class="custom-control-label small" for="multiAgencyLettings">Multi Agency</label>
                        </div>
                        <small *ngIf="instructionForm.get('lettingsAgencyType')?.errors?.required"
                          class="text-danger">{{formErrors?.lettingsAgencyType}}</small>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="mt-4 text-center">
            <button type="button" class="btn btn-light mr-2"
              (click)="instructionModal.hide(); cancelInstruction()">Cancel</button>
            <button type="submit" class="btn btn-secondary">Instruct</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
