@import "../../../style/bootstrap-overrides";

@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

form {
    padding-bottom: spacer(5);

    .form-actions {
        @include fixed-bottom('xl');
    }

}

.attendee-picker {
    .btn {
        @include border-left-radius(0);
    }

    ::ng-deep {
        .ng-select.ng-select-single .ng-select-container {
            height: 38px;
            @include border-right-radius(0);
        }
    }
}

.card-deck {
    .card:first-child:last-child {
        @include media-breakpoint-up(sm) {
            max-width: 45%;
        }
    }
}