@import "../../../style/bootstrap-overrides";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

[role=button]{
    cursor: pointer;
}

.unset {
    color: $input-bg!important;
    text-shadow: $border-color 0 0 1px, $border-color 0 0 1px, $border-color 0 0 1px, $border-color 0 0 1px, $border-color 0 0 1px, $border-color 0 0 1px, $border-color 0 0 1px, $border-color 0 0 1px, $border-color 0 0 1px, $border-color 0 0 1px, $border-color 0 0 1px, $border-color 0 0 1px, $border-color 0 0 1px, $border-color 0 0 1px, $border-color 0 0 1px;
}

.add-note-container {
    position: sticky;
    top: 0;
    z-index: 9;

    @include media-breakpoint-down(sm) {
        position: static;
    }
}