<div class="list-group">
  <div class="list-group-item list-group-item-action text-center py-4" *ngIf="dataNote" (click)="addNote()">
    <span class="btn-link">
      <i class="fas fa-sticky-note mr-2"></i> Add Note
    </span>
  </div>
  <div class="list-group-item text-center text-danger" *ngIf="!personNotes?.length && !contactGroupNotes?.length; else results">
    <i class="far fa-sad-tear"></i> No notes
  </div>
  <ng-template #results>
    <div class="list-group-item" *ngFor="let note of notes">
      <div class="row">
        <div class="col-sm-2 text-right order-sm-2">
          <div class="btn-group" dropdown placement="bottom right">
            <button id="actionsToggle" dropdownToggle type="button" class="btn btn-link p-0 dropdown-toggle"
              aria-controls="actionsList">
              Actions <span class="caret"></span>
            </button>
            <ul id="actionsList" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
              aria-labelledby="actionsToggle">
              <li role="menuitem"><button type="button" class="dropdown-item"
                  (click)="setFlag(note?.personNoteId || note?.contactNoteId, true)"><i
                    class="fas fa-exclamation-circle fa-fw mr-2 text-danger" [style.opacity]="note?.isImportant ? '.3' : null"></i>Set as <ng-container *ngIf="note?.isImportant; else important ">unimportant</ng-container>
                    <ng-template  #important>important</ng-template></button></li>
              <li role="menuitem"><button type="button" class="dropdown-item"
                  (click)="setFlag(note?.personNoteId || note?.contactNoteId, false)"><i class="fas fa-thumbtack fa-fw mr-2" [style.opacity]="note?.isPinned ? '.3' : null"></i>
                  <ng-container *ngIf="note?.isPinned; else pin ">Unpin </ng-container>
                  <ng-template  #pin>Pin to top</ng-template></button></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-10 order-sm-1">
          <div class="row">
            <div class="col-auto pr-sm-0"
              [ngClass]="(note.isPinned ? '' : 'd-none d-sm-block') + ' ' + (note.isPinned ? 'visible' : 'invisible')">
              <i class="fas fa-thumbtack fa-fw" tooltip="Pinned to top"></i>
            </div>
            <div class="col-auto p-sm-0" [ngClass]="(note.isImportant ? '' : 'd-none d-sm-block') + ' ' + (note.isImportant ? 'visible' : 'invisible')">
              <i class="fas fa-exclamation-circle text-danger fa-fw" tooltip="Important"></i>
            </div>
            <div class="col-sm-6">
              <dl class="row">
                <dt class="col-4 d-sm-none">Note</dt>
                <dd class="col">{{note?.text}}</dd>
              </dl>
            </div>
            <div class="col-sm">
              <dl class="row">
                <dt class="col-4 d-sm-none">Date</dt>
                <dd class="col">{{note?.createDate | date: 'd/MM/yyyy'}}</dd>
              </dl>
            </div>
            <div class="col-sm text-truncate">
              <dl class="row text-truncate">
                <dt class="col-4 d-sm-none">Owner</dt>
                <dd class="col text-truncate">{{note?.createdBy}}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
