<div class="modal-header">
    Send SMS
</div>
<div class="modal-body text-center">
    <form [formGroup]="smsForm" action="" class="text-left">
      <div class="form-group form-row align-items-center">
        <div class="col-auto">
          <label for="" class="m-0">To:</label>
        </div>
        <div class="col-auto">
          <strong>{{salutation}}</strong> ({{number}})
        </div>
        <input type="hidden" name="number">
      </div>
      <div class="form-group">
        <textarea formControlName="text" class="form-control" id="text" cols="30" rows="5" [maxlength]="smsMaxLength" placeholder="Message ..."></textarea>
        <small class="form-text" [ngClass]="smsLength === smsMaxLength ? 'text-danger' : 'text-muted'">{{smsLength}}/{{smsMaxLength}}</small>
      </div>
      <div class="form-group mb-4">
        From: Alex (098234023423)
      </div>
    </form>
    <button type="button" class="btn btn-light mr-2" (click)="action(false)">{{actions[0]}}</button>
    <button type="button" class="btn btn-primary" (click)="action(true)">{{actions[1]}}</button>
</div>