<div class="modal-header">
    Send SMS
  <button type="button" class="close pull-right" aria-label="Close" (click)="action(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body text-center">
    <form [formGroup]="smsForm" action="" class="text-left">
      <div class="form-group">
        To: <strong class="mr-1">{{salutation}}</strong> - <br class="d-sm-none" /><span class="text-muted">{{number}}</span>
        <input type="hidden" formControlName="phoneNumber" name="number">
      </div>
      <div class="form-group mb-4">
        <div class="fixed-text">
          <label class="fixed-text-header">{{header}}</label>
          <textarea formControlName="message" class="form-control" cols="30" rows="5" [maxlength]="smsMaxLength" placeholder="Message ..."></textarea>
          <div class="fixed-text-footer">
            <div class="form-row align-items-center">
              <label class="col-auto m-0">
                Contact
              </label>
              <div class="col">
                <input type="text"
                  id="user" formControlName="senderName" class="form-control" placeholder="Name">
              </div>
            </div>
            <div class="form-row align-items-center">
              <label class="col-auto m-0">
                On
              </label>
              <div class="col">
                <input type="text"
                  id="userNumber" formControlName="senderPhoneNumber" class="form-control" placeholder="Number">
              </div>
            </div>
          </div>
        </div>
        <small class="form-text" [ngClass]="smsLength === smsMaxLength ? 'text-danger' : 'text-muted'">{{smsLength}}/{{smsMaxLength}}</small>
      </div>

    </form>
    <button type="button" class="btn btn-light mr-2" (click)="action(false)">{{actions[0]}}</button>
    <button type="button" class="btn btn-primary" (click)="action(true)">{{actions[1]}}</button>
</div>
