<div class="title">
  <h2>Contact centre</h2>
  <div dropdown placement="bottom right">
    <button id="actionsToggle" dropdownToggle type="button" class="btn btn--positive dropdown-toggle"
      aria-controls="actionsList">
      <svg _ngcontent-sbe-c166="" aria-hidden="true" width="64" height="64" viewBox="0 0 64 64"
        class="icon icon--s icon--onLeft">
        <path _ngcontent-sbe-c166=""
          d="M60 35.9H4c-2.2 0-4-1.8-4-4v0c0-2.2 1.8-4 4-4h56c2.2 0 4 1.8 4 4v0C64 34.1 62.2 35.9 60 35.9z"></path>
        <path _ngcontent-sbe-c166=""
          d="M28 59.9v-56c0-2.2 1.8-4 4-4h0c2.2 0 4 1.8 4 4v56c0 2.2-1.8 4-4 4h0C29.8 63.9 28 62.2 28 59.9z"
          class="plus-vertical"></path>
      </svg>Contact Group
    </button>
    <ul id="actionsList" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
      aria-labelledby="actionsToggle">
      <li role="menuitem">
        <a class="dropdown-item" [routerLink]="['people', 0]"
          [queryParams]="{isNewPersonalContact: true, backToOrigin: true}"><svg aria-hidden="true" width="64"
            height="64" viewBox="0 0 64 64" class="icon icon--s icon--onLeft">
            <path
              d="M32 32c8.6 0 15.5-7 15.5-15.5C47.5 7.9 40.6 1 32 1S16.5 7.9 16.5 16.5C16.5 25 23.4 32 32 32zM32 39.8c-10.3 0-31 5.2-31 15.5V63h62v-7.8C63 44.9 42.3 39.8 32 39.8z">
            </path>
          </svg>Personal Contact Group</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" [routerLink]="['people', 0]"
          [queryParams]="{isNewCompanyContact: true, backToOrigin: true}"><svg aria-hidden="true" width="64" height="64"
            viewBox="0 0 64 64" class="icon icon--s icon--onLeft">
            <path
              d="M56.8 14.9H44.4V8.8c0-3.4-2.8-6.2-6.2-6.2H25.8c-3.4 0-6.2 2.8-6.2 6.2v6.2H7.2c-3.4 0-6.2 2.8-6.2 6.2l0 34.1c0 3.4 2.8 6.2 6.2 6.2h49.6c3.4 0 6.2-2.8 6.2-6.2V21.1C63 17.7 60.2 14.9 56.8 14.9zM38.2 14.9H25.8V8.8h12.4V14.9z">
            </path>
          </svg>Company Contact Group</a>
      </li>
    </ul>
  </div>
</div>

<div class="table">
  <table class="table--mobile table--rowHover">
    <thead>
      <tr>
        <th>Names</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contactGroup of contactGroups" (click)="navigateTo(['people', contactGroup.contactGroupId])"
        class="cursor-pointer">
        <td data-title="Names">
          <span class="cell-content">
            <ng-container *ngFor="let contactPerson of contactGroup?.contactPeople;  last as isLast; first as isFirst">
              <ng-container *ngIf="contactPerson?.personId === personId; else link">{{contactGroup?.isCompany ?
                contactGroup.companyName + '('+contactPerson.addressee+')' :contactPerson?.addressee}}
              </ng-container>
              <ng-template #link><a [routerLink]="['../../../detail', contactPerson?.personId ]"
                  [queryParams]="{showNotes: true}" (click)="$event.stopPropagation();">{{contactGroup?.isCompany ?
                  contactGroup.companyName + '('+contactPerson.addressee+')' :contactPerson?.addressee}}</a>
              </ng-template>
              <ng-container *ngIf="!isLast">,&nbsp;</ng-container>
            </ng-container>
          </span>
        </td>
        <td data-title="Type">
          <span class="cell-content">
            <ng-container *ngIf="contactGroup?.isCompany; else peopleIcon">
              <svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon icon--onLeft">
                <path
                  d="M56.8 15H44.4v-6.2c0-3.4-2.8-6.2-6.2-6.2H25.8c-3.4 0-6.2 2.8-6.2 6.2v6.2H7.2c-3.4 0-6.2 2.8-6.2 6.2L1 55.3c0 3.4 2.8 6.2 6.2 6.2h49.6c3.4 0 6.2-2.8 6.2-6.2v-34.1C63 17.7 60.2 15 56.8 15zM38.2 15H25.8v-6.2h12.4V15z">
                </path>
              </svg>
              Company
            </ng-container>
            <ng-template #peopleIcon>
              <svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon icon--onLeft">
                <path
                  d="M46 32c4.3 0 7.7-3.5 7.7-7.8s-3.4-7.8-7.7-7.8 -7.8 3.5-7.8 7.8S41.7 32 46 32zM22.7 28.9c5.1 0 9.3-4.2 9.3-9.3s-4.1-9.3-9.3-9.3 -9.3 4.2-9.3 9.3S17.6 28.9 22.7 28.9zM46 38.2c-5.7 0-17.1 2.9-17.1 8.5v7H63v-7C63 41.1 51.6 38.2 46 38.2zM22.7 35.1C15.5 35.1 1 38.7 1 46v7.8h21.7v-7c0-2.6 1-7.2 7.3-10.8C27.4 35.4 24.7 35.1 22.7 35.1z" />
              </svg> People
            </ng-template>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div class="table-responsive">
  <table class="table bg-white border table-hover">
    <thead>
      <tr>
        <th scope="col">Names</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ng-container>
            <br class="d-sm-none" *ngIf="!isFirst" />

          </ng-container>
        </td>
        <td>

        </td>
      </tr>
    </tbody>
  </table>
</div> -->