@import "../../style/bootstrap-overrides";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";


.diary-header {
    @include media-breakpoint-down(sm) {  
        position: fixed;
        width: 100%;
        top: $top-bar-height;
        left: 0;
        padding: spacer(2) spacer(3);
        background: color("white");
        z-index: 5;
        border-bottom: 1px solid $border-color;
    }
}

.dropup {
    @include media-breakpoint-down(sm) {
        position: fixed;
        bottom: 70px;
        right: $grid-gutter-width/2;
        z-index: 1000;
        margin: 0!important;
    }
    .btn {
        @include media-breakpoint-down(sm) {
            border-radius: 50% !important;
            width: 50px;
            height: 50px;
        }
    }
    .dropdown-menu {
        @include media-breakpoint-down(sm) {
            right: 0 !important;
            left: auto !important;
            transform: translateY(-110%) !important;
        }
    }
}

.card-grid {
    @include media-breakpoint-up(sm) {
        margin: 0;
    }
    @include media-breakpoint-down(sm) {
        margin: 50px 0 70px;
    }
}

.card {
    width: calc(100% - #{$grid-gutter-width/2.5});
    @include media-breakpoint-up(sm) {
        font-size: $font-size-sm;
        width: 14.28%;
        margin: 0;
        border-radius: 0;
        min-height: 700px;
    }
    @include media-breakpoint-down("sm") {
        margin-bottom: 0;
        border-radius: 0;
    }

    .month & {
        @include media-breakpoint-up(sm) {
            min-height: 150px;
        }
    }

    &.is-weekend {
        display: none;
        @include media-breakpoint-up(sm) {
            display: flex;
        }
    }

    &.no-events:not(.is-today) {
        @include media-breakpoint-down("sm") {
            display: none;
        }
    }

    &.no-events.is-today {
        .card-header {
            @include media-breakpoint-down("sm") {
                border-bottom: 0;
            }
        }
        .card-body {
            @include media-breakpoint-down("sm") {
                display: none;
            }
        }
    }

    .card-header {
        background-color: theme-color("light");
        padding: spacer(2);
        @include media-breakpoint-down("sm") {
            position: sticky;
            top: $top-bar-height + 45px;
            z-index: 2;
        }
    }
    .card-body {
        padding: spacer(2);
    }
}

@mixin pushDate() {
    @for $i from 0 to 7 {
        .span-#{$i}:first-child {
            @include media-breakpoint-up("sm") {
                margin-left: calc(14.28% * #{$i});
            }
        }
    }
}

@include pushDate();


:host ::ng-deep .popover-body {
    padding-left: 0;
    padding-right: 0;
}