@import "../../style/bootstrap-overrides";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
.diary-header {
    @include media-breakpoint-down(sm) {
        position: fixed;
        width: 100%;
        top: $top-bar-height;
        left: 0;
        padding: spacer(2) spacer(3);
        background: color("white");
        z-index: 5;
        border-bottom: 1px solid $border-color;
    }
}

.dropup {
    @include media-breakpoint-down(sm) {
        position: fixed;
        bottom: 70px;
        right: $grid-gutter-width/2;
        z-index: 1000;
        margin: 0 !important;
    }
    .btn {
        @include media-breakpoint-down(sm) {
            border-radius: 50% !important;
            width: 50px;
            height: 50px;
        }
    }
    .dropdown-menu {
        @include media-breakpoint-down(sm) {
            right: 0 !important;
            left: auto !important;
            transform: translateY(-110%) !important;
        }
    }
}

.card-grid {
    @include media-breakpoint-up(sm) {
        margin: 0;
    }
    @include media-breakpoint-down(sm) {
        margin: 50px 0 70px;
    }
}

.card {
    width: 100%;
    min-height: 700px;

    @include media-breakpoint-up(sm) {
        font-size: $font-size-sm;
        width: 14.28%;
        margin: 0;
        border-radius: 0;
    }
    @include media-breakpoint-down("sm") {
        margin: 0;
        border-radius: 0;
    }
    .month & {
        min-height: 0;
        @include media-breakpoint-up(sm) {
            min-height: 150px;
        }
    }
    .day & {
        @include media-breakpoint-up(sm) {
            width: 100%;
            margin-left: 0!important;
        }
    }
    &.is-weekend {
        display: none;
        @include media-breakpoint-up(sm) {
            display: flex;
        }
    }
    &.no-events:not(.is-today) {
        @include media-breakpoint-down("sm") {
            display: none;
        }
    }
    &.no-events.is-today {
        .card-header {
            @include media-breakpoint-down("sm") {
                border-bottom: 0;
            }
        }
        .card-body {
            @include media-breakpoint-down("sm") {
                display: none;
            }
        }
    }
    .card-header {
        background-color: theme-color("light");
        padding: spacer(2);
        
        .month & {
            @include media-breakpoint-down("sm") {
                position: sticky;
                top: $top-bar-height + 45px;
                z-index: 2;
            }
        }
    }
    .card-body {
        padding: spacer(2) spacer(1);
        padding-left: 0.8rem;

        .day &, .week & {
            overflow: auto;
            position: relative;
        }

        @include media-breakpoint-down("sm") {
            padding: spacer(2);
            padding-left: 1.2rem;
        }
    }
}

@mixin pushDate() {
    @for $i from 0 to 7 {
        .span-#{$i}:first-child {
            @include media-breakpoint-up("sm") {
                margin-left: calc(14.28% * #{$i});
            }
        }
    }
}

@include pushDate();
:host ::ng-deep .popover-body {
    padding-left: 0;
    padding-right: 0;
}

.day-grid {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    height: calc(100% - 45px);

    & > div {
        height: 10%;
        padding: 0 spacer(1);
        opacity: 0.5;
    }
}

.event {
    position: relative;

    .month & {
        background-color: transparent!important;
        height: auto!important;
        top: auto!important;
    }

    .day &, .week & {
        padding: spacer(1);
        @include border-radius(spacer(1));
        color: color("white");
    }

    .color {
        position: absolute;
        display: block;
        top: 50%;
        left: -10px;
        width: 8px;
        height: 8px;
        transform: translateY(-50%);
        border-radius: 50%;

        @include media-breakpoint-down("sm") {
            left: -12px;
        }
    }
}

.search {
    @include media-breakpoint-down("sm") {
        margin-top: 50px;
    }

    .card {
        @include media-breakpoint-up(sm) {
            width: 25%;
        }
    }
}

:host ::ng-deep .tooltip {
    @include media-breakpoint-down(sm) {
        display: none!important;
    }
}