@import "../../style/bootstrap-overrides";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
.diary-header {
    @include media-breakpoint-down(sm) {
        position: fixed;
        width: 100%;
        top: $top-bar-height;
        left: 0;
        padding: spacer(2) spacer(3);
        background: color("white");
        z-index: 5;
        border-bottom: 1px solid $border-color;
    }
}

.dropup {
    @include media-breakpoint-down(sm) {
        position: fixed;
        bottom: 70px;
        right: $grid-gutter-width/2;
        z-index: 1000;
        margin: 0 !important;
    }
    .btn {
        @include media-breakpoint-down(sm) {
            border-radius: 50% !important;
            width: 50px;
            height: 50px;
        }
    }
    .dropdown-menu {
        @include media-breakpoint-down(sm) {
            right: 0 !important;
            left: auto !important;
            transform: translateY(-110%) !important;
        }
    }
}

.card-grid {
    @include media-breakpoint-up(sm) {
        margin: 0;
    }
    @include media-breakpoint-down(sm) {
        margin: 50px 0 0;
    }

    &.day, &.workingWeek, &.week {
        @include media-breakpoint-up(sm){
            overflow: auto;
            position: relative;
            max-height: 700px;
        }
    }
}

.card {
    width: 100%;
    min-height: 1400px;

    @include media-breakpoint-up(sm) {
        font-size: $font-size-sm;
        width: 14.28%;
        margin: 0;
        border-radius: 0;
    }
    @include media-breakpoint-down("sm") {
        margin: 0;
        border-radius: 0;
    }
    .month & {
        min-height: 0;
        @include media-breakpoint-up(sm) {
            min-height: 150px;
        }
    }

    .workingWeek & {
        width: 16.66%;
    }

    .day & {
        @include media-breakpoint-up(sm) {
            width: 100%;
            margin-left: 0!important;
        }
    }
    &.is-weekend {
        display: none;
        @include media-breakpoint-up(sm) {
            display: flex;
        }

        .workingWeek & {
            display: none;
        }
    }

    &.no-events:not(.is-today) {
        @include media-breakpoint-down("sm") {
            display: none;
        }
    }
    &.no-events.is-today {
        .card-header {
            @include media-breakpoint-down("sm") {
                border-bottom: 0;
            }
        }
        .card-body {
            @include media-breakpoint-down("sm") {
                display: none;
            }
        }
    }
    .card-header {
        background-color: theme-color("light");
        padding: spacer(2);
        border-radius: 0;
        z-index: 2;
        
        .workingWeek &, .week &, .day & {
            position: sticky;
            margin-top: -1px;
            border-top: 1px solid $border-color;

            @include media-breakpoint-up("sm") {  
                top: 0;
            }
        }
        
        @include media-breakpoint-down("sm") {
            position: sticky;
            top: $top-bar-height + 54px;
        }

        @media (max-width: 320px) {
            top: $top-bar-height + 45px;
        }
    }
    .card-body {
        padding: spacer(2) spacer(1);
        position: relative;

        @include media-breakpoint-down("sm") {
            padding: spacer(2);
        }
    }
}

@mixin pushDate() {
    @for $i from 0 to 7 {
        .span-#{$i}:first-child {
            @include media-breakpoint-up("sm") {
                margin-left: calc(14.28% * #{$i});
            }
        }
    }
}

@include pushDate();
:host ::ng-deep .popover-body {
    padding-left: 0;
    padding-right: 0;
}

.day-grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;

    & > div {
        height: 2.085%;
        padding: 0 spacer(1);
        opacity: 0.5;
        cursor: not-allowed;

        &:nth-child(even) {
            border-color: rgba(theme-color("dark"), 0.4)!important;
        }

        &.clickable {
            cursor: pointer;
            &:hover {
                background-color: $table-hover-bg;
            }
        }
    }
}

.event {
    position: absolute;
    cursor: pointer;
    right: spacer(1);
    left: spacer(1);
    overflow: hidden;
    background: theme-color(dark);

    .month & {
        background-color: transparent!important;
        height: auto!important;
        left: auto;
        right: auto;
        position: relative;
        top: auto!important;
    }

    .day &, .workingWeek &, .week & {
        padding: spacer(1);
        @include border-radius(spacer(1));
        color: color("white");

        &.all-day {
            position: sticky;
            top: 2.085%!important;
            z-index: 50;
        }
    }

    .color {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-top: 7.5px;
        margin-right: 2px;
    }
}

.search {
    @include media-breakpoint-down("sm") {
        margin-top: 50px;
    }

    .card {
        @include media-breakpoint-up(sm) {
            width: 25%;
        }
    }
}

:host ::ng-deep .tooltip {
    @include media-breakpoint-down(sm) {
        display: none!important;
    }
}