<div class="row no-gutters justify-content-between mb-3 diary-header">
  <div class="col-auto">
    <div class="row no-gutters align-items-center">
      <div class="col-auto">
        <div class="btn-group mr-2" dropdown [dropup]="isDropup" (window:resize)="setDropup()">
          <button id="button-dropup" dropdownToggle type="button" class="btn btn-secondary rounded"
            aria-controls="event-dropup">
            <i class="fas fa-plus"></i> <span class="d-none d-sm-inline ml-2">Add Event</span>
          </button>
          <ul id="event-dropup" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-dropup">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['/add-event']"><i
                  class="fas fa-calendar-day fa-fw mr-2"></i>Appointment</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#"><i class="fas fa-phone-alt fa-fw mr-2"></i>Callback
                reminder</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-auto d-sm-none" *ngIf="viewMode == 'day'">
        <button type="button" class="btn btn-link px-0" (click)="enterView('','month')"><i
            class="fas fa-chevron-left"></i> {{monthLabel}}</button>
      </div>
      <div class="col-auto d-sm-block pr-2" *ngIf="!appUtils.isDiarySearchVisible"
        [ngClass]="{'d-none': viewMode == 'day'}">
        <button type="button" class="btn btn-light" (click)="setToday()">{{setTodayLabel}}</button>
      </div>
      <div class="col d-sm-block" *ngIf="!appUtils.isDiarySearchVisible" [ngClass]="{'d-none': viewMode == 'day'}">
        <button type="button" class="btn btn-light" (click)="prevMonth()"><i class="fas fa-chevron-left"></i></button>
        <h6 class="d-inline-block m-0 align-middle mx-2">{{monthLabel}}</h6>
        <button type="button" class="btn btn-light" (click)="nextMonth()"><i class="fas fa-chevron-right"></i></button>
      </div>
    </div>
  </div>
  <div class="col-auto d-sm-block" [ngClass]="{'d-none': viewMode == 'day'}">
    <form [formGroup]="diaryHeaderForm">
      <div class="row no-gutters">
        <div class="col-auto">
          <button type="button" (click)="toggleSearch()" class="btn btn-light">
            <ng-container *ngIf="!appUtils.isDiarySearchVisible"><i class="fas fa-search fa-fw"></i> <span
                class="d-none d-sm-inline ml-2">Search</span></ng-container>
            <ng-container *ngIf="appUtils.isDiarySearchVisible"><i class="fas fa-calendar-alt fa-fw mr-2"></i> Calendar
            </ng-container>
          </button>
        </div>
        <div class="col d-none d-sm-flex pl-2" *ngIf="!appUtils.isDiarySearchVisible">
          <select name="viewMode" id="vew-mode" formControlName="viewMode" (change)="changeView($event.target.value)"
            class="custom-select">
            <option value="day">Day</option>
            <option value="workingWeek">Working Week</option>
            <option value="week">Week</option>
            <option value="month">Month</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container p-0 search" *ngIf="appUtils.isDiarySearchVisible">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search event" autofocus>
  </div>
  <div class="card-grid mt-0 month">
    <div class="card">
      <div class="card-header">
        <strong>Sat 30 Mar</strong>
      </div>
      <div class="card-body">
        <div class="row no-gutters event">
          <span class="color" [ngStyle]="{'background': 'blue'}"></span>
          <div class="col text-truncate"><span class="text-muted">00.00</span> Searched event</div>
          <div class="col-auto"><i class="fas fa-calendar fa-fw"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-grid {{viewMode}}" *ngIf="!appUtils.isDiarySearchVisible">
  <div class="card" *ngFor="let day of days; first as isFirst; index as i" class="{{day.spanClass}}"
    [ngClass]="{'is-weekend': day.isWeekend, 'no-events': !day.events.length && viewMode != 'day', 'is-today': day.isToday }"
    [attr.id]="day.isToday ? 'today' : ''">
    <div class="card-header clearfix" (click)="enterView(day.date, 'day')">
      <strong [ngClass]="{'text-secondary': day.isToday}">{{day.label}}</strong>
    </div>

    <ng-template #popTemplate>
      <ul class="list-unstyled m-0" tabindex="1">
        <li><a class="dropdown-item" [routerLink]="['/add-event']"><i class="fas fa-calendar-day fa-fw mr-2"></i>Add
            Appointment</a></li>
        <li><a class="dropdown-item" href="#"><i class="fas fa-phone-alt fa-fw mr-2"></i>Add Callback
            reminder</a>
        </li>
      </ul>
    </ng-template>
    <ng-template #popEventTemplate>
      <ul class="list-unstyled m-0" tabindex="1">
        <li><a class="dropdown-item" [routerLink]="['/add-event']"><i class="fas fa-edit fa-fw mr-2"></i>Edit/View</a>
        </li>
        <li><a class="dropdown-item" href="#"><i class="far fa-calendar-times fa-fw mr-2"></i>Delete</a>
        </li>
        <li><a class="dropdown-item" [routerLink]="['/add-event']"><i class="far fa-calendar-plus fa-fw mr-2"></i>Create
            overlapped event</a></li>
      </ul>
    </ng-template>
    <div class="card-body" [ngClass]="{'pl-2 pl-lg-1': viewMode !== 'month'}" [popover]="popTemplate"
      [containerClass]="day.isClickable && viewMode === 'month' ? '' : 'd-none'" [outsideClick]="true">
      <div class="day-grid" *ngIf="viewMode !== 'month'">
        <ng-container *ngFor="let hour of hours; last as isLast;">
          <div class="border-bottom hour-{{hour}}" (click)="$event.stopPropagation()"
            [ngClass]="{'clickable': day.isClickable}" container="body" [popover]="popTemplate"
            [containerClass]="day.isClickable ? '' : 'd-none'">
            {{isFirst || (viewMode === 'workingWeek' && i === 1) ? hour + ':00' : ''}}</div>
          <div (click)="$event.stopPropagation()" [ngClass]="{'clickable': day.isClickable, 'border-bottom': !isLast}"
            container="body" [popover]="popTemplate" [containerClass]="day.isClickable ? '' : 'd-none'"></div>
        </ng-container>
      </div>
      <div class="row no-gutters event" [ngClass]="{'mb-2': !isLast}" [tooltip]="event.startTime + ' - ' + event.notes"
        placement="bottom" container="body" [containerClass]="'d-none d-sm-block'"
        [ngStyle]="{'background-color': event.color, 'height': event.duration, 'top': event.position}"
        *ngFor="let event of day?.events; last as isLast">
        <div class="col-12" (click)="$event.stopPropagation();" [popover]="popEventTemplate" container="body">
          <div class="row no-gutters">
            <span class="color" [ngStyle]="{'background': event.color}" *ngIf="viewMode === 'month'"></span>
            <div class="col"><span
                [ngClass]="{'text-muted': viewMode === 'month'}">{{event.startTime}}</span>&nbsp;<strong>{{event.title}}</strong>
            </div>
            <div class="col-auto" [ngClass]="{'text-muted': viewMode === 'month'}"><i class="far fa-calendar fa-fw"
                *ngIf="event.type"></i><i class="-alt fa-fw" *ngIf="!event.type"></i></div>
            <div class="col-12" *ngIf="viewMode !== 'month'">
              {{event.notes}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
