<fieldset>
  <p class="message message--info" *ngIf="isFullMatch">There is already a property with this address. Select it from the
    list or <a href (click)="$event.preventDefault(); hideModal.emit()">search again</a>.
  </p>
</fieldset>
<div class="table">
  <table class="table--mobile table--rowHover">
    <tbody>
      <tr *ngFor="let foundProperty of potentialDuplicates" (click)="selectProperty(foundProperty?.propertyId)">
        <td>
          <span class="cell-content">
            {{foundProperty?.propertyAddress}}
          </span>
          <span *ngIf="foundProperty?.ranking">
            <small class="txt--positive" *ngIf="foundProperty?.matchType == 'FullMatch'">Full Match</small>
            <small class="txt--warning" *ngIf="foundProperty?.matchType == 'GoodMatch'">Good Match</small>
          </span>
        </td>
        <td class="hide--mobile">
          <svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon icon--s">
            <path d="M1 35.4h48.8L37.5 47.8l4.9 4.9L63 32 42.3 11.3l-4.9 4.9 12.3 12.3H1V35.4z"></path>
          </svg>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- <div class="row justify-content-end" *ngIf="isLoading">
  <div class="col-sm-10 text-center">
    <i class="fas fa-spinner fa-pulse d-inline-block"></i> Looking for duplicates ...
  </div>
</div>
<div class="off-canvas" [hidden]="!isDuplicateFound && !showMatches" (click)="isDuplicateFound = false; showMatches = false;">
  <div class="off-canvas-content right slide-in-right" (click)="$event.stopPropagation()" #offCanvasContent>
    <h4 class="page-title text-left pt-3">
      Quick finder
      <button type="button" class="close mr-2" aria-label="Close" (click)="isDuplicateFound = false; showMatches = false;">
        <span aria-hidden="true">&times;</span>
      </button>
    </h4>
    <div class="alert alert-info" *ngIf="isFullMatch">There is already a property with this address. Select it from the list or <a href (click)="$event.preventDefault(); isDuplicateFound = false; showMatches = false;">search again</a>.</div>
    <app-subnav>
      <ng-container *ngIf="potentialDuplicates">
        <app-subnav-item *ngFor="let foundProperty of potentialDuplicates" (click)="selectProperty(foundProperty?.propertyId)">
          <div class="row">
            <div class="col-12 mb-2" *ngIf="foundProperty?.ranking">
              <span class="badge badge-pill badge-success" *ngIf="foundProperty?.matchType == 'FullMatch'">Full Match</span>
              <span class="badge badge-pill badge-warning" *ngIf="foundProperty?.matchType == 'PartMatch'">Part Match</span>
            </div>
            <div class="col-sm">
              {{foundProperty?.propertyAddress}}
            </div>
          </div>
        </app-subnav-item>
      </ng-container>
    </app-subnav>
  </div>
</div> -->