<div class="row">
    <div class="col col-12 text-left bg-primary mb-2 p-1">
      <h6>Viewings</h6>
      <table class="table table-sm table-borderless">
        <thead>
          <tr>
            <th>Total</th>
            <th>Nina L</th>
            <th>Lisa K</th>
            <th>Stephen H</th>
            <th>Robert M</th>
            <th>Joe M</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>46</td>
            <td>18</td>
            <td>12</td>
            <td>9</td>
            <td>5</td>
            <td>2</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col col-12 text-left bg-primary mb-2 p-1">
      <h6>Offers agreed</h6>
      <table class="table table-sm table-borderless">
        <thead>
          <tr>
            <th>Total</th>
            <th>Nina L</th>
            <th>Lisa K</th>
            <th>Stephen H</th>
            <th>Robert M</th>
            <th>Joe M</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>46</td>
            <td>18</td>
            <td>12</td>
            <td>9</td>
            <td>5</td>
            <td>2</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col col-12 text-left bg-primary mb-2 p-1">
      <h6>Exchanges</h6>
      <table class="table table-sm table-borderless">
        <thead>
          <tr>
            <th>Total</th>
            <th>Nina L</th>
            <th>Lisa K</th>
            <th>Stephen H</th>
            <th>Robert M</th>
            <th>Joe M</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>£46 k</td>
            <td>£18 k</td>
            <td>£12 k</td>
            <td>£9 k</td>
            <td>£5 k</td>
            <td>£2 k</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col col-12 text-left bg-primary mb-2 p-1">
      <h6>Pipeline</h6>
      <table class="table table-sm table-borderless">
        <thead>
          <tr>
            <th>Total</th>
            <th>Nina L</th>
            <th>Lisa K</th>
            <th>Stephen H</th>
            <th>Robert M</th>
            <th>Joe M</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>£46 k</td>
            <td>£18 k</td>
            <td>£12 k</td>
            <td>£9 k</td>
            <td>£5 k</td>
            <td>£2 k</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
