<div class="row">
  <div class="card">
    <div class="card-body pb-2">
      <h5 class="card-title">Applicants</h5>
      <div class="row align-items-center">
        <div class="col-4 text-center">
          <strong class="card-text h3">{{totalApplicants}}</strong>
          <p><small class="text-muted">Total</small></p>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-6 px-2 text-center" *ngFor="let member of teamDashboard">
              <strong class="card-text h5">{{ member.applicants.totalCount }}</strong>
              <p><small class="text-muted">{{ member.staffMember.staffMemberFullName | shortenName}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body pb-2">
      <h5 class="card-title">Viewings</h5>
      <div class="row align-items-center">
        <div class="col-4 text-center">
          <strong class="card-text h3">{{totalViewings}}</strong>
          <p><small class="text-muted">Total</small></p>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-6 px-2 text-center" *ngFor="let member of teamDashboard">
              <strong class="card-text h5">{{ member.viewings?.periodCount || 0 }}</strong>
              <p><small class="text-muted">{{ member.staffMember.staffMemberFullName | shortenName}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body pb-2">
      <h5 class="card-title">Offers Agreed</h5>
      <div class="row align-items-center">
        <div class="col-4 text-center">
          <strong class="card-text h3">{{totalOffersAgreed}}</strong>
          <p><small class="text-muted">Total</small></p>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-6 px-2 text-center" *ngFor="let member of teamDashboard">
              <strong class="card-text h5">{{ member.offersAgreed.periodCount }}</strong>
              <p><small class="text-muted">{{ member.staffMember.staffMemberFullName | shortenName}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body pb-2">
      <h5 class="card-title">Offers Received</h5>
      <div class="row align-items-center">
        <div class="col-4 text-center">
          <strong class="card-text h3">{{totalOffersReceived}}</strong>
          <p><small class="text-muted">Total</small></p>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-6 px-2 text-center" *ngFor="let member of teamDashboard">
              <strong class="card-text h5">{{ member.offersReceived.periodCount }}</strong>
              <p><small class="text-muted">{{ member.staffMember.staffMemberFullName | shortenName}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body pb-2">
      <h5 class="card-title">Exchanges</h5>
      <div class="row align-items-center">
        <div class="col-4 text-center">
          <strong class="card-text h3">{{totalExchanges | rounding | currency: 'GBP' }}</strong>
          <p><small class="text-muted">Total</small></p>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-6 px-2 text-center" *ngFor="let member of teamDashboard">
              <strong
                class="card-text h5">{{ member.exchanges.periodFees | rounding | currency: "GBP" | truncating }}</strong>
              <p><small class="text-muted">{{ member.staffMember.staffMemberFullName | shortenName}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body pb-2">
      <h5 class="card-title">Pipeline</h5>
      <div class="row align-items-center">
        <div class="col-4 text-center">
          <strong class="card-text h3">{{totalPipeline | rounding | currency: 'GBP' }}</strong>
          <p><small class="text-muted">Total</small></p>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-6 px-2 text-center" *ngFor="let member of teamDashboard">
              <strong
                class="card-text h5">{{ member.pipeline.totalFees | rounding | currency: 'GBP' | truncating }}</strong>
              <p><small class="text-muted">{{ member.staffMember.staffMemberFullName | shortenName}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>