<div class="row">
  <div class="col col-12 text-left bg-primary mb-2 p-1">
    <h6>Applicants</h6>
    <table class="table table-sm table-borderless" >
      <thead>
        <tr class="align-table-row"><th scope="col">Total</th></tr>
        <tr class="align-table-row" *ngFor="let member of teamDashboard">
          <th scope="col">{{ member.staffMember.staffMemberFullName | shortenName}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="align-table-row"><td scope="col">{{totalApplicants}}</td></tr>
        <tr class="align-table-row" *ngFor="let member of teamDashboard">
          <td>{{ member.applicants.totalCount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col col-12 text-left bg-primary mb-2 p-1">
    <h6>Viewings</h6>
    <table class="table table-sm table-borderless" >
      <thead>
        <tr class="align-table-row"><th scope="col">Total</th></tr>
        <tr class="align-table-row" *ngFor="let member of teamDashboard">
          <th scope="col">{{ member.staffMember.staffMemberFullName | shortenName }}</th>
        </tr>
      </thead>
      <tbody>
          <tr class="align-table-row"><td scope="col">{{totalViewings}}</td></tr>
        <tr class="align-table-row" *ngFor="let member of teamDashboard">
          <td>{{ member.viewings?.periodCount || 0 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col col-12 text-left bg-primary mb-2 p-1">
    <h6>Offers agreed</h6>
    <table class="table table-sm table-borderless" >
      <thead>
        <tr class="align-table-row"><th scope="col">Total</th></tr>
        <tr class="align-table-row" *ngFor="let member of teamDashboard">
          <th scope="col">{{ member.staffMember.staffMemberFullName | shortenName}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="align-table-row"><td scope="col">{{totalOffersAgreed}}</td></tr>
        <tr class="align-table-row" *ngFor="let member of teamDashboard">
          <td>{{ member.offersAgreed.periodCount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col col-12 text-left bg-primary mb-2 p-1">
    <h6>Offers Received</h6>
    <table class="table table-sm table-borderless" >
      <thead>
        <tr class="align-table-row"><th scope="col">Total</th></tr>
        <tr class="align-table-row" *ngFor="let member of teamDashboard">
          <th scope="col">{{ member.staffMember.staffMemberFullName | shortenName}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="align-table-row"><td scope="col">{{totalOffersReceived}}</td></tr>
        <tr class="align-table-row" *ngFor="let member of teamDashboard">
          <td>{{ member.offersReceived.periodCount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col col-12 text-left bg-primary mb-2 p-1">
    <h6>Exchanges</h6>
    <table class="table table-sm table-borderless" >
      <thead>
        <tr class="align-table-row"><th scope="col">Total</th></tr>
        <tr class="align-table-row" *ngFor="let member of teamDashboard">
          <th scope="col">{{ member.staffMember.staffMemberFullName | shortenName}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="align-table-row"><td scope="col">{{totalExchanges | rounding | currency: 'GBP' }}</td></tr>
        <tr class="align-table-row" *ngFor="let member of teamDashboard">
          <td>{{ member.exchanges.periodFees | rounding | currency: "GBP" | truncating }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col col-12 text-left bg-primary mb-2 p-1">
    <h6>Pipeline</h6>
    <table class="table table-sm table-borderless" >
      <thead>
        <tr class="align-table-row"><th scope="col">Total</th></tr>
        <tr class="align-table-row" *ngFor="let member of teamDashboard">
          <th scope="col">{{ member.staffMember.staffMemberFullName | shortenName}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="align-table-row"><td scope="col">{{totalPipeline | rounding | currency: 'GBP' }}</td></tr>
        <tr class="align-table-row" *ngFor="let member of teamDashboard">
          <td>{{ member.pipeline.totalFees | rounding | currency: 'GBP' | truncating }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
