<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr *ngFor="let pipeline of pipelineList; let i = index;">
        <th scope="row" class="font-weight-normal">{{i + 1}}<span class="d-sm-none">. {{pipeline.fullName}}</span></th>
        <td class="d-none d-sm-table-cell">{{pipeline.fullName}}</td>
        <td class="font-weight-bold">{{pipeline.totalFees | rounding
                      | currency: "GBP"
                      | truncating}}</td>
        <td>{{pipeline.totalCount}}</td>
      </tr>
    </tbody>
  </table>
</div>