<div class="table-responsive ">
  <table class="table">
    <tbody>
      <tr *ngFor="let exchange of exchanges; let i = index;">
        <th scope="row" class="font-weight-normal">{{i + 1}}<span class="d-sm-none">. {{exchange.fullName}}</span></th>
        <td class="d-none d-sm-table-cell">{{exchange.fullName}}</td>
        <td class="font-weight-bold">{{exchange.totalFees | rounding
                      | currency: "GBP"
                      | truncating}}</td>
        <td>{{exchange.totalCount}}</td>
      </tr>
    </tbody>
  </table>
</div>