<ng-container *ngIf="navLink; else noLink">
    <a [routerLink]="link" (click)="noLink()" [queryParams]="params">
        <div class="float-left pull-left text-left"><ng-content></ng-content></div>
        <span class="float-right pull-right"><i class="fas fa-chevron-right"></i></span>
    </a>
</ng-container>
<ng-template #noLink>
    <a href (click)="$event.preventDefault()">
        <div class="float-left pull-left text-left"><ng-content></ng-content></div>
        <span class="float-right pull-right"><i class="fas fa-chevron-right"></i></span>
    </a>
</ng-template>