<div class="list-group list-group-flush">
  <div class="list-group-item list-header d-none d-sm-block">
    <div class="row">
      <div class="col-sm"><strong>Date</strong></div>
      <div class="col-sm"><strong>Owner</strong></div>
      <div class="col-sm-6"><strong>Note</strong></div>
    </div>
  </div>
  <div class="list-group-item list-group-item-danger">
    <div class="row">
      <div class="col-sm">
        <dl class="row">
          <dt class="col-4 d-sm-none">Date</dt>
          <dd class="col">14/11/18</dd>
        </dl>
      </div>
      <div class="col-sm">
        <dl class="row">
          <dt class="col-4 d-sm-none">Owner</dt>
          <dd class="col">Alex Turnbull</dd>
        </dl>
      </div>
      <div class="col-sm-6">
        <dl class="row">
          <dt class="col-4 d-sm-none">Note</dt>
          <dd class="col">Do not contact, GDPR request pending</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="list-group-item list-group-item-warning">
    <div class="row">
      <div class="col-sm">
        <dl class="row">
          <dt class="col-4 d-sm-none">Date</dt>
          <dd class="col">14/11/18</dd>
        </dl>
      </div>
      <div class="col-sm">
        <dl class="row">
          <dt class="col-4 d-sm-none">Owner</dt>
          <dd class="col">Alex Turnbull</dd>
        </dl>
      </div>
      <div class="col-sm-6">
        <dl class="row">
          <dt class="col-4 d-sm-none">Note</dt>
          <dd class="col">Don't call before 5pm</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="list-group-item">
      <div class="row">
        <div class="col-sm">
          <dl class="row">
            <dt class="col-4 d-sm-none">Date</dt>
            <dd class="col">21/05/18</dd>
          </dl>
        </div>
        <div class="col-sm">
          <dl class="row">
            <dt class="col-4 d-sm-none">Owner</dt>
            <dd class="col">Alex Turnbull</dd>
          </dl>
        </div>
        <div class="col-sm-6">
          <dl class="row">
            <dt class="col-4 d-sm-none">Note</dt>
            <dd class="col">Spoke to Mr Smith, May be later in the year</dd>
          </dl>
        </div>
      </div>
    </div>
</div>