<form [formGroup]="valuationForm" autocompleteOff>
  <div class="w-full border-0 border-red-400 flex flex-row">
    <ng-container *ngIf="message">
      <app-messages [message]="message"></app-messages>
    </ng-container>
    <span class="flex-1"></span>
    <app-menu [menuItems]="menuItems"></app-menu>
  </div>
  <div class="grid grid--9">
    <fieldset class="mb-2">
      <fieldset class="row">
        <label style="width: auto; margin-top: 10px" for="haveInterest">
          Does the Owner have a declarable interest (Section 21)
          <span class="--color-red-400">
            <i
              [pTooltip]="informationMessage"
              class="fa fa-info-circle fa-lg text-blue"
              style="color: #3498db; padding-left: 4px; margin-top: -4px"
            ></i>
          </span>
        </label>
      </fieldset>
      <span class="radio radio--inline">
        <span style="margin-right: 8px">
          <input
            class="p-2"
            type="radio"
            id="interestYes"
            value="true"
            name="declarableInterest"
            formControlName="declarableInterest"
            data-cy="interestYes"
          />
          <label for="interestYes" class="mb-1">Yes</label>
        </span>
        <span>
          <input
            class="p-2"
            type="radio"
            id="interestNo"
            value="false"
            name="declarableInterest"
            formControlName="declarableInterest"
            data-cy="interestNo"
          />
          <label for="interestNo" class="mb-1">No</label>
        </span>
      </span>
    </fieldset>
    <fieldset class="mb-3">
      <p-dropdown
        *ngIf="valuationForm.get('declarableInterest').value === 'true'"
        [options]="interestList"
        formControlName="section21StatusId"
        optionLabel="value"
        optionValue="id"
        [filter]="false"
        data-cy="section21StatusId"
      ></p-dropdown>
    </fieldset>
  </div>
  <p-messages *ngIf="formErrors.declarableInterest" severity="error">
    <ng-template pTemplate>
      <div data-cy="termsofbusinessWarningMessage" class="p-ml-2">Please select terms of business</div>
    </ng-template>
  </p-messages>
</form>

<ng-container
  *ngIf="
    (valuationType == valuationTypeGetter.Sales && valuationData.valuationStatus === 3) ||
    valuationData.valuationStatus === 4
  "
>
  <app-terms-of-business-table-sales [data]="termsOfBusinessDocument"></app-terms-of-business-table-sales>

  <app-sales-tob-dialog
    (onSubmitTermsOfBusiness)="onSubmitTermsOfBusiness($event)"
    [showDialog]="showSalesDialog"
    [termsOfBusinessModel]="termsOfBusinessDocument.toBSale"
  ></app-sales-tob-dialog>
</ng-container>

<ng-container *ngIf="valuationType == valuationTypeGetter.Lettings">
  <app-terms-of-business-table-lettings [data]="termsOfBusinessDocument"></app-terms-of-business-table-lettings>

  <app-lettings-tob-dialog
    (onSubmitTermsOfBusiness)="onSubmitTermsOfBusiness($event)"
    [showDialog]="showLettingsDialog"
    [termsOfBusinessModel]="termsOfBusinessDocument.toBLetting"
  ></app-lettings-tob-dialog>
</ng-container>
