<div class="no-gutters">
  <div class="row border-bottom">
    <div class="col-3 col-sm-1 pr-0">
      <p>
        <i class="fas fa-building"></i>
        <i class="fas fa-bed"></i> 3
        <i class="fas fa-eye"></i>
      </p>
    </div>
    <div class="col-9 col-md-4 pr-0">
      <p>23 Prince of Wales Crescent,SW6 2LT</p>
    </div>
    <div class="col-2 col-md-1">
      <p>£850,000</p>
    </div>
    <div class="col-2 col-md-1">
      <p>Leasehold</p>
    </div>
    <div class="col-1">
      <p>INST</p>
    </div>
    <div class="col">
      <p>Proposed 20/11/2018</p>
    </div>
  </div>
  <div class="row border-bottom">
    <div class="col-3 col-sm-1 pr-0">
      <p>
        <i class="fas fa-home"></i>
        <i class="fas fa-bed"></i> 4</p>
    </div>
    <div class="col-9 col-md-4 pr-0">
      <p>23 Dewbury Road,SW6 2LT</p>
    </div>
    <div class="col-2 col-md-1">
      <p>£900,000</p>
    </div>
    <div class="col-2 col-md-1">
      <p>Freehold</p>
    </div>
    <div class="col-1">
      <p>INST</p>
    </div>
    <div class="col">
      <p>New</p>
    </div>
  </div>
  <div class="row border-bottom">
    <div class="col-3 col-sm-1 pr-0">
      <p>
        <i class="fas fa-building"></i>
        <i class="fas fa-bed"></i> 2</p>
    </div>
    <div class="col-9 col-md-4 pr-0">
      <p>1A, Ashdown Court, 16 Tavistock Road, SW6 2LT</p>
    </div>
    <div class="col-2 col-md-1">
      <p>£850,000</p>
    </div>
    <div class="col-2 col-md-1">
      <p>Leasehold</p>
    </div>
    <div class="col-1">
      <p>INST</p>
    </div>
    <div class="col">
      <p>New</p>
    </div>
  </div>
  <div class="row border-bottom">
    <div class="col-3 col-sm-1 pr-0">
      <p>
        <i class="fas fa-building"></i>
        <i class="fas fa-bed"></i> 3
        <i class="fas fa-eye"></i>
      </p>
    </div>
    <div class="col-9 col-md-4 pr-0">
      <p>17A Brighton Road,SW6 2LT</p>
    </div>
    <div class="col-2 col-md-1">
      <p>£825,000</p>
    </div>
    <div class="col-2 col-md-1">
      <p>Leasehold</p>
    </div>
    <div class="col-1">
      <p>UO</p>
    </div>
    <div class="col">
      <p>Proposed 21/11/2018</p>
    </div>
  </div>
  <div class="row border-bottom">
    <div class="col-3 col-sm-1 pr-0">
      <p>
        <i class="fas fa-home"></i>
        <i class="fas fa-bed"></i> 3
        <i class="fas fa-eye"></i>
      </p>
    </div>
    <div class="col-9 col-md-4 pr-0">
      <p>72 Newbury Road,SW6 2LT</p>
    </div>
    <div class="col-2 col-md-1">
      <p>£875,000</p>
    </div>
    <div class="col-2 col-md-1">
      <p>Leasehold</p>
    </div>
    <div class="col-1">
      <p>INST</p>
    </div>
    <div class="col">
      <p>Proposed 17/11/2018</p>
    </div>
  </div>
</div>