<app-breadcrumb></app-breadcrumb>
<div class="container">
  <h3>Edit Lead</h3>
  <form>
    <div class="form-group">
      <label for="type">Type</label>
      <select class="custom-select" id="type">
        <option selected>Valuation</option>
        <option>Professional valuation</option>
        <option>Refurbishment</option>
        <option>Insurance</option>
        <option>Remortage</option>
        <option>Wealth check</option>
      </select>
    </div>
    <app-property-finder></app-property-finder>
    <div class="form-group">
      <label for="chaser">Chase by</label>
      <select class="custom-select" id="chaser">
        <option selected>Alex Turnbull</option>
        <option>Kate Brogan</option>
        <option>Peter Doyle</option>
        <option>Jose Bailao</option>
      </select>
    </div>
    <div class="form-group">
      <label for="nextChase">Chase Date</label>
      <input type="text" data-provide="datepicker" class="form-control" id="nextChase" aria-describedby="emailHelp"
        placeholder="Chase date">
    </div>
    <div class="form-group">
      <div class="custom-control custom-radio custom-control-inline">
        <input class="custom-control-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
          checked>
        <label class="custom-control-label" for="exampleRadios1">
          Active
        </label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input class="custom-control-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="custom-control-label" for="exampleRadios2">
          Pending
        </label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input class="custom-control-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3"
          disabled>
        <label class="custom-control-label" for="exampleRadios3">
          Closed
        </label>
      </div>
    </div>
    <div class="list-group mt-4 mb-3">
      <div class="list-group-item">
        <div class="row">
          <div class="col-sm-3">
            <div class="row mb-2">
              <div class="col font-weight-bold">
                Matt Easley
              </div>
              <div class="col-auto col-sm-12 text-muted">
                28/11/18
              </div>
            </div>
          </div>
          <div class="col">
            <textarea class="form-control" id="newMessage" rows="3" placeholder="Comment ..."></textarea>
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row">
          <div class="col-sm-3">
            <div class="row mb-2">
              <div class="col font-weight-bold">
                Matt Easley
              </div>
              <div class="col-auto col-sm-12 text-muted">
                28/11/18
              </div>
            </div>
          </div>
          <div class="col">
            Called no answer
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row">
          <div class="col-sm-3">
            <div class="row mb-2">
              <div class="col font-weight-bold">
                Matt Easley
              </div>
              <div class="col-auto col-sm-12 text-muted">
                28/11/18
              </div>
            </div>
          </div>
          <div class="col">
            Called no answer
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row">
          <div class="col-sm-3">
            <div class="row mb-2">
              <div class="col font-weight-bold">
                Matt Easley
              </div>
              <div class="col-auto col-sm-12 text-muted">
                28/11/18
              </div>
            </div>
          </div>
          <div class="col">
            Called no answer
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row">
          <div class="col-sm-3">
            <div class="row mb-2">
              <div class="col font-weight-bold">
                Matt Easley
              </div>
              <div class="col-auto col-sm-12 text-muted">
                28/11/18
              </div>
            </div>
          </div>
          <div class="col">
            Called no answer
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row">
          <div class="col-sm-3">
            <div class="row mb-2">
              <div class="col font-weight-bold">
                Matt Easley
              </div>
              <div class="col-auto col-sm-12 text-muted">
                28/11/18
              </div>
            </div>
          </div>
          <div class="col">
            Called no answer
          </div>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <div class="container">
        <button routerLink="/contact-centre" type="button" class="btn btn-light mr-2">Cancel</button>
        <button routerLink="/contact-centre" type="submit" class="btn btn-secondary">Save</button>
      </div>
    </div>
  </form>
</div>