<form>
  <div class="form-group">
    <label for="type">Type</label>
    <select class="form-control form-control-sm" id="type">
      <option selected>Valuation</option>
      <option>Professional valuation</option>
      <option>Refurbishment</option>
      <option>Insurance</option>
      <option>Remortage</option>
      <option>Wealth check</option>
    </select>
  </div>
  <app-property-finder></app-property-finder>
  <div class="form-group">
    <label for="chaser">Chase by</label>
    <select class="form-control form-control-sm" id="chaser">
      <option selected>Alex Turnbull</option>
      <option>Kate Brogan</option>
      <option>Peter Doyle</option>
      <option>Jose Bailao</option>
    </select>
  </div>
  <div class="form-group">
    <label for="nextChase">Chase Date</label>
    <input type="text" data-provide="datepicker" class="form-control form-control-sm" id="nextChase" aria-describedby="emailHelp" placeholder="Chase date">
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
      Active
    </label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    <label class="form-check-label" for="exampleRadios2">
      Pending
    </label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
    <label class="form-check-label" for="exampleRadios3">
      Closed
    </label>
  </div>


  <div class="container-fluid messageList mt-2">
    <div class="row border-bottom">
      <div class="col-4">
        <p>Matt Easley
          <br>28/11/18</p>
      </div>
      <div class="col">
        <div class="form-group">
          <textarea class="form-control form-control-sm" id="newMessage" rows="3"></textarea>
        </div>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-4">
        <p>Matt Easley
          <br>27/11/18</p>
      </div>
      <div class="col">
        <p>Called no answer</p>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-4">
        <p>Matt Easley
          <br>27/08/18</p>
      </div>
      <div class="col">
        <p>ABout to go out, may be in the autumn</p>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-4">
        <p>Matt Easley
          <br>27/08/17</p>
      </div>
      <div class="col">
        <p>Could be interested but not until next year</p>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-4">
        <p>Matt Easley
          <br>27/08/17</p>
      </div>
      <div class="col">
        <p>Could be interested but not until next year</p>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-4">
        <p>Matt Easley
          <br>27/08/17</p>
      </div>
      <div class="col">
        <p>Could be interested but not until next year</p>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-4">
        <p>Matt Easley
          <br>27/08/17</p>
      </div>
      <div class="col">
        <p>Could be interested but not until next year</p>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-4">
        <p>Matt Easley
          <br>27/08/17</p>
      </div>
      <div class="col border-bottom">
        <p>Could be interested but not until next year</p>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-4">
        <p>Matt Easley
          <br>27/08/17</p>
      </div>
      <div class="col">
        <p>Could be interested but not until next year</p>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-4">
        <p>Matt Easley
          <br>27/08/17</p>
      </div>
      <div class="col">
        <p>Could be interested but not until next year</p>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-4">
        <p>Matt Easley
          <br>27/08/17</p>
      </div>
      <div class="col">
        <p>Could be interested but not until next year</p>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-4">
        <p>Matt Easley
          <br>27/08/17</p>
      </div>
      <div class="col">
        <p>Could be interested but not until next year</p>
      </div>
    </div>
  </div>
  <button routerLink="/contact-centre" type="submit" class="btn btn-primary">Save</button>
</form>