<nav class="navbar navbar-expand-lg navbar-dark bg-dark flex-lg-column">
  <a class="navbar-brand" routerLink="home">Wedge</a>
  <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed"
  [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarNavDropdown">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown" [collapse]="!navbarCollapsed">
    <ul class="navbar-nav flex-column">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" dropdown [insideClick]="true">
        <a class="nav-link dropdown-toggle" dropdownToggle (click)="false" role="button" aria-haspopup="true" aria-expanded="false">Contacts</a>
        <div class="dropdown-menu" *dropdownMenu (click)="navbarCollapsed = !navbarCollapsed">
          <a class="dropdown-item" routerLink="/contact-centre">Contact centre</a>
          <a class="dropdown-item" routerLink="/applicant-register">Applicants</a>
          <a class="dropdown-item" routerLink="/lead-register">Leads</a>
        </div>
      </li>
      <li class="nav-item" dropdown [insideClick]="true">
        <a class="nav-link dropdown-toggle" dropdownToggle (click)="false" role="button" aria-haspopup="true" aria-expanded="false">Properties</a>
        <div class="dropdown-menu" *dropdownMenu (click)="navbarCollapsed = !navbarCollapsed">
            <a class="dropdown-item" routerLink="/contact-centre">Property centre</a>
            <a class="dropdown-item" routerLink="/home">Valuations</a>
          <a class="dropdown-item" routerLink="/home">Instructions</a>
          <a class="dropdown-item" routerLink="/home">Offers</a>
          <a class="dropdown-item" routerLink="/home">Tenancies</a>
          <a class="dropdown-item" routerLink="/home">Letting Managements</a>
          <a class="dropdown-item" routerLink="/home">Home Managements</a>
        </div>
      </li>
      <li class="nav-item" dropdown [insideClick]="true">
        <a class="nav-link dropdown-toggle" dropdownToggle (click)="false" role="button" aria-haspopup="true" aria-expanded="false">Accounts</a>
        <div class="dropdown-menu" *dropdownMenu (click)="navbarCollapsed = !navbarCollapsed">
          <a class="dropdown-item" routerLink="/home">Invoices</a>
          <a class="dropdown-item" routerLink="/home">Works Orders</a>
          <a class="dropdown-item" routerLink="/home">Quick Bills</a>
        </div>
      </li>
      <li class="nav-item" dropdown [insideClick]="true">
        <a class="nav-link dropdown-toggle" dropdownToggle (click)="false" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
        <div class="dropdown-menu" *dropdownMenu (click)="navbarCollapsed = !navbarCollapsed">
          <a class="dropdown-item" routerLink="/home">Staff</a>
          <a class="dropdown-item" routerLink="/home">Offices</a>
          <a class="dropdown-item" routerLink="/home">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
