@import "../../style/bootstrap-overrides";

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.navbar-brand, .navbar-collapse {

    @include media-breakpoint-down(md){
        margin-top: $top-bar-height / 2;
    }

    @include media-breakpoint-up(lg) {
        width: 100%;
        margin: 0;
    }
}

.navbar-brand {
    margin: 0;
    padding: 0;
    line-height: 1;

    img{
        width: 160px;
        height: auto;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        @include media-breakpoint-up(lg){
            position: static;
            transform: translateX(0);
            width: 200px;
            max-width: 100%;
        }
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: $side-nav-width;
    height: calc(100vh - 205px);
    overflow: auto;

    @include media-breakpoint-down(md){
        right: 0;
        z-index: 1030;
        padding-top: 1rem;
        padding-bottom: 1rem;
        min-height: $top-bar-height;
        width: 100%;
        max-height: 100vh;
    }

    .navbar-collapse {
        @include media-breakpoint-up(lg){
            align-items: flex-start;
        }
    }
}


.navbar-nav {
    width: 100%;

    .nav-link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding-top: spacer(3);
        padding-bottom: spacer(3);
    }

    .nav-item {
        & + .nav-item {
            border-top: 1px solid $gray-700;
        }
    }

    .dropdown-menu {
        position: static;
    }
}

.navbar-toggler {
    border: none;
    text-align: center;
    padding: 0;
    width: 25px;
}

.navbar-backdrop {
    display: none;
    @include media-breakpoint-down(md){
        position: fixed;
        display: block;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: rgba(0,0,0,.5);
    }
}

.navbar-back {
    width: 25px;

    @include media-breakpoint-up(lg){
        display: none;
    }
}

.user-menu {
    text-align: center;
    padding-top: spacer(3);

    @include media-breakpoint-up(lg){
        position: fixed;
        left: auto;
        bottom: 0;
        width: $side-nav-width - $grid-gutter-width;
        background-color: theme-color("dark");
    }
}