@import "../../style/bootstrap-overrides";

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.navbar-brand, .navbar-collapse {
    @include media-breakpoint-up(lg) {
        width: 100%;
        margin: 0;
    }
}

.navbar-nav {
    width: 100%;

    .nav-link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding-top: spacer(3);
        padding-bottom: spacer(3);
    }

    .nav-item {
        & + .nav-item {
            border-top: 1px solid $gray-700;
        }
    }

    .dropdown-menu {
        position: static;
    }
}