/***** Aside *****/
.menu_open .aside                               { left:0 !important; }

.aside                                          { background-color:#0A1A4A; color:#848CA4; width:100vw; height:100vh; font-size:17px; line-height:21px; display:flex; flex-direction:column; position:fixed; top:0; left:100vw; z-index:20;
    .logo                                       { margin:0 20px; padding:0; min-height:56px; color:#FFF; display:flex; align-items:center; justify-content:center; box-shadow:0px 1px 0px 0px #535E80; -webkit-box-shadow:0px 1px 0px 0px #535E80;
        .icon                                   { height:30px; width:auto; display:none; }
    }
    
    .scrollY                                    { margin-bottom:20px; padding:0 20px; flex-grow:1; }
    
    .nav                                        { margin:30px 0 0; padding:0; list-style:none; color:#FFFFFF;
        a                                       { color:#848CA4; display:block; text-decoration:none;
            &:hover                             { color:#FFFFFF; }
            &.nav__title                        { display:flex; }
        }

        &__item                                 { margin:0; padding:0; position:relative; top:0; left:0;
            &.active a                          { color:#4DA685; }
            &+*                                 { margin-top:30px; }
            .horizontal                         { display:block; }

            a.active, a.active:hover            { color:#FFF;
                &:before                        { content:''; width:8px; height:8px; display:block; background-color:#4DA685; border-radius:10px; position:absolute; top:7px; left:10px; }
            }
        }

        &__title                                { padding:0; display:flex; align-items:center; align-content:flex-start; width:100%; line-height:17px; font-weight:bold; color:#FFFFFF; fill:#FFFFFF; position:relative; top:0; left:0;
            .icon--onLeft                       { margin-right:11px; flex-shrink:0; top:0; }
            .icon--onRight                      { top:4px; right:0; }
        }

        &--secondary                            { margin-top:10px; color:#848CA4; display:none;
            .nav__item                          { padding:0 0 0 28px;
                &+*                             { margin-top:10px; }
            }
        }
    }

    .summary__title                             { color:#FFFFFF; }
    summary .flexRight                          { padding-left:6px; top:4px; }
    
    details                                     { box-shadow:none;
        &[open]                                 {
            .nav--secondary                     { display:block; }
            .horizontal                         { display:none; }
        }
    }
}

/***** Mobile Menu *****/
.mobile_nav .cross                              { display:none; }
.mobile_nav .line-top,
.mobile_nav .line-middle,
.mobile_nav .line-bottom                        { display:block; }

.menu_open + .headerMobile .cross               { display:block; }
.menu_open + .headerMobile .line-top,
.menu_open + .headerMobile .line-middle,
.menu_open + .headerMobile .line-bottom         { display:none; }

/***********************************************
This applies from 992px onwards
***********************************************/
@media (min-width:992px) {
    .aside                                      { left:0; width:220px; font-size:13px;
        .logo .icon                             { display:block; }

        .nav                                    {
            &__item                             {
                a.active, a.active:hover        {
                    &:before                    { width:4px; height:4px; top:8px; left:13px; }
                }
            }
        }
    }
}

/***********************************************
Mobile ONLY - This applies from 0px to 767px
***********************************************/
@media only screen and (max-width:767px)        {
    .aside                                      {
        transition:left 0.2s cubic-bezier(0.33, 0, 0.2, 1) 0s;
        -moz-transition:left 0.2s cubic-bezier(0.33, 0, 0.2, 1) 0s;
        -webkit-transition:left 0.2s cubic-bezier(0.33, 0, 0.2, 1) 0s;
        -o-transition:left 0.2s cubic-bezier(0.33, 0, 0.2, 1) 0s;
    }
    .aside .scrollY                             { padding:0 30px; }
}

// @import "../../style/bootstrap-overrides";

// @import "../../../node_modules/bootstrap/scss/functions";
// @import "../../../node_modules/bootstrap/scss/variables";
// @import "../../../node_modules/bootstrap/scss/mixins";

// @import "../../style/partials/mixins";

// .navbar-brand, .navbar-collapse {

//     @include media-breakpoint-down(lg){
//         margin-top: $top-bar-height / 1.5;
//     }

//     @include media-breakpoint-up(xl) {
//         width: 100%;
//         margin: 0;
//     }
// }

// .navbar-brand {
//     margin: 0;
//     padding: 0;
//     line-height: 1;

//     img{
//         width: 160px;
//         height: auto;
//         position: absolute;
//         top: 0;
//         left: 50%;
//         transform: translateX(-50%);

//         @include media-breakpoint-up(xl){
//             position: static;
//             transform: translateX(0);
//             width: 200px;
//             max-width: 100%;
//         }
//     }
// }

// .navbar {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: $side-nav-width;
//     max-height: calc(100vh - 230px);
//     overflow: auto;

//     @include media-breakpoint-down(lg){
//         right: 0;
//         z-index: 1030;
//         padding-top: 1rem;
//         padding-bottom: 1rem;
//         min-height: $top-bar-height;
//         width: 100%;
//         max-height: 100vh;
//     }

//     @include media-breakpoint-down(sm) {
//         @media (orientation: landscape) {
//             position: static;
//             max-height: none;
//         }
//     }

//     .navbar-collapse {
//         @include media-breakpoint-up(xl){
//             align-items: flex-start;
//         }
//     }
// }


// .navbar-nav {
//     width: 100%;

//     .nav-link {
//         display: flex;
//         width: 100%;
//         flex-direction: row;
//         justify-content: space-between;
//         align-items: center;

//         padding-top: spacer(3);
//         padding-bottom: spacer(3);
//     }

//     .dropdown-menu {
//         position: static;
//         background-color: darken( theme-color('dark'), 5% );
//     }

//     .dropdown-item {
//         color: color("white");
//         &:hover {
//             background: darken( theme-color('dark'), 15% );
//         }
//         &.active {
//             background: inherit;
//             position: relative;
            
//             &::before {
//                 content: '';
//                 display: block;
//                 background: theme-color(secondary);
//                 width: 10px;
//                 height: 10px;
//                 border-radius: 50%;
//                 position: absolute;
//                 top: 50%;
//                 left: 0;
//                 transform: translate(80%, -50%);
//             }
//         }
//     }
// }

// .navbar-toggler {
//     @include navbar-mobile-btn($right: true);
// }

// .navbar-backdrop {
//     display: none;
//     @include media-breakpoint-down(lg){
//         position: fixed;
//         display: block;
//         width: 100vw;
//         height: 100vh;
//         top: 0;
//         left: 0;
//         z-index: 1029;
//         background-color: rgba(0,0,0,.5);
//     }
//     @include media-breakpoint-down(sm) {
//         @media (orientation: landscape) {
//             display: none;
//         }
//     }
// }

// .navbar-back {
//     width: 25px;

//     @include media-breakpoint-up(xl){
//         display: none;
//     }
// }

// .user-menu {
//     text-align: center;
//     padding-top: spacer(3);

//     @include media-breakpoint-up(xl){
//         position: fixed;
//         left: auto;
//         bottom: 0;
//         width: $side-nav-width - $grid-gutter-width;
//         background-color: theme-color("dark");
//     }

//     img {
//         max-height: 75px;
//         max-width: 75px;
//     }

//     .role {
//         @include media-breakpoint-up(xl){
//             @include text-truncate();
//             display: block;
//         }
//     }
// }