<div class="border border-grey-100 w-full">
  <div class="border-b-2 border-grey-100 px-4 py-2">
    <h3 class="font-bold">Compliance Checks {{checkType == 'AML' ? '(Anti Money Laundering)' : '(Know Your Customer)'}} <i class="fa fa-info-circle text-xl text-blue-300" [pTooltip]="'Some more info'"></i></h3>
  </div>

  <div class="mx-4 p-0 w-100 md:w-1/2">
    <app-messages
      [message]="message"
    ></app-messages>
  </div>
  
  <div class="w-full flex flex-col lg:flex-row lg:flex-wrap px-4">
    <div *ngFor="let contact of contacts; let i = index; let even = even;" 
      class="w-full lg:w-1/2 border-gray-300" 
      [ngClass]="[even ? 'lg:border-r':'', i == 0 || i == 1 ? 'lg:border-b':'']">
      <app-contact-compliance-card
        [contact]="contact">
      </app-contact-compliance-card>
    </div>
  </div>

  <div class="">

  </div>

  <div class="border-t border-gray-300 flex flex-row py-2 px-4 items-center mt-8">
    <a href="" class="text-blue-500">
      <i class="fa fa-link"></i>
      <span class="underline">
        SmartSearch website
      </span>
    </a>
    <span class="flex-1"></span>
    <button class="btn btn--positive" [disabled]="!isValid" (click)="passAML.emit($event)">{{checkType == 'AML' ? 'Pass AML' : 'Pass KYC'}}</button>
  </div>
</div>