// @import "../../style/bootstrap-overrides";
// @import "../../../node_modules/bootstrap/scss/functions";
// @import "../../../node_modules/bootstrap/scss/variables";
// @import "../../../node_modules/bootstrap/scss/mixins";

:host {
    display: block;
    position: sticky;
    top:56px;
    background-color:#FFF;
    z-index:10;
}

:host-context(.off-canvas) {
    top: 56px;
}

.dropdown-menu {
    // @include media-breakpoint-down(sm) {
    //     margin-left: - 2rem;
    // }
}
