// @import "../../style/bootstrap-overrides";
// @import "../../../node_modules/bootstrap/scss/functions";
// @import "../../../node_modules/bootstrap/scss/variables";
// @import "../../../node_modules/bootstrap/scss/mixins";

:host {
    display: block;
    position: fixed;
    top:60px;
    background-color:#FFF;
    width:calc(100% - 32px);
    z-index:11;
}

:host-context(.off-canvas) {
    top: 56px;
}

.cal-day-headers            { top:156px; }

/***********************************************
This applies from 992px onwards
***********************************************/
@media (min-width:992px) {
    :host {
        display: block;
        position: fixed;
        top:56px;
        background-color:#FFF;
        width: 100%;
        z-index:11;
    }
    
    :host-context(.off-canvas) {
        top:56px;
    }
}