@import "../../style/bootstrap-overrides";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

:host {
    display: block;
    position: sticky;
    top: $top-bar-height;
    background-color: color("white");
    padding: spacer(1) 0;
    z-index: 50;
}

:host-context(.off-canvas) {
    top: $top-bar-height - 3;
}
