<div class="title">
  <h2>Notes</h2>
  <form action="">
    <div class="inline-parent">
      <fieldset class="inline-child">
        <span class="checkbox checkbox--rtl">
          <span>
            <input type="checkbox"id="check01" (change)="toggleShowMyNotes($event?.target?.checked)">
            <label for="check01">Only show my notes</label>
          </span>
        </span>
      </fieldset>
    </div>
  </form>
</div>

<div class="list-group-item text-center text-danger" *ngIf="!notes || !notes?.length && !isUpdating">
  <i class="far fa-sad-tear"></i> No notes
</div>

<ol class="timeline">
  <li *ngIf="showCreateNoteButton" class="timeline__new">
    <button class="btn btn--positive" (click)="toggleNoteCreation()"><svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon icon--s icon--onLeft"><path d="M60 35.9H4c-2.2 0-4-1.8-4-4v0c0-2.2 1.8-4 4-4h56c2.2 0 4 1.8 4 4v0C64 34.1 62.2 35.9 60 35.9z"/><path class="plus-vertical" d="M28 59.9v-56c0-2.2 1.8-4 4-4h0c2.2 0 4 1.8 4 4v56c0 2.2-1.8 4-4 4h0C29.8 63.9 28 62.2 28 59.9z"/></svg>Create new note</button>
</li>
 <ng-container *ngIf="showNotesForm">
    <li class="timeline__new" *ngIf="noteData && showNoteInput">
      <app-note-form [data]="noteData" (noteSaved)="noteSaved()"></app-note-form>
    </li>
 </ng-container>

  <li *ngFor="let note of notes"  [ngClass]="{'timeline__pinned': note?.isPinned, 'timeline__important':note?.isImportant}">
    <svg aria-hidden="true" width="7.8" height="15.6" viewBox="0 0 7.8 15.6" class="icon icon--timeline"><polygon class="fill" points="7.8 0 0 7.8 7.8 15.6 "/><polygon class="outline" points="7.8 14.1 1.4 7.8 7.8 1.4 7.8 0 0 7.8 7.8 15.6 "/></svg>
    <div class="card">
      <div class="card__header">
        <span>
          <ng-container *ngIf="note?.createdBy !== currentStaffMember?.fullName; else current">
            <p class="txt--title">{{note?.createdBy}}</p>
          </ng-container>
          <ng-template #current>
            <p class="txt--title">{{note?.createdBy}}<span class="pill pill--positive pill--onRight">You</span></p>
          </ng-template>
          <!-- <ng-container *ngIf="note?.createdBy !== currentStaffMember?.fullName; else current">
            <p class="txt--title">{{note?.createdBy}}</p>
          </ng-container> -->
          <small>{{note?.createDate | date: 'dd/MM/yyyy HH:mm'}}</small>
        </span>
        <button *ngIf="!note?.propertyId" class="btn btn--none btn--pin flexRight" (click)="setFlag(note?.id, false)"><svg aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" class="icon icon--pin" ><path d="M11.4 5.6L11.4 1.6 12.3 1.6C12.8 1.6 13.1 1.2 13.1 0.8L13.1 0.8C13.1 0.4 12.8 0 12.3 0L3.7 0C3.2 0 2.9 0.4 2.9 0.8L2.9 0.8C2.9 1.2 3.2 1.6 3.7 1.6L4.6 1.6 4.6 5.6C4.6 6.9 3.4 8 2 8L2 8 2 9.6 7.1 9.6 7.1 15.2 8 16 8.8 15.2 8.8 9.6 14 9.6 14 8 14 8C12.6 8 11.4 6.9 11.4 5.6Z"/></svg></button>
        <button *ngIf="!note?.propertyId" class="btn btn--none btn--important flexRight" (click)="setFlag(note?.id, true)" ><svg aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" class="icon icon--information" ><path d="M8 16C12.4 16 16 12.4 16 8 16 3.6 12.4 0 8 0 3.6 0 0 3.6 0 8 0 12.4 3.6 16 8 16ZM9.5 4L9 9.6 7 9.6 6.5 4 9.5 4ZM8 13.2C7.3 13.2 6.7 12.6 6.7 11.9 6.7 11.2 7.3 10.6 8 10.6 8.7 10.6 9.3 11.2 9.3 11.9 9.3 12.6 8.7 13.2 8 13.2Z"/></svg></button>
      </div>
      <div class="card__body">
        {{note?.text}}
      </div>
    </div>
  </li>
</ol>

<!-- <div class="list-group mb-5">
  <ng-container *ngIf="notes?.length && !isUpdating">
    <div *ngIf="notes" class="search-results" infiniteScroll [infiniteScrollDistance]="5"
      [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="20" [immediateCheck]="true" [alwaysCallback]="true">
    </div>


    <div class="list-group-item" *ngFor="let note of notes">
      <div class="row">
        <div class="col-auto pr-0">
          <i class="fas fa-thumbtack fa-fw" role="button" data-toggle="button" (click)="setFlag(note?.id, false)"
            [attr.aria-pressed]="!note?.isPinned ? false : true"
            [ngClass]="{'unset': !note?.isPinned, 'd-none': !note?.isPinned && note?.propertyId}" tooltip="Pin to top"
            container="body">
          </i>
        </div>
        <div class="col-auto">
          <i class="fas fa-exclamation-circle text-danger fa-fw" role="button" data-toggle="button"
            (click)="setFlag(note?.id, true)" [attr.aria-pressed]="!note?.isImportant ? false : true"
            [ngClass]="{'unset': !note?.isImportant, 'd-none': !note?.isImportant && note?.propertyId}"
            tooltip="Important" container="body">
          </i>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-11 col-sm-3" *ngIf="note?.contactGroupId || note?.personId">
              <ng-container *ngIf="note?.contactGroupId; else personInfo">
                <a class="mb-2"
                  [routerLink]="['/contact-centre/detail', note?.personId || 0, 'people', note?.contactGroupId]"
                  [queryParams]="{showNotes: true}" *ngIf="note?.contactGroupId">{{note?.addressee}}
                </a>
              </ng-container>
              <ng-template #personInfo>
                <a class="mb-2" [routerLink]="['/contact-centre/detail', note?.personId]"
                  [queryParams]="{showNotes: true}" *ngIf="note?.personId">{{note?.addressee}}</a>
              </ng-template>
            </div>
            <div class="col-sm-3 mb-2" *ngIf="note?.propertyId">
              <span class="badge badge-pill badge-success" *ngIf="note.type < 3">{{note?.typeDescription}}</span>
              <span class="badge badge-pill badge-warning" *ngIf="note.type > 2">{{note?.typeDescription}}</span>
            </div>
            <div class="col-sm mb-2 note-content">
              {{note?.text}}
            </div>
            <div class="col-sm-3 text-muted">
              <ng-container *ngIf="note?.createdBy !== currentStaffMember?.fullName; else current">
                {{note?.createdBy}}
              </ng-container>
              <ng-template #current>
                <span class="badge badge-pill badge-primary">You</span>
              </ng-template><br>
              <span class="monospace">{{note?.createDate | date: 'dd/MM/yyyy HH:mm'}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>


  </ng-container>
</div>
<div style="height: 70px;"></div> -->
