<div>
  <button *ngIf="isNewMode" type="button" class="btn btn--positive" (click)="isNewMode = true"><svg aria-hidden="true"
      width="64" height="64" viewBox="0 0 64 64" class="icon icon--s icon--onLeft">
      <path d="M60 35.9H4c-2.2 0-4-1.8-4-4v0c0-2.2 1.8-4 4-4h56c2.2 0 4 1.8 4 4v0C64 34.1 62.2 35.9 60 35.9z" />
      <path class="plus-vertical"
        d="M28 59.9v-56c0-2.2 1.8-4 4-4h0c2.2 0 4 1.8 4 4v56c0 2.2-1.8 4-4 4h0C29.8 63.9 28 62.2 28 59.9z" />
    </svg>Add Note</button>

  <ol class="timeline">
    <li class="timeline__pinned">
      <svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon icon--s icon--type">
        <path
          d="M64 61.2L50.1 49.5 6 49.5C2.7 49.5 0 46.8 0 43.5L0 9C0 5.7 2.7 3 6 3L58 3C61.3 3 64 5.7 64 9L64 61.2 64 61.2Z" />
      </svg>
      <svg aria-hidden="true" width="8" height="16" viewBox="0 0 8 16" class="icon--timeline">
        <polygon points="8 0 0 8 8 16" class="fill" />
        <polygon class="outline" points="8 14.5 1.4 8 8 1.4 8 0 0 8 8 16" />
      </svg>

      <div class="card">
        <div class="card__header" *ngIf="!isEditMode && note?.text">
          <span>
            <ng-container>
              <p class="txt--title">{{note?.createdBy}}
                <span class="pill pill--rounded pill--onRight" [ngClass]="getClassName(note?.jobType)"
                  [pTooltip]="note?.jobTypeName"></span>
                <span *ngIf="note?.addressee" class="pill pill--onRight"
                  [ngClass]="note?.noteType===3 ? 'pill--positive-light': 'pill--warning-light'">{{note?.addressee}}</span>
                <span *ngIf="note?.createdBy === currentStaffMember?.fullName;"
                  class="pill pill--positive pill--onRight">You</span>
              </p>
            </ng-container>
            <small>{{note?.createDate | date: 'dd/MM/yyyy HH:mm'}}</small>
          </span>
          <button class="btn btn--none btn--pin flexRight" (click)="isEditMode = true">
            <i class="fas fa-edit " style="font-size: 1rem"></i>
          </button>
        </div>
        <div class="card__body" *ngIf="note?.id || isNewMode || isEditMode">
          <form [formGroup]="noteForm">
            <ng-container *ngIf="!isNewMode">
              <p [innerText]="note?.text"></p>
            </ng-container>
            <fieldset class="mb-3" *ngIf="isNewMode ||isEditMode " [ngClass]="{'invalid':formErrors?.text}">
              <textarea class="p-2" name="note" cols="30" rows="5" placeholder="Please give as much detail as possible."
                formControlName="text" [ngClass]="{'invalid':formErrors?.text}">
          </textarea>
              <p class="message message--negative"> {{formErrors?.text}}</p>
            </fieldset>
            <fieldset class="mb-3" *ngIf="isNewMode || isEditMode">
              <span class="btn--container" [ngClass]="{'text-center': isEditMode}">
                <button type="button" class="btn btn--positive" (click)="saveNote()"><svg aria-hidden="true" width="64"
                    height="64" viewBox="0 0 64 64" class="icon icon--s icon--onLeft">
                    <path
                      d="M60 35.9H4c-2.2 0-4-1.8-4-4v0c0-2.2 1.8-4 4-4h56c2.2 0 4 1.8 4 4v0C64 34.1 62.2 35.9 60 35.9z" />
                    <path class="plus-vertical"
                      d="M28 59.9v-56c0-2.2 1.8-4 4-4h0c2.2 0 4 1.8 4 4v56c0 2.2-1.8 4-4 4h0C29.8 63.9 28 62.2 28 59.9z" />
                  </svg>Save</button>
                <button type="button" class="btn btn--ghost"
                  (click)="isEditMode = false;isNewMode=false">Cancel</button>
              </span>
            </fieldset>
          </form>
        </div>
      </div>
    </li>
  </ol>

</div>