<ng-container *ngIf="isFax; else phone">
  <span>{{number}}</span>
  <sup class="pill flexRight" *ngIf="isFax">Fax</sup>
</ng-container>
<ng-template #phone>
  <ng-container *ngIf="isCallAllowed; else noCall">
    <button type="button" class="btn btn--none" (click)="showWarningMessage()"><span
        [innerHTML]="number | highlight : searchTerm" [pTooltip]="comment"></span></button>
  </ng-container>
  <!-- Add this to disallow calls from the contact centre before Release 20/04/2021 -->
  <ng-template #noCall><a href="#" onClick="return false;"  type="button" class="btn btn--none">
    <span [innerHTML]="number | highlight : searchTerm"></span></a>
  </ng-template>
  <button type="button" *ngIf="sms" (click)="callOrText(false)" class="btn btn--info btn--pill flexRight">SMS</button>
</ng-template>