<!-- FILE LIST WITH DELETE & UPLOAD BUTTONS -->
<div
  class="w-full p-2 py-2 border rounded-sm cursor-pointer border-grey-100"
  [ngClass]="idHasExpired ? 'border-red-500 bg-red-100' : ''"
>
  <div *ngFor="let file of files" class="flex flex-row content-center my-1">
    <i class="mt-1 mr-1 tracking-normal text-gray-400 fa fa-file"></i>
    <a class="mr-2 tracking-tight truncate" href="{{ file.url }}" target="_blank">
      {{ file.label || label }}
    </a>
  
    <!-- ID EXPIRY LABEL -->
    <span
      *ngIf="documentType == DOCUMENT_TYPE.ID && file.idValidationDateExpiry"
      [ngClass]="idHasExpired ? 'text-red-500' : 'text-green-500'"
    >
      Exp: {{ moment(file.idValidationDateExpiry).format('DD/MM/YY') }}
    </span>
  
    <!-- SMART SEARCH ID LABEL -->
    <span *ngIf="documentType == DOCUMENT_TYPE.REPORT && file.smartSearchId">ID: {{ file.smartSearchId }}</span>
  
    <!-- FILE UPLOAD DATE -->
    <span class="flex-1 text-right" [pTooltip]="'Upload Date'" *ngIf="file.uploadDate">{{ moment(file.uploadDate).format('DD/MM/YY') }}</span>
  
    <!-- DELETE BTN -->
    <button
      (click)="deleteFile.emit({ id: file.fileStoreId, documentType: documentType })"
      [pTooltip]="'Delete Document'"
      *ngIf="!isFrozen"
    >
      <svg aria-hidden="true" width="40" height="40" viewBox="0 0 64 64" class="ml-2 text-gray-400 icon">
        <path
          d="M11.4 56.1c0 3.8 3.1 6.9 6.9 6.9h27.4c3.8 0 6.9-3.1 6.9-6.9V14.8H11.4V56.1zM19.9 31.6l4.9-4.9L32 34l7.3-7.3 4.9 4.9 -7.3 7.3 7.3 7.3 -4.9 4.9L32 43.8l-7.3 7.3 -4.9-4.9 7.3-7.3L19.9 31.6zM44 4.4L40.6 1H23.4L20 4.4H8v6.9h48V4.4H44z"
        ></path>
      </svg>
    </button>
  </div>

  <!-- OPEN UPLOAD FILE DIALOG BTN -->
  <button *ngIf="showFilesUploadButton()" [disabled]="isFrozen" (click)="openUploadDialog()" class="py-2">
    <span *ngIf="!isFrozen">
      <i class="fa fa-upload" aria-hidden="true"></i>
      <span class="ml-2 underline">Upload {{ label }}</span>
    </span>
    <span class="ml-2 text-gray-400" *ngIf="isFrozen">
      {{ label }}
    </span>
  </button>
</div>

<!-- DIALOG FOR UPLOADING COMPLIANCE DOCUMENTS -->
<p-dialog
  header="{{ uploadDialogHeaderText }}"
  appendTo="body"
  [(visible)]="showFileUploadDialog"
  [modal]="true"
  [draggable]="false"
>
  <div class="flex flex-col" style="width: 500px">
    
    <!-- FILE UPLOADER -->
    <app-file-upload
      [uploadedFiles]="files"
      [fileType]="fileType"
      (getFiles)="getFiles($event)"
      [isMultiple]="isMultiple"
    ></app-file-upload>

    <!-- ID EXPIRTY DATE PICKER -->
    <div *ngIf="showExpiryDatePicker" class="mt-2 mb-0 ml-2">
      <form [formGroup]="idExpiryForm">
        <fieldset [ngClass]="{ invalid: idHasExpired }">
          <label for="">ID Expiry Date</label>
          <input
            class="p-2 mt-2"
            type="text"
            id="idExpiryDate"
            placeholder="dd/mm/yyyy"
            formControlName="idExpiryDate"
            [bsConfig]="{
              showWeekNumbers: false,
              dateInputFormat: 'DD/MM/YYYY',
              minDate: minDate,
              customTodayClass: 'font-weight-bold'
            }"
            (bsValueChange)="onDateChange($event)"
            bsDatepicker
            #datepicker="bsDatepicker"
            [ngClass]="{ invalid: idHasExpired }"
          />
          <p class="message message--negative" *ngIf="idHasExpired">Invalid Expiry Date</p>
        </fieldset>
      </form>
      <ng-container *ngIf="saveFileBtnDisabled">
        <div class="animate__animated animate__pulse">
          <app-messages [message]="expiryDateMessage"></app-messages>
        </div>
      </ng-container>
    </div>

    <!-- SMART SEARCH ID INPUT -->
    <div *ngIf="showAdditionalInput" class="mt-2 mb-0 ml-2">
      <form [formGroup]="smartSearchIdForm">
        <fieldset>
          <label for="">SmartSearch ID Number</label>
          <input
            class="p-2 mt-2"
            type="tel"
            formControlName="smartSearchId"
            placeholder="Enter SmartSearch ID here"
            (input)="onSmartSearchIdChange($event.target.value)"
          />
        </fieldset>
      </form>
      <ng-container *ngIf="saveFileBtnDisabled">
        <div class="animate__animated animate__pulse" >
          <app-messages [message]="additionalInputMessage"></app-messages>
        </div>
      </ng-container>
    </div>

    <!-- BTNS -->
    <footer class="mt-10">
      <div class="flex flex-row space-x-4">
        <span class="flex-1"></span>
        <button type="button" class="btn btn--ghost" (click)="showFileUploadDialog = false">Cancel</button>
        <button
          type="button"
          class="btn btn--positive"
          (click)="setSelectedFile()"
          [disabled]="saveFileBtnDisabled"
          data-cy="addFiles"
        >
          Upload
        </button>
      </div>
    </footer>
  </div>
</p-dialog>
