<app-breadcrumb></app-breadcrumb>
<div class="container">
  <h4 class="page-title">New/Edit Company</h4>
  <form>
    <fieldset>
      <legend>Company</legend>
      <div class="form-group row">
        <label for="companyName" class="col-sm-2 col-form-label col-form-label-sm">Company Name</label>
        <div class="col-sm-10">
          <input type="text" id="companyName" class="form-control form-control-sm">
        </div>
      </div>
      <div class="form-group row">
        <label for="companyType" class="col-sm-2 col-form-label col-form-label-sm">Company Type</label>
        <div class="col-sm-3">
          <select class="custom-select custom-select-sm" id="companyType">
            <option selected>Company</option>
            <option>...</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="signers" class="col-sm-2 col-form-label col-form-label-sm">Signers</label>
        <div class="col-sm-10">
          <input type="text" id="signers" class="form-control form-control-sm">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm">Potential duplicates</label>
        <div class="col-sm-10">
          <div class="list-group small">
            <div class="list-group-item list-header d-none d-sm-block">
              <div class="row">
                <div class="col-sm"><strong>Company Name</strong></div>
                <div class="col-sm"><strong>Company Type</strong></div>
                <div class="col-sm-3"><strong>Address</strong></div>
                <div class="col-sm"><strong>Email</strong></div>
                <div class="col-sm"><strong>Telephone</strong></div>
                <div class="col-sm col-lg-1"></div>
              </div>
            </div>
            <div class="list-group-item">
              <div class="row align-items-end align-items-sm-center">
                <div class="col-sm">
                  <dl class="row">
                    <dt class="col-4 d-sm-none">Company Name</dt>
                    <dd class="col"></dd>
                  </dl>
                </div>
                <div class="col-sm">
                  <dl class="row">
                    <dt class="col-4 d-sm-none">Company Type</dt>
                    <dd class="col"></dd>
                  </dl>
                </div>
                <div class="col-sm-3">
                  <dl class="row">
                    <dt class="col-4 d-sm-none">Address</dt>
                    <dd class="col"></dd>
                  </dl>
                </div>
                <div class="col-sm">
                  <dl class="row">
                    <dt class="col-4 d-sm-none">Email</dt>
                    <dd class="col"></dd>
                  </dl>
                </div>
                <div class="col-sm">
                  <dl class="row">
                    <dt class="col-4 d-sm-none">Telephone</dt>
                    <dd class="col"></dd>
                  </dl>
                </div>
                <div class="col-sm col-lg-1">
                  <button class="btn btn-sm btn-link">Use</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Head Office Address</legend>
      <app-property-finder></app-property-finder>
      <!-- <app-address></app-address> -->
      <div class="form-group row">
        <label for="country" class="col-sm-2 col-form-label col-form-label-sm">Country</label>
        <div class="col-sm-3">
          <select class="custom-select custom-select-sm" id="country">
            <option selected>United Kingdom</option>
            <option>...</option>
          </select>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Head Office Contact Details</legend>
      <div class="form-group row">
        <label for="companyTelephone" class="col-sm-2 col-form-label col-form-label-sm">Telephone</label>
        <div class="col-sm-10">
          <input type="text" id="companyTelephone" placeholder="" class="form-control form-control-sm">
        </div>
      </div>
      <div class="form-group row">
        <label for="companyFax" class="col-sm-2 col-form-label col-form-label-sm">Fax</label>
        <div class="col-sm-10">
          <input type="text" id="companyFax" placeholder="" class="form-control form-control-sm">
        </div>
      </div>
      <div class="form-group row">
        <label for="companyWebsite" class="col-sm-2 col-form-label col-form-label-sm">Website</label>
        <div class="col-sm-10">
          <input type="text" id="companyWebsite" placeholder="" class="form-control form-control-sm">
        </div>
      </div>
      <div class="form-group row">
        <label for="companyEmail" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
        <div class="col-sm-10">
          <input type="text" id="companyEmail" placeholder="" class="form-control form-control-sm">
        </div>
      </div>
    </fieldset>

    <div class="form-actions">
      <div class="container px-lg-4">
        <div class="row justify-content-end w-100 no-gutters">
          <div class="col-sm-10 d-flex">
            <button (click)="cancel()" type="button" class="btn btn-light mr-2">Cancel</button>
            <button routerLink="/contact-centre" type="submit" class="btn btn-secondary">Create/Edit Company</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
