<div class="modal-header">
  <div>
    Add Note
    <ng-container *ngIf="!data?.group || step2">
      for 
      <ng-container *ngIf="selectedPerson; else noPerson"><strong>{{selectedPerson?.firstName}} {{selectedPerson?.lastName}}</strong></ng-container>
      <ng-template #noPerson>this Contact Group</ng-template>
    </ng-container>
  </div>
  <button type="button" class="close pull-right" aria-label="Close" (click)="action(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body text-center">
  <ng-container *ngIf="data?.group && !step2">
    <p>Pick a person or add a group note</p>
    <div class="list-group mb-4">
      <div class="list-group-item list-group-item-action" *ngFor="let person of data?.people" (click)="select(person)">
        {{person?.firstName}} {{person?.lastName}}
      </div>
      <div class="list-group-item list-group-item-action" (click)="select(null)">
        <i class="fas fa-users mr-2"></i> Group Note
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!data?.group || step2">
    <form [formGroup]="noteForm" (ngSubmit)="addNote()" class="text-left">
      <div class="form-group">
        <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" class="custom-control-input" id="important" formControlName="isImportant">
          <label class="custom-control-label" for="important">Set as important</label>
        </div>
        <!-- <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" class="custom-control-input" id="topPinned">
          <label class="custom-control-label" for="topPinned">Pin to top</label>
        </div> -->
      </div>
      <div class="form-group">
        <div class="row mb-2">
          <div class="col">
            <label for="note">Note</label>
          </div>
          <div class="col-auto">
            <ng-template #popTemplate>
              <ng-container *ngFor="let shortcut of shortcuts | keyvalue:keepOriginalOrder; last as isLast">
                {{shortcut.key}} - {{shortcut.value}} <br *ngIf="!isLast" />
              </ng-container>
            </ng-template>
            <button type="button" class="btn btn-link p-0"
                    [popover]="popTemplate" container="body" [outsideClick]="true">
              <i class="fas fa-info-circle fa-fw mr-2"></i>Legend
            </button>
          </div>
        </div>
        <div class="form-group mb-1">
          <ng-container *ngFor="let shortcut of shortcuts | keyvalue:keepOriginalOrder; last as isLast">
            <button type="button" class="btn btn-sm btn-outline-primary mr-2 mb-2" (click)="consumeShortcut(shortcut.value)">{{shortcut.key}}</button>
          </ng-container>
          <!-- <div class="custom-control custom-checkbox custom-control-inline mb-2">
            <input type="checkbox" class="custom-control-input" id="lvm">
            <label class="custom-control-label" for="lvm">LVM</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline mb-2">
            <input type="checkbox" class="custom-control-input" id="lvmtcb">
            <label class="custom-control-label" for="lvmtcb">LVMTCB</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline mb-2">
            <input type="checkbox" class="custom-control-input" id="sw">
            <label class="custom-control-label" for="sw">SW</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline mb-2">
            <input type="checkbox" class="custom-control-input" id="fdt">
            <label class="custom-control-label" for="fdt">FDT</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline mb-2">
            <input type="checkbox" class="custom-control-input" id="smsd">
            <label class="custom-control-label" for="smsd">SMS'D</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline mb-2">
            <input type="checkbox" class="custom-control-input" id="ro">
            <label class="custom-control-label" for="ro">RO</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline mb-2">
            <input type="checkbox" class="custom-control-input" id="stvm">
            <label class="custom-control-label" for="stvm">STVM</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline mb-2">
            <input type="checkbox" class="custom-control-input" id="eaoa">
            <label class="custom-control-label" for="eaoa">EA/OA</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline mb-2">
            <input type="checkbox" class="custom-control-input" id="uo">
            <label class="custom-control-label" for="uo">UO</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline mb-2">
            <input type="checkbox" class="custom-control-input" id="nnw">
            <label class="custom-control-label" for="nnw">NNW</label>
          </div> -->
        </div>
        <textarea class="form-control" name="note" id="note" cols="30" rows="5" placeholder="Comment ..." formControlName="text"></textarea>
      </div>
      <div class="text-center mt-4">
        <button type="button" class="btn btn-light mr-2" (click)="action(false)">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="action(false)">Add Note</button>
      </div>
    </form>
  </ng-container>
</div>