<div class="card col-md-3 offset-md-4 signin" style="margin-top: 8px; padding-top: 5px">
    <div class="card-header">
        Sign in with your work email! <i class="fa fa-sign-in" aria-hidden="true"></i>
    </div>
    <div class="card-body">
        <div >
            <button class="btn btn-success form-control" type="submit" (click)="logIn()">Sign in</button>
        </div>
        <!-- <div *ngIf="authService.isLoggedIn()">
            <button class="btn btn-success form-control" type="submit" (click)="signOut()"> Sign Out</button>
        </div> -->
    </div>
</div>
