<div class="no-gutters">
  <div class="row hoverDiv">
    <div class="col col-12 col-md-3">
        <app-property-checklist-item statusColor="bg-success" title="EPC" staffMember="Katie Daynes" date="20/11/2018"></app-property-checklist-item>
    </div>
    <div class="col col-12 col-md-3">
        <app-property-checklist-item statusColor="bg-success" title="Land registry" staffMember="Katie Daynes" date="20/11/2018"></app-property-checklist-item>
    </div>
    <div class="col col-12 col-md-3">
        <app-property-checklist-item statusColor="bg-danger" title="Terms of Business" staffMember="" date=""></app-property-checklist-item>
    </div>
    <div class="col col-12 col-md-3">
        <app-property-checklist-item statusColor="bg-warning" title="Keys" staffMember="" date=""></app-property-checklist-item>
    </div>
    <div class="col col-12 col-md-3">
        <app-property-checklist-item statusColor="bg-warning" title="Copy of Lease" staffMember="" date=""></app-property-checklist-item>
    </div>
    <div class="col-12 col-md-3">
        <app-property-checklist-item statusColor="bg-warning" title="Photos/Floorplans" staffMember="" date=""></app-property-checklist-item>
    </div>
    <div class="col-12 col-md-3">
        <app-property-checklist-item statusColor="bg-warning" title="Brochure sent to client" staffMember="" date=""></app-property-checklist-item>
    </div>
    <div class="col-12 col-md-3">
        <app-property-checklist-item statusColor="bg-warning" title="Brochure approved by client" staffMember="" date=""></app-property-checklist-item>
    </div>
  </div>
</div>