<!-- <app-breadcrumb></app-breadcrumb> -->
<div class="container main">
  <div class="row page-title">
    <div class="col">
      <h4 class="m-0">Work As</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Select member to impersonate</p>
      <p>
        <ng-container *ngFor="let member of impersonationList">
            <button class="btn btn-link p-0 mr-3" (click)="selectStaffMember(member)">{{member?.fullName}}</button>
        </ng-container>
      </p>
    </div>
  </div>
</div>
