@import "../../../style/bootstrap-overrides";

@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.tech{
    max-height: 340px;
    overflow-y: auto;
    background-color: theme-color('light');
    padding: spacer(3);
    text-align: left;
}

.overflow{
    // overflow:scroll;
    word-break: break-all;
}