<div class="row no-gutters app-container" #appContainer>
  <div class="loader-bar" *ngIf="!isContentVisible"></div>
  <div class="col-lg-3 col-xl-2 bg-dark side-nav" *ngIf="isNavVisible"><app-mainmenu></app-mainmenu></div>
  <div class="col fade-in" *ngIf="isContentVisible"><router-outlet></router-outlet></div>
</div>
<a role="button" class="btn btn-primary scroll-top text-center text-white" (click)="scrollTop()" *ngIf="isScrollTopVisible"><i class="fas fa-chevron-up"></i><br>up</a>
<!-- TODO fix getcurrentuser -->
<div class="loader" *ngIf="!currentStaffMember && isNavVisible">
  <video autoplay loop>
    <source src="assets/Boy-21827.mp4" type="video/mp4">
  Your browser does not support the video tag.
  </video>
  <div class="loader-message" data-text="Logging in ...">
    Logging in ...
  </div>
</div>