<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div class="row page-title">
    <div class="col">
      <h4 class="mb-0">Lettings Managements</h4>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary"><i class="fas fa-plus mr-2"></i> Add</button>
    </div>
  </div>
  <div class="list-group">
      <a routerLink="/property-details-letting" class="list-group-item list-group-item-action">
        <div class="row">
          <div class="col-sm-4 mb-sm-2">
            <dl class="row no-gutters">
              <dt class="col-4">Address</dt>
              <dd class="col">23 Prince of Wales Crescent, SW6</dd>
            </dl>
          </div>
          <div class="col-sm-4 mb-sm-2">
            <dl class="row no-gutters">
              <dt class="col-4">Start date</dt>
              <dd class="col">12/01/05</dd>
            </dl>
          </div>

          <div class="col-sm-4 mb-sm-2">
            <dl class="row no-gutters">
              <dt class="col-4">End date</dt>
              <dd class="col">12/01/19</dd>
            </dl>
          </div>
          <div class="col-sm-4 mb-sm-2">
            <dl class="row no-gutters">
              <dt class="col-4">Curr. rent</dt>
              <dd class="col">£650</dd>
            </dl>
          </div>

          <div class="col-sm-4 mb-sm-2">
            <dl class="row no-gutters">
              <dt class="col-4">Status</dt>
              <dd class="col">Landlord LET</dd>
            </dl>
          </div>

          <div class="col-sm-4 mb-sm-2">
            <dl class="row no-gutters">
              <dt class="col-4">Lister</dt>
              <dd class="col">Henny Irwin</dd>
            </dl>
          </div>
          <div class="col-sm-4 mb-sm-2">
            <dl class="row no-gutters">
              <dt class="col-4">Prop. Man.</dt>
              <dd class="col">Peter Roberts</dd>
            </dl>
          </div>
        </div>
      </a>
    </div>
</div>