<div class="container-fluid">
    <div class="row">
      <div class="col">
        <h6>Marketing</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <p>Description:</p>
      </div>
      <div class="col">
        <p>We are delighted to offer to the market this wonderful light and bright, semi-detached family home located
          on this quiet private road in the heart of West Putney. The house benefits from off-street parking, an
          integral garage and a fantastic secluded south facing garden which also features a useful bicycle shed.
          This Scandinavian style house offers fantastic, flexible living and entertaining space and comprises a
          spectacular vaulted double height reception room with French doors to the garden and terrace, a spacious
          dining room, a fabulous double height conservatory which has the benefit of underfloor heating, a fully
          fitted eat-in kitchen and a W.C Upstairs, the principal bedroom is to the rear of the house with an ensuite
          bathroom with a bath and separate shower. Being at the back of the house, this affords excellent views
          of the garden. There are two other double bedrooms which are served by a family bathroom. To the front
          of the house, there is ample off-street parking for 3-4 cars and access to a good sized integral garage/utility
          room which could also be used as an office. The cost of a gardener is included in the rent. The house is
          located moments from Putney Common and is within easy access of Putney High Street, the River Thames and
          the amenities of Lower Richmond Road.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <p>Highlights:</p>
      </div>
      <div class="col">
        <p>3 bedrooms * 2 bathrooms (one ensuite) * Double reception room * Dining room * Kitchen * Conservatory * W.C
          * Garage * Off street parking * South facing garden * Gardener included in the rent * Available late November
          * EPC: D</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <p>Online:</p>
      </div>
      <div class="col">
        <p>Website, RightMove, Zoopla, OTM</p>
      </div>
    </div>
  </div>