<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div class="row page-title">
    <div class="col">
      <h4 class="mb-0">Offers</h4>
    </div>
  </div>
  <div class="list-group">
      <div class="list-group-item list-header d-none d-sm-block">
        <div class="row">
          <div class="col-sm"><strong>Offer Date</strong></div>
          <div class="col-sm"><strong>Type</strong></div>
          <div class="col-sm"><strong>Status</strong></div>
          <div class="col-sm"><strong>Amount</strong></div>
          <div class="col-sm"><strong>Applicant</strong></div>
          <div class="col-sm"><strong>Negotiator</strong></div>
        </div>
      </div>
    <div *ngIf="offers$|async as offers">
        <div class="list-group-item list-group-item-action" *ngFor="let offer of offers" >
          <div class="row">
            <div class="col-sm">
              <dl class="row">
                <dt class="col-4 d-sm-none">offer Date</dt>
                <dd class="col"><a href="#">{{offer.offerReceivedDate| date: 'd/MM/yyyy'}}</a></dd>
              </dl>
            </div>
            <div class="col-sm">
              <dl class="row">
                <dt class="col-4 d-sm-none">Type</dt>
                <dd class="col">{{offer.type}}</dd>
              </dl>
            </div>
            <div class="col-sm">
              <dl class="row">
                <dt class="col-4 d-sm-none">Status</dt>
                <dd class="col">{{offer.statusId}}</dd>
              </dl>
            </div>
            <div class="col-sm">
              <dl class="row">
                <dt class="col-4 d-sm-none">Amount</dt>
                <dd class="col">{{offer.amount | currency: "GBP"}}</dd>
              </dl>
            </div>
            <div class="col-sm">
              <dl class="row">
                <dt class="col-4 d-sm-none">Applicant</dt>
                <dd class="col">{{offer.applicantAddressee}}</dd>
              </dl>
            </div>
            <div class="col-sm">
              <dl class="row">
                <dt class="col-4 d-sm-none">Negotiator</dt>
                <dd class="col">{{offer.staffMember}}</dd>
              </dl>
            </div>
          </div>
        </div>
    </div>
    </div>
</div>
