<div class="row">
  <div class="row__item row__item--aside">
    <div class="card card--sticky">
      <div class="card__body card__body--list">
        <ol class="list list--divider list--hover">
          <li [ngClass]="{ current: item.isCurrent }" *ngFor="let item of infoTypes; index as i">
            <a role="button" class="overall" (click)="setInfoType(item?.name, i)"></a>
            {{ item?.name | toPascalCase }}
          </li>
        </ol>
      </div>
    </div>
  </div>

  <div class="row__item">
    <div [ngSwitch]="info">
      <ng-container *ngSwitchCase="'notes'">
        <div>
          <div class="col-sm-10 offset-sm-2" [ngClass]="{ 'notes-disabled': !contactGroupDetails?.contactGroupId }">
            <app-notes
              [noteData]="dataNote"
              [contactGroupNotes]="dataNote?.notes"
              [bottomReached]="bottomReached"
              [pageNumber]="page"
              (showMyNotes)="setShowMyNotesFlag($event)"
            ></app-notes>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <div class="message message--warning" *ngIf="pendingChanges">
          There are pending changes to this contact group. Press save to make them effective
        </div>
        <div
          class="message message--negative"
          *ngIf="!contactGroupDetails?.contactPeople?.length && !isNewContactGroup && !isExistingCompany"
        >
          You must add at least
          <b>1</b>
          person in the contact group.
        </div>
        <div class="message message--negative" *ngIf="isLastPerson && !companyAlert">
          You must have at least
          <b>1</b>
          person in the contact group.
        </div>
        <div
          class="alert alert-danger"
          *ngIf="contactGroupDetails?.contactPeople && companyAlert && !isNewCompanyContact && !isExistingCompany"
        >
          You must add
          <b>1</b>
          company for a company contact.
        </div>

        <div [ngSwitch]="groupType">
          <ng-container *ngSwitchCase="'company'">
            <ng-container *ngIf="isNewCompanyContact && !(isExistingCompany || companyDetails); else details">
              <app-redacted-card
                cardButtonLabel="New Company"
                (cardButtonClicked)="showCompanyFinder = true"
              ></app-redacted-card>
            </ng-container>
            <ng-template #details>
              <ledgend class="legend">Company Name</ledgend>
              <fieldset class="mb-3">
                <ng-container *ngIf="companyDetails?.companyName">
                  <p>
                    <a [routerLink]="['/company-centre/detail', companyDetails?.companyId]">
                      {{ companyDetails?.companyName }}
                    </a>
                  </p>
                  <p>
                    <button (click)="showCompanyFinder = true" type="button" class="btn btn--info">
                      <svg
                        aria-hidden="true"
                        width="64"
                        height="64"
                        viewBox="0 0 64 64"
                        class="icon icon--s icon--onLeft"
                      >
                        <polygon points="42.7 6.7 57.3 21.3 64 14.5 49.7 0 "></polygon>
                        <path d="M40.3 9.6l-38 38L0 64l16.9-2 38-37.9L40.3 9.6zM4 59.9l1.9-11.7 9.8 9.8L4 59.9z"></path>
                      </svg>
                      Change company
                    </button>
                  </p>
                </ng-container>
              </fieldset>

              <ledgend class="legend">Company Address</ledgend>
              <fieldset class="mb-3">
                <ng-container *ngIf="contactGroupDetails?.companyAddress?.postCode; else showCompanyAddress">
                  <app-address
                    *ngIf="contactGroupDetails"
                    [companyAddress]="contactGroupDetails.companyAddress"
                    (addressDetails)="getAddress($event)"
                  ></app-address>
                </ng-container>
                <ng-template #showCompanyAddress>
                  <app-address
                    *ngIf="(isCompanyAdded && companyFinderForm.value.selectedCompany) || isExistingCompany"
                    [companyDetails]="companyDetails"
                    (addressDetails)="getAddress($event)"
                  ></app-address>
                </ng-template>
              </fieldset>
              <form [formGroup]="contactGroupDetailsForm" autocompleteOff>
                <fieldset class="mb-3">
                  <label>Type</label>
                  <span class="checkbox">
                    <span>
                      <input type="checkbox" id="solicitor" formControlName="isSolicitor" />
                      <label for="solicitor">Solicitor</label>
                    </span>
                    <span>
                      <input type="checkbox" id="invClerk" formControlName="isInventoryClerk" />
                      <label for="invClerk">Inventory Clerk</label>
                    </span>
                    <span>
                      <input type="checkbox" id="estateAgent" formControlName="isEstateAgent" />
                      <label for="estateAgent">Estate Agent</label>
                    </span>
                    <span>
                      <input type="checkbox" id="mortgageAdvisor" formControlName="isMortgageAdvisor" />
                      <label for="mortgageAdvisor">Mortgage Advisor</label>
                    </span>
                  </span>
                </fieldset>
              </form>
              <!-- <fieldset class="mb-3" *ngIf="!contactGroupDetails?.contactPeople?.length">
                <p><button (click)="showContactFinder = true" type="button" class="btn btn--positive"><svg
                      aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon icon--s icon--onLeft">
                      <path
                        d="M60 35.9H4c-2.2 0-4-1.8-4-4v0c0-2.2 1.8-4 4-4h56c2.2 0 4 1.8 4 4v0C64 34.1 62.2 35.9 60 35.9z" />
                      <path class="plus-vertical"
                        d="M28 59.9v-56c0-2.2 1.8-4 4-4h0c2.2 0 4 1.8 4 4v56c0 2.2-1.8 4-4 4h0C29.8 63.9 28 62.2 28 59.9z" />
                    </svg>Person</button></p>
              </fieldset> -->
            </ng-template>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <app-contact-groups-placeholder 
              *ngIf="isNewPersonalContact && !contactGroupDetails?.contactPeople.length"
              (onAddPerson)="showHideOffCanvas($event)"
              [showAddNewBtn]="showAddNewBtn">
            </app-contact-groups-placeholder>
          </ng-container>
        </div>
        <ng-container *ngIf="!isNewContactGroup || isTypePicked">
          <legend *ngIf="companyDetails" class="legend">Contact Details</legend>
          <fieldset class="fieldset--width-max">
            <div *ngIf="importantContactNotes?.length">
              <div class="message message--negative" *ngFor="let importantNote of importantContactNotes">
                {{ importantNote?.text }}
              </div>
            </div>

            <ol class="cards">
              <li
                *ngFor="let person of contactGroupDetails?.contactPeople; index as i"
                [ngClass]="{
                  'new-person': person?.isNewPerson,
                  'list-group-item-danger': person?.warning && person?.warning?.id !== 1
                }"
              >
                <app-person-details
                  class="mt-2"
                  [personDetails]="person"
                  [index]="i"
                  [contactType]="contactGroupDetails?.contactType"
                  [referenceCount]="contactGroupDetails?.referenceCount"
                  [isPersonInfoOnly]="false"
                  [isClickable]="true"
                  [showEditOnly]="false"
                  [showViewPerson]="true"
                  [showSetMainPerson]="showSetMainPerson"
                  [showRemovePerson]="true"
                  (selectedPersonId)="editSelectedPerson($event)"
                  (mainPersonPersonId)="setMainPerson($event)"
                  (removedPersonPersonId)="removePerson($event, true)"
                ></app-person-details>
                <p>
                  <small class="flexBottom">P-{{ person?.personId }}</small>
                </p>
              </li>
              <li
                class="card__new"
                *ngIf="
                  contactGroupDetails?.contactPeople?.length && !contactGroupDetails?.referenceCount && !isMaxPeople
                "
              >
                <a href (click)="showHideOffCanvas($event)" class="overall"></a>
                <svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon icon--l">
                  <path
                    d="M60 35.9H4c-2.2 0-4-1.8-4-4v0c0-2.2 1.8-4 4-4h56c2.2 0 4 1.8 4 4v0C64 34.1 62.2 35.9 60 35.9z"
                  ></path>
                  <path
                    d="M28 59.9v-56c0-2.2 1.8-4 4-4h0c2.2 0 4 1.8 4 4v56c0 2.2-1.8 4-4 4h0C29.8 63.9 28 62.2 28 59.9z"
                    class="plus-vertical"
                  ></path>
                </svg>
                Add Person
              </li>
              <li
                class="card__warning"
                *ngIf="contactGroupDetails?.referenceCount && !isCloned"
                (click)="cloneContactGroup()"
              >
                <span>
                  <p>Transaction history present. You can't add or remove people from this Contact Group.</p>
                  <p>
                    If you want to add or remove a person,
                    <a [routerLink]="['../', contactGroupId]">create a new Contact Group</a>
                  </p>
                </span>
              </li>
              <li class="card__warning" *ngIf="!(contactGroupDetails?.contactPeople.length < 8)">
                <p>You can add max 8 People per contact group.</p>
              </li>
            </ol>
          </fieldset>

          <ng-container *ngIf="contactGroupDetails?.contactPeople.length">
            <legend class="legend">Details</legend>
            <form [formGroup]="contactGroupDetailsForm">
              <fieldset class="mb-3">
                <label for="salutation">Salutation</label>
                <input class="p-2" type="text" id="salutation" formControlName="salutation" />
              </fieldset>

              <fieldset class="mb-3">
                <label for="addressee">Addressee</label>
                <input class="p-2" type="text" id="addressee" formControlName="addressee" />
              </fieldset>

              <fieldset class="mb-3">
                <span class="checkbox">
                  <span>
                    <input class="p-2" type="checkbox" id="isRelocationAgent" formControlName="isRelocationAgent" />
                    <label for="isRelocationAgent">Is Relocation Agent</label>
                  </span>
                </span>
              </fieldset>
            </form>
          </ng-container>
        </ng-container>

        <div *ngIf="groupType == 'company' && !contactGroupDetails?.contactPeople?.length">
          <fieldset class="mb-3">
            <p>
              <button (click)="showHideOffCanvas($event)" type="button" class="btn btn--positive">
                <svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon icon--s icon--onLeft">
                  <path
                    d="M60 35.9H4c-2.2 0-4-1.8-4-4v0c0-2.2 1.8-4 4-4h56c2.2 0 4 1.8 4 4v0C64 34.1 62.2 35.9 60 35.9z"
                  />
                  <path
                    class="plus-vertical"
                    d="M28 59.9v-56c0-2.2 1.8-4 4-4h0c2.2 0 4 1.8 4 4v56c0 2.2-1.8 4-4 4h0C29.8 63.9 28 62.2 28 59.9z"
                  />
                </svg>
                Person
              </button>
            </p>
          </fieldset>
        </div>

        <footer class="footer">
          <button type="button" class="btn btn--ghost" (click)="cancel()">Cancel</button>
          <button
            type="submit"
            class="btn btn--positive"
            (click)="saveContactGroup()"
            [attr.disabled]="
              !contactGroupDetails?.contactPeople.length || isSubmitting || !contactGroupDetailsForm?.dirty ? '' : null
            "
          >
            <svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="loading" *ngIf="isSubmitting">
              <path
                d="M11.9 48.4c-4.1-5-6.3-11.5-5.8-18.6C7.1 17.6 16.8 7.5 29 6.2 44.7 4.4 58 16.7 58 32c0 6.2-2.2 11.8-5.8 16.3 -1 1.2-0.8 2.9 0.3 4l0 0c1.3 1.3 3.4 1.1 4.5-0.3 4.8-6 7.5-13.8 7-22.2C62.9 14 50.1 1.2 34.3 0.1 15.6-1.2 0 13.6 0 32c0 7.7 2.7 14.8 7.3 20.3 1.1 1.3 3 1.4 4.2 0.2l0.2-0.2C12.8 51.2 12.8 49.6 11.9 48.4z"
              ></path>
            </svg>
            Save
          </button>
        </footer>

        <!--Duplicate Person Checker Modal TODO remove once app-contact-search is adequate to replace -->
        <!-- <p-dialog
          header="Find Person"
          [(visible)]="showDuplicateChecker"
          [modal]="true"
          [draggable]="false"
          class="modal--medium modal--hasFooter"
        >
          <app-contact-duplicate-checker
            [contactGroupDetails]="contactGroupDetails"
            [searchTerm]="searchTerm"
            (addedPersonDetails)="getAddedPersonDetails($event)"
            (selectedPerson)="getSelectedPerson($event)"
            (creatingNewPerson)="createNewPerson()"
          ></app-contact-duplicate-checker>
        </p-dialog> -->

        <!-- Contact Search Modal-->
        <p-dialog
          header="Contact Search "
          [(visible)]="showDuplicateChecker"
          [modal]="true"
          [draggable]="false"
          class="modal--medium modal--hasFooter"
        >
          <app-contact-search
            [contactGroupDetails]="contactGroupDetails"
            [searchTerm]="searchTerm"
            [potentialDuplicatePeople]="potentialDuplicatePeople"
            [isCreateNewPersonVisible]="false"
            (addedPersonDetails)="getAddedPersonDetails($event)"
            (selectedPerson)="getSelectedPerson($event)"
            (findPotentialDuplicatePerson)="queryForDuplicatePeople($event)"
            (onCreateNewPerson)="navigateToNewPersonScreen($event)"
          ></app-contact-search>
        </p-dialog>

        <!--Company Finder Modal -->
        <p-dialog
          header="Find Company"
          [(visible)]="showCompanyFinder"
          [modal]="true"
          [draggable]="false"
          class="modal--medium modal--hasFooter"
        >
          <app-company-finder
            [existingCompany]="companyDetails"
            [companyNameError]="formErrors.companyName"
            [canCreateNewCompany]="true"
            (companyName)="getCompanyName($event)"
            (selectedCompanyDetails)="selectCompany($event)"
            (onManualEntry)="editSelectedCompany($event)"
          ></app-company-finder>
        </p-dialog>

        <app-additional-info
          [id]="contactGroupDetails?.contactGroupId ? 'CG-' + contactGroupDetails?.contactGroupId : ''"
        ></app-additional-info>
      </ng-container>
    </div>
  </div>
</div>

<!--Success Messages -->
<p-toast></p-toast>
