<div class="table">
  <div *ngIf="properties" class="search-results" infiniteScroll [infiniteScrollDistance]="5" [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="20" [immediateCheck]="true" [alwaysCallback]="true"></div>
  <table class="table--mobile table--rowHover">
    <thead>
      <tr>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr 
        [routerLink]="['detail', property?.propertyId]" 
        [queryParams]="{searchTerm: searchTerm, showNotes:true}" 
        (click)="onPropertySelected(property.propertyId)"
        [routerLink]="['detail', property?.propertyId]" 
        [queryParams]="{searchTerm: searchTerm, showNotes:true}" 
        *ngFor="let property of properties; let i = index;"
        class="cursor-pointer">
        <td data-title="Address">
          <span class="cell-content">
       
              <strong [innerHTML]="property?.propertyAddress | highlight : searchTerm"></strong>
              <span class="text-danger" *ngIf="!(property.propertyAddress )">No address</span>
        
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
