<app-breadcrumb [title]="navPlaceholder"></app-breadcrumb>
<div class="container">
  <div class="row page-title">
    <div class="col">
      <h4 class="mb-0">Home Managements</h4>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary"><i class="fas fa-plus mr-2"></i> Home M.</button>
    </div>
  </div>
  <div class="list-group">
      <div class="list-group-item list-header d-none d-sm-block">
        <div class="row">
          <div class="col-sm-3"><strong>Address</strong></div>
          <div class="col-sm"><strong>Start date</strong></div>
          <div class="col-sm"><strong>End date</strong></div>
          <div class="col-sm"><strong>Status</strong></div>
          <div class="col-sm"><strong>Prop. Man.</strong></div>
        </div>
      </div>
      <a routerLink="/property-details-letting" class="list-group-item list-group-item-action">
        <div class="row">
          <div class="col-sm-3">
            <dl class="row">
              <dt class="col-4 d-sm-none">Address</dt>
              <dd class="col">23 Prince of Wales Crescent, SW6</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Start date</dt>
              <dd class="col">12/01/15</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">End date</dt>
              <dd class="col">12/01/19</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Status</dt>
              <dd class="col">MNG</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Prop. Man.</dt>
              <dd class="col">Emily Plane</dd>
            </dl>
          </div>
        </div>
      </a>
    </div>
</div>