<ng-container *ngIf="!selectedPersonId && !isCreateNewPerson; else createNewPerson">
  <div class="row">
    <div class="grid grid--25">
      <form [formGroup]="personFinderForm"[ngClass]="potentialDuplicatePeople?.matches?.length ? 'pb-0 pb-sm-3' : 'pb-3'">
        <fieldset>
          <label for="fullName">Full Name</label>
          <input type="text" id="fullName" autofocus formControlName="fullName" autocompleteOff>
        </fieldset>
        <fieldset>
          <label for="phone">Phone</label>
          <input type="text" id="phone" (keypress)="phoneNumberOnly($event)" formControlName="phoneNumber">
        </fieldset>
        <fieldset>
          <label for="email">Email</label>
          <input type="text" id="email" formControlName="emailAddress">
        </fieldset>
      </form>
    </div>
    <div class="grid grid--75 grid--dividerLeft">
      <div class="table">
        <table class="table--mobile table--rowHover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Telephone</th>
              <th colspan="2">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="potentialDuplicatePeople?.matches?.length">
              <td colspan="4">{{potentialDuplicatePeople?.matches?.length}} Results found</td>
            </tr>
            <tr>
              <td data-title="Name">
                <span class="cell-content">Mike Ballan<small class="txt--positive">Full Match</small></span>
              </td>
              <td data-title="Telephone">
                <span class="cell-content">0123456789</span>
              </td>
              <td data-title="Email">
                <span class="cell-content">mike.ballan@mikeballan.com</span>
              </td>
              <td>
                <svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon icon--s"><path d="M1 35.4h48.8L37.5 47.8l4.9 4.9L63 32 42.3 11.3l-4.9 4.9 12.3 12.3H1V35.4z"></path></svg>
              </td>
            </tr>

            <tr>
              <td data-title="Name">
                <span class="cell-content">Mike Ball<small class="txt--warning">Good Match</small></span>
              </td>
              <td data-title="Telephone">
                <span class="cell-content">---</span>
              </td>
              <td data-title="Email">
                <span class="cell-content">mike@mike.com</span>
              </td>
              <td>
                <svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon icon--s"><path d="M1 35.4h48.8L37.5 47.8l4.9 4.9L63 32 42.3 11.3l-4.9 4.9 12.3 12.3H1V35.4z"></path></svg>
              </td>
            </tr>

            <tr>
              <td data-title="Name">
                <span class="cell-content">Mike B</span>
              </td>
              <td data-title="Telephone">
                <span class="cell-content">---</span>
              </td>
              <td data-title="Email">
                <span class="cell-content">test@test.eu</span>
              </td>
              <td>
                <svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon icon--s"><path d="M1 35.4h48.8L37.5 47.8l4.9 4.9L63 32 42.3 11.3l-4.9 4.9 12.3 12.3H1V35.4z"></path></svg>
              </td>
            </tr>

            <tr>
              <td data-title="Name">
                <span class="cell-content">Mike Ballon</span>
              </td>
              <td data-title="Telephone">
                <span class="cell-content">---</span>
              </td>
              <td data-title="Email">
                <span class="cell-content">---</span>
              </td>
              <td>
                <svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon icon--s"><path d="M1 35.4h48.8L37.5 47.8l4.9 4.9L63 32 42.3 11.3l-4.9 4.9 12.3 12.3H1V35.4z"></path></svg>
              </td>
            </tr>

            <!-- <app-subnav>
              <app-subnav-item *ngFor="let foundPerson of potentialDuplicatePeople?.matches" [ngClass]="{'disabled': isAlreadyInContactgroup(foundPerson?.personId)}" (click)="selectPerson(foundPerson?.personId)">
                <tr *ngIf="isAlreadyInContactgroup(foundPerson?.personId); else badge">
                  <td colspan="3">Already in this group</td>
                </tr>

                <ng-template #badge>
                  <span *ngIf="foundPerson?.matchType">
                    <span class="pill pill--positive" *ngIf="foundPerson?.matchType == 'FullMatch'">Full Match</span>
                    <span class="pill pill--warning" *ngIf="foundPerson?.matchType == 'GoodMatch'">Good Match</span>
                  </span>
                </ng-template>
                
                <div class="row">
                  <div class="col-sm-4">
                    <b>
                      {{foundPerson?.title}}
                      <span class="mr-1"
                        [innerHTML]="foundPerson?.firstName | highlight : personFinderForm.value.firstName"></span>
                      <span [innerHTML]="foundPerson?.lastName | highlight : personFinderForm.value.lastName"></span>
                    </b>
                  </div>
                  <div class="col-sm-4">
                    <ng-container *ngFor="let phoneNumber of foundPerson?.phoneNumbers">
                      <div [innerHTML]="phoneNumber | highlight : personFinderForm.value.phoneNumber:true"></div>
                    </ng-container>
                  </div>
                  <div class="col-sm-4">
                    <ng-container *ngFor="let email of foundPerson?.emailAddresses">
                      <div class="text-truncate" [innerHTML]="email | highlight : personFinderForm.value.emailAddress">
                      </div>
                    </ng-container>
                  </div>
                </div>
              </app-subnav-item>
              
              <tr *ngIf="potentialDuplicatePeople && !potentialDuplicatePeople?.matches?.length">
                <td colspan="3">
                  No Person found.
                  <ng-container *ngIf="isCreateNewPersonVisible; else fillDetails">Create a new one with the details provided above</ng-container>
                  <ng-template #fillDetails>Fill the details above to continue</ng-template>.
                </td>    
              </tr>

              <tr>
                <td colspan="3">
                  <a href class="btn btn--positive" *ngIf="isCreateNewPersonVisible" (click)="createNewContactGroupPerson($event)">Create New Person</a>
                </td>
              </tr>
            </app-subnav> -->

          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #createNewPerson>
  <app-contactgroups-detail-edit (addedPersonDetails)="getAddedPersonDetails($event)"
    (hideCanvas)="hideCanvas($event)"
    (backToFinder)="backToFinder($event)" *ngIf="isCreateNewPerson && newPerson" [basicPerson]="newPerson" [isCompanyContactGroup]="isCompanyContactGroup">
  </app-contactgroups-detail-edit>
</ng-template>

<!-- 
<div class="off-canvas" [hidden]="!isPersonCanvasVisible" (click)="showHideOffCanvas($event)">
  <div class="off-canvas-content right slide-in-right" (click)="$event.stopPropagation()" #offCanvasContent>
    <h4 class="page-title text-left pt-3" [ngClass]="{'m-0': isCreateNewPerson}">
      <ng-container *ngIf="!isCreateNewPerson; else createLabel">Find</ng-container>
      <ng-template #createLabel>New </ng-template> Person
      <button type="button" class="close mr-2" aria-label="Close" (click)="showHideOffCanvas($event)">
        <span aria-hidden="true">&times;</span>
      </button>
    </h4>
    <ng-container *ngIf="!selectedPersonId && !isCreateNewPerson; else createNewPerson">
      <form [formGroup]="personFinderForm"
        [ngClass]="potentialDuplicatePeople?.matches?.length ? 'pb-0 pb-sm-3' : 'pb-3'">
        <div class="form-group row">
          <label for="fullName" class="col-sm-2 col-form-label col-form-label-sm">Full Name</label>
          <div class="col-sm-10">
            <input type="text" id="fullName" class="form-control form-control-sm" autofocus formControlName="fullName"
              autocompleteOff>
          </div>
        </div>
        <div class="form-group row">
          <label for="phone" class="col-sm-2 col-form-label col-form-label-sm">Phone</label>
          <div class="col-sm-10">
            <input type="text" id="phone" (keypress)="phoneNumberOnly($event)" class="form-control form-control-sm"
              formControlName="phoneNumber">
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
          <div class="col-sm-10">
            <input type="text" id="email" class="form-control form-control-sm" formControlName="emailAddress">
          </div>
        </div>
      </form>
      <div class="row results-chip" *ngIf="potentialDuplicatePeople?.matches?.length">
        <div class="col-sm-12 text-center">
          <small><i class="fas fa-arrow-down mr-2"></i> {{potentialDuplicatePeople?.matches?.length}} Results
            found</small>
        </div>
      </div>
      <div class="form-group row justify-content-end">
        <div class="col-sm-10">
          <div class="row">
            <div class="col">
              <h5>Quick Finder</h5>
            </div>
          </div>
          <app-subnav>
            <app-subnav-item *ngFor="let foundPerson of potentialDuplicatePeople?.matches"
              [ngClass]="{'disabled': isAlreadyInContactgroup(foundPerson?.personId)}"
              (click)="selectPerson(foundPerson?.personId)">
              <div class="row">
                <ng-container *ngIf="isAlreadyInContactgroup(foundPerson?.personId); else badge">
                  <div class="col-12 mb-2">
                    <i class="fas fa-exclamation-triangle mr-1"></i> Already in this group
                  </div>
                </ng-container>
                <ng-template #badge>
                  <div class="col-12 mb-2" *ngIf="foundPerson?.matchType">
                    <span class="badge badge-pill badge-success" *ngIf="foundPerson?.matchType == 'FullMatch'">Full
                      Match</span>
                    <span class="badge badge-pill badge-warning" *ngIf="foundPerson?.matchType == 'GoodMatch'">Good
                      Match</span>
                  </div>
                </ng-template>
                <div class="col-sm-4">
                  <b>
                    {{foundPerson?.title}}
                    <span class="mr-1"
                      [innerHTML]="foundPerson?.firstName | highlight : personFinderForm.value.firstName"></span>
                    <span [innerHTML]="foundPerson?.lastName | highlight : personFinderForm.value.lastName"></span>
                  </b>
                </div>
                <div class="col-sm-4">
                  <ng-container *ngFor="let phoneNumber of foundPerson?.phoneNumbers">
                    <div [innerHTML]="phoneNumber | highlight : personFinderForm.value.phoneNumber:true"></div>
                  </ng-container>
                </div>
                <div class="col-sm-4">
                  <ng-container *ngFor="let email of foundPerson?.emailAddresses">
                    <div class="text-truncate" [innerHTML]="email | highlight : personFinderForm.value.emailAddress">
                    </div>
                  </ng-container>
                </div>
              </div>
            </app-subnav-item>
            <div class="list-group-item text-center"
              *ngIf="potentialDuplicatePeople && !potentialDuplicatePeople?.matches?.length">
              No Person found. <ng-container *ngIf="isCreateNewPersonVisible; else fillDetails">Create a new one with
                the details provided above</ng-container>
              <ng-template #fillDetails>Fill the details above to continue</ng-template>.
            </div>
            <a href class="list-group-item list-group-item-action text-center py-4" *ngIf="isCreateNewPersonVisible"
              (click)="createNewContactGroupPerson($event)">
              <span class="btn-link">
                <i class="fas fa-user-plus"></i> Create New Person
              </span>
            </a>
          </app-subnav>
        </div>
      </div>
    </ng-container>
    <ng-template #createNewPerson>
      <app-contactgroups-detail-edit (addedPersonDetails)="getAddedPersonDetails($event)"
        (hideCanvas)="hideCanvas($event)"
        (backToFinder)="backToFinder($event)" *ngIf="isCreateNewPerson && newPerson" [basicPerson]="newPerson" [isCompanyContactGroup]="isCompanyContactGroup">
      </app-contactgroups-detail-edit>
    </ng-template>
  </div>
</div> -->
