<form class="p-0" [formGroup]="companyFinderForm" autocompleteOff>
  <div class="row" *ngIf="!existingCompany">
    <label for="company" class="col-sm-2 col-form-label col-form-label-sm">Find Company</label>
    <div class="col-sm-10">
      <div class="form-group">
        <div class="input-group input-group-sm">
          <input #companyNameInput type="search" id="company" class="form-control form-control-sm fake-readonly" formControlName="companyName"
            [ngClass]="{'is-invalid': companyNameError && !enterManually && !companyFinderForm.value.companyName}"
            (keydown.enter)="searchCompany()">
            <div class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="searchCompany()">Search</button>
            </div>
            <div class="invalid-feedback w-100">Search for a Company</div>
        </div>
      </div>
      <ng-container *ngIf="foundCompanies && !enterManually">
        <h5>Quick Finder</h5>
        <div class="list-group small mb-3">
          <ng-container *ngIf="!isLoadingCompaniesVisible">
            <div class="list-group-item list-group-item-action" *ngFor="let company of foundCompanies"
              (click)="selectCompany(company)">
              <div class="row align-items-center">
                <div class="col"
                  [innerHTML]="company.companyName | highlight : companyFinderForm.value.companyName"></div>
                <div class="col-auto">
                  <button class="btn btn-block btn-sm btn-link">Select</button>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="list-group-item text-center" *ngIf="isLoadingCompaniesVisible">
            <i class="fas fa-spinner fa-pulse d-inline-block"></i> Loading companies ...
          </div>
          <div class="list-group-item text-center"
            *ngIf="!isLoadingCompaniesVisible">
            No Company Found? Try again or <a href (click)="enterCompany()">enter it manually</a>.
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="(!foundCompanies && isCompanyAdded) || enterManually || existingCompany">
    <div class="row">
      <label for="company" class="col-sm-2 col-form-label col-form-label-sm">Company name</label>
      <div class="col-sm-10">
          <div class="form-group">
            <input type="text" class="form-control form-control-sm" 
              [ngClass]="{'is-invalid': companyNameError && enterManually}" 
              id="selectedCompany" formControlName="selectedCompany">
            <div class="invalid-feedback w-100">{{companyNameError}}</div>
          </div>
      </div>
    </div>
  </ng-container>
</form>
