<app-breadcrumb [title]="navPlaceholder"></app-breadcrumb>
<div class="container main">
  <div class="row page-title">
    <div class="col">
      <h4 class="mb-0">Map</h4>
    </div>
  </div>

  <div *ngIf="propertyMap$ | async as map">
    <!-- <agm-map class="embed-responsive-item" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map> -->
    <img [src]="map.azureResourceURL" alt="property map" *ngIf="map?.azureResourceURL; else noMap" style="display: block; width: 100%;">
    <ng-template #noMap>
        <img class="card-img" src="https://dummyimage.com/400x300/e9ecef/212529&text=no+map" alt="">
      </ng-template>
  </div>
</div>
