<app-breadcrumb></app-breadcrumb>
<div class="container main">
  <div class="row page-title">
    <div class="col">
      <h4 class="m-0">Property centre</h4>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-light mr-2 d-none" [ngClass]="{'d-sm-inline': isChangeSearchVisible}" (click)="scrollElIntoView('search-form')">Change Search</button>
      <a class="btn btn-light" [routerLink]="['detail', 0 , 'edit' ]"  [queryParams]="{isNewProperty: true}" ><i class="fas fa-plus mr-2"></i> Property</a>
    </div>
  </div>
  <form class="mb-3 search-form" [formGroup]="propertyFinderForm" (ngSubmit)="propertiesResults(true)">
    <div class="row">
      <div class="col">
        <div class="input-group">
          <input type="search" class="form-control" formControlName="searchTerm" placeholder="Property Address or Id"
          aria-label="Property Address" (keyup)="onKeyup($event)"[ngbTypeahead]="suggestions" [focusFirst]="false" (selectItem)="selectedSuggestion($event)">
          <div class="input-group-append">
            <button class="btn btn-secondary">Search</button>
          </div>
        </div>
        <!-- <button class="btn btn-link px-0" type="button" id="button-advanced" (click)="advSearchCollapsed = !advSearchCollapsed"
        [attr.aria-expanded]="!advSearchCollapsed" aria-controls="advSearch">Advanced search</button> -->
      </div>
    </div>

  </form>
  <div class="text-center" *ngIf="isHintVisible">
      <i class="far fa-smile-wink"></i> Type at least <strong>3 characters</strong> to get results
  </div>
  <app-property-list *ngIf="!isHintVisible" [pageNumber]="page" [properties]='properties' [bottomReached]="bottomReached" [searchTerm]='searchTerm'></app-property-list>
  <div class="text-center text-danger" *ngIf="isMessageVisible && !isHintVisible && page === 1">
      <i class="far fa-sad-tear"></i> No results for '<strong>{{propertyFinderForm.value.searchTerm || ' '}}</strong>'
  </div>
</div>
