<ng-container>
  <form class="pb-0" [formGroup]="propertyFinderForm" autocompleteOff>
    <div class="row" [hidden]="!(selectedPropertyDetails||selectedProperties && selectedProperties.length)">
      <div class="col-sm-10 offset-sm-2" *ngIf="selectedPropertyDetails">
        <ng-container *ngIf="!isLabelHidden">
          <label for="propSearchTerm"
            class="small">Property {{label}}</label>
        </ng-container>
        <div class="form-group d-flex d-sm-block">
          <input type="hidden" #selectedPropertyInput id="selectedPropertyAddress"
            formControlName="selectedPropertyAddress">
          <a class="small mobile-btn" *ngIf="selectedPropertyDetails"
            [routerLink]="['/property-centre/detail/', selectedPropertyDetails?.propertyId]">
            {{selectedPropertyDetails?.address | formatAddress}}
          </a>
          <a class="small mobile-btn" *ngIf="!selectedPropertyDetails">
            {{selectedPropertyDetails?.address | formatAddress}}
          </a>
          <button class="btn btn-light btn-sm ml-2" *ngIf="!readOnly" type="button" (click)="setProperties()">
            Change
          </button>
        </div>
      </div>
      <div class="col-sm-10 offset-sm-2" *ngIf="isMultiple && selectedProperties">
        <div class="form-group d-flex d-sm-block" *ngFor="let property of selectedProperties">
          <a class="small mobile-btn" [routerLink]="['/property-centre/detail/', property?.propertyId]">
            {{property?.address | formatAddress}}
          </a>
          <button class="btn btn-light btn-sm ml-2" type="button" (click)="removeProperty(property?.propertyId)">
            Remove
          </button>
          <button *ngIf="canRebook" class="btn btn-light btn-sm ml-2" type="button"
            (click)="rebookProperty(property?.propertyId)">
            Rebook
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 offset-sm-2" [hidden]="!isSearchVisible">
        <div class="form-group">
          <button type="button" class="btn btn-light btn-sm btn-block"
          [ngClass]="{'is-invalid': propertyRequiredWarning}" (click)="setProperties()">
            <i class="fas fa-plus mr-2"></i>
            Property {{label}}
          </button>
          <div class="invalid-feedback w-100">{{propertyRequiredWarning}}</div>
        </div>
      </div>
      <div class="col-12"></div>
      <div class="col-sm-8 col-xl-6 offset-sm-2">
        <div class="off-canvas" [hidden]="!properties" (click)="properties = null">
          <div class="off-canvas-content right slide-in-right" (click)="$event.stopPropagation()" #offCanvasContent>
            <h4 class="page-title text-left pt-3">
              Property {{label}}
              <button type="button" class="close mr-2" aria-label="Close" (click)="properties = null">
                <span aria-hidden="true">&times;</span>
              </button>
            </h4>
            <div class="form-group">
              <label for="propSearchTerm"
              class="small">Find</label>
              <div class="input-group input-group-sm">
                <input #searchPropertyInput type="search" id="propSearchTerm" class="form-control"
                  formControlName="searchTerm" (keydown.enter)="searchProperty()" [ngbTypeahead]="suggestions"
                  [focusFirst]="false" (selectItem)="selectedSuggestion($event)">
                <div class="input-group-append">
                  <button type="button" class="btn btn-secondary" (click)="searchProperty()">Search</button>
                </div>
              </div>
            </div>
            <a class="small d-block mb-3" [routerLink]="['/property-centre/detail/0', 'edit']"
              *ngIf="noSuggestions && !hideCreateNewProperty"
              [queryParams]="{isNewProperty: true, searchedAddress: propertyFinderForm.get('searchTerm').value, getBack: 1}"
              (click)="CreateNewProperty()">
              <i class="fas fa-plus mr-2"></i> Add Property
            </a>
            <app-subnav *ngIf='hasBeenSearched'>
              <ng-container *ngIf="properties">
                <app-subnav-item *ngFor="let property of properties"
                  (click)="selectProperty(property?.propertyId); properties = null">
                  <div class="row">
                    <!-- <div class="col-12 mb-2" *ngIf="property?.propertyId">
                      <small class="text-muted mr-2">PR-{{property?.propertyId}}</small>
                    </div> -->
                    <div class="col-sm">
                      {{property?.propertyAddress}}
                    </div>
                  </div>
                </app-subnav-item>
                <div class="list-group-item text-center text-danger" *ngIf="!properties?.length">
                  No Property {{label}} found
                </div>
                <a [routerLink]="['/property-centre/detail/0', 'edit']" *ngIf="!hideCreateNewProperty"
                  [queryParams]="{isNewProperty: true, searchedAddress: propertyFinderForm.get('searchTerm').value, getBack: 1}"
                  (click)="CreateNewProperty()" class="list-group-item list-group-item-action text-center py-4">
                  <span class="btn-link">
                    <i class="fas fa-plus mr-2"></i> Add Property
                  </span>
                </a>
              </ng-container>
            </app-subnav>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-container>
