<ng-container>
  <div class="row">
    <div class="grid grid--25">
      <form [formGroup]="propertyFinderForm" autocomplete="off">
        <fieldset>
          <label for="searchTerm">Property Address or Id</label>
          <input #searchPropertyInput type="search" id="searchTerm" autofocus formControlName="searchTerm"
            (keydown.enter)="searchProperty()" [ngbTypeahead]="suggestions" [focusFirst]="false"
            (selectItem)="selectedSuggestion($event)" data-cy="propSearchTerm">
        </fieldset>
        <fieldset>
          <button class="btn btn--info" (click)="searchProperty()" data-cy="searchProperty">Search</button>
        </fieldset>
      </form>
      <p *ngIf="properties?.length">
        {{properties?.length}} Results found
      </p>
    </div>
    <div class="grid grid--75 grid--dividerLeft">
      <div class="table">
        <table class="table--mobile table--rowHover">
          <!-- <thead>
            <tr>
              <th>Name</th>
              <th>Telephone</th>
              <th colspan="2">Email</th>
            </tr>
          </thead> -->
          <tbody>
            <tr *ngIf="!properties?.length && hasBeenSearched">
              <td colspan="4">
                No Property {{label}} found
              </td>
            </tr>
            <tr *ngFor="let property of properties" (click)="selectProperty(property?.propertyId); properties = null">
              <td data-title="Address">
                <span class="cell-content">
                  {{property?.propertyAddress}}
                </span>
              </td>
              <td class="hide--mobile">
                <svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon icon--s">
                  <path d="M1 35.4h48.8L37.5 47.8l4.9 4.9L63 32 42.3 11.3l-4.9 4.9 12.3 12.3H1V35.4z"></path>
                </svg>
              </td>
            </tr>
          </tbody>
        </table>
      <ng-container *ngIf="hasBeenSearched || noSuggestions">
          <a [routerLink]="['/property-centre/detail/0', 'edit']" *ngIf="!hideCreateNewProperty"
            [queryParams]="{isNewProperty: true, searchedAddress: propertyFinderForm.get('searchTerm').value, getBack: 1}"
            (click)="CreateNewProperty()" class="list-group-item list-group-item-action text-center py-4">
            <svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon icon--s icon--onLeft">
              <path d="M60 35.9H4c-2.2 0-4-1.8-4-4v0c0-2.2 1.8-4 4-4h56c2.2 0 4 1.8 4 4v0C64 34.1 62.2 35.9 60 35.9z" />
              <path class="plus-vertical"
                d="M28 59.9v-56c0-2.2 1.8-4 4-4h0c2.2 0 4 1.8 4 4v56c0 2.2-1.8 4-4 4h0C29.8 63.9 28 62.2 28 59.9z" />
            </svg>Add Property
          </a>
      </ng-container>
      </div>
    </div>
  </div>
</ng-container>

<!-- <ng-container>
  <form class="pb-0" [formGroup]="propertyFinderForm" autocompleteOff>
    <div class="row" [hidden]="!(selectedPropertyDetails||selectedProperties && selectedProperties.length)">
      <div class="col-sm-10 offset-sm-2" *ngIf="selectedPropertyDetails">
        <ng-container *ngIf="!isLabelHidden">
          <label for="propSearchTerm" class="small">Property {{label}}</label>
        </ng-container>
        <div class="form-group d-flex d-sm-block">
          <input type="hidden" #selectedPropertyInput id="selectedPropertyAddress"
            formControlName="selectedPropertyAddress">
          <a class="small mobile-btn" *ngIf="selectedPropertyDetails"
            [routerLink]="['/property-centre/detail/', selectedPropertyDetails?.propertyId]">
            {{selectedPropertyDetails?.address | formatAddress}}
          </a>
          <a class="small mobile-btn" *ngIf="!selectedPropertyDetails">
            {{selectedPropertyDetails?.address | formatAddress}}
          </a>
          <button class="btn btn-light btn-sm ml-2" *ngIf="!readOnly" type="button" (click)="setProperties()">
            Change
          </button>
        </div>
      </div>
      <div class="col-sm-10 offset-sm-2" *ngIf="isMultiple && selectedProperties">
        <div class="form-group d-flex d-sm-block" *ngFor="let property of selectedProperties">
          <a class="small mobile-btn" [routerLink]="['/property-centre/detail/', property?.propertyId]">
            {{property?.address | formatAddress}}
          </a>
          <button class="btn btn-light btn-sm ml-2" type="button" (click)="removeProperty(property?.propertyId)">
            Remove
          </button>
          <button *ngIf="canRebook" class="btn btn-light btn-sm ml-2" type="button"
            (click)="rebookProperty(property?.propertyId)">
            Rebook
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 offset-sm-2" [hidden]="!isSearchVisible">
        <div class="form-group">
          <button type="button" class="btn btn-light btn-sm btn-block"
            [ngClass]="{'is-invalid': propertyRequiredWarning}" (click)="setProperties()" data-cy="addProperty">
            <i class="fas fa-plus mr-2"></i>
            Property {{label}}
          </button>
          <div class="invalid-feedback w-100">{{propertyRequiredWarning}}</div>
        </div>
      </div>
      <div class="col-12"></div>
      <div class="col-sm-8 col-xl-6 offset-sm-2">
        <div class="off-canvas" [hidden]="!properties" (click)="properties = null">
          <div class="off-canvas-content right slide-in-right" (click)="$event.stopPropagation()" #offCanvasContent>
            <h4 class="page-title text-left pt-3">
              Property {{label}}
              <button type="button" class="close mr-2" aria-label="Close" (click)="properties = null">
                <span aria-hidden="true">&times;</span>
              </button>
            </h4>
            <div class="form-group">
              <label for="propSearchTerm" class="small">Find</label>
              <div class="input-group input-group-sm">
                <input #searchPropertyInput type="search" id="propSearchTerm" class="form-control"
                  formControlName="searchTerm" (keydown.enter)="searchProperty()" [ngbTypeahead]="suggestions"
                  [focusFirst]="false" (selectItem)="selectedSuggestion($event)" data-cy="propSearchTerm">
                <div class="input-group-append">
                  <button type="button" class="btn btn-secondary" (click)="searchProperty()"
                    data-cy="searchProperty">Search</button>
                </div>
              </div>
            </div>
            <a class="small d-block mb-3" [routerLink]="['/property-centre/detail/0', 'edit']"
              *ngIf="noSuggestions && !hideCreateNewProperty"
              [queryParams]="{isNewProperty: true, searchedAddress: propertyFinderForm.get('searchTerm').value, getBack: 1}"
              (click)="CreateNewProperty()">
              <i class="fas fa-plus mr-2"></i> Add Property
            </a>
            <app-subnav *ngIf='hasBeenSearched'>
              <ng-container *ngIf="properties">
                <app-subnav-item *ngFor="let property of properties"
                  (click)="selectProperty(property?.propertyId); properties = null">
                  <div class="row">
                    <div class="col-sm">
                      {{property?.propertyAddress}}
                    </div>
                  </div>
                </app-subnav-item>
                <div class="list-group-item text-center text-danger" *ngIf="!properties?.length">
                  No Property {{label}} found
                </div>
                <a [routerLink]="['/property-centre/detail/0', 'edit']" *ngIf="!hideCreateNewProperty"
                  [queryParams]="{isNewProperty: true, searchedAddress: propertyFinderForm.get('searchTerm').value, getBack: 1}"
                  (click)="CreateNewProperty()" class="list-group-item list-group-item-action text-center py-4">
                  <span class="btn-link">
                    <i class="fas fa-plus mr-2"></i> Add Property
                  </span>
                </a>
              </ng-container>
            </app-subnav>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-container> -->