<form [formGroup]="valuationForm" autocompleteOff>
  <div class="-mt-4">
    <p-messages *ngIf="!isTermOfBusinessSigned" severity="warn">
      <ng-template pTemplate>
        <div data-cy="notSignedMessage">
          <div class="p-ml-2">Terms of business not yet signed</div>
          <p class="text-xs">Last Emailed : {{lastEmailDate}}</p>
        </div>
      </ng-template>
    </p-messages>
  </div>
  <div class="grid grid--9">
    <fieldset class="mb-3">
      <fieldset class="row">
        <label style="width:auto; margin-top:10px;" for="haveInterest">Does the Owner have a
          declarable interest (Section 21)
          <span class="--color-red-400">
            <i [pTooltip]="informationMessage" class="fa fa-info-circle fa-lg text-blue"
            style="color:#3498DB;padding-left:4px; margin-top:-4px;"></i>
          </span>
        </label>
      </fieldset>
      <span class="radio radio--inline">
        <span style="margin-right: 8px;">
          <input class="p-2" type="radio" id="interestYes" value="true" name="declarableInterest"
            formControlName="declarableInterest" data-cy="interestYes">
          <label for="interestYes">Yes</label>
        </span>
        <span>
          <input class="p-2" type="radio" id="interestNo" value="false" name="declarableInterest"
            formControlName="declarableInterest" data-cy="interestNo">
          <label for="interestNo">No</label>
        </span>
      </span>
    </fieldset>
    <fieldset class="mb-3">
      <p-dropdown *ngIf="valuationForm.get('declarableInterest').value === 'true'" [options]="interestList"
        formControlName="section21StatusId" optionLabel="value" optionValue="id" [filter]="false"
        data-cy="section21StatusId">
      </p-dropdown>
    </fieldset>
  </div>
  <p-messages *ngIf="formErrors.declarableInterest" severity="error">
    <ng-template pTemplate>
      <div data-cy="termsofbusinessWarningMessage" class="p-ml-2">Please select terms of business</div>
    </ng-template>
  </p-messages>

  <div *ngIf="valuation" class="search-results" infiniteScroll [infiniteScrollDistance]="5"
    [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="20" [immediateCheck]="true" [alwaysCallback]="true">
  </div>

  <app-terms-of-business-table-sales 
    *ngIf="tableType == valuationType.Sales"
    [data]="valuation">
  </app-terms-of-business-table-sales>

  <app-terms-of-business-table-lettings 
    *ngIf="tableType == valuationType.Lettings"
    [data]="valuation">
  </app-terms-of-business-table-lettings>

  <ng-template #noValue>-</ng-template>
</form>