<form [formGroup]="valuationForm" autocompleteOff>
  <div class="-mt-4">
    <p-messages *ngIf="!isTermOfBusinessSigned" severity="warn">
      <ng-template pTemplate>
        <div data-cy="notSignedMessage">
          <div class="p-ml-2">Terms of business not yet signed</div>
          <p class="text-xs">Last Emailed : {{lastEmailDate}}</p>
        </div>
      </ng-template>
    </p-messages>
  </div>
  <div class="grid grid--9">
    <fieldset class="mb-3">
      <fieldset class="row">
        <label style="width:auto;" for="haveInterest">Does the Owner have a
          declarable interest (Section 21)
        </label>
        <span style="display:contents">
          <i [pTooltip]="informationMessage" class="fa fa-info-circle fa-2x text-blue"
            style="color:lightblue;padding-left:4px"></i>
        </span>
      </fieldset>
      <span class="radio radio--inline">
        <span style="margin-right: 8px;">
          <input class="p-2" type="radio" id="interestYes" value="true" name="declarableInterest"
            formControlName="declarableInterest" data-cy="interestYes">
          <label for="interestYes">Yes</label>
        </span>
        <span>
          <input class="p-2" type="radio" id="interestNo" value="false" name="declarableInterest"
            formControlName="declarableInterest" data-cy="interestNo">
          <label for="interestNo">No</label>
        </span>
      </span>
    </fieldset>
    <fieldset class="mb-3">
      <p-dropdown *ngIf="valuationForm.get('declarableInterest').value === 'true'" [options]="interestList"
        formControlName="section21StatusId" optionLabel="value" optionValue="id" [filter]="false"
        data-cy="section21StatusId">
      </p-dropdown>
    </fieldset>
  </div>
  <p-messages *ngIf="formErrors.declarableInterest" severity="error">
    <ng-template pTemplate>
      <div data-cy="termsofbusinessWarningMessage" class="p-ml-2">Please select terms of business</div>
    </ng-template>
  </p-messages>

  <div *ngIf="valuation" class="search-results" infiniteScroll [infiniteScrollDistance]="5"
    [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="20" [immediateCheck]="true" [alwaysCallback]="true">
  </div>
  <div class="table">
     <table class="table--mobile table--rowHover">
      <thead>
        <tr>
          <th>Signed On</th>
          <th>Instruction Price Direction</th>
          <th>Short Lets Instruction</th>
          <th>Long Lets Instruction</th>
          <th>Management</th>
          <th>Sale</th>
          <th>Zero Deposit</th>
          <th>Document(s)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let val of valuation" (click)="openDocument(['detail', val?.valuationEventId, 'edit'])"
          data-cy="valuation">
          <td data-title="Status">
            <span class="cell-content">{{val?.valuationStatusLabel}}</span>
          </td>
          <td data-title="Address">
            <span class="cell-content"><a class="underline table-link"
                [routerLink]="['detail', val?.valuationEventId, 'edit']"
                (click)="$event.stopPropagation()">{{val?.property?.address | formatAddress}}</a></span>
          </td>
          <td data-title="Owner">
            <span class="cell-content">{{val?.propertyOwner?.contactNames || '-'}}</span>
          </td>
          <td data-title="Date">
            <span class="cell-content">{{(val?.valuationDate | date: 'dd/MM/yyyy') || '-'}}</span>
          </td>
          <td data-title="Valuer">
            <span class="cell-content" *ngIf="val?.salesValuer">{{val?.salesValuer?.fullName}}<small
                *ngIf="val.salesValuer && val.lettingsValuer">,</small></span>
            <span class="cell-content" *ngIf="val?.lettingsValuer">{{val.lettingsValuer?.fullName}}</span>
          </td>
          <td data-title="Sale">
            <span class="cell-content">
              <ng-container *ngIf="val?.suggestedAskingPrice, else noValue">{{val?.suggestedAskingPrice |
                currency:'GBP':'symbol':'1.0-0'}}</ng-container>
            </span>
          </td>
          <td data-title="Long Let">
            <span class="cell-content">
              <ng-container *ngIf="val?.suggestedAskingRentLongLet, else noValue">{{val?.suggestedAskingRentLongLet |
                currency:'GBP':'symbol':'1.0-0'}} pw</ng-container>
            </span>
          </td>
          <td data-title="Short Let">
            <span class="cell-content">
              <ng-container *ngIf="val?.suggestedAskingRentShortLet, else noValue">{{val?.suggestedAskingRentShortLet |
                currency:'GBP':'symbol':'1.0-0'}} pw</ng-container>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noValue>-</ng-template>
</form>