<app-breadcrumb></app-breadcrumb>
<div class="container main">
  <div class="row page-title">
    <div class="col">
      <h4 class="m-0">Event <span class="badge badge-pill badge-success"
          *ngIf="diaryEvent?.isConfirmed">Confirmed</span></h4>
    </div>
    <div class="col-auto">
      <div class="btn-group" dropdown placement="bottom right" *ngIf="diaryEvent">
        <button id="actionsToggle" dropdownToggle type="button" class="btn btn-light dropdown-toggle"
          aria-controls="actionsList">
          Actions <span class="caret"></span>
        </button>
        <ul id="actionsList" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
          aria-labelledby="actionsToggle">
          <li role="menuitem">
            <a class="dropdown-item" id="delete" (click)="deleteEvent(diaryEvent?.diaryEventId)">
              <i class="far fa-trash-alt fa-fw ml-2"></i>
              Delete
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <form [formGroup]="diaryEventForm" (ngSubmit)="saveDiaryEvent()" autocompleteOff>
    <fieldset *ngIf="showTypes || showStaffMembers">
      <div class="form-group row" *ngIf="showTypes">
        <div class="col-sm-3 offset-sm-2">
          <label for="eventTypeId" class="small">Type</label>
          <select class="custom-select custom-select-sm" id="eventTypeId" formControlName="eventTypeId"
            (change)="onEventTypeChange($event.target.value)" [attr.disabled]="lockEventTypes ? true : null"
            [ngClass]="{'is-invalid': formErrors?.eventTypeId}">
            <option value="0"></option>
            <option *ngFor="let type of eventTypes" [value]="type.id">{{type.value}}</option>
          </select>
          <div class="invalid-feedback">{{formErrors?.eventTypeId}}</div>
        </div>
      </div>
      <div *ngIf="showStaffMembers" class="form-group row">
        <div class="col-sm-3 offset-sm-2">
          <label for="property" class="small">Staff Members</label>
          <ng-container *ngIf="!diaryEvent?.onOutlook;else staffList">
            <app-staff-member-finder [listType]="'calendarStaffMembers'" [isMultiple]="true"
              [isReadOnly]="diaryEvent?.onOutlook" [staffMemberIdList]="staffMemberIdList"
              (selectedStaffMemberList)="getSelectedStaffMembers($event)">
            </app-staff-member-finder>
          </ng-container>
          <ng-template #staffList>
            <div class="custom-label"
              *ngFor="let member of diaryEvent?.staffMembers; last as isLast; first as isFirst trackBy:trackByFn">
              <ng-container *ngIf="eventStaffMembers?.length < 6; else moreMembers">
                <div>{{member?.fullName}}</div>
              </ng-container>
              <ng-template #moreMembers>
                <div>{{member?.fullName}}</div>
                <button type="button" class="btn btn-link px-0" (click)="showAllMembers()"
                  *ngIf="isLast && showMorePeople">+
                  {{NumberOfPeopleLabel}}
                </button>
                <button type="button" class="btn btn-link px-0" (click)="showFewMembers()"
                  *ngIf="isLast &&!showMorePeople">
                  show less
                </button>
              </ng-template>
            </div>
          </ng-template>
        </div>
      </div>
    </fieldset>
    <fieldset *ngIf="showProperties">
      <legend class="fieldset-title">Properties {{propertyLabel}}</legend>
      <app-property-finder (selectedPropertyList)="getSelectedProperties($event)"
        (rebookedProperty)="getRebookedPropertyId($event)" [isMultiple]="true" [label]="propertyLabel"
        [isLabelHidden]="isLabelHidden" [property]="property" [canRebook]="canRebook"
        [propertyList]="diaryEvent?.properties" [propertyRequiredWarning]="propertyRequiredWarning"
        [searchType]="searchType">
      </app-property-finder>
    </fieldset>
    <fieldset *ngIf="showContacts">
      <legend class="fieldset-title">{{contactLabel}}s</legend>
      <app-signer [label]="contactLabel" [isLabelHidden]="isLabelHidden" [isMultiple]="true"
        (selectedSignersList)="getSelectedContactGroups($event)" [contactList]="diaryEvent?.contacts"
        [contactRequiredWarning]="contactRequiredWarning" [isTelRequired]="isTelRequired" [isApplicant]="isApplicant">
      </app-signer>
    </fieldset>
    <fieldset *ngIf="showOthers">
      <legend class="fieldset-title">Detail</legend>
      <div class="form-group row">
        <div class="col-sm-6 col-xl-3 offset-sm-2">
          <label for="startDateTime" class="small">Start Date</label>
          <div class="input-group" [ngClass]="{'mb-2':!(!isEditable && !isNewEvent)}">
            <input type="text" id="startDateTime" placeholder="dd/mm/yyyy" class="form-control form-control-sm"
              formControlName="startDateTime"
              [bsConfig]="{showWeekNumbers:false, dateInputFormat: 'DD/MM/YYYY', minDate:minDate, customTodayClass: 'font-weight-bold'}"
              (bsValueChange)="onStartDateChange($event)" bsDatepicker #datepicker="bsDatepicker"
              [appNoDoubleTap]='datepicker' [attr.disabled]="!isEditable && !isNewEvent ? true : null">
            <select *ngIf="!isAllDay" class="custom-select custom-select-sm" name="startHour" id="startHour"
              formControlName="startHour" [attr.disabled]="!isEditable && !isNewEvent ? true : null">
              <option *ngFor="let hour of hours" [value]='hour'> {{hour}}</option>
            </select>
            <select *ngIf="!isAllDay" class="custom-select custom-select-sm" name="startMin" id="startMin"
              formControlName="startMin" [attr.disabled]="!isEditable && !isNewEvent ? true : null">
              <option *ngFor="let min of minutes" [value]='min'> {{min}}</option>
            </select>
          </div>
          <div class="custom-control custom-checkbox" *ngIf="diaryEvent?.allDay || isEditable || isNewEvent">
            <input type="checkbox" class="custom-control-input" id="allDay" formControlName="allDay"
              (change)="onAllDayCheck($event)">
            <label class="custom-control-label small" for="allDay">All Day </label>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="!isAllDay">
        <div class="col-sm-6 col-xl-3 offset-sm-2">
          <label for="endDateTime" class="small">End Date</label>
          <div class="input-group">
            <input type="text" id="endDateTime" placeholder="dd/mm/yyyy" class="form-control form-control-sm"
              formControlName="endDateTime"
              [bsConfig]="{showWeekNumbers:false, dateInputFormat: 'DD/MM/YYYY', minDate:minDate, customTodayClass: 'font-weight-bold'}"
              (bsValueChange)="onEndDateChange($event)" bsDatepicker
              [attr.disabled]="!isEditable && !isNewEvent ? true : null"
              [ngClass]="{'is-invalid': diaryEventForm.errors?.endDateIsBeforeStartDate}">
            <select class="custom-select custom-select-sm" name="endHour" id="endHour" formControlName="endHour"
              [attr.disabled]="!isEditable && !isNewEvent ? true : null">
              <option *ngFor="let hour of hours" [value]='hour'> {{hour}}</option>
            </select>
            <select class="custom-select custom-select-sm" name="endMin" id="endMin" formControlName="endMin"
              [attr.disabled]="!isEditable && !isNewEvent ? true : null">
              <option *ngFor="let min of minutes" [value]='min'> {{min}}</option>
            </select>
          </div>
          <small class="text-danger" *ngIf="diaryEventForm?.errors?.endDateIsBeforeStartDate">End date should be after
            start date</small>
        </div>
      </div>
      <div class="form-group row" *ngIf="diaryEvent?.isConfirmed || isEditable || isNewEvent">
        <div class="col-sm-6 col-xl-3 offset-sm-2">
          <div class="custom-control custom-checkbox mb-2">
            <input type="checkbox" id="isConfirmed" name="isConfirmed" class="custom-control-input"
              formControlName="isConfirmed" [attr.disabled]="!isEditable && !isNewEvent ? true : null">
            <label class="custom-control-label small" for="isConfirmed">Confirm</label>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="diaryEvent?.subject && diaryEvent?.onOutlook">
        <div class="col-sm-8 col-xl-6 offset-sm-2">
          <label for="subject" class="small">Subject</label>
          <input type="text" class="form-control form-control-sm" formControlName="subject" id="subject" name="subject"
            [attr.disabled]="!isEditable && !isNewEvent ? true : null" />
        </div>
      </div>
      <div class="form-group row" *ngIf="diaryEvent?.notes?.trim() || isEditable || isNewEvent">
        <ng-container *ngIf="!isBase64Image; else showImage">
          <div class="col-sm-8 col-xl-6 offset-sm-2">
            <label for="notes" class="small">Note<br /><span *ngIf="isEditable || isNewEvent"
                class="form-text text-muted">(200 chars max)</span></label>
            <textarea type="textarea" class="form-control form-control-sm" formControlName="notes" id="notes"
              name="note" placeholder="Note" maxlength="200" [attr.disabled]="!isEditable && !isNewEvent ? true : null"
              [ngStyle]="{'min-height.px': diaryEventForm.get('notes').value.length}"></textarea>
          </div>
        </ng-container>
        <ng-template #showImage> <img [src]="imagePath" alt="embedded image" /></ng-template>
      </div>
      <div class="form-group row" *ngIf="isReminder || isEditable || isNewEvent">
        <div class="col-sm-6 col-xl-3 offset-sm-2">
          <div class="custom-control custom-checkbox mb-2">
            <input type="checkbox" id="hasReminder" name="hasReminder" class="custom-control-input"
              formControlName="hasReminder" (change)="onReminderCheck($event)">
            <label class="custom-control-label small" for="hasReminder">Reminder</label>
          </div>
          <div class="input-group mb-2" *ngIf="isReminder">
            <select class="custom-select custom-select-sm single-select" name="duration" id="duration"
              formControlName="duration" [attr.disabled]="!isEditable && !isNewEvent ? true : null">
              <option value="0">Not Known</option>
              <option *ngFor="let duration of durationValues" [value]='duration'> {{duration}}</option>
            </select>
            <select class="custom-select custom-select-sm single-select" name="durationType" id="durationType"
              formControlName="durationType" [attr.disabled]="!isEditable && !isNewEvent ? true : null">
              <option *ngFor="let type of durationTypes |keyvalue" [value]='type.key'> {{type.value}}</option>
            </select>
          </div>
          <p class="small" *ngIf="isReminder">Before start</p>
        </div>
      </div>
    </fieldset>
    <div class="form-actions">
      <div class="container px-lg-1">
        <div class="row justify-content-end w-100 no-gutters">
          <div class="col-sm-10 d-flex">
            <button type="button" class="btn btn-light mr-2" (click)="cancel()">Cancel</button>
            <button type="submit" class="btn btn-secondary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
