<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div class="row page-title">
    <div class="col">
      <h4 class="m-0">Diary Event</h4>
    </div>
  </div>
  <form [formGroup]="diaryEventForm" autocompleteOff>
    <div class="form-group row">
      <label for="appointmentType" class="col-sm-2 col-form-label col-form-label-sm">Type</label>
      <div class="col-sm-3">
        <select class="custom-select custom-select-sm" formControlName="eventType">
          <option value="0">Not Known</option>
          <option *ngFor="let type of eventTypes" [value]="type.id">{{type.value}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="property" class="col-sm-2 col-form-label col-form-label-sm">Staff Members</label>
      <div class="col-sm-3">
        <app-staff-member-finder [listType]="'allStaffMembers'" [isMultiple]="true"></app-staff-member-finder>
      </div>
    </div>
    <!-- <div class="form-group row">
      <label for="contact-group" class="col-sm-2 col-form-label col-form-label-sm">Properties</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-sm" id="contact-group" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="contact-group" class="col-sm-2 col-form-label col-form-label-sm">Applicants</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-sm" id="contact-group" placeholder="Contact Group">
      </div>
    </div> -->
    <app-property-finder (selectedPropertyList)="getSelectedProperties($event)" [isMultiple]="true"></app-property-finder>
    <app-signer [label]="'Applicant'"  [isMultiple]="true"></app-signer>
    <div class="form-group row">
      <label for="date" class="col-sm-2 col-form-label col-form-label-sm">Start Date</label>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="text" id="date" placeholder="dd/mm/yyyy" class="form-control form-control-sm"
            formControlName="startDate"
            [bsConfig]="{showWeekNumbers:false, dateInputFormat: 'DD/MM/YYYY', customTodayClass: 'font-weight-bold'}"
            (bsValueChange)="onStartDateChange($event)" bsDatepicker>
          <div class="input-group-append">
            <select class="custom-select custom-select-sm" name="startTime" id="startTime" formControlName="startTime">
              <option *ngFor="let hour of hours" [value]='hour'> {{hour}}</option>
            </select>
            <select class="custom-select custom-select-sm" name="startMin" id="startMin" formControlName="startMin">
              <option *ngFor="let min of minutes" [value]='min'> {{min}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-auto">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="allDay"
            formControlName="allDay">
          <label class="custom-control-label" for="allDay">All Day </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="date" class="col-sm-2 col-form-label col-form-label-sm">End Date</label>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="text" id="date" placeholder="dd/mm/yyyy" class="form-control form-control-sm"
            formControlName="endDate"
            [bsConfig]="{showWeekNumbers:false, dateInputFormat: 'DD/MM/YYYY', customTodayClass: 'font-weight-bold'}"
            (bsValueChange)="onEndDateChange($event)" bsDatepicker>
          <div class="input-group-append">
            <select class="custom-select custom-select-sm" name="endTime" id="endTime" formControlName="endTime">
              <option *ngFor="let hour of hours" [value]='hour'> {{hour}}</option>
            </select>
            <select class="custom-select custom-select-sm" name="endMin" id="endMin" formControlName="endMin">
              <option *ngFor="let min of minutes" [value]='min'> {{min}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="notes" class="col-sm-2 col-form-label col-form-label-sm">Note<br /><span
          class="form-text text-muted">(200 chars max)</span></label>
      <div class="col-sm-10">
        <textarea type="textarea" class="form-control form-control-sm" formControlName="notes" id="notes" name="note"
          placeholder="Note" maxlength="200"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="hasReminder" name="hasReminder" class="custom-control-input form-control-sm"
            formControlName="hasReminder">
          <label class="custom-control-label" for="hasReminder">Reminder</label>
        </div>
      </div>
      <div class="col-sm-10">
        <div class="col-md-6 col-sm-12 input-group">
          <div class="form-group">
            <select class="custom-select custom-select-sm single-select" name="duration" id="duration"
              formControlName="duration">
              <option value="0">Not Known</option>
              <option *ngFor="let duration of durationValues" [value]='duration'> {{duration}}</option>
            </select>
          </div>
          <div class="input-group-append">
            <select class="custom-select custom-select-sm" name="durationType" id="durationType"
              formControlName="durationType">
              <option value="0">Not Known</option>
              <option *ngFor="let type of durationTypes" [value]='type'> {{type}}</option>
            </select>
            <p class="ml-2">Before start</p>
          </div>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <div class="container px-lg-1">
        <div class="row justify-content-end w-100 no-gutters">
          <div class="col-sm-10 d-flex">
            <button type="button" class="btn btn-light mr-2" (click)="cancel()">Cancel</button>
            <button type="submit" class="btn btn-secondary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
