<!-- <div class="modal-header bg-danger text-light" *ngIf="danger">
    Pay Attention!
</div>
<div class="modal-body text-center">
    <p class="mb-4" [innerHtml]="title"></p>
    <button *ngIf="!isSingleAction" type="button" class="btn btn-light mr-2" (click)="action(false)">{{actions[0]}}</button>
    <button type="button" id="confirm" class="btn btn-secondary" (click)="action(true)">{{actions[1]}}</button>
</div>
 -->
<!-- Lead Owner Assignment Modal -->
<!-- <p-dialog [showHeader]="false" [(visible)]="data.showModal" [modal]="true" [draggable]="false" class="modal--small modal--hasFooter"></p-dialog> -->
<!-- <p [innerHtml]="data?.title"></p> -->

<p>{{data?.title}}</p>
<footer class="footer footer--modal">
  <div class="btn--container">
    <button  type="button" class="btn btn--ghost" (click)="action(false)">{{data?.actions[0]}}</button>
    <button *ngIf="!data?.isSingleAction" type="button" id="confirm" class="btn btn--info" (click)="action(true)">{{data?.actions[1]}}</button>
  </div>
</footer>