<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <p style="font-weight: bold">John Smith&nbsp;
              <i class="fas fa-phone"></i>&nbsp;
              <i class="fas fa-envelope"></i>&nbsp;
              <span class="badge badge-success">AML Valid</span>
            </p>
            <p><a href="tel:+447808773822">07808 773822</a> (Mobile)
              <br> 0207 913 5642 (Home)
              <br> jsmith@gmail.com
            </p>
            <address>
              56B Gloucester Terrace, London, SW7 2HS
            </address>
            <div class="accordion" id="mkt1">
              <p id="headingMkt1">
                <button class="btn btn-sm collapsed" type="button" data-toggle="collapse" data-target="#collapseMk1" aria-expanded="false"
                  aria-controls="collapseMk1">
                  Marketing Prefs (5)
                </button>
              </p>
              <div id="collapseMk1" class="collapse" aria-labelledby="headingMkt1" data-parent="#mkt1">
                <div class="card-body">
                  <p>Quarterly bulletin
                    <br>Special offers
                    <br>Landlord/investor events
                    <br>New homes/investments
                    <br>Other occasional marketing</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <p style="font-weight: bold">Michael Brown&nbsp;
              <i class="fas fa-phone"></i>&nbsp;
              <i class="fas fa-envelope"></i>&nbsp;
              <span class="badge badge-success">AML Valid</span>
            </p>
            <p>07779 245877 (Mobile)
              <br> mbrown33@gmail.com
            </p>
            <div class="accordion" id="mkt2">
              <p id="headingmkt2">
                <button class="btn btn-sm collapsed" type="button" data-toggle="collapse" data-target="#collapseMkt2" aria-expanded="false"
                  aria-controls="collapseMkt2">
                  Marketing Prefs (5)
                </button>
              </p>
              <div id="collapseMkt2" class="collapse" aria-labelledby="headingmkt2" data-parent="#mkt2">
                <div class="card-body">
                  <p>Quarterly bulletin
                    <br>Special offers
                    <br>Landlord/investor events
                    <br>New homes/investments
                    <br>Other occasional marketing</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <p style="font-weight: bold">Wendy McTavish&nbsp;
              <i class="fas fa-phone-slash"></i>&nbsp;
              <span class="badge badge-danger">No AML</span>
            </p>
            <p>07844 521541 (Mobile)
              <br> 0208 123 5422 (Home)
              <br> tav888@gmail.com
            </p>
            <div class="accordion" id="mkt3">
              <p id="headingMkt3">
                <button class="btn btn-sm collapsed" type="button" data-toggle="collapse" data-target="#collapseMkt3" aria-expanded="false"
                  aria-controls="collapseMkt3">
                  Marketing Prefs (2)
                </button>
              </p>
              <div id="collapseMkt3" class="collapse" aria-labelledby="headingMkt3" data-parent="#mkt3">
                <div class="card-body">
                  <p>Quarterly bulletin
                    <br>Special offers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Actions
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="/home">Edit contact group</a>
          <a class="dropdown-item" routerLink="/home">Send Letting Terms of Business</a>
          <a class="dropdown-item" routerLink="/home">Send Sales Terms of Business</a>
          <a class="dropdown-item" routerLink="/home">Refer</a>
        </div>
      </div>
    </div>
  </div>