<h2>Properties</h2>
<div *ngIf="properties$|async as properties">
  <div class="table">
    <app-redacted-table *ngIf="!properties || !properties?.length" message="No properties"></app-redacted-table>
    <table class="table--mobile table--rowHover" *ngIf="properties && properties?.length">
      <thead>
        <tr>
          <th>Address</th>
          <th>Contact Group</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let property of properties; let i = index;" (click)="navigateToDetails(property)">
          <td data-title="Address">
            <span class="cell-content">{{property?.address| formatAddress}}</span>
            <span *ngIf="!(property?.address )">No address</span>
          </td>
          <td data-title="Contact Group">
            <span class="cell-content">{{property?.lastKnownOwner?.contactNames}}</span>
          </td>
          <td data-title="Action">
            <span class="cell-content">
              <div class="btn--container txt--right">
                <button type="button" class="btn btn--ghost" *ngIf="isLead " (click)="associateToLead(property)" [attr.disabled]="!canEditLead ? true:null">Associate to lead</button>
                <button type="button" (click)="navigateToNewValuation(property.propertyId)" class="btn btn--positive"><svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon icon--s icon--onLeft"><path class="horizontal" d="M61 28H3c-1.7 0-3 1.8-3 3.5v1.1C0 34.2 1.3 36 3 36h58c1.7 0 3-1.8 3-3.5v-1C64 29.8 62.7 28 61 28z"></path><path class="vertical" d="M36 61V3c0-1.7-1.8-3-3.5-3l-1.1 0C29.8 0 28 1.3 28 3v58c0 1.7 1.8 3 3.5 3h1C34.2 64 36 62.7 36 61z"></path></svg>Valuation</button>
              </div>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <div class="list-group list-group-flush" >

  <a  class="list-group-item list-group-item-action pb-2">
    <div class="row">
      <div class="col">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="mb-1">
              <span></span><span class="text-danger"
                </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-auto col-xl-12">
        <div class="btn-group btn-group-sm w-100" role="group" aria-label="Property actions">

        </div>
      </div>
    </div>
  </a>
</div> -->