<div class="no-gutters" aria-labelledby="historyLabel" data-parent="#historyLabel" id="history">
    <div class="row hoverDiv">
      <div class="col">
        <p>Viewing Letting</p>
      </div>
      <div class="col">
        <p>Chiara Tassia
          <br>25/11/18 12:30</p>
      </div>
    </div>
    <div class="row hoverDiv">
      <div class="col">
        <p>eDetails Letting</p>
      </div>
      <div class="col">
        <p>Chaira Tassia
          <br>25/11/18</p>
      </div>
    </div>
    <div class="row hoverDiv">
      <div class="col">
        <p>Viewing Letting</p>
      </div>
      <div class="col">
        <p>Chiara Tassia
          <br>23/11/18 13:00</p>
      </div>
    </div>
    <div class="row hoverDiv">
      <div class="col">
        <p>Viewing Letting</p>
      </div>
      <div class="col">
        <p>Chiara Tassia
          <br>22/11/18 17:00</p>
      </div>
    </div>

    <div class="row hoverDiv">
      <div class="col">
        <p>I'm in email contact so fine to close</p>
      </div>
      <div class="col">
        <p>Charlie Mitchell
          <br>23/07/2015</p>
      </div>
    </div>

  </div>