<form [formGroup]="emailForm" (ngSubmit)="send()" autocomplete="off">
  <p-tabView>
    <p-tabPanel header="MESSAGE DETAILS">
      <div class="row">
        <div class="grid grid--25">
          <fieldset>
            <label for="senderEmail">From</label>
            <span class="radio radio--inline">
              <span>
                <input type="radio" id="individualEmail" [value]="currentStaffMember?.email" name="senderEmail"
                  formControlName="senderEmail" data-cy="individualEmail">
                <label for="individualEmail">{{currentStaffMember?.email}}</label>
              </span>
              <span>
                <input type="radio" id="departmentEmail" value="helpdesk@dng.co.uk" name="senderEmail"
                  formControlName="senderEmail">
                <label for="departmentEmail">helpdesk@dng.co.uk</label>
              </span>
            </span>
          </fieldset>
          <div class="inline-parent">
            <fieldset class="inline-child">
              <label for="recipientEmail">To (External)</label>
              <ng-container *ngIf="personOnly; else group">
                <p-multiSelect [options]="personalEmails" [filter]="false" [showHeader]="false" formControlName="recipientEmail"
                  optionLabel="name" optionValue="value" defaultLabel="Select recipient email" crollHeight="250px"
                  display="chip" (onClick)="showButton=true">
                </p-multiSelect>
              </ng-container>
              <ng-template #group>
                <p-multiSelect [options]="groupedPeople" [group]="true" [filter]="false" [showHeader]="false"
                  formControlName="recipientEmail" optionLabel="name" optionValue="value" defaultLabel="Select recipient email"
                  crollHeight="250px" display="chip" (onClick)="showButton=true">
                  <ng-template let-group pTemplate="group">
                    <div class="p-d-flex p-ai-center">
                      <span>{{group.label}}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </fieldset>
            <!-- <fieldset *ngIf="showButton" class="inline-child"> <button type="button" class="btn btn--info"
                (click)="isContactGroupFinderVisible=true">Add Contact Group</button></fieldset> -->
          </div>
          <fieldset>
            <label for="ccInternalEmail">Cc (Internal)</label>
            <p-multiSelect [options]="groupedPeople" [group]="true" formControlName="ccInternalEmail" optionLabel="name"
              optionValue="value" defaultLabel="Select email" crollHeight="250px" display="chip">
              <ng-template let-group pTemplate="group">
                <div class="p-d-flex p-ai-center">
                  <span>{{group.label}}</span>
                </div>
              </ng-template>
            </p-multiSelect>
          </fieldset>
          <fieldset><label for="ccExternalEmail">Cc (External)</label><input type="email" id="ccExternalEmail"
              formControlName="ccExternalEmail"></fieldset>
              <fieldset><button class="btn btn--info" data-cy="searchProperty" (click)="showFileUploader=true">Add Attachments</button></fieldset>
              <fieldset>
                <div class="center">
                  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                  (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        <!-- Optional custom content that replaces the the entire default content. -->
                       <p>
                          Drop your files here or,  <a role="button" (click)="openFileSelector()">Browse</a>
                       </p>
                      </ng-template>
                  </ngx-file-drop>
                  <div class="upload-table" *ngIf="files?.length">
                      <table class="table">
                          <!-- <thead>
                              <tr>
                                  <th>Name</th>
                              </tr>
                          </thead> -->
                          <tbody class="upload-name-style">
                              <tr *ngFor="let item of files; let i=index">
                                  <td><strong>{{ item.relativePath }}</strong></td>
                                  <td>
                                   <a (click)="removeFile(item)">
                                      <svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon icon--s icon--onLeft icon--fill-negative">
                                      <path d="M58.7 52.2L38.5 32l20.1-20.1c1.4-1.4 1-3.9-0.4-5.2l-0.8-0.9C56 4.4 53.5 4 52.1 5.3L32 25.5 11.9 5.3c-1.4-1.4-3.9-1-5.2 0.4L5.8 6.6C4.4 8 4 10.5 5.3 11.9L25.5 32 5.4 52.1c-1.4 1.4-1 3.9 0.4 5.2l0.8 0.9c1.4 1.4 3.9 1.8 5.2 0.4l20.2-20.2 20.1 20.1c1.4 1.4 3.9 1 5.2-0.4l0.8-0.8C59.6 56 60 53.5 58.7 52.2z" />
                                    </svg>
                                   </a>
                                </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
              </fieldset>
        </div>
        <div class="grid grid--75 grid--dividerLeft">
          <fieldset><label for="subject">Subject</label><input type="text" id="subject" formControlName="subject"></fieldset>
          <fieldset class="fieldset fieldset--width-max">
            <p-editor formControlName="body" [style]="{'height':'320px'}">
              <p-header>
                <span class="ql-formats">
                  <button class="ql-bold" aria-label="Bold"></button>
                  <button class="ql-italic" aria-label="Italic"></button>
                  <button class="ql-underline" aria-label="Underline"></button>
                </span>
                <span class="ql-formats">
                  <select class="ql-align">
                    <option selected></option>
                    <option value="center"></option>
                    <option value="right"></option>
                    <option value="justify"></option>
                  </select>
                </span>
                <span class="ql-formats">
                  <button class="ql-list" value="ordered"></button>
                  <button class="ql-list" value="bullet"></button>
                </span>
                <span class="ql-formats">
                  <button class="ql-link" aria-label="Hypertext"></button>
                </span>
              </p-header>
            </p-editor>
          </fieldset>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="ATTACHMENTS(0)">
     <div class="row">
       <div class="grid grid--25">
        <fieldset>
          <label for="text">Search type</label>
          <span class="radio toggle">
            <span>
              <input type="radio" checked="checked" name="radio-toggle" id="contact">
              <label for="contact"><span>Contact</span></label>
            </span>
            <span>
              <input type="radio" name="radio-toggle" id="property">
              <label for="property"><span>Property</span></label>
            </span>
          </span>
        </fieldset>
        <fieldset>
          <label for="search">Search</label>
          <input type="search" id="search" [placeholder]="searchPlaceholder">
        </fieldset>
        <fieldset>
          <label for="type">Type</label>
          <span class="select">
            <select class="custom-select custom-select-sm" id="type" name="type" formControlName="typeId">
              <option selected value="0">Select type</option>
              <option *ngFor="let type of propertyTypes" [value]=type.id>{{type.value}}</option>
            </select>
          </span>
        </fieldset>
        <fieldset>
          <label for="type">Offer</label>
          <span class="select">
            <select class="custom-select custom-select-sm" id="offer" name="offer" formControlName="offer">
              <option selected value="0">Select offer</option>
              <option *ngFor="let offer of offers" [value]=offer.id>{{offer.value}}</option>
            </select>
          </span>
        </fieldset>
        <fieldset>
          <div class="btn--container">
            <button type="submit" class="btn btn--info">Search</button>
            <button type="button" class="btn btn--ghost" (click)="cancel()">Clear</button>
          </div>
        </fieldset>
       </div>
       <div class="grid grid--75 grid--dividerLeft">
        <fieldset class="fieldset fieldset--width-max">
          <label for="selected">Files(s) selected</label>
         <ng-container *ngIf="selectedDocuments.length;else NoFilesSelected">
            <p-chip id="selected" *ngFor="let item of selectedDocuments" [label]="item.fileName" [removable]="true" (onRemove)="removeDocument($event)"></p-chip>
          </ng-container>
          <ng-template #NoFilesSelected>No files selected</ng-template>
          <!-- <div *ngFor="let item of documents"><p-chip [label]="item.fileName" [removable]="true"></p-chip></div> -->
        </fieldset>
         <div class="table">
           <table class="table--mobile table--rowHover">
             <thead>
               <tr>
                 <th>File Name / Description</th>
                 <th>Type</th>
                 <th colspan="2">Uploaded By / Date</th>
               </tr>
             </thead>
             <tbody>
               <tr *ngFor="let doc of documents">
                 <td data-title="File Name / Description">
                   <span class="cell-content">
                       <span class="displayBlock">{{doc?.fileName}}</span>
                       <small>{{doc?.description}}</small>
                   </span>
                 </td>
                 <td data-title="Type">
                   <span class="cell-content">
                       <span class="displayBlock">{{doc?.type}}</span>
                   </span>
                 </td>
                 <td data-title="Uploaded By / Date">
                   <span class="cell-content">
                       <span class="displayBlock">{{doc?.uploadBy}}</span>
                       <small>{{doc?.dateUploaded}}</small>
                   </span>
                 </td>
                 <td class="hide--mobile">
                   <a (click)="selectDocument(doc)">
                     <svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon icon--s icon--onLeft" *ngIf="!doc.isSelected"><path d="M60 35.9H4c-2.2 0-4-1.8-4-4v0c0-2.2 1.8-4 4-4h56c2.2 0 4 1.8 4 4v0C64 34.1 62.2 35.9 60 35.9z" />
                      <path class="plus-vertical"d="M28 59.9v-56c0-2.2 1.8-4 4-4h0c2.2 0 4 1.8 4 4v56c0 2.2-1.8 4-4 4h0C29.8 63.9 28 62.2 28 59.9z" /></svg>
                     <svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64"
                     class="icon icon--s icon--onLeft icon--fill-positive"
                     *ngIf="doc.isSelected">
                     <path
                       d="M62.8 9.3l-1.9-1.7c-1.5-1.4-3.8-1.2-5.2 0.3L23.9 43.1c-1.4 1.5-3.6 1.5-5.1 0.2L8.1 32.3c-1.4-1.4-3.7-1.4-5.2 0l-1.9 1.9c-1.4 1.4-1.4 3.7 0 5.2l16.7 16.7c1.9 1.9 5.1 1.9 7-0.1L63 14.5C64.4 13 64.3 10.7 62.8 9.3z" />
                   </svg>
                    </a>
                 </td>
               </tr>
             </tbody>
           </table>
         </div>
       </div>
     </div>
    </p-tabPanel>
  </p-tabView>
  <footer class="footer--modal">
    <div class="btn--container">
      <button type="button" class="btn btn--ghost" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn--positive">Send</button>
    </div>
  </footer>
</form>


<!-- Contactgroup Finder Modal -->
<p-dialog header="Find contact group" [(visible)]="isContactGroupFinderVisible" [modal]="true" [draggable]="false"
  class="modal--medium modal--hasFooter">
  <app-contactgroup-finder class="appWrapper" [isFull]="true"
    (fullSelectedContactGroup)="getSelectedContactGroup($event)"
    (isCreatingNewGroup)="isContactGroupFinderVisible=false"></app-contactgroup-finder>
</p-dialog>

<!-- Contactgroup Finder Modal -->
<p-dialog header="Add files" [(visible)]="showFileUploader" [modal]="true" [draggable]="false">
  <p-fileUpload name="demo[]" [showCancelButton]="false" [showUploadButton]="false" url="./upload.php" (onUpload)="onUpload($event)"
            multiple="multiple" maxFileSize="1000000">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
    </p-fileUpload>
</p-dialog>
<!-- <ng-template>
  <p-multiSelect [options]="countries" [(ngModel)]="selectedCountries" defaultLabel="Select a Country" optionLabel="name" class="multiselect-custom">
    <ng-template pTemplate="header">
        Header Content
    </ng-template>
    <ng-template let-value pTemplate="selectedItems">
        <div class="country-item country-item-value" *ngFor="let option of selectedCountries">
            <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + option.code.toLowerCase()" />
            <div>{{option.name}}</div>
        </div>
        <div *ngIf="!selectedCountries || selectedCountries.length === 0" class="country-placeholder">
            Select Countries
        </div>
    </ng-template>
    <ng-template let-country pTemplate="item">
        <div class="country-item">
            <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" />
            <div>{{country.name}}</div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        Footer Content
    </ng-template>
</p-multiSelect>

</ng-template> -->