<form [formGroup]="emailForm" (ngSubmit)="send()" autocomplete="off">
  <fieldset>
    <label for="senderEmail">From</label>
    <span class="radio">
      <span>
        <input type="radio" id="individualEmail" [value]="currentStaffMember?.email" name="senderEmail"
          formControlName="senderEmail" data-cy="individualEmail">
        <label for="individualEmail">{{currentStaffMember?.email}}</label>
      </span>
      <span>
        <input type="radio" id="departmentEmail" value="helpdesk@dng.co.uk" name="senderEmail"
          formControlName="senderEmail">
        <label for="departmentEmail">helpdesk@dng.co.uk</label>
      </span>
    </span>
  </fieldset>
  <fieldset>
    <label for="recipientEmail">To (External)</label>
    <p-multiSelect [options]="groupedPeople" [group]="true" formControlName="recipientEmail" optionLabel="name"
      optionValue="value" defaultLabel="Select recipient email" crollHeight="250px" display="chip">
      <ng-template let-group pTemplate="group">
        <div class="p-d-flex p-ai-center">
          <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'p-mr-2 flag flag-' + group.value" style="width: 20px"/> -->
          <span>{{group.label}}</span>
        </div>
      </ng-template>
    </p-multiSelect>
  </fieldset>
  <fieldset>
    <label for="ccInternalEmail">Cc (Internal)</label>
    <p-multiSelect [options]="groupedPeople" [group]="true" formControlName="ccInternalEmail" optionLabel="name"
      optionValue="value" defaultLabel="Select email" crollHeight="250px" display="chip">
      <ng-template let-group pTemplate="group">
        <div class="p-d-flex p-ai-center">
          <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'p-mr-2 flag flag-' + group.value" style="width: 20px"/> -->
          <span>{{group.label}}</span>
        </div>
      </ng-template>
    </p-multiSelect>
  </fieldset>
  <fieldset><label for="ccExternalEmail">Cc (External)</label><input type="email" id="ccExternalEmail" formControlName="ccExternalEmail"></fieldset>
  <fieldset><label for="subject">Subject</label><input type="text" id="subject" formControlName="subject"></fieldset>
  <fieldset><button class="btn btn--info" data-cy="searchProperty">Attach</button></fieldset>
  <fieldset></fieldset>
  <p-editor formControlName="body" [style]="{'height':'320px'}">
    <p-header>
        <span class="ql-formats">
            <button class="ql-bold" aria-label="Bold"></button>
            <button class="ql-italic" aria-label="Italic"></button>
            <button class="ql-underline" aria-label="Underline"></button>
        </span>
    </p-header>
</p-editor>
<footer class="footer--modal">
  <div class="btn--container">
    <button type="button" class="btn btn--ghost" (click)="cancel()">Cancel</button>
    <button type="submit" class="btn btn--positive">Send</button>
  </div>
</footer>
</form>

<!-- <ng-template>
  <p-multiSelect [options]="countries" [(ngModel)]="selectedCountries" defaultLabel="Select a Country" optionLabel="name" class="multiselect-custom">
    <ng-template pTemplate="header">
        Header Content
    </ng-template>
    <ng-template let-value pTemplate="selectedItems">
        <div class="country-item country-item-value" *ngFor="let option of selectedCountries">
            <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + option.code.toLowerCase()" />
            <div>{{option.name}}</div>
        </div>
        <div *ngIf="!selectedCountries || selectedCountries.length === 0" class="country-placeholder">
            Select Countries
        </div>
    </ng-template>
    <ng-template let-country pTemplate="item">
        <div class="country-item">
            <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" />
            <div>{{country.name}}</div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        Footer Content
    </ng-template>
</p-multiSelect>

</ng-template> -->