<app-calendar-header [(view)]="view" [(viewDate)]="viewDate"
[weekStartsOn]="weekStartsOn"
(viewDateChange)="getDiaryEvents()"
(viewChange)="getDiaryEvents()"
>
</app-calendar-header>
<ng-template #loading>
  <div class="text-center">
    <i class="fa fa-spin fa-spinner"></i> Loading events...
  </div>
</ng-template>
<!-- {{events$|async|json}} -->
<div *ngIf="events$ | async; else loading; let events" >
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="changeDay($event.day.date)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
      (dayHeaderClicked)="changeDay($event.day.date)"
      (beforeViewRender)="beforeWeekViewRender($event)"
      [weekStartsOn]="weekStartsOn"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events"
      (beforeViewRender)="beforeDayViewRender($event)"
    >
    </mwl-calendar-day-view>
  </div>
</div>
