@import "../../../style/bootstrap-overrides";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

$time-column-mobile-width: 40px;

:host ::ng-deep {

    mwl-calendar-month-view, mwl-calendar-week-view {
        @include media-breakpoint-up(md) {
            display: block;
            max-height: 600px;
            overflow: auto;
        }
    
        &-header {
            display: block;
            position: sticky;
            top: 0;
            z-index: 49;
            background: color("white");

            @include media-breakpoint-down(sm) {
                top: $top-bar-height + 85;
            }

            @media (max-width: 320px) {
                top: $top-bar-height + 70;
            }
        }
    }

    .cal-week-view {
        border: none;

        .cal-event {
            border: none;
        }
    }

    .cal-day-headers, .cal-time-events {
        border-left: 0;

        @include media-breakpoint-down(sm) {
            font-size: 75%;
        }

        @media (max-width: 320px) {
            font-size: 80%;
        }
    }

    .cal-day-headers {
        @include media-breakpoint-down(sm){
            padding-left: $time-column-mobile-width;
        }
    }

    .cal-time-label-column, .cal-time {
        @include media-breakpoint-down(sm){
            width: $time-column-mobile-width;
        }  
    }

    .cal-day-headers {
        span {
            display: inline-block;
            padding: $badge-padding-y $badge-padding-x;
            @include font-size($font-size-sm);
            font-weight: $badge-font-weight;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            @include border-radius($badge-border-radius);
            opacity: 1;
            @include alert-variant(theme-color-level("primary", $alert-bg-level), theme-color-level("primary", $alert-border-level), theme-color-level("primary", $alert-color-level));
        }

        .cal-weekend {
            span {
                @include alert-variant(theme-color-level("light", $alert-bg-level), theme-color-level("light", $alert-border-level), theme-color-level("light", $alert-color-level));
            }
        }

        .cal-past {
            opacity: .5;
        }
    }

    

    .cal-month-view {
        .cal-cell {
            width: 14%;
        }


        .cal-event {
            border-radius: 5px;
            width: calc(100% - 2px);
            height: auto;
            margin: 1px;
            padding: 5px;
            line-height: 1;
            font-size: 12px;
            background-color: #d1e8ff;
            border-color: #1e90ff;
            color: #1e90ff;

            @include media-breakpoint-down(md) {    
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .cal-event-container {
        &.is-confirmed {
            .cal-event {
                border-left: 5px solid theme-color("success");
            }
        }
        &.is-important {
            .cal-event {
                position: relative;
                padding-left: 10px;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    border-left: 5px solid theme-color("danger");
                    display: block;
                }
            }
        }
        &.is-cancelled {
            .cal-event {
                text-decoration: line-through;
            }
        }
    }

    .cal-all-day-events {
        border-left: 0;
        border-bottom-width: 2px;

        .cal-events-row {
            @include media-breakpoint-down(sm){
                margin-left: $time-column-mobile-width;
            }
        }
    }

    .cal-day-column {
        .cal-hour {
            background-color: rgba(theme-color(warning), .075);

            &:nth-child(10) ~ .cal-hour {
                background-color: rgba(theme-color(info), .075);
            }

            &:nth-child(14) ~ .cal-hour {
                background-color: initial;
            }

            &:nth-child(16) ~ .cal-hour {
                background-color: rgba(theme-color(info), .075);
            }

            &:nth-child(18) ~ .cal-hour {
                background-color: initial;
            }

            &:nth-child(21) ~ .cal-hour {
                background-color: rgba(theme-color(warning), .075);
            }
        }
    } 

}