<app-calendar-header [(view)]="view" [(daysInWeek)]="daysInWeek" [(viewDate)]="viewDate"
[weekStartsOn]="weekStartsOn"
(viewDateChange)="getDiaryEvents()"
(viewChange)="getDiaryEvents()"
>
</app-calendar-header>
<ng-template #loading>
  <div class="text-center">
    <i class="fa fa-spin fa-spinner"></i> Loading events...
  </div>
</ng-template>
<ng-template #customTooltip let-event="event">
  <div role="tooltip" class="popover">
    <div class="popover-arrow arrow"></div>
    <h3 class="popover-title popover-header">{{event.title}} <span class="badge badge-pill badge-danger ml-1" *ngIf="event.meta.isHighImportance">Important</span></h3>
    <div class="popover-content popover-body">
      <div class="row">
        <div class="col-12 mb-1">
          <span class="badge badge-pill badge-danger mr-1" *ngIf="event.meta.isCancelled">Cancelled</span>
          <span class="badge badge-pill badge-success" *ngIf="event.meta.isConfirmed">Confirmed</span>
        </div>
        <dl class="col">
          <dt>Start</dt>
          <dd>{{ event.meta.startDateTime | calendarDate:'dayViewHour':locale }}</dd>
        </dl>
        <dl class="col">
          <dt>End</dt>
          <dd>{{ event.meta.endDateTime | calendarDate:'dayViewHour':locale }}</dd>
        </dl>
      </div>
      <dl>
        <dt>Notes</dt>
        <dd>{{ event.meta.notes || '-'}}</dd>
      </dl>
      <dl *ngIf="event.meta.properties && event.meta.properties.length">
        <dt>Properties</dt>
        <dd>
          <p class="mb-1" *ngFor="let property of event.meta.properties">
              {{property.address | formatAddress}}
          </p>
        </dd>
      </dl>
      <dl *ngIf="event.meta.staffMembers && event.meta.staffMembers.length">
        <dt>Staff Members</dt>
        <dd>
          <p class="mb-1" *ngFor="let staffMember of event.meta.staffMembers">
            {{staffMember.fullName}}
          </p>
        </dd>
      </dl>

    </div>
  </div>
</ng-template>
<ng-template
  #monthCell
  let-day="day"
  let-openDay="openDay"
  let-locale="locale"
  let-tooltipPlacement="tooltipPlacement"
  let-highlightDay="highlightDay"
  let-unhighlightDay="unhighlightDay"
  let-eventClicked="eventClicked"
  let-tooltipTemplate="tooltipTemplate"
  let-tooltipAppendToBody="tooltipAppendToBody">
  <div class="cal-cell-top">
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    <div class="cal-event-container" [ngClass]="event?.cssClass" *ngFor="let event of day.events; trackBy:trackByEventId">
      <div class="cal-event" [style.backgroundColor]="event.color?.primary" (mouseenter)="highlightDay.emit({event: event})"
        (mouseleave)="unhighlightDay.emit({event: event})"
        [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event" [tooltipPlacement]="tooltipPlacement"
        [tooltipEvent]="event" [tooltipTemplate]="tooltipTemplate" [tooltipAppendToBody]="tooltipAppendToBody" mwlDraggable
        [class.cal-draggable]="event.draggable" dragActiveClass="cal-drag-active"
        [dropData]="{event: event, draggedFrom: day}" [dragAxis]="{x: event.draggable, y: event.draggable}"
        (mwlClick)="eventClicked.emit({ event: event })">
        <mwl-calendar-event-actions [event]="event" [customTemplate]="eventActionsTemplate">
        </mwl-calendar-event-actions>
        &ngsp;
        <mwl-calendar-event-title [event]="event" [customTemplate]="eventTitleTemplate" view="week">
        </mwl-calendar-event-title>
      </div>
    </div>
  </div>
</ng-template>
<!-- {{events$|async|json}} -->
<div *ngIf="events$ | async; else loading; let events" >
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      (dayClicked)="changeDay($event.day.date)"
      (beforeViewRender)="beforeMonthViewRender($event)"
      [cellTemplate]="monthCell"
      [tooltipTemplate]="customTooltip"
      [weekStartsOn]="weekStartsOn"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchDefault
      [viewDate]="viewDate"
      [events]="events"
      (dayHeaderClicked)="changeDay($event.day.date)"
      (beforeViewRender)="beforeWeekViewRender($event)"
      [tooltipTemplate]="customTooltip"
      [weekStartsOn]="weekStartsOn"
      [daysInWeek]="daysInWeek"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events"
      (beforeViewRender)="beforeDayViewRender($event)"
      [tooltipTemplate]="customTooltip"
    >
    </mwl-calendar-day-view>
  </div>
</div>
