<div class="list-group">
  <a routerLink="/contactgroups-detail" class="list-group-item list-group-item-action pb-0" *ngFor="let contactGroup of contactGroups; let i = index;">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <p>
          <strong>{{contactGroup.firstName}} {{contactGroup.lastName}}</strong>
          <br>{{contactGroup?.contactGroups[0]?.contactPeople[0]}}</p>
      </div>
      <div class="col-auto col-sm-3">
        <p><a href="">{{contactGroup?.phoneNumbers[0]}}</a></p>
      </div>
      <div class="col col-sm-3 text-right">
        <p>{{contactGroup?.emailAddresses[0]}}</p>
      </div>
    </div>
  </a>
  <!-- <a routerLink="/contactgroups-detail" class="list-group-item list-group-item-action pb-0">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <p>
          <strong>Susan Smith</strong>
          <br>John Smith</p>
      </div>
      <div class="col-auto col-sm-3">
        <p>07809 456785</p>
      </div>
      <div class="col col-sm-3 text-right">
        <p>jsmith@gmail.com</p>
      </div>
    </div>
  </a>
  <a routerLink="/contactgroups-detail" class="list-group-item list-group-item-action pb-0">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <p>
            <strong>Jane Smith</strong>
          </p>
        </div>
        <div class="col-auto col-sm-3">
          <p>07229 432418</p>
        </div>
        <div class="col col-sm-3 text-right">
          <p>janesmith@gmail.com</p>
        </div>
      </div>
  </a> -->
</div>
