<div class="list-group mb-5">
  <a [routerLink]="['detail', contactGroup.personId ]"
   [queryParams]="{searchTerm: searchTerm}"
    class="list-group-item list-group-item-action pb-2" *ngFor="let contactGroup of contactGroups; let i = index;">
    <div class="row">
      <div class="col-sm-auto text-right order-sm-2">
        <a [routerLink]="['detail', contactGroup.personId, 'edit' ]"><i class="fas fa-edit"></i> Edit</a>
      </div>
      <div class="col text-truncate order-sm-1">
        <div class="row align-items-center">
          <div class="col-sm-5">
            <div class="mb-1 text-truncate">
              <strong>{{contactGroup.firstName}} {{contactGroup.lastName}}</strong>
              <ng-container *ngFor="let subContact of contactGroup?.contactGroups">
                <ng-container *ngIf="subContact?.isCompany">&nbsp;<span
                    class="badge badge-pill badge-info">{{subContact?.companyName}}</span></ng-container>
              </ng-container>
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <p><a (click)="$event.stopPropagation()"
                href="tel:{{contactGroup?.phoneNumbers[0]}}">{{contactGroup?.phoneNumbers[0]}}</a><span class="text-danger" *ngIf="!contactGroup?.phoneNumbers[0]">No Email</span></p>
          </div>
          <div class="col text-sm-right">
            <p class="text-truncate"><a (click)="$event.stopPropagation()"
                href="mailto:{{contactGroup?.emailAddresses[0]}}">{{contactGroup?.emailAddresses[0]}}</a><span class="text-danger" *ngIf="!contactGroup?.emailAddresses[0]">No Email</span></p>
          </div>
          <div class="col-12">
              <div *ngFor="let cG of contactGroup?.contactGroups" class="text-truncate">
                <ng-container *ngIf="!cG.isCompany">
                  <i class="fas fa-users mr-1" *ngIf="cG?.contactPeople.length"></i>
                </ng-container>
                <ng-container
                  *ngFor="let people of cG.contactPeople; last as isLast">
                  {{people.addressee}}<ng-container *ngIf="!isLast">, </ng-container>
                </ng-container>
              </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
