.alert {
    @extend .fade-in;
    padding-left: 3em;

    &:before {
        @extend %fa-icon;
        @extend .fas;
        margin-right: spacer(1);
        position: absolute;
        top: spacer(3);
        left: spacer(3);
    }
    &-danger {
        &:before {
            content: fa-content($fa-var-exclamation-circle);
        }
    }
    &-success {
        &:before {
            content: fa-content($fa-var-check-circle);
        }
    }

    &-info {
        &:before {
            content: fa-content($fa-var-info-circle);
        }
    }

    &-warning {
        &:before {
            content: fa-content($fa-var-exclamation-triangle);
        }
    }
}