/***** Cards *****/
.card                                           { margin-bottom:1px; width:100%; background-color:$color--snow; border-radius:5px; box-shadow:0px 0px 0px 1px $color--midnight-20 inset; -webkit-box-shadow:0px 0px 0px 1px $color--midnight-20 inset; position:relative;
    &+*,
    &--marginTop                                { margin-top:16px; }
    p                                           { position:relative; }
    .positionTopRight                           { position:absolute; top:5px; right:5px; z-index:9; }

    &--sticky                                   { position:sticky; top:80px; z-index:10; }
    
    &--horizontal                               { margin-bottom:30px;
        .card__headerImg                        { border-radius:3px 3px 0 0; }
        .card__body                             {
            > .list                             {
                > li                            { align-items:initial; flex-direction:column;
                    &.expandable                { padding:0;
                        &:last-of-type .list    { margin:0; }
                    }
                    &+*, &+.expandable          { padding-top:20px;
                        &:before                { content:""; width:100%; height:1px; background-color:#F3F4F7; position:absolute; top:10px; left:0; }
                    }
                    details                     { box-shadow:none; }
                    .summary__title             { display:none; }
                    .summary__body              { display:block; }
                }
            }
        }
    }

    &__header                                   { padding:16px 16px 0; font-size:14px; font-weight:bold; color:$color--midnight; display:flex; align-items:center;
        &+*                                     { margin-top:16px; padding:0 16px 16px; }
        &+.card__body                           { margin-top:0; }
        &--divider                              { padding:10px 16px; border-bottom:1px solid $color--midnight-10; }
    }

    &__headerImg                                { height:159px; display:flex; align-items:center; justify-content:center; position:relative; background-color:$color--smoke; background-repeat:no-repeat; background-size:cover; background-position:center; border-radius:3px 3px 0 0; overflow:hidden;
        img                                     { width:100%; height:auto; }
        .alignTopRight                          { position:absolute; top:6px; right:6px; }
    }

    &__body                                     { padding:16px;
        &--list                                 { padding:0; }
        &--avatar                               { display:flex; flex-direction:row; }
    }

    &__footer                                   { padding:16px; }

    &__new                                      { min-height:300px; align-items:center; justify-content:center; background-color:rgba($color--smoke, .5)  ; border-radius:3px; transition:all 0.2s cubic-bezier(0.33, 0, 0.2, 1) 0s; -moz-transition:all 0.2s cubic-bezier(0.33, 0, 0.2, 1) 0s; -webkit-transition:all 0.2s cubic-bezier(0.33, 0, 0.2, 1) 0s; -o-transition:all 0.2s cubic-bezier(0.33, 0, 0.2, 1) 0s;
        &:hover                                 { background-color:$color--smoke; }
    }
    
    &__warning                                  { padding:30px; min-height:300px; align-items:center; justify-content:center; background-color:rgba($color--yellow, .5); color:$color--midnight; border-radius:3px; transition:all 0.2s cubic-bezier(0.33, 0, 0.2, 1) 0s; -moz-transition:all 0.2s cubic-bezier(0.33, 0, 0.2, 1) 0s; -webkit-transition:all 0.2s cubic-bezier(0.33, 0, 0.2, 1) 0s; -o-transition:all 0.2s cubic-bezier(0.33, 0, 0.2, 1) 0s; }
}

/***** Cards *****/
.cards                                          { margin:0; padding:0; list-style-type:none; width:100%; display:grid; grid-gap:60px; grid-template-columns:repeat(auto-fill, minmax(200px, 1fr)); overflow:hidden;
    > li                                        { margin:0; padding:0; display:flex; flex-direction:column; position:relative; top:0; left:0;
        &:before                                { content:''; width:1px; height:100%; background-color:$color--smoke; position:absolute; top:0; left:-30px; }
        &:after                                 { content:''; width:100%; height:1px; background-color:$color--smoke; position:absolute; top:-30px; left:0; }
        &.card__warning                         { padding:30px; }
    }

    .card                                       { background-color:transparent; border-radius:0; box-shadow:none;
        .card__header, .card__body              { padding:0; }
    }

    &--marginBottom                             { margin-bottom:50px; }
        
    &--small                                    { grid-gap:20px; grid-template-columns:repeat(auto-fill, minmax(40px, 1fr));
        > li                                    {
            &:before                            { left:-10px; }
            &:after                             { top:-10px; }
        }
    }
}
*+.cards                                        { margin-top:16px; }


/***********************************************
This applies from 992px onwards
***********************************************/
@media (min-width:992px)                        {
    .card {
        &--horizontal                           {
            .card__body                         { display:flex; flex:1 1 0px; 
                > .list                         {
                    > li                        {
                        &+*, &+.expandable      { padding-top:0;
                            &:before            { width:1px; height:100%; top:0; left:-30px; }
                        }
                    }
                }
            }
        }
    } 
}


/***********************************************
This applies from 1200px onwards
***********************************************/
@media (min-width:1200px)                       {
    .card {
        &--horizontal                           { display:flex;
            .card__headerImg                    { width:250px; height:initial; border-radius:3px 0 0 3px; }
        }
    } 
}

