.card-grid {
    @include make-row();
    margin-left: - $grid-gutter-width/5;
    margin-right: - $grid-gutter-width/5;

    .card{
        margin-bottom: $grid-gutter-width/3;
        width: calc(50% - #{$grid-gutter-width/2.5});
        margin-left: $grid-gutter-width/5;
        margin-right: $grid-gutter-width/5;
      
        @include media-breakpoint-up(sm) {
          width: calc(33.33% - #{$grid-gutter-width/2.5});
        }
      }
}