/***********************************************
Color Palette
***********************************************/
$color--info:           #3498DB;
$color--info-dark:      #217bb8;
$color--negative:       #E74C3C;
$color--warning:        #FFB134;

$color--midnight:       #0A1A4A;
$color--midnight-70:    #535E80;
$color--midnight-50:    #848CA4;
$color--midnight-30:    #B5BAC8;
$color--midnight-20:    #CED1DB;
$color--midnight-10:    #E7E8EE;

$color--blue:           #BFEBFA;
$color--blue-70:        #D2F1FB;
$color--blue-50:        #DFF5FC;
$color--blue-30:        #EBF9FD;
$color--blue-20:        #F2FBFE;
$color--blue-10:        #F8FDFE;

$color--positive:       #4DA685;
$color--positive-70:    #82C0A9;
$color--positive-50:    #A6D2C2;
$color--positive-30:    #C9E4DA;
$color--positive-20:    #DBEDE7;
$color--positive-10:    #EDF6F2;

$color--blossom:        #F9CBDF;
$color--blossom-70:     #FADAE8;
$color--blossom-50:     #FCE5EF;
$color--blossom-30:     #FDEFF5;
$color--blossom-20:     #FEF5F9;
$color--blossom-10:     #FEF9FB;

$color--yellow:         #FFF0D8;
$color--yellow-70:      #FFF4E3;
$color--yellow-50:      #FFF7EB;
$color--yellow-30:      #FFFAF3;
$color--yellow-20:      #FFFCF7;
$color--yellow-10:      #FFFDFB;

$color--snow:           #FFFFFF;
$color--smoke:          #F3F4F7;