

html {
    @media (max-width: 320px) {
        font-size: 0.85rem;
    }
}

body {
    padding-top: $top-bar-height;
    background: $white url('./assets/dg_bg.svg') right bottom no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;

    @include media-breakpoint-down(sm) {
        padding-bottom: 30px;
    }

    @include media-breakpoint-up(lg) {
        padding-top: 0;
        background-size: 50%;
    }

}

a:not(:disabled) {
    cursor: pointer;
}

.list-group-item-action {
    cursor: pointer;
}

tr:first-child{
    th, td {
        border-top: none;
    }
}

.col-form-label{
    text-align: right;

    @include media-breakpoint-down(sm){
        text-align: left;
    }
}

.page-title {
    padding: spacer(3) 0;
    margin-bottom: spacer(3);
    border-bottom: 1px solid $border-color;
    text-align: center;

    &.sticky-top {
        background: color('white');
        z-index: 100;
    }

    @include media-breakpoint-up(lg) {
        padding-top: 0;
    }

    @include media-breakpoint-down(sm) {
        position: sticky;
        background: color('white');
        top: $top-bar-height;
        z-index: 100;
    }

    &:not(.row) {
        @include media-breakpoint-down(sm) {
            font-size: $h5-font-size;
        }  
    }

    &.row {
        @extend .no-gutters;
        padding-bottom: spacer(2);
        text-align: left;
        align-items: center;

        h4 {
            @include media-breakpoint-down(sm) {
                font-size: $h5-font-size;
            }
        }
    }
}

.list-group-item {

    .card-body &.list-header + .list-group-item {
        @include media-breakpoint-down(sm){
            border-top: 0;
        }
    }
}

dl {
    margin-bottom: spacer(2);

    @include media-breakpoint-up(sm) {
        margin-bottom: 0;
    }

    dd, dt {
        margin: 0;
    }
}

.telephone {
    @include media-breakpoint-up(md){
        @include make-col(12);
    }
    @include media-breakpoint-up(xl){
        @include make-col(6);
    }
}

.input-group {
    select {
        flex: 0 0 auto!important;
        width: auto!important;
    }

    .input-group-append {
        .btn:last-child {
            border-top-right-radius: $border-radius !important;
            border-bottom-right-radius: $border-radius !important;
        }

        & + input, & + select, & + textarea {
            margin-left: -1px!important;

            @include media-breakpoint-down(sm) {
                border-top-left-radius: $border-radius !important;
                border-bottom-left-radius: $border-radius !important;
                flex: 0 0 100%!important;
                width: 100%!important;
            }
        }
    }
}

.bg-warning {
    color: $body-color;
}