.modal-backdrop             { margin:0; background-color:rgba($color--midnight, .5); position:fixed; top:0; right:0; bottom:0; left:0; z-index:10; }
.modal                      { display:none; align-items:center; justify-content:center; width:100%; height:100%; position:fixed; top:0; right:0; bottom:0; left:0; z-index:11;
    &-dialog                { padding:20px; background-color:$color--snow; border-radius:3px; }
}

// Add the important to the fade as inline block is being applied.
.fade                       { display:flex!important; }



/***** Prime NG Modal/Dialogs *****/
.p-dialog                   { min-width:100%; min-height:100%; font-size:12px;
    &.p-component-overlay   { background-color:rgba($color--midnight, .5); }
    .p-dialog-content       { padding:16px; border-radius:0; }
    .p-dialog-header        { padding:16px; border-radius:0;
        &+.p-dialog-content { padding-top:0; border-radius:0; }
    }
    .p-dialog-footer        { padding:16px;  border-radius:0; }
}

/***********************************************
This applies from 992px onwards
***********************************************/
@media (min-width:992px)        {
    .p-dialog                   { min-width:60%; min-height:auto;
        .p-dialog-header        { border-radius:3px 3px 0 0; }
        .p-dialog-footer        { border-radius:0 0 3px 3px; }
    }
}