.ng-select {
    &, &.ng-select-single {
        .ng-select-container {
            font-size: $font-size-sm;
            min-height: $input-height-sm;
        }

        .ng-value-container {
            padding-top: 0;
        }
    }

    &.ng-select-single{
        .ng-select-container{
            height: 31px;
        }

        .ng-input {
            top: 3px!important;
        }
    }

    &.ng-select-opened, &.ng-select-focused {
        .ng-select-container {
            border-color: $input-focus-border-color!important;
            box-shadow: $input-focus-box-shadow!important;
        }
    }

    .ng-select-container{
        border-color: $input-border-color;
        color: $body-color;

        .ng-placeholder {
            color: $input-placeholder-color!important;
        }

        .ng-arrow{
            border-color: $body-color transparent transparent!important;
        }
    }
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    @include alert-variant(theme-color-level("primary", $alert-bg-level), theme-color-level("primary", $alert-border-level), theme-color-level("primary", $alert-color-level));
}

.ng-select.ng-select-disabled>.ng-select-container{
    background-color: transparent;
    border: none;

    &:hover{
        box-shadow: none;
    }

    .ng-value-container {
        padding: 0;
    }

    .ng-arrow-wrapper {
        display: none;
    }
}