.ng-select {
    &, &.ng-select-single {
        .ng-select-container {
            font-size:13px;
            min-height:30px;
        }

        .ng-value-container {
            padding-top: 0;
        }
    }

    &.ng-select-single{
        .ng-select-container{
            height: 31px;

            // @include media-breakpoint-down(sm) {
            //     height: 26px;
            // }

        }

        .ng-input {
            top: 3px!important;
        }
    }

    &.ng-select-opened, &.ng-select-focused {
        .ng-select-container {
            border-color:#d8d9db;
            box-shadow:#d8d9db;
        }
    }

    .ng-select-container{
        border-color:#d8d9db;
        color:#0A1A4A;

        .ng-placeholder {
            color:#0A1A4A;
        }

        .ng-arrow{
            border-color:#d8d9db;
        }
    }
}

// .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
//     @include alert-variant(theme-color-level("primary", $alert-bg-level), theme-color-level("primary", $alert-border-level), theme-color-level("primary", $alert-color-level));
// }

.ng-select.ng-select-disabled {
    &>.ng-select-container{
        background-color:#d8d9db;
    
        &:hover{
            box-shadow: none;
        }
    
        .ng-arrow-wrapper {
            display: none;
        }
    }

    &.no-style {
        &>.ng-select-container{
            background-color: transparent;
            border: none;

            .ng-value-container {
                padding-left: 0;
                padding-top: 0;
                margin-top:0;
            }
        }

        &.ng-select-single {
            &>.ng-select-container{ 
                font-weight: bold;
            }
        }
        
    }
}

.ng-select.is-invalid {
    .ng-select-container {
        border-color:red;
    }
}