.off-canvas {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 20000;

    &-content {
        background: color("white");
        height: 100vh;
        overflow: auto;
        width: 90%;
        padding: $card-spacer-x;

        @include media-breakpoint-up(sm) {
            width: 80%;
        }

        @include media-breakpoint-up(lg) {
            width: 60%;
        }

        &.right {
            margin-left: auto;
            
            .close {
                float: left;
            }
        }

        .page-title {
            position: static;
        }
    }
}