

.page-title {
    padding: spacer(2) 0;
    margin-bottom: spacer(3);
    border-bottom: 1px solid $border-color;
    background-color: color("white");
    min-height: 3.5rem;

    &.row {
        @extend .no-gutters;
        padding-bottom: spacer(2);
        align-items: center;
    }
}
