

.page-title {
    padding: spacer(2) 0;
    margin-bottom: spacer(3);
    border-bottom: 1px solid $border-color;
    position: sticky;
    top: 0;
    background: color('white');
    z-index: 100;

    @include media-breakpoint-down(sm) {
        top: $top-bar-height;

        @media (orientation: landscape) {
            position: static;
        }
    }

    &.row {
        @extend .no-gutters;
        padding-bottom: spacer(2);
        align-items: center;
    }
}
