.sub-info {
    .card {
        margin-top: spacer(2);
    }
    .card-header, .card-body {
        padding: 0;
    }
    .btn {
       padding: $list-group-item-padding-y $list-group-item-padding-x; 
    }
}