.table {
    table-layout: fixed;

    &.table-sortable thead th {
        &:hover {
            cursor: pointer;
        }

        &.active{
            span{
                color: theme-color("secondary");
            }
        }

        &:not(.active):hover {
            span:first-child {
                color: theme-color("secondary");
            }
        }
    }

    .long-content {
        @include media-breakpoint-up(md) {
            width: 10rem;
        }
    }
    .values {
        @include media-breakpoint-up(md) {
            width: 7.2rem;
        }
    }

    .table-link {
        color: $body-color;
        text-decoration: none;
    }
}

.table-responsive {
    @include media-breakpoint-up(xl) {
        overflow-x: unset;
    }

    @include media-breakpoint-down(md) {
        thead {
            display: none;
        }
        td {
            display: block;
            border: none!important;
        }
        tr {
            display: block;
            padding: spacer(3) 0;
            
            &:not(:last-child) {
                border-bottom: 1px solid $border-color;
            }
        }
        
        dl {
            margin-bottom: 0;
        }
    }
}