/***** Timelines *****/
.timeline                                               { margin:0; padding:0; list-style:none; display:flex; flex-direction:column; position:relative; }
*+.timeline                                             { margin-top:16px; }
.timeline+*                                             { margin-top:16px; }

.timeline li                                            { margin:0; padding:0 0 0 40px; min-height:24px; position:relative; z-index:0; }
.timeline li+*                                          { margin-top:16px; }
.timeline li:before                                     { content:''; width:1px; height:calc(100% - 29px); display:block; background-color:$color--midnight-20; position:absolute; top:38px; left:12px; }
.timeline li:last-child:before                          { display:none; }
.timeline li:after                                      { content:''; width:25px; height:25px; display:block; background-color:$color--midnight-50; border-radius:50%; position:absolute; top:3px; left:0; }

.timeline li .card                                      { position:relative; z-index:5; }

.icon--type                                             { position:absolute; top:11px; left:7px; width:11px; fill:$color--snow; z-index:6; }
.icon--timeline                                         { position:absolute; top:8px; left:29px; z-index:6; }
.icon--timeline .outline                                { fill:$color--midnight-20; }
.icon--timeline .fill                                   { fill:$color--snow; }
.timeline .icon--pin                                    { fill:$color--midnight-20; }
.timeline .icon--information                            { fill:$color--midnight-20; }

.timeline .timeline__new:after                          { background-color:$color--positive; }
.timeline .timeline__new                                { order:-2; }
.timeline .timeline__new .card                          { background-color:$color--positive-10; box-shadow:0px 0px 0px 1px inset $color--positive-20; -webkit-box-shadow:0px 0px 0px 1px inset $color--positive-20; }
.timeline .timeline__new .icon--timeline .outline       { fill:$color--positive-20; }
.timeline .timeline__new .icon--timeline .fill          { fill:$color--positive-10; }

.timeline .timeline__pinned:after                       { background-color:$color--midnight; }
.timeline .timeline__pinned .card                       { box-shadow:0px 0px 0px 1px inset $color--midnight-50; -webkit-box-shadow:0px 0px 0px 1px inset $color--midnight-50; }
.timeline .timeline__pinned .icon--timeline .outline    { fill:$color--midnight-50; }
.timeline .timeline__pinned .icon--pin                  { fill:$color--midnight-70; }
.timeline .timeline__pinned                             { order:-1; }

.timeline .timeline__important:after                    { background-color:$color--negative; }
.timeline .timeline__important .card                    { background-color:$color--blossom-10; box-shadow:0px 0px 0px 1px inset $color--blossom; -webkit-box-shadow:0px 0px 0px 1px inset $color--blossom; }
.timeline .timeline__important .icon--timeline .outline { fill:$color--blossom; }
.timeline .timeline__important .icon--timeline .fill    { fill:$color--blossom-10; }
.timeline .timeline__important .icon--information       { fill:$color--negative; }

.timeline .timeline__positive+*:after                   { background-color:$color--warning; border:1px solid $color--warning; }
.timeline--condensed li                                 { padding-left:16px; min-height:17px; }
.timeline--condensed li+*                               { margin-top:10px; }
.timeline--condensed li:before                          { height:calc(100% + 10px); left:4px; top:5px; }
.timeline--condensed li:after                           { width:9px; height:9px; background-color:$color--snow; border:1px solid $color--midnight-20; top:4px; }
.timeline .timeline__positive:after                     { background-color:$color--positive-20; border:1px solid $color--positive-20; }