[toastcontainer] {
    position: sticky;
    z-index: 150;
    top: $top-bar-height;

    @include media-breakpoint-up(xl){
        top: 0;
    }
}
#toast-container {
    position: static;
    .ngx-toastr {
        margin: 0;
        width: 100%;
        @include border-top-radius(0);
        border-bottom-right-radius: 0;
    }
    .toast-call {
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB3aWR0aD0iMTc5MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTYwMCAxMjQwcTAgMjctMTAgNzAuNXQtMjEgNjguNXEtMjEgNTAtMTIyIDEwNi05NCA1MS0xODYgNTEtMjcgMC01Mi41LTMuNXQtNTcuNS0xMi41LTQ3LjUtMTQuNS01NS41LTIwLjUtNDktMThxLTk4LTM1LTE3NS04My0xMjgtNzktMjY0LjUtMjE1LjV0LTIxNS41LTI2NC41cS00OC03Ny04My0xNzUtMy05LTE4LTQ5dC0yMC41LTU1LjUtMTQuNS00Ny41LTEyLjUtNTcuNS0zLjUtNTIuNXEwLTkyIDUxLTE4NiA1Ni0xMDEgMTA2LTEyMiAyNS0xMSA2OC41LTIxdDcwLjUtMTBxMTQgMCAyMSAzIDE4IDYgNTMgNzYgMTEgMTkgMzAgNTR0MzUgNjMuNSAzMSA1My41cTMgNCAxNy41IDI1dDIxLjUgMzUuNSA3IDI4LjVxMCAyMC0yOC41IDUwdC02MiA1NS02MiA1My0yOC41IDQ2cTAgOSA1IDIyLjV0OC41IDIwLjUgMTQgMjQgMTEuNSAxOXE3NiAxMzcgMTc0IDIzNXQyMzUgMTc0cTIgMSAxOSAxMS41dDI0IDE0IDIwLjUgOC41IDIyLjUgNXExOCAwIDQ2LTI4LjV0NTMtNjIgNTUtNjIgNTAtMjguNXExNCAwIDI4LjUgN3QzNS41IDIxLjUgMjUgMTcuNXEyNSAxNSA1My41IDMxdDYzLjUgMzUgNTQgMzBxNzAgMzUgNzYgNTMgMyA3IDMgMjF6Ii8+PC9zdmc+');
    }
    .toast-notes {
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB3aWR0aD0iMTc5MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTE1MiAxMjQ4djQxNmgtOTI4cS00MCAwLTY4LTI4dC0yOC02OHYtMTM0NHEwLTQwIDI4LTY4dDY4LTI4aDEzNDRxNDAgMCA2OCAyOHQyOCA2OHY5MjhoLTQxNnEtNDAgMC02OCAyOHQtMjggNjh6bTEyOCAzMmgzODFxLTE1IDgyLTY1IDEzMmwtMTg0IDE4NHEtNTAgNTAtMTMyIDY1di0zODF6Ii8+PC9zdmc+');
    }
}