/***********************************************
Font-face setup
***********************************************/
// @font-face {
//     font-family:'opensans';
//     src:    url('../../assets/font/objectsans-bold.woff2') format('woff2'),
//             url('../../assets/font/objectsans-bold.woff') format('woff');
//     font-weight:bold;
//     font-style:bold;
// }
  
// @font-face {
//     font-family:'opensans';
//     src:    url('../../assets/font/objectsans-medium.woff2') format('woff2'),
//             url('../../assets/font/objectsans-medium.woff') format('woff');
//     font-weight:normal;
//     font-style:normal;
// }

@font-face {
    font-family:'opensans';
    src:    url('../../assets/font/opensans-semibold.woff2') format('woff2'),
            url('../../assets/font/opensans-semibold.woff') format('woff');
    font-weight:bold;
    font-style:bold;
}
  
@font-face {
    font-family:'opensans';
    src:    url('../../assets/font/opensans-regular.woff2') format('woff2'),
            url('../../assets/font/opensans-regular.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

$font-size-sm:12px;
$input-height-sm:30px;

/***** Fonts overrides *****/
body, form, input, textarea, select, label,
.select select, .select optgroup option,
.select optgroup option, .checkbox > span label,
.radio > span label, form .message, .btn,
.p-accordion, .p-toast, .p-component, 
.p-inputtext                                    { font-family:'opensans', Sans-Serif; -webkit-font-smoothing: antialiased; }

html                                            { scroll-behavior:smooth; text-rendering:optimizeLegibility !important; -webkit-font-smoothing:antialiased !important; }
body, .body                                     { font-size:12px; line-height:17px; letter-spacing:.5px; background-color:$color--snow; font-weight:normal; color:$color--midnight-70; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }

/***** Typography *****/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6                    { padding:0; font-weight:bold; line-height:initial; position:relative; }

h1, .h1                                         { font-size:22px; line-height:18px; color:$color--midnight; }
h2, .h2                                         { font-size:18px; line-height:18px; color:$color--midnight; }
h3, .h3                                         { font-size:16px; line-height:18px; color:$color--midnight; }
h4, .h4                                         { font-size:14px; line-height:18px;
    .icon                                       { top:-1px; }
}
h5, .h5                                         { font-size:16px; line-height:18px; }
h6, .h6                                         { font-size:16px; line-height:18px; font-weight:initial; }

*+h3                                            { margin-top:30px; }

p+p                                             { margin-top:16px; }

.txt--reset                                     { font-size:13px; font-weight:normal; color:$color--midnight-70; }
.txt--title                                     { font-size:14px; font-weight:bold;
    &+*, &+.list                                { margin-top:10px; }
    &+small                                     { margin:4px 0 0; }
}

mark                                            { padding:0 2px; background-color:$color--yellow; border-radius:3px; }

sup                                             { display:flex; align-items:center; font-size:10px; line-height:10px; font-weight:normal; color:$color--midnight-50; text-transform:uppercase; height:auto; top:0; }
sup+p                                           { margin-top:3px; }
.sup--positive                                  { color:$color--positive; }

small                                           { display:flex; font-size:10px; line-height:10px; font-weight:normal; color:$color--midnight-50; height:auto; top:0; }
small+*                                         { margin-top:16px; }

.txt--positive                                  { color:$color--positive; }
.txt--negative                                  { color:$color--negative; }
.txt--warning                                   { color:$color--warning; }
.txt--info                                      { color:$color--info; }
.txt--midnight                                  { color:$color--midnight; }
.txt--midnight-30                               { color:$color--midnight-30; }

.txt--nowrap                                    { white-space:nowrap; }

.block+*                                        { margin-top:16px; }

/***** Details - Accordion Magic..! *****/
details                                         { display:block; width:100%; box-shadow:inset 0 1px 0px 0px $color--midnight-10; -webkit-box-shadow:inset 0 1px 0px 0px $color--midnight-10;
    &[open]                                     { padding-bottom:10px;
        .summary__body                          { display:block; }
        .horizontal                             { display:none; }
    }

    .list                                       { margin:0; }
}

summary                                         { padding:0; list-style:none; min-width:100%; outline:none; cursor:initial;
    &::-webkit-details-marker                   { display:none; }
    .flexRight                                  { float:right; align-self:flex-start; }
    .summary__title                             { padding:10px 0; font-weight:bold; color:$color--midnight; display:flex; align-items:center; align-content:flex-start; cursor:pointer; }
    .summary__body                              { display:none; }
}

/***** Redacted text effect *****/
.wrapper--redacted                              { position:relative;
    .message, .btn                              { min-width:400px; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); z-index:9; }
    .btn                                        { padding:16px 20px; min-width:160px; }
}

.redacted                                       { background-color:$color--midnight-10; height:10px; min-width:20px; border-radius:20px; display:block;
    &.redacted--10pc                            { width:10%; }
    &.redacted--20pc                            { width:20%; }
    &.redacted--50pc                            { width:50%; }
    &.redacted--70pc                            { width:70%; }
    &.redacted--90pc                            { width:90%; }
    &.redacted--100pc                           { width:100%; }
    &+.redacted                                 { margin-left:6px; }
    &--title                                    { background-color:$color--midnight-20; }
}

.txt--title, th                                 {
    .redacted                                   { background-color:$color--midnight-20; height:13px; }
}

.pill--positive, .txt--positive                 {
    &.redacted                                  { background-color:$color--positive; flex-shrink:initial; }
}
.pill--negative                                 { 
    &.redacted                                  { background-color:$color--negative; flex-shrink:initial; }
}
