/***********************************************
Font-face setup
***********************************************/
@font-face {
    font-family:'opensans';
    src:    url('../../assets/font/opensans-semibold.woff2') format('woff2'),
            url('../../assets/font/opensans-semibold.woff') format('woff');
    font-weight:bold;
    font-style:bold;
}
  
@font-face {
    font-family:'opensans';
    src:    url('../../assets/font/opensans-regular.woff2') format('woff2'),
            url('../../assets/font/opensans-regular.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
  
@font-face {
    font-family:'redacted';
    src:    url('../../assets/font/redacted.woff2') format('woff2'),
            url('../../assets/font/redacted.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

$font-size-sm:13px;
$input-height-sm:30px;

/***** Fonts overrides *****/
body, form, input, textarea, select, label,
.select select, .select optgroup option,
.select optgroup option, .checkbox > span label,
.radio > span label, form .message, .btn        { font-family:'opensans', Sans-Serif; }

html                                            { scroll-behavior:smooth; }
body, .body                                     { font-size:12px; line-height:17px; letter-spacing:.5px; background-color:$color--snow; font-weight:normal; color:$color--midnight-70; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }

/***** Typography *****/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6                    { padding:0; font-weight:bold; line-height:initial; position:relative; }

h1, .h1                                         { font-size:22px; line-height:18px; color:$color--midnight; }
h2, .h2                                         { font-size:18px; line-height:18px; color:$color--midnight; }
h3, .h3                                         { font-size:16px; line-height:18px; color:$color--midnight; }
h4, .h4                                         { font-size:16px; line-height:18px; }
h5, .h5                                         { font-size:16px; line-height:18px; }
h6, .h6                                         { font-size:16px; line-height:18px; font-weight:initial; }

p+p                                             { margin-top:16px; }

.txt--reset                                     { font-size:13px; font-weight:normal; color:$color--midnight-70; }
.txt--title                                     { font-size:14px; font-weight:bold; }
.txt--title+small                               { margin:0; }

mark                                            { padding:0 2px; background-color:$color--yellow; border-radius:3px; }

sup                                             { display:flex; align-items:center; font-size:10px; line-height:10px; font-weight:normal; color:$color--midnight-50; text-transform:uppercase; height:auto; top:0; }
sup+p                                           { margin-top:3px; }
.sup--positive                                  { color:$color--positive; }

small                                           { display:flex; font-size:10px; line-height:10px; font-weight:normal; color:$color--midnight-50; height:auto; top:0; }
small+*                                         { margin-top:16px; }

.txt--positive                                  { color:$color--positive; }
.txt--negative                                  { color:$color--negative; }
.txt--warning                                   { color:$color--warning; }
.txt--info                                      { color:$color--info; }
.txt--midnight-30                               { color:$color--midnight-30; }

.txt--nowrap                                    { white-space:nowrap; }

.block+*                                        { margin-top:16px; }