<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div class="row page-title">
    <div class="col">
      <h4 class="m-0">Valuation register</h4>
    </div>
    <div class="col-auto" *ngIf="false">
      <a class="btn btn-light" [routerLink]="['detail', 0 , 'edit' ]" [queryParams]="{isNewProperty: true}"><i
          class="fas fa-plus mr-2"></i> Valuation </a>
    </div>
  </div>
  <form class="mb-3" [formGroup]="valuationFinderForm">
    <div class="row align-items-center">
      <div class="col-sm">
        <div class="row">
          <div class="col-12 form-group">
            <label class="small" for="valuationSearch">Search <span class="text-muted">(Name, email, phone or
                address)</span></label>
            <input type="search" id="valuationSearch" class="form-control form-control-sm" aria-label="Search criteria"
              (keydown.enter)="enter($event)" [ngbTypeahead]="suggestions" [focusFirst]="false"
              (selectItem)="suggestionSelected($event)" formControlName="searchTerm">
          </div>
          <div class="col-sm form-group">
            <label class="small" for="dateFrom">Date</label>
            <input type="text" id="dateFrom" placeholder="dd/mm/yyyy" class="form-control form-control-sm"
              [bsConfig]="{showWeekNumbers:false, customTodayClass: 'font-weight-bold'}" [(bsValue)]="date"
              value="{{ date | date:'dd/MM/yyyy'}}" bsDatepicker formControlName="date">
          </div>
          <div class="col-sm form-group">
            <label class="small" for="office">Status</label>
            <select class="custom-select custom-select-sm" id="office" formControlName="statusId" (change)="onStatusSelected($event.target.value)">
              <option selected value="0">Select</option>
              <option *ngFor="let status of statuses | keyvalue:keepOriginalOrder " [value]='status.key'>
                {{status.value}}</option>
            </select>
          </div>
          <div class="col-sm form-group">
            <label class="small" for="office">Lister</label>
            <select class="custom-select custom-select-sm" id="office" formControlName="listerId" (change)="onListerSelected($event.target.value)">
              <option selected value="0">Select</option>
              <option *ngFor="let lister of listers" [value]=lister.staffMemberId>{{lister?.fullName}}</option>
            </select>
          </div>
          <div class="col-sm form-group">
            <label class="small" for="office">Office</label>
            <select class="custom-select custom-select-sm" id="office" formControlName="officeId" (change)="onOfficeSelected($event.target.value)">
              <option selected value="0">Select</option>
              <option *ngFor="let office of offices" [value]=office.officeId>{{office?.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group mt-sm-4">
          <button class="btn btn-block btn-secondary" (click)="getValuations()">Search</button>
        </div>
      </div>
    </div>
  </form>
  <div class="text-center" *ngIf="isHintVisible">
    <i class="far fa-smile-wink"></i> Type at least <strong>3 characters</strong> to get results
  </div>
  <app-valuation-list *ngIf="!isHintVisible" [pageNumber]="page" [valuations]='valuations'
    [bottomReached]="bottomReached" [searchTerm]='searchTerm'></app-valuation-list>
  <div class="text-center text-danger" *ngIf="isMessageVisible && !isHintVisible && page === 1">
    <i class="far fa-sad-tear"></i> No results for '<strong>{{valuationFinderForm.value.searchTerm || ' '}}</strong>'
  </div>
</div>
