<div class="row">
  <div class="row__item row__item--aside">
    <div class="wrapper--sticky ">
      <div class="card">
        <div class="card__header">
          <svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64"
            class="icon icon--onLeft">
            <path
              d="M45.6 36.9c1.9-3.6 3.2-7.8 3.2-12.4C48.8 11.1 37.8 0 24.4 0S0 11.1 0 24.5 11 49 24.4 49c4.5 0 8.8-1 12.3-3.3L54.9 64l9.1-8.5L45.6 36.9zM24.5 40.8c-9.1 0-16.2-7.2-16.2-16.3S15.4 8.2 24.5 8.2s16.2 7.2 16.2 16.3C40.7 33.6 33.6 40.8 24.5 40.8z" />
          </svg>
          Search Valuations
        </div>
        <div class="card__body">
          <form [formGroup]="valuationFinderForm" autocompleteOff>
            <fieldset class="mb-3">
              <label for="valuationSearch">Name, email, phone or address</label>
              <input class="p-2" type="search" id="valuationSearch" aria-label="Search criteria"
                (keydown.enter)="getValuations()" [ngbTypeahead]="suggestions" [focusFirst]="false"
                (selectItem)="suggestionSelected($event)" formControlName="searchTerm">
            </fieldset>

            <fieldset class="mb-3">
              <label for="date">Date From</label>
              <input class="p-2" type="text" id="date" placeholder="dd/mm/yyyy"
                [bsConfig]="{showWeekNumbers:false,  dateInputFormat: 'DD/MM/YYYY', customTodayClass: 'font-weight-bold'}"
                bsDatepicker #datepicker="bsDatepicker" [appNoDoubleTap]='datepicker' formControlName="date"
                data-cy="dateFrom">
            </fieldset>

            <fieldset class="mb-3">
              <app-generic-multi-select-control
                [label]="'Status'"
                [placeholder]="'Select status'"
                [options]="statuses"
                [cyProp]="'valStatus'"
                (onSelectionChange)="selectionControlChange('statusId', $event)"
                [model]="selectControlModels.statusId"
                >
              </app-generic-multi-select-control>

                <!-- <label for="statusId">Status</label>
              <span class="select">
                <select id="statusId" formControlName="statusId" data-cy="valStatus">
                  <option selected value="0"></option>
                  <option *ngFor="let status of statuses" [value]='status.id'>{{status.value}}</option>
                </select>
              </span> -->
            </fieldset>

            <fieldset class="mb-3">
              <!-- <label for="valuerId">Valuer</label>
              <app-staff-member-finder class="appWrapper" [isMultiple]="true"
                (selectedStaffMemberId)="getSelectedStaffMemberId($event)" [listType]="'allValuers'">
              </app-staff-member-finder> -->
              <app-generic-multi-select-control 
                *ngIf="offices.length"
                [label]="'Valuer'"
                [placeholder]="'Select staff member'"
                [options]="valuersForSelect"
                [cyProp]="'valuerId'"
                (onSelectionChange)="selectionControlChange('valuerId', $event)"
                [model]="selectControlModels.valuerId">
              </app-generic-multi-select-control>
            </fieldset>

            <fieldset class="mb-3">
              <app-generic-multi-select-control 
                *ngIf="offices.length"
                [label]="'Office'"
                [placeholder]="'Select Office'"
                [options]="offices"
                [cyProp]="'officeId'"
                (onSelectionChange)="selectionControlChange('officeId', $event)"
                [model]="selectControlModels.officeId">
            </app-generic-multi-select-control>
              <!-- <app-office-finder class="appWrapper" [officeId]="officeId"
                (selectedOfficeId)="getSelectedOfficeId($event)" [fullWidth]="true"></app-office-finder> -->
            </fieldset>

            <div class="flex">
              <fieldset class="mr-2">
                <button class="btn btn--info" id="btnSearch" (click)="getValuations()"
                  data-cy="searchVal">Search</button>
              </fieldset>
              <fieldset class="flex" *ngIf="queryResultCount">
                <span class="font-extrabold !important mt-2">{{valuations?.length}} of {{queryResultCount}}
                  Val</span>
              </fieldset>
            </div>

          </form>
        </div>
      </div>
      <div class="card">
        <div class="card__header">
          Actions
        </div>
        <div class="card__body card__body--list">
          <ol class="list list--divider list--hover">
            <li>
              <a class="overall" [routerLink]="['detail', 0 , 'edit' ]" [queryParams]="{isNewValuation: true}"
                data-cy="newVal"></a>
              <svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64"
                class="icon icon--s icon--fill-positive icon--onLeft">
                <path
                  d="M60 35.9H4c-2.2 0-4-1.8-4-4v0c0-2.2 1.8-4 4-4h56c2.2 0 4 1.8 4 4v0C64 34.1 62.2 35.9 60 35.9z" />
                <path class="plus-vertical"
                  d="M28 59.9v-56c0-2.2 1.8-4 4-4h0c2.2 0 4 1.8 4 4v56c0 2.2-1.8 4-4 4h0C29.8 63.9 28 62.2 28 59.9z" />
              </svg>New Valuation
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="row__item">
    <div class="table">
      <app-valuation-list class="appWrapper" *ngIf="!isHintVisible" [pageNumber]="page" [valuations]='valuations'
        [bottomReached]="bottomReached" [searchTerm]='searchTerm'></app-valuation-list>

      <div class="text-center text-danger" *ngIf="isMessageVisible && page === 1">
        <i class="far fa-sad-tear"></i> No results for your current search
      </div>
    </div>
  </div>
</div>