@import "../../../style/bootstrap-overrides";

@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.list-group-item {
    @include media-breakpoint-down(sm){
        padding-left: 0;
        padding-right: 0;
    }

    &:not(.list-group-item-action) + .list-group-item-action {
        @include media-breakpoint-down(sm){
            border-top: 0;
        }
    }
}

dl {
    margin-bottom: spacer(2);

    dd, dt {
        margin: 0;
    }
}