<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div class="row page-title mb-0">
    <div class="col">
      <h4 class="mb-0">Person Detail</h4>
    </div>
    <div class="col-auto">
      <div class="btn-group" dropdown placement="bottom right">
        <button id="actionsToggle" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
          aria-controls="actionsList">
          Actions <span class="caret"></span>
        </button>
        <ul id="actionsList" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="actionsToggle">
          <li role="menuitem" *ngIf="searchedPersonDetails">
            <a class="dropdown-item"
              (click)="createNewContactGroup(); $event.stopPropagation()"
              [routerLink]="['people', 0]" [queryParams]="{isNewContactGroup: true}">
              <i class="fas fa-users"></i><i class="fas fa-plus fa-xs align-text-top"></i> New Contact Group
            </a>
          </li>
          <li role="menuitem"><button type="button" class="dropdown-item" (click)="addNote()"><i class="fas fa-sticky-note mr-2"></i> Add Note</button></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="alert alert-danger mt-3" role="alert">
    Do not contact, GDPR request pending
  </div> -->
  <!-- <ul class="nav nav-pills nav-responsive mb-2" *ngIf="searchedPersonDetails">
    <li class="nav-item">
      <a class="nav-link" href="#">Leads <span
        class="badge badge-pill badge-primary">{{summaryTotals.leads}}</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Notes <span
        class="badge badge-pill badge-primary">{{summaryTotals.notes}}</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Applicants <span
        class="badge badge-pill badge-primary">{{summaryTotals.searches}}</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Valuations <span
        class="badge badge-pill badge-primary">{{summaryTotals.valuations.total}}</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Instructions <span
        class="badge badge-pill badge-primary">{{summaryTotals.instructions.total}}</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Offers <span
        class="badge badge-pill badge-primary">{{summaryTotals.offers.total}}</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Tenancies <span
        class="badge badge-pill badge-primary">{{summaryTotals.tenancies.total}}</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Letting Managements <span
        class="badge badge-pill badge-primary">{{summaryTotals.lettingsManagements}}</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Home Managements <span
        class="badge badge-pill badge-primary">{{summaryTotals.homeManagements}}</span></a>
    </li>
  </ul> -->
  <div class="text-center py-3" *ngIf="!searchedPersonDetails">
    <i class="fas fa-spinner fa-pulse d-inline-block"></i> Loading info ...
  </div>
  <div class="bg-light border border-top-0 mb-4">
    <div class="text-right pt-3 px-3" *ngIf="searchedPersonDetails">
      <div class="row">
        <div class="col-auto">
          <app-score-badge [person]="searchedPersonDetails"></app-score-badge> <span class="badge badge-pill badge-danger" *ngIf="warning">{{warning?.value}}</span>
        </div>
        <div class="col text-right">
          <a routerLink="edit"><i class="fas fa-edit"></i> Edit</a>
        </div>
      </div>
    </div>
    <div class="row mx-0 pb-3" *ngIf="searchedPersonDetails">
      <div class="col-12">
        <p class="mb-2">
          <strong>{{searchedPersonDetails.addressee}}</strong>
        </p>
      </div>
      <div class="col-sm-4">
        <div class="mb-2">
          <pre>{{searchedPersonDetails.address | formatAddress}}</pre><span class="text-danger"
            *ngIf="!(searchedPersonDetails.address | formatAddress)">No address</span></div>
      </div>
      <div class="col-12 col-sm-3 col-xl-4">
        <p class="mb-2 text-danger"
        *ngIf="!searchedPersonDetails.phoneNumbers.length || !searchedPersonDetails.phoneNumbers[0].number">No
        phone</p>
        <ng-container *ngFor="let phoneNumber of searchedPersonDetails.phoneNumbers">
          <p class="mb-2" *ngIf="phoneNumber.number">
            <app-telephone [number]="phoneNumber.number" [sms]="phoneNumber.sendSMS"></app-telephone>
          </p>
        </ng-container>
      </div>
      <div class="col-sm-5 col-xl-4">
        <p class="mb-2 text-danger"
          *ngIf="!searchedPersonDetails.emailAddresses.length || !searchedPersonDetails.emailAddresses[0].email">No
          email</p>
        <ng-container *ngFor="let emailAddresses of searchedPersonDetails.emailAddresses">
          <p class="mb-2 text-truncate" *ngIf="emailAddresses.email"><a
              href="mailto:{{emailAddresses.email}}">{{emailAddresses.email}}</a></p>
        </ng-container>
      </div>
      <div class="col-12">
        <hr class="my-1">
      </div>
      <div class="col-12">
        <div class="row align-items-center">
          <div class="col">
            <button type="button" class="btn btn-link px-0" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Marketing Prefs <span
                class="badge badge-pill badge-primary">
                {{searchedPersonDetails.marketingPreferences?.count || 0}} </span>
            </button>
          </div>
          <div class="col-auto">
            <small class="text-muted">ID: {{searchedPersonDetails?.personId}}</small>
          </div>
        </div>
        <div id="collapseBasic" [collapse]="!isCollapsed">
          <ul>
            <li *ngIf="searchedPersonDetails.marketingPreferences?.marketBulletin">Quarterly bulletin</li>
            <li *ngIf="searchedPersonDetails.marketingPreferences?.general">Special offers</li>
            <li *ngIf="searchedPersonDetails.marketingPreferences?.events">Landlord/investor events</li>
            <li *ngIf="searchedPersonDetails.marketingPreferences?.newHomes">New homes/investments</li>
            <li *ngIf="searchedPersonDetails.marketingPreferences?.general">Other occasional marketing</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h5>Contact groups</h5>
      <div class="list-group mb-3">
        <div class="list-group-item" *ngIf="!searchedPersonContactGroups">
          <div class="text-center">
            <i class="fas fa-spinner fa-pulse d-inline-block"></i> Loading contact groups ...
          </div>
        </div>
        <ng-container *ngFor="let searchedPersonContactGroup of searchedPersonContactGroups">
          <a [routerLink]="['people', searchedPersonContactGroup.contactGroupId]"
            class="list-group-item list-group-item-action">
            <div class="row">
              <div class="col">
                <ng-container *ngFor="let contactPerson of searchedPersonContactGroup.contactPeople; last as isLast">
                  <ng-container *ngIf="contactPerson?.personId === searchedPersonDetails?.personId; else link">
                    {{contactPerson.addressee}}
                  </ng-container>
                  <ng-template #link>
                    <a [routerLink]="['../../../detail', contactPerson.personId ]"
                      (click)="$event.stopPropagation();">{{contactPerson.addressee}}</a>
                  </ng-template>
                  <ng-container *ngIf="!isLast">, </ng-container>
                </ng-container>
                <ng-container *ngIf="searchedPersonContactGroup?.isCompany">
                  <span class="badge badge-pill badge-info ml-2">{{searchedPersonContactGroup?.companyName}}</span>
                </ng-container>
              </div>
              <div class="col-auto">
                <span class="btn-link py-0">
                  <i class="fas fa-briefcase mr-1 fa-fw"
                    *ngIf="searchedPersonContactGroup?.isCompany; else peopleIcon"></i>
                  <ng-template #peopleIcon>
                    <i class="fas fa-users mr-1 fa-fw"></i>
                  </ng-template> View Group
                </span>
              </div>
            </div>
          </a>
        </ng-container>
        <a class="list-group-item list-group-item-action text-center py-4"
          (click)="createNewContactGroup(); $event.stopPropagation()" *ngIf="searchedPersonDetails"
          [routerLink]="['people', 0]" [queryParams]="{isNewContactGroup: true}">
          <span class="btn-link">
            <i class="fas fa-users"></i><i class="fas fa-plus fa-xs align-text-top"></i> New Contact Group
          </span>
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="summaryTotals">
    <h5>Info</h5>
    <div class="list-group">
      <a [routerLink]="['leads']" class="list-group-item list-group-item-action clearfix">
        <div class="pull-left float-left btn-link">Leads <span
          class="badge badge-pill badge-primary">{{summaryTotals.leads}}</span></div>
        <span class="float-right pull-right"><i class="fas fa-chevron-right"></i></span>
      </a>
      <a [routerLink]="['notes']" [queryParams]="{person:searchedPersonDetails | json }" class="list-group-item list-group-item-action clearfix">
        <div class="pull-left float-left btn-link">Notes <span
          class="badge badge-pill badge-primary">{{summaryTotals.notes}}</span></div>
        <span class="float-right pull-right"><i class="fas fa-chevron-right"></i></span>
      </a>
      <a [routerLink]="['searches']" class="list-group-item list-group-item-action clearfix">
        <div class="pull-left float-left btn-link">Searches <span
          class="badge badge-pill badge-primary">{{summaryTotals.searches}}</span></div>
        <span class="float-right pull-right"><i class="fas fa-chevron-right"></i></span>
      </a>
      <a [routerLink]="['valuations']" class="list-group-item list-group-item-action clearfix">
        <div class="pull-left float-left btn-link">Valuations <span
          class="badge badge-pill badge-primary">{{summaryTotals.valuations.total}}</span></div>
        <span class="float-right pull-right"><i class="fas fa-chevron-right"></i></span>
      </a>
      <a [routerLink]="['instructions']" class="list-group-item list-group-item-action clearfix">
        <div class="pull-left float-left btn-link">Instructions <span
          class="badge badge-pill badge-primary">{{summaryTotals.instructions.total}}</span></div>
        <span class="float-right pull-right"><i class="fas fa-chevron-right"></i></span>
      </a>
      <a [routerLink]="['offers']" class="list-group-item list-group-item-action clearfix">
        <div class="pull-left float-left btn-link">Offers <span
          class="badge badge-pill badge-primary">{{summaryTotals.offers.total}}</span></div>
        <span class="float-right pull-right"><i class="fas fa-chevron-right"></i></span>
      </a>
      <a [routerLink]="['tenancies']" class="list-group-item list-group-item-action clearfix">
        <div class="pull-left float-left btn-link">Tenancies <span
          class="badge badge-pill badge-primary">{{summaryTotals.tenancies.total}}</span></div>
        <span class="float-right pull-right"><i class="fas fa-chevron-right"></i></span>
      </a>
      <a [routerLink]="['letting-managements']" class="list-group-item list-group-item-action clearfix">
        <div class="pull-left float-left btn-link">Letting Managements <span
          class="badge badge-pill badge-primary">{{summaryTotals.lettingsManagements}}</span></div>
        <span class="float-right pull-right"><i class="fas fa-chevron-right"></i></span>
      </a>
      <a [routerLink]="['home-managements']" class="list-group-item list-group-item-action clearfix">
        <div class="pull-left float-left btn-link">Home Managements <span
          class="badge badge-pill badge-primary">{{summaryTotals.homeManagements}}</span></div>
        <span class="float-right pull-right"><i class="fas fa-chevron-right"></i></span>
      </a>
    </div>
  </div>
</div>
