<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div class="row page-title">
    <div class="col">
      <h4 class="mb-0">Person</h4>
    </div>
    <div class="col-auto">
      <div class="btn-group" dropdown placement="bottom right">
        <button id="actionsToggle" dropdownToggle type="button" class="btn btn-light dropdown-toggle"
          aria-controls="actionsList">
          Actions <span class="caret"></span>
        </button>
        <ul id="actionsList" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
          aria-labelledby="actionsToggle">
          <li role="menuitem" *ngIf="searchedPersonDetails">
            <a class="dropdown-item" [routerLink]="['edit']">
              <span class="dropdown-icon">
                <i class="fas fa-edit fa-fw"></i>
              </span>
              Edit Person
            </a>
          </li>
          <li role="menuitem" *ngIf="searchedPersonDetails">
            <a class="dropdown-item" (click)="createNewContactGroup(); $event.stopPropagation()"
              [routerLink]="['people', 0]" [queryParams]="{isNewContactGroup: true}">
              <span class="dropdown-icon">
                <i class="fas fa-users"></i><i class="fas fa-plus fa-xs align-text-top"></i>
              </span>
              New Contact Group
            </a>
          </li>
          <li role="menuitem">
            <button type="button" class="dropdown-item" (click)="addNote()">
              <span class="dropdown-icon">
                <i class="fas fa-sticky-note fa-fw"></i>
              </span>
              Add Note
            </button>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" [routerLink]="['/leads-register/edit/', 0]"
              [queryParams]="{isNewLead: true, personId: personId}">
              <span class="dropdown-icon">
                <i class="fas fa-user"></i><i class="fas fa-share-alt fa-xs align-text-top"></i>
              </span>
              Create Lead
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col-xl-8">
      <h5>Detail</h5>
      <app-person-details [personDetails]="searchedPersonDetails" [isClickable]="false"></app-person-details>
      <div class="row mb-3">
        <div class="col-12">
          <h5>Contact groups</h5>
          <app-subnav>
            <app-subnav-item *ngFor="let searchedPersonContactGroup of searchedPersonContactGroups"
              [navLink]="'people/'+searchedPersonContactGroup.contactGroupId"
              [params]="{docTitle: 'Contact Group | '+searchedPersonDetails?.addressee,  showNotes: true}">
              <i class="fas fa-briefcase mr-2 fa-fw" *ngIf="searchedPersonContactGroup?.isCompany; else peopleIcon"></i>
              <ng-template #peopleIcon>
                <i class="fas fa-users mr-2 fa-fw"></i>
              </ng-template>
              <span class="d-inline-block mr-2 align-top">
                <ng-container
                  *ngFor="let contactPerson of searchedPersonContactGroup.contactPeople; last as isLast; first as isFirst">
                  <br class="d-sm-none" *ngIf="!isFirst" />
                  <ng-container *ngIf="contactPerson?.personId === searchedPersonDetails?.personId; else link">
                    {{contactPerson.addressee}}
                  </ng-container>
                  <ng-template #link>
                    <a [routerLink]="['../../../detail', contactPerson.personId ]" [queryParams]="{showNotes: true}"
                      (click)="$event.stopPropagation();">{{contactPerson.addressee}}</a>
                  </ng-template>
                  <ng-container *ngIf="!isLast">, </ng-container>
                </ng-container>
                <ng-container *ngIf="searchedPersonContactGroup?.isCompany">
                  <br class="d-sm-none" /><span
                    class="badge badge-pill badge-primary">{{searchedPersonContactGroup?.companyName}}</span>
                </ng-container>
              </span>
            </app-subnav-item>
            <a class="list-group-item list-group-item-action text-center py-4"
              (click)="createNewContactGroup(); $event.stopPropagation()" *ngIf="searchedPersonDetails"
              [routerLink]="['people', 0]" [queryParams]="{isNewContactGroup: true}">
              <span class="btn-link">
                <i class="fas fa-users"></i><i class="fas fa-plus fa-xs align-text-top"></i> New Contact Group
              </span>
            </a>
          </app-subnav>

        </div>
      </div>
      <div #spacer></div>
      <div class="sub-info mb-3" stickyThing [spacer]="spacer" marginTop="66">
        <h5>More Info</h5>
        <accordion [closeOthers]="true">
          <accordion-group *ngFor="let item of subNav">
            <button class="btn btn-link btn-block clearfix" accordion-heading type="button"  (click)="getMoreInfo(item)">
              <div class="pull-left float-left">
                {{item?.label}}
                <ng-container *ngIf="summaryTotals; else loadingInfo">
                  <ng-container *ngIf="isObject(summaryTotals[item?.value]); else simpleValue">
                    <span class="badge badge-pill badge-success mr-1"> {{summaryTotals[item?.value]?.active}} </span>
                    <span class="badge badge-pill badge-primary"> {{summaryTotals[item?.value]?.inactive}}</span>
                  </ng-container>
                  <ng-template #simpleValue>
                    <span class="badge badge-pill badge-primary"> {{summaryTotals[item?.value] || '0'}}</span>
                  </ng-template>
                </ng-container>
                <ng-template #loadingInfo>
                  <span class="badge badge-pill badge-primary"><i
                      class="fas fa-spinner fa-pulse d-inline-block"></i></span>
                </ng-template>
              </div>
              <span class="float-right pull-right" (click)="$event.stopPropgation()">
                <ng-container [ngSwitch]="item?.value">
                  <a [routerLink]="['/property-centre/detail', 0, 'edit']" [queryParams]="{isNewProperty: true, personId: searchedPersonDetails?.personId,  lastKnownPerson: personParams}" *ngSwitchCase="'properties'">Create</a>
                  <a [routerLink]="['/leads-register/edit/', 0]"
                  [queryParams]="{isNewLead: true, personId: personId}" *ngSwitchCase="'leads'">Create</a>
                </ng-container>
              </span>
            </button>
            <ng-container [ngSwitch]="item?.value">
              <app-shared-property-list *ngSwitchCase="'properties'" [moreInfo]="moreInfo" [personId]="searchedPersonDetails?.personId">
              </app-shared-property-list>
              <app-contactgroups-detail-instructions *ngSwitchCase="'instructions'" [moreInfo]="moreInfo"
                [personId]="searchedPersonDetails?.personId" [closedCounter]="summaryTotals?.instructions?.inactive"></app-contactgroups-detail-instructions>
                <app-shared-valuation-list *ngSwitchCase="'valuations'" [moreInfo]="moreInfo"
                [personId]="searchedPersonDetails?.personId" [closedCounter]="summaryTotals?.instructions?.inactive">
              </app-shared-valuation-list>
              <app-contactgroups-detail-offers *ngSwitchCase="'offers'" [moreInfo]="moreInfo" [personId]="searchedPersonDetails?.personId" [closedCounter]="summaryTotals?.offers?.inactive">
              </app-contactgroups-detail-offers>
              <app-contactgroups-detail-searches *ngSwitchCase="'searches'" [moreInfo]="moreInfo"
                [personId]="searchedPersonDetails?.personId" [closedCounter]="summaryTotals?.searches?.inactive"></app-contactgroups-detail-searches>
              <app-contactgroups-detail-lettings-managements *ngSwitchCase="'lettingsManagements'" [moreInfo]="moreInfo"
                [personId]="searchedPersonDetails?.personId" [moreInfo]="moreInfo" [closedCounter]="summaryTotals?.lettingsManagements?.inactive"></app-contactgroups-detail-lettings-managements>
              <app-contactgroups-detail-home-helper *ngSwitchCase="'homeHelpers'" [moreInfo]="moreInfo"
                [personId]="searchedPersonDetails?.personId" [closedCounter]="summaryTotals?.homeHelpers?.inactive"></app-contactgroups-detail-home-helper>
              <app-shared-lead-register *ngSwitchCase="'leads'" [moreInfo]="moreInfo" [personId]="searchedPersonDetails?.personId" [closedCounter]="summaryTotals?.leads?.inactive">
              </app-shared-lead-register>
            </ng-container>
          </accordion-group>
        </accordion>
      </div>
      <h5>Notes</h5>
      <app-notes [personNotes]="personNotes" [noteData]="dataNote" [showNotes]="showNotes" [pageNumber]="page" [bottomReached]="bottomReached">
      </app-notes>
    </div>
  </div>
</div>
<app-additional-info [id]="searchedPersonDetails?.personId ? 'P-'+searchedPersonDetails?.personId : ''"></app-additional-info>
