:host ::ng-deep accordion {
    .card-body {
        padding: 0;
    }

    .list-group-item {
        & > .row {
            margin: 0;

            & > .col, & > [class*="col-"] {
                padding: 0;
            }
        }
    }
} 