<form [formGroup]="smsForm" action="" class="text-left" (ngSubmit)="sendSMS()">
  <fieldset class="mb-3">
    To: <strong>{{data?.salutation}}</strong> - {{data?.number}}
    <input class="p-2" type="hidden" formControlName="personId">
    <input class="p-2" type="hidden" formControlName="phoneNumber" name="number">
  </fieldset>

  <fieldset class="mb-3">
    <label>{{header}}</label>
    <input class="p-2" type="hidden" formControlName="header">
  </fieldset>

  <fieldset class="mb-3" [ngClass]="{'invalid':formErrors.message}">
    <textarea class="p-2" formControlName="message" cols="30" rows="5" [maxlength]="smsMaxLength"
      placeholder="Message ..."></textarea>
    <p class="message message--negative">{{formErrors?.message}}</p>
    <small class="txt--right"
      [ngClass]="smsLength === smsMaxLength ? 'text-danger' : 'text-muted'">{{smsLength}}/{{smsMaxLength}}</small>
  </fieldset>

  <fieldset class="mb-3" [ngClass]="{'invalid':formErrors.senderName}">
    <label>Contact</label>
    <input class="p-2" type="text" id="user" formControlName="senderName" placeholder="Name">
    <p class="message message--negative">{{formErrors?.senderName}}</p>
  </fieldset>

  <fieldset class="mb-3" [ngClass]="{'invalid':formErrors.senderPhoneNumber}">
    <label>On</label>
    <input class="p-2" type="text" id="userNumber" formControlName="senderPhoneNumber" placeholder="Number">
    <p class="message message--negative">{{formErrors?.senderPhoneNumber}}</p>
  </fieldset>
  <footer class="footer footer--modal">
    <div class="btn--container">
      <button type="button" class="btn btn--ghost" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn--positive" [attr.disabled]="isSubmitting ? '' : null"><svg aria-hidden="true"
          width="64" height="64" viewBox="0 0 64 64" class="icon icon--onLeft">
          <path d="M2.2 57.8l60-25.7L2.2 6.4l0 20L45 32.1 2.1 37.8 2.2 57.8z" />
        </svg>Send SMS</button>
    </div>
  </footer>
</form>