<div class="rounded-sm border border-grey-100 p-2 cursor-pointer w-full py-2"
  [ngClass]="idHasExpired ? '':'border-red-500 bg-red-100'">
  <div *ngFor="let file of files" 
    class="flex flex-row content-center">
    <i class="fa fa-file tracking-normal text-gray-400 mr-1 mt-1"></i>
    <span class="mr-2 tracking-tight">
      {{file.label}}
    </span>
    <span *ngIf="documentType == 'ID'" [ngClass]="idHasExpired ? 'text-green-500':'text-red-500'">Exp {{file.expiryDate}}</span>
    <span class="flex" [pTooltip]="file.valid ? 'Report is Valid': 'Report is Invalid'">
      <span *ngIf="documentType == 'report'" class="w-3 h-3 mr-2 rounded-full mt-1 bg-red-200" [ngClass]="file.valid ? '': 'border-2 border-red-500'"></span>
      <span *ngIf="documentType == 'report'" class="w-3 h-3 rounded-full mt-1 bg-green-200" [ngClass]="file.valid ? 'border-2 border-green-500': ''"></span>
    </span>
    <span class="flex-1"></span>
    <span class="flex-1 text-right" [pTooltip]="'Upload Date'">{{file.uploadDate}}</span>
    <button (click)="deleteFile.emit({id:file.id})" [pTooltip]="'Delete Document'">
      <svg aria-hidden="true" width="40" height="40" viewBox="0 0 64 64" class="icon ml-2 text-gray-400">
        <path d="M11.4 56.1c0 3.8 3.1 6.9 6.9 6.9h27.4c3.8 0 6.9-3.1 6.9-6.9V14.8H11.4V56.1zM19.9 31.6l4.9-4.9L32 34l7.3-7.3 4.9 4.9 -7.3 7.3 7.3 7.3 -4.9 4.9L32 43.8l-7.3 7.3 -4.9-4.9 7.3-7.3L19.9 31.6zM44 4.4L40.6 1H23.4L20 4.4H8v6.9h48V4.4H44z"></path> 
      </svg>
    </button>
  </div>
  <button *ngIf="!files.length && documentType == 'ID' || documentType == 'report' || !files.length && documentType == 'proof-of-address' || documentType == 'additional-documents'" 
    (click)="openUploadDialog()"
    class="py-2">
    <i class="fa fa-upload" aria-hidden="true"></i>
    <span class="underline ml-2">{{label}}</span>
  </button>
</div>


<p-dialog header="Select File(s)" appendTo="body" [(visible)]="showFileUploadDialog" [modal]="true"
  [draggable]="false" class="modal--small modal--hasFooter">
  <div style="min-width:500px;min-height:400px">
    <div>
      <app-file-upload 
        [fileLimit]="fileLimit" 
        [fileType]="fileType" 
        (getFiles)="tmpFiles = $event">
      </app-file-upload>
    </div>
    <footer class="footer--modal">
      <div class="btn--container">
        <button type="button" class="btn btn--ghost" (click)="showFileUploadDialog = false">Cancel</button>
        <button type="button" class="btn btn--positive" (click)="setSelectedFile()" data-cy="addFiles">Select</button>
      </div>
    </footer>
  </div>
</p-dialog>