<div class="w-full border-0 border-grey-100 p-4 rounded-sm">
  <span class="pill text-white" [ngClass]="pillClass">{{ contact.pillLabel == 'lead' ? 'Lead Contact' : 'Associated Contact'  }}</span>
  <p class="text-lg tracking-normal mt-2 font-medium">{{ contact.name }}</p>
  <p class="txt--small text-grey w-full mt-1">
    <svg aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" class="icon icon--s icon--onLeft">
      <path d="M56 24c0 17.5-20.3 38-21.2 38.8C34 63.6 33 64 32 64c-1 0-2-0.4-2.8-1.2C28.3 62 8 41.5 8 24 8 10.8 18.8 0 32 0S56 10.8 56 24zM32 36c6.6 0 12-5.4 12-12 0-6.6-5.4-12-12-12s-12 5.4-12 12C20 30.6 25.4 36 32 36z" />
    </svg>
    {{ contact.address }}
  </p>

  <p class="font-medium -mb-2">Documents</p>
  <div class="flex flex-col md:flex-row gap-x-2 gap-y-2 w-100">
    <div class="w-100 md:w-1/2">
      <app-document-info
        [label]="contact.documents.idDoc.label"
        [documentType]="contact.documents.idDoc.documentType"
        [files]="contact.documents.idDoc.files">
      </app-document-info>
    </div>
    <div class="w-100 md:w-1/2">
      <app-document-info
        [label]="contact.documents.proofOfAddressDoc.label"
        [documentType]="contact.documents.proofOfAddressDoc.documentType"
        [files]="contact.documents.proofOfAddressDoc.files">
      </app-document-info>
    </div>
  </div>
  <div class="flex flex-col md:flex-row mt-2 gap-x-2 gap-y-2 w-100">
    <div class="w-100 md:w-1/2">
      <app-document-info
        [label]="contact.documents.reportDocs.label"
        [documentType]="contact.documents.reportDocs.documentType"
        [files]="contact.documents.reportDocs.files">
      </app-document-info>
    </div>
    <div class="w-100 md:w-1/2">
      <app-document-info
        [label]="contact.documents.additionalDocs.label"
        [documentType]="contact.documents.additionalDocs.documentType"
        [files]="contact.documents.additionalDocs.files">
      </app-document-info>
    </div>
  </div>
</div>