<div class="input-group">
  <input type="text" class="form-control form-control-sm" id="property" aria-describedby="emailHelp" placeholder="Property"
    value="96 Welbeck Gardens, London, SW12 3JF">
  <button class="btn btn-sm" type="button" id="addPropertyBtn" data-toggle="collapse" data-target="#addProperty">Add</button>
  <div class="collapse" data-parent="#addPropertyBtn" id="addProperty">
      <div class="form-group">
        <input type="text" class="form-control form-control-sm" id="flat" aria-describedby="emailHelp" placeholder="Flat number">
        <input type="text" class="form-control form-control-sm" id="house" aria-describedby="emailHelp" placeholder="House number">
        <input type="text" class="form-control form-control-sm" id="building" aria-describedby="emailHelp" placeholder="Building name">
        <input type="text" class="form-control form-control-sm" id="street" aria-describedby="emailHelp" placeholder="Street">
        <input type="text" class="form-control form-control-sm" id="addressline2" aria-describedby="emailHelp" placeholder="Address line 2">
        <input type="text" class="form-control form-control-sm" id="town" aria-describedby="emailHelp" placeholder="Town">
        <div class="input-group">
            <input type="text" class="form-control form-control-sm" maxlength="4" id="outcode" aria-describedby="emailHelp" placeholder="Outcode">
            <input type="text" class="form-control form-control-sm" maxlength="3" id="incode" aria-describedby="emailHelp" placeholder="Incode">
          </div>
      </div>
      <button type="button" class="btn btn-primary">Save</button>
  </div>
</div>