<div>
  <p-messages severity="warn" *ngIf="!isValid">
    <ng-template pTemplate>
      <div data-cy="landRegisterValidationMessage">Land Registry not yet completed
      </div>
    </ng-template>
  </p-messages>
  <div>
    <form class="mt-3" [formGroup]="landRegistryForm">
      <div class="flex flex-col md:flex-row">
        <div class="grid grid--50">
          <div class="flex flex-col">
            <fieldset [ngClass]="{'invalid': (showFileUploadForDeedError)}">
              <h1 class="mb-2 text-lg font-bold"> Title Deed </h1>
              <app-file-list [type]="'D'" [header]="'Title Deed'" [edgeFileList]="deedLandReg?.files" [fileLimit]="1"
                (getFileNames)="getFileNames($event)" [fileType]="fileType">
              </app-file-list>
              <p class="mt-2 message message--negative"> Please Upload Title Deed files</p>
            </fieldset>
          </div>
          <div class="mt-2">
            <fieldset [ngClass]="{'invalid': formErrors?.userEnteredOwner}">
              <label for="titleDeeds">Title Deed Owners</label>
              <input id="titleDeeds" class="p-2" type="text" formControlName="userEnteredOwner"
                [ngClass]="{'invalid': formErrors?.userEnteredOwner}">
              <p class="message message--negative"> {{formErrors?.userEnteredOwner}}</p>
            </fieldset>
          </div>
          <div class="mt-3">
            <fieldset [ngClass]="{'invalid': formErrors?.ownerConfirmed}">
              <span class="font-black">Is/Are[Contact Group] the legal owner(s) on the title deed?</span>
              <span id="ownerConfirmed" class="mt-2 radio radio--inline">
                <span>
                  <input class="p-2" type="radio" id="isLegalOwnerYes" value="1" name="ownerConfirmed"
                    formControlName="ownerConfirmed" data-cy="isLegalOwnerYes">
                  <label for="isLegalOwnerYes">Yes</label>
                </span>
                <span>
                  <input class="p-2" type="radio" id="isLegalOwnerNo" value="0" name="ownerConfirmed"
                    formControlName="ownerConfirmed" data-cy="isLegalOwnerNo">
                  <label for="isLegalOwnerNo">No</label>
                </span>
                <span>
                  <input class="p-2" type="radio" id="isLegalOwnerPartial" value="2" name="ownerConfirmed"
                    formControlName="ownerConfirmed" data-cy="isLegalOwnerPartial">
                  <label for="isLegalOwnerPartial">Partial Match (Name Change)</label>
                </span>
              </span>
              <p class="mt-2 message message--negative"> {{formErrors?.ownerConfirmed}}</p>
            </fieldset>
          </div>
        </div>

        <div class="grid grid--50 grid--dividerLeft">
          <div class="flex flex-col">
            <div>
              <fieldset [ngClass]="{'invalid': (showFileUploadForLeaseError)}">
                <h1 class="mb-2 text-lg font-bold"> Lease </h1>
                <app-file-list [type]="'L'" [edgeFileList]="leaseLandReg?.files" [header]="'Title Deed'" [fileLimit]="1"
                  (getFileNames)="getFileNames($event)" [fileType]="fileType">
                </app-file-list>
                <p class="mt-2 message message--negative"> Please Upload Lease files</p>
              </fieldset>
            </div>
            <div class="mt-2">
              <div class="flex flex-col md:flex-row">
                <fieldset [ngClass]="{'invalid': formErrors?.leaseExpiryDate}">
                  <label for="leaseExpiryDate">Lease expiry date</label>
                  <input class="w-48 p-2" type="text" id="leaseExpiryDate" placeholder="dd/mm/yyyy"
                    [ngClass]="{'invalid': formErrors?.leaseExpiryDate}"
                    [bsConfig]="{showWeekNumbers:false,  dateInputFormat: 'DD/MM/YYYY',minDate:todaysDate ,customTodayClass: 'font-weight-bold'}"
                    bsDatepicker formControlName="leaseExpiryDate">
                  <p class="message message--negative"> {{formErrors?.leaseExpiryDate}}</p>
                </fieldset>
                <p *ngIf="landRegistryForm.get('leaseExpiryDate').value" class="ml-8 pt-7">( {{leaseYear}} years
                  remaining)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>