<div class="tab-container">
  <div class="form-group float">
    <select [(ngModel)]="selectedPeriod" class="form-control" id="sel1">
      <option *ngFor='let periodOption of periodList' [value]='periodOption.key'>{{periodOption.value}}</option>
    </select>
  </div>
  <tabset>
    <tab heading="Me">
      <div class="no-gutters">
        <app-my-dashboard [myDashboard]='myDashboard' [period]='period'></app-my-dashboard>
      </div>
    </tab>
    <tab heading="Team">
      <div class="no-gutters">
        <app-team-dashboard [teamDashboard]='teamDashboard' [dashboardTotals]='dashboardTotals'
          [totalApplicants]='totalApplicants' [totalViewings]='totalViewings' [totalOffersAgreed]='totalOffersAgreed'
          [totalOffersReceived]='totalOffersReceived' [totalExchanges]='totalExchanges' [totalPipeline]='totalPipeline'>
        </app-team-dashboard>
      </div>
    </tab>
  </tabset>
</div>
 <!-- <label class="alert alert-info p-1 d-flex align-items-center justify-content-left">  Logged in user id is: {{staffMemberId}} and email address is: {{email}}</label> -->