<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="me-tab" data-toggle="tab" href="#me" role="tab" aria-controls="me" aria-selected="true">Me</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="team-tab" data-toggle="tab" href="#team" role="tab" aria-controls="team" aria-selected="false">Team</a>
  </li>
  <li>
    <div class="form-group">
      <select class="form-control" id="sel1">
        <option>This week</option>
        <option selected>This month</option>
        <option>This quarter</option>
        <option>This year</option>
      </select>
    </div>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="me" role="tabpanel" aria-labelledby="me-tab">
    <div class="no-gutters">
      <app-my-dashboard></app-my-dashboard>
    </div>
  </div>
  <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
    <div class="no-gutters">
      <app-team-dashboard></app-team-dashboard>
    </div>
  </div>
</div>

