  <div class="row page-title justify-content-end mb-0 pb-0 mt-2">
    <div class="col-12">
      <div class="input-group">
        <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="Search"
          aria-label="Search criteria">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button" id="button-search">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-link px-0" (click)="isAdvSearchCollapsed = !isAdvSearchCollapsed"
        [attr.aria-expanded]="!isAdvSearchCollapsed" aria-controls="collapseBasic">Advanced Search
      </button>
    </div>

    <div class="col-12" id="collapseBasic" [collapse]="!isAdvSearchCollapsed">
      <div class="row mt-1 mb-2">
        <div class="col-sm-6">
          <div class="input-group">
            <select [(ngModel)]="minPrice" class="custom-select" name="minPrice" id="minPrice">
              <option value="0">Min Price</option>
              <option *ngFor="let salePrice of priceRangeSale" [value]='salePrice'>{{salePrice | currency: 'GBP'}}</option>
            </select>
            <select  [(ngModel)]="maxPrice" class="custom-select" name="maxPrice" id="maxPrice">
              <option value="0">Max Price</option>
              <option *ngFor="let salePrice of priceRangeSale" [value]='salePrice'>{{salePrice | currency: 'GBP'}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6 mt-2 mt-sm-0">
          <div class="input-group">
            <select  class="custom-select" name="minBedrooms" id="minBedrooms">
              <option value="0">Min Bedrooms</option>
              <option *ngFor="let bedroom of bedroomValues" [value]='bedroom.id' > {{bedroom.name}}</option>
            </select>
            <!-- <select class="custom-select" name="maxBedrooms" id="maxBedrooms">
              <option value="0">Max Bedrooms</option>
              <option *ngFor="let bedroom of bedroomValues" [value]='bedroom.id' > {{bedroom.name}}</option>
            </select> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="allInstructions; then  instructionsList">
  </ng-container>
  <ng-template #instructionsList>
    <div class="list-group">
      <div class="list-group-item list-header d-none d-sm-block border-top-0 border-bottom rounded-0 m-0">
        <div class="row">
          <div class="col-sm-3"><strong>Address</strong></div>
          <div class="col-sm"><strong>Contact group</strong></div>
          <div class="col-sm"><strong>Value</strong></div>
          <div class="col-sm"><strong>Status</strong></div>
          <div class="col-sm"><strong>Date</strong></div>
        </div>
      </div>
      <div class="list-group-item text-center text-danger border-top-0" *ngIf="!allInstructions">
        <i class="far fa-sad-tear"></i> No Instructions {{period}}
      </div>
      <!-- <a routerLink="/home" class="list-group-item list-group-item-action" *ngFor="let instruction of allInstructions; first as isFirst" [ngClass]="{'border-top-0':isFirst}"> -->
      <a routerLink="/home" class="list-group-item list-group-item-action" *ngFor="let instruction of filteredInstructions; first as isFirst" [ngClass]="{'border-top-0':isFirst}">
        <div class="row align-items-end align-items-sm-center">
          <div class="col-sm-3">
            <dl class="row">
              <dt class="col-4 d-sm-none">Address</dt>
              <dd class="col">{{ instruction.propertyAddress }}</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Contact group</dt>
              <dd class="col">{{ instruction.contactGroupAddressee }}</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Value</dt>
              <dd class="col">{{ instruction.salesValue || instruction.shortLetValue || instruction.longLetValue  | currency: "GBP" }}</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Status</dt>
              <dd class="col">{{ instruction.status }}</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Date</dt>
              <dd class="col">{{ instruction.instructedDate | date: 'EEE d MMM y' }}</dd>
            </dl>
          </div>
        </div>
      </a>
    </div>
  </ng-template>
  <!-- <ng-template #bddTickets>
    <div class="list-group">
      <div class="list-group-item list-header d-none d-sm-block border-top-0">
        <div class="row">
          <div class="col-sm-3"><strong>Address</strong></div>
          <div class="col-sm"><strong>Sales</strong></div>
          <div class="col-sm"><strong>Lettings</strong></div>
          <div class="col-sm"><strong>Status</strong></div>
          <div class="col-sm"><strong>Date</strong></div>
        </div>
      </div>
      <div class="list-group-item text-center text-danger" *ngIf="!valuations">
        <i class="far fa-sad-tear"></i> No Valuations {{period}}
      </div>
      <a routerLink="/home" class="list-group-item list-group-item-action" *ngFor="let valuation of valuations">
        <div class="row align-items-end align-items-sm-center">
          <div class="col-sm-3">
            <dl class="row">
              <dt class="col-4 d-sm-none">Address</dt>
              <dd class="col">{{ valuation.propertyAddress }}</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Sales</dt>
              <dd class="col">{{ valuation?.salesValue | currency: "GBP" }}</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Lettings</dt>
              <dd class="col">{{ valuation?.shortLetValue || valuation?.longLetValue  | currency: "GBP" }}</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Status</dt>
              <dd class="col">{{ valuation.saleStatus || valuation.saleStatus }}</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Date</dt>
              <dd class="col">{{ valuation.valuationDate | date: 'EEE d MMM y' }}</dd>
            </dl>
          </div>
        </div>
      </a>
    </div>
  </ng-template> -->

