<!-- <app-breadcrumb></app-breadcrumb> -->
<div class="container pb-3">
  <div class="row page-title mb-0">
    <!-- <div class="col">
      <h4 class="m-0"><span class="text-secondary">#</span> Title</h4>
    </div> -->
    <!-- <div class="col-auto">
      <select [(ngModel)]="selectedPeriod" class="custom-select" id="sel1">
        <option *ngFor='let periodOption of periodList' [value]='periodOption.key'>{{periodOption.value}}</option>
      </select>
    </div> -->
  </div>
  <ng-container *ngIf="allInstructions; then  instructionsList">
  </ng-container>
  <ng-template #instructionsList>
    <div class="list-group">
      <div class="list-group-item list-header d-none d-sm-block border-top-0">
        <div class="row">
          <div class="col-sm-3"><strong>Address</strong></div>
          <div class="col-sm"><strong>Contact group</strong></div>
          <div class="col-sm"><strong>Value</strong></div>
          <div class="col-sm"><strong>Status</strong></div>
          <div class="col-sm"><strong>Date</strong></div>
        </div>
      </div>
      <div class="list-group-item text-center text-danger" *ngIf="!allInstructions">
        <i class="far fa-sad-tear"></i> No Instructions {{period}}
      </div>
      <a routerLink="/home" class="list-group-item list-group-item-action" *ngFor="let instruction of allInstructions">
        <div class="row align-items-end align-items-sm-center">
          <div class="col-sm-3">
            <dl class="row">
              <dt class="col-4 d-sm-none">Address</dt>
              <dd class="col">{{ instruction.propertyAddress }}</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Contact group</dt>
              <dd class="col">{{ instruction.contactGroupAddressee }}</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Value</dt>
              <dd class="col">{{ instruction.salesValue || instruction.shortLetValue || instruction.longLetValue  | currency: "GBP" }}</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Status</dt>
              <dd class="col">{{ instruction.status }}</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Date</dt>
              <dd class="col">{{ instruction.instructedDate | date: 'EEE d MMM y' }}</dd>
            </dl>
          </div>
        </div>
      </a>
    </div>
  </ng-template>
  <!-- <ng-template #bddTickets>
    <div class="list-group">
      <div class="list-group-item list-header d-none d-sm-block border-top-0">
        <div class="row">
          <div class="col-sm-3"><strong>Address</strong></div>
          <div class="col-sm"><strong>Sales</strong></div>
          <div class="col-sm"><strong>Lettings</strong></div>
          <div class="col-sm"><strong>Status</strong></div>
          <div class="col-sm"><strong>Date</strong></div>
        </div>
      </div>
      <div class="list-group-item text-center text-danger" *ngIf="!valuations">
        <i class="far fa-sad-tear"></i> No Valuations {{period}}
      </div>
      <a routerLink="/home" class="list-group-item list-group-item-action" *ngFor="let valuation of valuations">
        <div class="row align-items-end align-items-sm-center">
          <div class="col-sm-3">
            <dl class="row">
              <dt class="col-4 d-sm-none">Address</dt>
              <dd class="col">{{ valuation.propertyAddress }}</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Sales</dt>
              <dd class="col">{{ valuation?.salesValue | currency: "GBP" }}</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Lettings</dt>
              <dd class="col">{{ valuation?.shortLetValue || valuation?.longLetValue  | currency: "GBP" }}</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Status</dt>
              <dd class="col">{{ valuation.saleStatus || valuation.saleStatus }}</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Date</dt>
              <dd class="col">{{ valuation.valuationDate | date: 'EEE d MMM y' }}</dd>
            </dl>
          </div>
        </div>
      </a>
    </div>
  </ng-template> -->
</div>

