<div class="row">
  <div class="row__item row__item--aside">
    <div class="card">
      <div class="card__body card__body--avatar">
        <span class="avatar avatar--l">
          <img [src]="selectedMember?.photoUrl" alt="" *ngIf="selectedMember?.photoUrl;"></span>
          <span class="h4 txt--rankings">
            <p>{{selectedMember?.name}}</p>
            <p class="txt--warning">{{selectedMember?.totalPoints}} <small class="txt--midnight-30">Total Points</small></p>
          </span>
      </div>
    </div>
    <app-admin-panel-list [members]="members$|async" (showRules)="showRules = true" (selectedMember)="getSelectedMember($event, 'list')"></app-admin-panel-list>
  </div>
  <div class="row__item">
    <app-admin-panel-details [member]="selectedMember" (updatedTeamMember)="getSelectedMember($event)"></app-admin-panel-details>
  </div>
</div>


<!-- Rules component -->
<p-dialog header="Rules" [(visible)]="showRules" [modal]="true" [draggable]="false" [blockScroll]="true" class="modal--small modal--hasFooter">
  <app-rules (hideModal)="showRules=false"></app-rules>
</p-dialog>