<div class="row">
  <div class="row__item row__item--aside">
    <div class="card">
      <div class="card__body">
       <span class="avatar"> <img [src]="selectedMember?.photoUrl" alt="" *ngIf="selectedMember?.photoUrl;"></span>
        <span>{{selectedMember?.name}}</span>
      </div>
    </div>
    <app-admin-panel-list [members]="members$|async" (showRules)="showRules = true"></app-admin-panel-list>
  </div>
  <div class="row__item">
    <app-admin-panel-details [member]="selectedMember"></app-admin-panel-details>
  </div>
</div>