<div class="container-fluid">
    <div class="row hoverDiv" style="background-color: chocolate" >
      <div class="col-md-auto">
        <p>
          <span style="font-weight: bold">John Smith</span>
          <br>Michael Brown, Wendy McTavish
          <br>Susan Smith</p>
      </div>
      <div class="col">
        <p><a href="tel:+447808773822">07808 773822</a></p>
      </div>
      <div class="col">
        <p>jsmith@gmail.com</p>
      </div>
    </div>
    <div class="row hoverDiv">
      <div class="col-md-auto">
        <p>
          <span style="font-weight: bold">Susan Smith</span>
          <br>John Smith</p>
      </div>
      <div class="col">
        <p>07809 456785</p>
      </div>
      <div class="col">
        <p>jsmith@gmail.com</p>
      </div>
    </div>
    <div class="row hoverDiv">
      <div class="col-md-auto">
        <p>
          <span style="font-weight: bold">Jane Smith</span>
        </p>
      </div>
      <div class="col">
        <p>07229 432418</p>
      </div>
      <div class="col">
        <p>janesmith@gmail.com</p>
      </div>
    </div>

  </div>