<app-breadcrumb [title]="lead?.leadId ? 'L-'+lead?.leadId : ''"></app-breadcrumb>
<div class="container">
  <div class="row page-title">
    <div class="col">
      <h4 class="m-0">Lead <span class="badge badge-pill badge-danger" *ngIf="lead?.closedById">Closed</span></h4>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-danger" (click)="closeLeadClicked()" *ngIf="lead && !lead?.closedById">Close
        Lead</button>
    </div>
  </div>
  <form [formGroup]="leadEditForm" (ngSubmit)="updateLead()">
    <div class="row align-items-start">
      <div class="col-xl-8">
        <div class="row mb-4">
          <div class="col-lg">
            <div class="form-group">
              <label for="type">Type</label>
              <select class="custom-select custom-select-sm" id="leadType" formControlName="leadTypeId">
                <option value=""></option>
                <option selected *ngFor="let leadType of leadTypes" [value]=leadType.id>{{leadType?.value}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg">
            <div class="form-group">
              <label for="chaseDate">Next chase date</label>
              <input type="text" id="chaseDate" placeholder="dd/mm/yyyy" class="form-control form-control-sm"
                formControlName="nextChaseDate"
                [bsConfig]="{showWeekNumbers:false, dateInputFormat: 'DD/MM/YYYY', customTodayClass: 'font-weight-bold'}"
                bsDatepicker>
            </div>
          </div>
          <div class="col-lg">
            <div class="form-group">
              <label for="chaser">Lead Owner</label>
              <!-- <select class="custom-select custom-select-sm" id="owner" formControlName="ownerId">
                <option value=""></option>
                <option selected *ngFor="let staffMember of staffMembers" [value]=staffMember.staffMemberId>
                  {{staffMember?.fullName}}</option>
              </select> -->
              <app-staffmember-finder [staffMember] = "leadOwner" (ownerChanged)="onOwnerChanged($event)"></app-staffmember-finder>
            </div>
          </div>
        </div>
        <h5>Person</h5>
        <div class="list-group mb-4">
          <app-person-details [personDetails]="person"></app-person-details>
        </div>
        <h5>Notes</h5>
        <!-- <app-notes [personNotes]="personNotes"></app-notes> -->
        <app-notes [personNotes]="personNotes" [noteData]="dataNote" [pageNumber]="page"
          [bottomReached]="bottomReached"></app-notes>
      </div>
      <div class="col-xl-4 aside sticky-top-xl">
        <div class="mb-5">
          <h5>Quick links</h5>
          <accordion class="sub-info" [closeOthers]="true">
            <accordion-group *ngFor="let item of subNav">
              <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                <div class="pull-left float-left">
                  {{item?.label}}
                  <ng-container *ngIf="summaryTotals; else loadingInfo">
                    <ng-container *ngIf="isObject(summaryTotals[item?.value]); else simpleValue">
                      <span class="badge badge-pill badge-success mr-1"> {{summaryTotals[item?.value]?.active}} </span>
                      <span class="badge badge-pill badge-primary"> {{summaryTotals[item?.value]?.total}}</span>
                    </ng-container>
                    <ng-template #simpleValue>
                      <span class="badge badge-pill badge-primary"> {{summaryTotals[item?.value] || '0'}}</span>
                    </ng-template>
                  </ng-container>
                  <ng-template #loadingInfo>
                    <span class="badge badge-pill badge-primary"><i
                        class="fas fa-spinner fa-pulse d-inline-block"></i></span>
                  </ng-template>
                </div>
                <span class="badge badge-secondary float-right pull-right"></span>
              </button>
              <ng-container [ngSwitch]="item?.value">
                <!-- <app-contactgroups-detail-instructions *ngSwitchCase="'instructions'" [personId]="person?.personId"></app-contactgroups-detail-instructions> -->
              </ng-container>
            </accordion-group>
          </accordion>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <div class="container px-lg-4">
        <div class="row justify-content-end w-100 no-gutters">
          <div class="col-sm-10 d-flex">

            <button (click)="cancel()" type="button" class="btn btn-light mr-2">Cancel</button>
            <button type="submit" class="btn btn-secondary mr-2">Save</button>
            <button (click)="moveToNextLead()" type="button" class="btn btn-success btn-default">Next</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>