<app-breadcrumb [title]="lead?.leadId ? 'L-'+lead?.leadId : ''"></app-breadcrumb>
<div class="container">
  <div class="row page-title">
    <div class="col">
      <h4 class="m-0">Lead <span class="badge badge-pill badge-danger" *ngIf="lead?.closedById">Closed</span></h4>
    </div>
    <!-- <div class="col-auto">
      <button type="button" class="btn btn-danger" (click)="closeLeadClicked()" *ngIf="lead && !lead?.closedById">Close
        Lead</button>
    </div> -->
  </div>
  <form [formGroup]="leadEditForm" (ngSubmit)="updateLead(true, leadNote)">
    <div class="row align-items-start" >
      <div class="col-xl-8">
        <h5>Person</h5>
        <app-person-details *ngIf="person" [personDetails]="person"></app-person-details>
        <div #spacer></div>
        <div stickyThing [spacer]="spacer" marginTop="66">
          <h5>More Info</h5>
          <accordion class="sub-info" [closeOthers]="true">
            <accordion-group *ngFor="let item of subNav">
              <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                <div class="pull-left float-left">
                  {{item?.label}}
                  <ng-container *ngIf="summaryTotals; else loadingInfo">
                    <ng-container *ngIf="isObject(summaryTotals[item?.value]); else simpleValue">
                      <span class="badge badge-pill badge-success mr-1"> {{summaryTotals[item?.value]?.active}} </span>
                      <span class="badge badge-pill badge-primary"> {{summaryTotals[item?.value]?.total}}</span>
                    </ng-container>
                    <ng-template #simpleValue>
                      <span class="badge badge-pill badge-primary"> {{summaryTotals[item?.value] || '0'}}</span>
                    </ng-template>
                  </ng-container>
                  <ng-template #loadingInfo>
                    <span class="badge badge-pill badge-primary"><i
                        class="fas fa-spinner fa-pulse d-inline-block"></i></span>
                  </ng-template>
                </div>
                <span class="float-right pull-right" (click)="$event.stopPropagation()">
                  <ng-container [ngSwitch]="item?.value">
                    <a [routerLink]="['/property-centre/detail', 0, 'edit']" [queryParams]="{isNewProperty: true, lastKnownPerson: personParams}" *ngSwitchCase="'properties'">Add</a>
                  </ng-container>
                </span>
              </button>
              <ng-container [ngSwitch]="item?.value">
                <app-shared-property-list *ngSwitchCase="'properties'" [personId]="person?.personId">
                </app-shared-property-list>
                <app-contactgroups-detail-instructions *ngSwitchCase="'instructions'" [personId]="person?.personId">
                </app-contactgroups-detail-instructions>
                <app-contactgroups-detail-offers *ngSwitchCase="'offers'" [personId]="person?.personId">
                </app-contactgroups-detail-offers>
                <app-contactgroups-detail-searches *ngSwitchCase="'searches'" [personId]="person?.personId">
                </app-contactgroups-detail-searches>
                <app-contactgroups-detail-lettings-managements *ngSwitchCase="'lettingsManagements'"
                  [personId]="person?.personId"></app-contactgroups-detail-lettings-managements>
                <app-contactgroups-detail-home-helper *ngSwitchCase="'homeHelpers'" [personId]="person?.personId">
                </app-contactgroups-detail-home-helper>
              </ng-container>
            </accordion-group>
          </accordion>
        </div>
        <div class="mb-3"></div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <div class="custom-control custom-checkbox">              
                <input type="checkbox" class="custom-control-input" id="closeLead" formControlName="closeLead" [attr.disabled] = "lead?.closedById ? true : null">
                <label class="custom-control-label" for="closeLead">Mark as <span class="badge badge-pill badge-danger">Closed</span></label>
              </div>
            </div>
          </div>
          <div class="col-lg">
            <div class="form-group">
              <label for="type">Type</label>
              <select class="custom-select custom-select-sm" id="leadType" formControlName="leadTypeId" [attr.disabled] = "lead?.closedById ? true : null">
                <option value=""></option>
                <option selected *ngFor="let leadType of leadTypes" [value]=leadType.id>{{leadType?.value}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg">
            <div class="form-group">
              <label for="chaseDate">Next chase date</label>
              <input type="text" id="chaseDate" placeholder="dd/mm/yyyy" class="form-control form-control-sm"
                formControlName="nextChaseDate"
                [bsConfig]="{showWeekNumbers:false, dateInputFormat: 'DD/MM/YYYY', customTodayClass: 'font-weight-bold'}"
                bsDatepicker [attr.disabled] = "lead?.closedById ? true : null">
            </div>
          </div>
          <div class="col-lg">
            <div class="form-group">
              <label for="chaser">Lead Owner</label>
              <!-- <select class="custom-select custom-select-sm" id="owner" formControlName="ownerId">
                <option value=""></option>
                <option selected *ngFor="let staffMember of staffMembers" [value]=staffMember.staffMemberId>
                  {{staffMember?.fullName}}</option>
              </select> -->
              <app-staffmember-finder [staffMember]="leadOwner" (ownerChanged)="onOwnerChanged($event)" [isDisabled] = "lead?.closedById ? true : false">
              </app-staffmember-finder>
            </div>
          </div>
        </div>
        <h5>Notes</h5>
        <!-- <app-notes [personNotes]="personNotes"></app-notes> -->
        <div class="list-group">
          <div class="list-group-item add-note py-4">
            <app-lead-note #leadNote [selectedPerson] = "person" [isDisabled] = "lead?.closedById ? true : false"  [noteRequiredWarning] = "noteRequiredWarning"></app-lead-note>
          </div>
        </div>
        <app-notes [personNotes]="personNotes" [person]="person" [noteData]="dataNote" [addressees]="addressees"
          [pageNumber]="page" [bottomReached]="bottomReached" [showNoteInput]="false"></app-notes>
      </div>
      <!-- <div class="col-xl-4 aside sticky-top-xl">
        <div class="mb-5">

        </div>
      </div> -->
    </div>

    <div class="form-actions">
      <div class="container px-lg-4">
        <div class="row justify-content-end w-100 no-gutters">
          <div class="col-sm-10 d-flex">

            <button (click)="cancel()" type="button" class="btn btn-light mr-2">Cancel</button>
            <button type="submit" class="btn btn-secondary mr-2">Save</button>

            <button (click)="moveToNextLead()" type="button" class="btn btn-secondary" [isOpen]="leadsListCompleted"
              [tooltip]="leadsListCompleted ? 'You have reached the end of the list' : null">Save & Next</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>