<app-breadcrumb></app-breadcrumb>
<div class="container main">
  <h4 class="page-title">
    <ng-container *ngIf="isNewCompany; else editLabel">New</ng-container>
    <ng-template #editLabel>Edit</ng-template> Company
  </h4>
  <ng-container *ngIf="companyDetails || isNewCompany">
    <form [formGroup]="companyForm" (ngSubmit)="saveCompany()" autocompleteOff>
      <fieldset>
        <app-company-finder [existingCompany]="companyDetails" [companyNameError]="formErrors.companyName"
          (companyName)="getCompanyName($event)" (selectedCompanyDetails)="navigateToCompany($event)">
        </app-company-finder>
        <div class="row justify-content-end">
          <div class="col-sm-8 col-xl-6">
            <input type="hidden" id="companyName" class="form-control" formControlName="companyName">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-3 offset-sm-2">
            <label for="companyType" class="small">Company Type</label>
            <select class="custom-select custom-select-sm" id="companyType" formControlName="companyTypeId">
              <option *ngFor="let type of companyTypes" [value]=type.id>{{type.value}}</option>
            </select>
          </div>
        </div>
        <app-signer (selectedSigner)="getSelectedSigner($event)" (newSigner)="createNewSigner($event)"
          [existingSigner]="existingSigner"></app-signer>
        <div class="form-group row">
          <div class="col-sm-3 offset-sm-2">
            <label for="amlDate" class="small">AML Completed</label>
            <div class="input-group input-group-sm">
              <input type="text" id="amlDate" placeholder="dd/mm/yyyy" class="form-control fake-readonly"
                formControlName="amlCompletedDate"
                [bsConfig]="{showWeekNumbers:false, dateInputFormat: 'DD/MM/YYYY', maxDate:todaysDate, customTodayClass: 'font-weight-bold'}"
                bsDatepicker
                #datepicker="bsDatepicker"
                [appNoDoubleTap]='datepicker'  
                readonly>
              <div class="input-group-append" *ngIf="companyForm.value.amlCompletedDate">
                <button type="button" class="btn btn-light"
                  (click)="clearControlValue(companyForm.get('amlCompletedDate'))">
                  Clear
                </button>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend class="fieldset-title">Address</legend>
        <app-address [companyDetails]="companyDetails" (addressDetails)="getAddress($event)"></app-address>
      </fieldset>
      <fieldset>
        <legend class="fieldset-title">Contact Details</legend>
        <div class="row">
          <div class="col-sm-8 col-xl-6 offset-sm-2">
            <div class="form-group">
              <label for="companyTelephone" class="small">Telephone</label>
              <input type="text" id="companyTelephone" placeholder="" class="form-control form-control-sm"
                  formControlName="telephone" [ngClass]="{'is-invalid':formErrors.telephone}">
                <span class="invalid-feedback">{{formErrors?.telephone}}</span>
            </div>
            <div class="form-group">
              <label for="companyFax" class="small">Fax</label>
              <input type="text" id="companyFax" placeholder="" class="form-control form-control-sm"
                  formControlName="fax" [ngClass]="{'is-invalid':formErrors.fax}">
                <span class="invalid-feedback">{{formErrors?.fax}}</span>
            </div>
            <div class="form-group">
              <label for="companyWebsite" class="small">Website</label>
              <input type="text" id="companyWebsite" placeholder="" class="form-control form-control-sm"
                  formControlName="website">
            </div>
            <div class="form-group">
              <label for="companyEmail" class="small">Email</label>
              <input type="text" id="companyEmail" placeholder="" class="form-control form-control-sm"
                  formControlName="email" [ngClass]="{'is-invalid':formErrors.email}">
                <span class="invalid-feedback">{{formErrors?.email}}</span>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="form-actions">
        <div class="container">
          <div class="row justify-content-end w-100 no-gutters">
            <div class="col-sm-10 d-flex">
              <button (click)="cancel()" type="button" class="btn btn-light mr-2">Cancel</button>
              <button type="submit" class="btn btn-secondary" [attr.disabled]="isSubmitting ? '' : null"><i
                  class="fas fa-spinner fa-pulse d-inline-block mr-2" *ngIf="isSubmitting"></i>Save</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</div>
<app-additional-info [id]="companyDetails?.companyId ? 'CO-'+companyDetails?.companyId : ''"></app-additional-info>