<app-breadcrumb></app-breadcrumb>
<div class="container">
  <h4 class="page-title"><ng-container *ngIf="isNewCompany; else editLabel">New</ng-container><ng-template #editLabel>Edit</ng-template> Company</h4>
  <div class="text-center" *ngIf="!companyDetails && !isNewCompany">
    <i class="fas fa-spinner fa-pulse d-inline-block"></i> Loading details ...
  </div>
  <ng-container *ngIf="companyDetails || isNewCompany">
    <form [formGroup]="companyForm" (ngSubmit)="saveCompany()">
      <fieldset>
        <legend>Company</legend>
        <div class="form-group row">
          <label for="companyName" class="col-sm-2 col-form-label col-form-label-sm">Company Name</label>
          <div class="col-sm-10">
            <input type="text" id="companyName" class="form-control form-control-sm" formControlName="companyName" [ngClass]="{'is-invalid':formErrors.companyName}">
            <span class="invalid-feedback">{{formErrors?.companyName}}</span>
          </div>
        </div>
        <div class="form-group row">
          <label for="companyType" class="col-sm-2 col-form-label col-form-label-sm">Company Type</label>
          <div class="col-sm-3">
            <select class="custom-select custom-select-sm" id="companyType" formControlName="companyTypeId">
              <option *ngFor="let type of companyTypes" [value]=type.id>{{type.value}}</option>
            </select>
          </div>
        </div>
        <!-- <div class="form-group row">
          <label for="signer" class="col-sm-2 col-form-label col-form-label-sm">Signers</label>
          <div class="col-sm-10">
            <input type="text" id="signer" class="form-control form-control-sm" formControlName="signer">
          </div>
        </div> -->
        <app-signer (selectedSigner)="getSelectedSigner($event)" [existingSigner]="existingSigner"></app-signer>
      </fieldset>
      <fieldset>
        <legend>Office Address</legend>
        <app-address [companyDetails]="companyDetails" (addressDetails)="getAddress($event)"></app-address>
      </fieldset>
      <fieldset>
        <legend>Office Contact Details</legend>
        <div class="form-group row">
          <label for="companyTelephone" class="col-sm-2 col-form-label col-form-label-sm">Telephone</label>
          <div class="col-sm-10">
            <input type="text" id="companyTelephone" placeholder="" class="form-control form-control-sm" formControlName="telephone" [ngClass]="{'is-invalid':formErrors.telephone}">
            <span class="invalid-feedback">{{formErrors?.telephone}}</span>
          </div>
        </div>
        <div class="form-group row">
          <label for="companyFax" class="col-sm-2 col-form-label col-form-label-sm">Fax</label>
          <div class="col-sm-10">
            <input type="text" id="companyFax" placeholder="" class="form-control form-control-sm" formControlName="fax" [ngClass]="{'is-invalid':formErrors.fax}">
            <span class="invalid-feedback">{{formErrors?.fax}}</span>
          </div>
        </div>
        <div class="form-group row">
          <label for="companyWebsite" class="col-sm-2 col-form-label col-form-label-sm">Website</label>
          <div class="col-sm-10">
            <input type="text" id="companyWebsite" placeholder="" class="form-control form-control-sm" formControlName="website">
          </div>
        </div>
        <div class="form-group row">
          <label for="companyEmail" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
          <div class="col-sm-10">
            <input type="text" id="companyEmail" placeholder="" class="form-control form-control-sm" formControlName="email" [ngClass]="{'is-invalid':formErrors.email}">
            <span class="invalid-feedback">{{formErrors?.email}}</span>
          </div>
        </div>
      </fieldset>
      <div class="form-actions">
        <div class="container px-lg-4">
          <div class="row justify-content-end w-100 no-gutters">
            <div class="col-sm-10 d-flex">
              <button (click)="cancel()" type="button" class="btn btn-light mr-2">Cancel</button>
              <button type="submit" class="btn btn-secondary">Save</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</div>
