//overrides
@import "style/bootstrap-overrides";

//bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

//partials
@import "style/partials/nav";

html {
    @include media-breakpoint-down(sm) {
        font-size: 0.85rem;
    }
}

a:not(:disabled) {
    cursor: pointer;
}

.list-group-item-action {
    cursor: pointer;
}