<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div class="row page-title mb-0">
    <div class="col">
      <h4 class="mb-0">Property Detail</h4>
    </div>
  </div>
  <div class="text-center py-3" *ngIf="!searchedPropertyDetails">
    <i class="fas fa-spinner fa-pulse d-inline-block"></i> Loading info ...
  </div>
 
  <div class="bg-light border border-top-0 mb-4">
    <div class="row mx-0 py-3" *ngIf="searchedPropertyDetails">
      <div class="col-12">
        <p class="m-0">
          <strong>{{searchedPropertyDetails?.address | formatAddress}}</strong>
        </p>
      </div>
    </div>
  </div>
  <h5>Info</h5>
    <div class="list-group">
      <a [routerLink]="['sales-lettings']" class="list-group-item list-group-item-action clearfix">
        <div class="pull-left float-left btn-link">Sales/Lettings <span
          class="badge badge-pill badge-primary">0</span></div>
        <span class="float-right pull-right"><i class="fas fa-chevron-right"></i></span>
      </a>
      <a [routerLink]="['offers']" class="list-group-item list-group-item-action clearfix">
        <div class="pull-left float-left btn-link">Offers <span
          class="badge badge-pill badge-primary">0</span></div>
        <span class="float-right pull-right"><i class="fas fa-chevron-right"></i></span>
      </a>
      <a [routerLink]="['notes']" class="list-group-item list-group-item-action clearfix">
        <div class="pull-left float-left btn-link">Notes <span
          class="badge badge-pill badge-primary">0</span></div>
        <span class="float-right pull-right"><i class="fas fa-chevron-right"></i></span>
      </a>
      <a [routerLink]="['documents']" class="list-group-item list-group-item-action clearfix">
        <div class="pull-left float-left btn-link">Documents <span
          class="badge badge-pill badge-primary">0</span></div>
        <span class="float-right pull-right"><i class="fas fa-chevron-right"></i></span>
      </a>
      <a [routerLink]="['map']" class="list-group-item list-group-item-action clearfix">
        <div class="pull-left float-left btn-link">Map</div>
        <span class="float-right pull-right"><i class="fas fa-chevron-right"></i></span>
      </a>
      <a [routerLink]="['photos']" class="list-group-item list-group-item-action clearfix">
        <div class="pull-left float-left btn-link">Photos</div>
        <span class="float-right pull-right"><i class="fas fa-chevron-right"></i></span>
      </a>
    </div>
</div>
