<div class="container-fluid home-container pt-sm-3" [ngClass]="containerClass" (panend)="onPanEnd($event)" (panleft)="navRightHint($event)" (panright)="navLeftHint($event)">
  <tabset type="pills" #homeTabs>
    <tab (select)="onSelect($event)">
        <ng-template tabHeading>
          <i class="fas fa-th-large"></i><span class="nav-label">Dashboard</span>
        </ng-template>
        <app-dashboard  [userResult]='userResult' [staffMemberId]='staffMemberId'></app-dashboard>
    </tab>
    <tab (select)="onSelect($event)">
        <ng-template tabHeading>
          <i class="far fa-calendar-alt"></i><span class="nav-label">Diary</span>
        </ng-template>
        <app-diary></app-diary>
    </tab>
    <tab (select)="onSelect($event)">
        <ng-template tabHeading>
          <i class="fas fa-chalkboard-teacher"></i><span class="nav-label">Leaderboard</span>
        </ng-template>
        <app-leaderboard></app-leaderboard>
    </tab>
    <tab (select)="onSelect($event)">
      <ng-template tabHeading>
        <div class="position-relative">
          <i class="fas fa-tasks"></i>
          <span class="nav-label">Tasks</span>
          <span class="badge badge-pill badge-secondary">15</span>
        </div>
      </ng-template>
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-auto">
              <button class="btn btn-primary btn-block mb-2">Viewing feedbacks <span class="badge badge-pill badge-light">4</span></button>
              <button class="btn btn-primary btn-block mb-2">Chase Valuations <span class="badge badge-pill badge-light">6</span></button>
              <button class="btn btn-primary btn-block mb-2">Complete AML <span class="badge badge-pill badge-light">9</span></button>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>
