@import "../../style/bootstrap-overrides";

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

:host ::ng-deep .nav-pills {
    @include fixed-bottom('sm');
}


:host ::ng-deep .nav {
    .badge {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(100%, -50%);
    }

    .nav-link {
        @include media-breakpoint-down(sm) {
            text-align: center;
        }  
    }

    .nav-label {
        @include media-breakpoint-down(sm) {
            display: none;
        }
        @include media-breakpoint-up(sm) {
            margin-left: spacer(2);
        }
    }

}

.container {
    @include media-breakpoint-down(sm) {
        padding-bottom: 30px;
    }
}
