@import "../../style/bootstrap-overrides";

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

:host ::ng-deep .nav-pills {
    @include fixed-bottom('sm');
}


:host ::ng-deep .nav {
    .badge {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(100%, -50%);
    }
}

.container {
    @include media-breakpoint-down(sm) {
        padding-bottom: 30px;
    }
}
