<div class="container">
  <ul class="nav nav-pills" role="tablist">
      <li class="nav-item active"><a class="nav-link active" href="#dash" data-toggle="tab" role="tab">Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" href="#diary" data-toggle="tab" role="tab">Diary</a></li>
      <li class="nav-item"><a class="nav-link" href="#leaderboard " data-toggle="tab" role="tab">Leaderboards</a></li>
  </ul>
  <div class="tab-content">
    <div id="dash" class="tab-pane fade in show active" role="tabpanel">
      <app-dashboard></app-dashboard>
    </div>
    <div id="diary" class="tab-pane fade" role="tabpanel">
        <app-diary></app-diary>
    </div>
    <div id="leaderboard" class="tab-pane fade" role="tabpanel">
        <app-leaderboard></app-leaderboard>
    </div>
  </div>        
</div>