<app-breadcrumb [title]="navPlaceholder"></app-breadcrumb>
<div class="container">
  <div class="row page-title">
    <div class="col">
      <h4 class="mb-0">Offers</h4>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary"><i class="fas fa-plus mr-2"></i> Offer</button>
    </div>
  </div>
  <div class="list-group">
      <a routerLink="/property-details-letting" class="list-group-item list-group-item-action">
        <div class="row">
          <div class="col-sm-4 mb-sm-2">
            <dl class="row no-gutters">
              <dt class="col-4">Address</dt>
              <dd class="col">23 Prince of Wales Crescent, SW6</dd>
            </dl>
          </div>
          <div class="col-sm-4 mb-sm-2">
            <dl class="row no-gutters">
              <dt class="col-4">Type</dt>
              <dd class="col">Long Let</dd>
            </dl>
          </div>

          <div class="col-sm-4 mb-sm-2">
            <dl class="row no-gutters">
              <dt class="col-4">Price</dt>
              <dd class="col">£650</dd>
            </dl>
          </div>
          <div class="col-sm-4 mb-sm-2">
            <dl class="row no-gutters">
              <dt class="col-4">Received</dt>
              <dd class="col">14/05/18</dd>
            </dl>
          </div>

          <div class="col-sm-4 mb-sm-2">
            <dl class="row no-gutters">
              <dt class="col-4">Agreed</dt>
              <dd class="col">15/05/18</dd>
            </dl>
          </div>

          <div class="col-sm-4 mb-sm-2">
            <dl class="row no-gutters">
              <dt class="col-4">Move in</dt>
              <dd class="col">15/05/18</dd>
            </dl>
          </div>

          <div class="col-sm-4 mb-sm-2">
            <dl class="row no-gutters">
              <dt class="col-4">Status</dt>
              <dd class="col">U/O</dd>
            </dl>
          </div>

          <div class="col-sm-4 mb-sm-2">
            <dl class="row no-gutters">
              <dt class="col-4">Lister</dt>
              <dd class="col">Henny Irwin</dd>
            </dl>
          </div>
          <div class="col-sm-4 mb-sm-2">
            <dl class="row no-gutters">
              <dt class="col-4">Neg.</dt>
              <dd class="col">Lucinda Arundell</dd>
            </dl>
          </div>
        </div>
      </a>
    </div>
</div>