<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div class="row page-title">
    <div class="col">
      <h4 class="m-0">CS Board Admin Panel</h4>
    </div>
  </div>
  <div class="list-group mb-5">
    <ng-container *ngFor="let member of members$|async">
      <a [routerLink]="['/admin-panel','details', member?.staffMemberId]" class="list-group-item list-group-item-action pb-2">
          <div class="media">
              <img class="rounded-circle mr-3" [src]="member?.photoUrl" alt="">
              <div class="media-body">
                  <h5 class="mt-0">{{member?.name}}</h5>
                  {{member?.totalPoints}} pts
              </div>
          </div>
      </a>
    </ng-container>   
  </div>
</div>