@import "../../../style/bootstrap-overrides";

@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.media {
    align-items: center;

    h5 {
        float: left;
        margin: 0 spacer(3) 0 0;
        max-width: 66%;
    }
  }