<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div class="row page-title">
    <div class="col">
      <h4 class="m-0">CS Board Admin Panel</h4>
    </div>
  </div>
  <div class="list-group mb-5">
    <a routerLink="details/0" class="list-group-item list-group-item-action pb-2">
        <div class="media">
            <img class="rounded-circle mr-3" src="https://dummyimage.com/50x50/e9ecef/212529&text=no+photo" alt="">
            <div class="media-body">
                <h5 class="mt-0">Melissa D'Angelo</h5>
                1230 pts
            </div>
        </div>
    </a>
  </div>
</div>