<div class="gridReport">
    <div class="unit unit--height4">
        <div class="unit__header">
            Header
        </div>
        <div class="unit__body">
            Body
        </div>
        <div class="unit__footer">
            Footer
        </div>
    </div>

    <div class="unit unit--height2">
        <div class="unit__header">
            Header
        </div>
        <div class="unit__body">
            Body
        </div>
        <div class="unit__footer">
            Footer
        </div>
    </div>

    <div class="unit unit--height2">
        <div class="unit__header">
            Header
        </div>
        <div class="unit__body">
            Body
        </div>
        <div class="unit__footer">
            Footer
        </div>
    </div>

    <div class="unit unit--height2">
        <div class="unit__header">
            Header
        </div>
        <div class="unit__body">
            Body
        </div>
        <div class="unit__footer">
            Footer
        </div>
    </div>

    <div class="unit unit--height2 unit--width3">
        <div class="unit__header">
            Header
        </div>
        <div class="unit__body">
            Body
        </div>
        <div class="unit__footer">
            Footer
        </div>
    </div>
</div>


