<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div class="row page-title">
    <div class="col">
      <h4 class="mb-0">Documents</h4>
    </div>
  </div>
  <div class="list-group">
      <div class="list-group-item list-header d-none d-sm-block">
        <div class="row">
          <div class="col-sm"><strong>Name</strong></div>
          <div class="col-sm"><strong>Action</strong></div>
          <div class="col-sm"><strong>Date</strong></div>
          <div class="col-sm"><strong>User</strong></div>
          <div class="col-sm"><strong>Type</strong></div>
        </div>
      </div>
      <a href="#" class="list-group-item list-group-item-action">
        <div class="row">
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Name</dt>
              <dd class="col">Work Order</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Action</dt>
              <dd class="col">Emailed</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Date</dt>
              <dd class="col">14/05/18</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">User</dt>
              <dd class="col">John Smith</dd>
            </dl>
          </div>
          <div class="col-sm">
            <dl class="row">
              <dt class="col-4 d-sm-none">Type</dt>
              <dd class="col">Offer Sales - Document</dd>
            </dl>
          </div>
        </div>
      </a>
    </div>
</div>