<div class="modal-header">
  <div>
    Add Note
    <ng-container *ngIf="!data?.group || step2">
      for
      <ng-container *ngIf="selectedPerson; else noPerson"><strong>{{selectedPerson?.firstName}} {{selectedPerson?.lastName}}</strong></ng-container>
      <ng-template #noPerson>this Contact Group</ng-template>
    </ng-container>
  </div>
  <button type="button" class="close pull-right" aria-label="Close" (click)="action(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body text-center">
  <ng-container *ngIf="data?.group && !step2">
    <p>Pick a person or add a group note</p>
    <div class="list-group mb-4">
      <div class="list-group-item list-group-item-action" *ngFor="let person of data?.people" (click)="select(person)">
        {{person?.firstName}} {{person?.lastName}}
      </div>
      <div class="list-group-item list-group-item-action" (click)="selectGroup(data?.group)">
        <i class="fas fa-users mr-2"></i> Group Note
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!data?.group || step2">
    <app-note-form [isModal]="1" [selectedPerson]="selectedPerson" [selectedContactGroup]="selectedContactGroup" [data]="data" [isPersonNote]="isPersonNote" [isCancelVisible]="true" (actionEmit)="action($event)">
    </app-note-form>
  </ng-container>
</div>
